/* CSS Document */
body
{
    background: url(../img/header/slice/admin-slice.png) repeat-x #CCCCCC top; padding: 0;
    font-family: "Trebuchet MS"; font-size: 12px; margin: 0px auto auto auto; color: #000;
}

p
{
    padding: 0px;
    margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}

/* Overide element */
span.link { color: #265180; cursor: pointer; }
span:hover.link { text-decoration: underline;}
/* -------------------- */

#main_container
{
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 0px;
    background: #FFFFFF;
}
#header
{
    width: 1000px;
    height: 98px;
    background-position: 0px 0px;
    background: #265180;
    margin: auto;
    background: no-repeat;
    
}
#judul_header
{
    width: 165px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-left: 800px;
    padding-top: 20px;
    color: #CCCCCC;
}

#main_content
{
    clear: both;
}
/*---------------- menu tab----------------------*/
#menu_tab
{
    width: 1000px;
    height: 50px;
}
.left_menu_corner
{
    width: 9px;
    height: 50px;
    float: left;
    background: url(../img/header/slice/admin-menu.png) repeat-x;
}
.right_menu_corner
{
    width: 9px;
    height: 50px;
    float: left;
    background: url(../img/header/slice/admin-menu.png) repeat-x;
}
ul.menu
{
    list-style-type: none;
    float: left;
    display: block;
    width: 982px;
    margin: 0px;
    padding: 0px;
    background: url(../img/header/slice/admin-menu.png) repeat-x;
}

ul.menu li
{
    display: inline;
    font-size: 11px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}
ul.menu li
{
    float: left;
    padding: 0px 8px 0px 22px;
	margin-left: 0px;
}

ul.menu li a
{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

ul.menu li a:hover
{
    text-decoration: underline;
}

ul.menu li.divider
{
    display: inline;
    width: 2px;
    height: 45px;
    float: left;
    background: url(../img/admin/menu_divider.png) no-repeat center;
}

a.nav1:link, a.nav1:visited
{
    display: block;
    float: left;
    padding: 0px 8px 0px 22px;
    margin: 0 14px 0 14px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
a.nav2:link, a.nav2:visited
{
    display: block;
    float: left;
    padding: 0px 8px 0px 22px;
    margin: 0 14px 0 14px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
a.nav3:link, a.nav3:visited
{
    display: block;
    float: left;
    padding: 0px 8px 0px 22px;
    margin: 0 14px 0 14px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
a.nav4:link, a.nav4:visited
{
    display: block;
    float: left;
    padding: 0px 8px 0px 22px;
    margin: 0 14px 0 14px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
a.nav5:link, a.nav5:visited
{
    display: block;
    float: left;
    padding: 0px 8px 0px 22px;
    margin: 0 14px 0 14px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
a.nav6:link, a.nav6:visited
{
    display: block;
    float: left;
    padding: 0px 8px 0px 22px;
    margin: 0 14px 0 500px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

a.nav1:hover, a.nav2:hover, a.nav3:hover, a.nav4:hover, a.nav5:hover, a.nav6:hover
{
    color: #999999;
}
/*-------------left_content------------------*/
.left_content
{
    width: 200px;
    float: left;
}
.title_box
{
    width: 196px;
    height: 30px;
    margin: 5px 0 0 0;
    background: url(../img/admin/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
}
.border_box
{
    width: 194px;
    height: auto;
    text-align: center;
}
/*----------------Button left-------------*/
div.border_box #menu a
{
    display: block;
    width: 148px;
    height: 23px;
    background: url(../img/admin/button_left.jpg) top center;
    margin: 0 10px 2px 0;
    font-family: Geneva,Arial,Sans-Serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
    padding-top: 5px;
}
div.border_box #menu a:hover
{
    background: url(../img/admin/button_left_hover.jpg) bottom center;
}

/*----------------crumb_navigation-------------*/
.crumb_navigation
{
    width: 980px;
    height: 15px;
    padding: 5px 10px 10px 20px;
    color: #333333;
    background: no-repeat left;
    background-position: 5px 6px;
}
.crumb_navigation a
{
    color: #0fa0dd;
    text-decoration: underline;
}
span.current
{
    color: #0fa0dd;
}
/*center content--------------------------*/
.judul_title_bar
{
    width: 520px;
    height: auto;
    float: left;
    padding: 0 0 0 20px;
    margin: 0 0 0 2px;
    _margin: 0 0 0 6px;
    line-height: 33px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}
/*center content--------------------------*/
#tabs
{
    display: block;
    float: left;
    width: 649px;
    margin: 12px 0 0 12px;
    _margin: 0 0 0 6px;
    padding: 0 0 0 0px;
}
.panel
{
    border: solid 1px #E4E4E4;
    margin: 0 0 0 12px;
    border-top: none;
    background-color: #E4E4E4;
    padding: 0 0 0 10px;
    width: 639px;
    overflow: auto;
    clear: left;
}
.tab_bdr
{
    padding: 0 0 0 40px;
    margin: 12px 0 0 12px;
    width: 609px;
    border: 0px;
    border: 1px solid #E4E4E4;
    height: 4px;
    background: #E4E4E4;
    clear: left;
}
.tab
{
    background: #5F5F5F;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #FFF;
    height: 19px;
    padding-top: 3px;
    margin: 0px;
    width: 100px;
    float: left;
    text-decoration: none;
    font-weight: bold;
}
.tab_sel
{
    background: #E4E4E4;
    color: #333333;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    height: 19px;
    padding-top: 3px;
    margin: 0px;
    width: 150px;
    float: left;
    text-decoration: none;
}

/*--------------footer----------------*/
.footer
{
    width: 1000px;
    clear: both;
    height: 65px;
    background: url(../img/admin/footer_bg.gif) repeat-x top;
    margin-top: 50px;
}
.left_footer
{
    float: left;
    width: 300px;
    padding: 10px 0 0 10px;
}
.right_footer
{
    float: right;
    padding: 15px 30px 0 0;
}
.right_footer a
{
    padding: 0 0 0 7px;
    text-decoration: none;
    color: #666666;
}
.right_footer a:hover
{
    text-decoration: underline;
}
.center_footer
{
    float: left;
    width: 250px;
    text-align: center;
    color: #666666;
    padding: 10px 0 0 60px;
}

/*----------------------------*/
#bar_thn
{
    width: 670px;
    height: 94px;
    font-weight: bold;
}
.left_bar_thn
{
    width: 19px;
    height: 94px;
    float: left;
    background: url(../img/admin/bar_thn_kanan.jpg) repeat-x;
}
.right_bar_thn
{
    width: 19px;
    height: 94px;
    float: left;
    background: url(../img/admin/bar_thn_kiri.jpg) repeat-x;
}
ul.barthn
{
    list-style-type: none;
    float: left;
    display: block;
    width: 631px;
    height: 94px;
    margin: 0px;
    padding: 0px;
    background: url(../img/admin/bar_thn_tengah.jpg) repeat-x;
}
.table2
{
    border-width: 0px;
    border-style: solid;
    border-color: #999999;
    border-collapse: collapse;
    margin: 10px 0px;
}

.th2
{
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    border-width: 0px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
    background-color: #fff;
}
.td2
{
    vertical-align: top;
    padding: 0.5em;
    background: url(../img/admin/td.jpg) repeat-x left;
    height: 25px;
}

/* ------------ BREADCRUMBS -------------*/
#breadcrumbs span       { cursor: pointer; color: #0fa0dd; }
#breadcrumbs span:hover { text-decoration: underline; }
/* --------------------------------------*/