/* ----------------- GENERIC CLASS ------------------------ */
.center { text-align: center; }
/* -------------------------------------------------------- */

.content
{
    width: 750px;
    float: left;
    padding: 5px 10px;
    font-family: "Trebuchet MS";
	font-size: 13px;
    color: #000;
}

.content a 
{
    color: #265180;
    text-decoration: none;
}

.content a:hover
{
    text-decoration: underline;
	cursor: pointer;
}

.content .center_title_bar
{
    background: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px -5px 20px -5px;
    padding: 10px;
    text-transform: uppercase;
}

.content h1 { font-size: 20px; margin-bottom: 5px; }
.content h2 { font-size: 18px; margin-bottom: 5px; }
.content h3 { font-size: 16px; margin-bottom: 5px; }
.content h4 { font-size: 14px; margin-bottom: 5px; }

.content table {
    width: auto;
	border-spacing: 0px;
}

.content table caption { 
    padding: 2px; 
    font-size: 14px;
    font-weight: bold;
}

.content table tr.row1 { background-color: #eee; }
.content table tr.row2 { background-color: #fff; }
.content table tr.row3 { }

.content table tr th
{
    background: #303030;
    color: #fff;
    border: 1px solid #888;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

.content table tr td {
    border: 1px solid #888;
    padding: 4px;
    vertical-align: middle;
}

.content button, .content input[type=button] {
    cursor: pointer;
}

.content input[type=submit], .radio {
    cursor: pointer;
}
label.error {
    color: #c00;
    font-size: 12px;
}

/* ------------- FORM EDITOR ---------------- */
fieldset { border: 1px solid #cccfd3; position: relative;}
fieldset dl { overflow: hidden;}
fieldset dl dt { float: left; width: 45%; }

fieldset dl dt label
{
    font-weight: bold;
    padding-right: 5px;
    cursor: pointer;
}
fieldset dl dt span
{
    font-size: 11px;
}
fieldset dl dd
{
    margin: 0 0 0 45%;
    border-left: #cccfd3;
    border-left-style: solid;
    border-left-width: 1px;
    padding: 0px 0px 0px 5px;
}
fieldset dl dd input
{
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #cccfd3;
    max-width: 100%;   
}
fieldset dl dd input:focus
{
    color: #000;
    border: 1px solid #bc2a4d;
}
fieldset dl dd textarea
{
    font-family: Verdana;
    font-size: 12px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #cccfd3;
}
fieldset dl dd textarea:focus
{
    color: #000;
    border: 1px solid #bc2a4d;
}
fieldset dl dd button
{
    font-size: 11px;
    display: block;
}
fieldset p.submit { text-align: center; font-weight: bold; }
fieldset p.submit input:button { cursor: pointer;}
/* ------------------------------------------ */

/*-------------- BULLET   ------------------- */
.content ul
{
    padding-left: 30px;
}
/* ------------------------------------------ */