@charset "utf-8";
/* CSS Document */
body
{
    background:url(../img/akademik_images/new_bg_top_header.png) repeat-x #CCCCCC top center;
    padding:0;
    font-family:"Trebuchet MS";
    font-size:12px;
    margin:0px auto auto auto;
    color:#000;
}
p{
    padding:2px;
    margin:0px;
}
#main_container{
    width:1000px;
    height:auto;
    margin:auto;
    padding:0px;
    background:#FFFFFF;
}
#header{
    width:1079px;
    height:96px;
    background:url(../img/akademik_images/new_header.png) no-repeat center;
    background-position:0px 0px;
    margin:auto;
    color:#009900;
}
#main_content{
    clear:both;
}
/*---------------- menu tab----------------------*/
#menu_tab{
    width:1000px;
    height:50px;
}
.left_menu_corner{
    width:9px;
    height:50px;
    float:left;
    background:url(../img/akademik_images/new_bar.png) repeat-x;
}
.right_menu_corner{
    width:9px;
    height:50px;
    float:left;
    background:url(../img/akademik_images/new_bar.png) repeat-x;
}
ul.menu {
    list-style-type:none; float:left; display:block; width:982px; 
    margin:0px; padding:0px;background:url(../img/akademik_images/new_bar.png) repeat-x;}

ul.menu li {
    display:inline;
    font-size:11px;
    font-weight:bold;
    line-height:50px;
}
ul.menu li.divider {
    display:inline;
    width:2px;
    height:45px;
    float:left;
    background:url(../img/akademik_images/menu_divider.png) no-repeat center;
}

a.nav1:link, a.nav1:visited {
    display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav2:link, a.nav2:visited {
    display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav3:link, a.nav3:visited {
    display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav4:link, a.nav4:visited {
    display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav5:link, a.nav5:visited {
    display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav6:link, a.nav6:visited {
    display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav:link, a.nav:visited {
    display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}

a.nav:hover, a.nav1:hover, a.nav2:hover, a.nav3:hover, a.nav4:hover, a.nav5:hover, a.nav6:hover {
    color:#999999;}
/*-------------left_content------------------
.left_content{
width:200px;
float:left;
}
.title_box{
width:210px;
height:30px;
margin:5px 0 0 0;
background:url(akademik/mainnav-bg.gif) repeat center;
text-align:center;
font-size:13px;
font-weight:bold;
color:#333333;
border:1px #CCCCCC solid;
line-height:30px;
}

.border_box{
width:170px;

height:auto;
text-align:center;
border:1px #6da6b1 solid;
}
*/

/*--------left menu---------*/
ul.left_menu{
    width:196px;
    padding:0px;
    margin:20px;
    list-style:none;
}
ul.left_menu li{
    margin:0px;
    list-style:none;
}
ul.left_menu li.left_menu_ico a{
    width:156px;
    height:25px;
    display:block;
    background:url(../img/akademik_images/icn.png) no-repeat left #fff; 
    background-position:5px 5px;
    border-bottom:2px #d0dfe8 dotted;
    text-decoration:none;
    text-align:left;
    color:#504b4b;
    padding:0 0 0 30px; 
    line-height:25px; 
}
ul.left_menu li.kuliah a{
    width:156px;
    height:25px;
    display:block;
    background:url(../img/akademik_images/matakuliah.png) no-repeat left #fff; 
    background-position:5px 5px;
    border-bottom:2px #d0dfe8 dotted;
    text-decoration:none;
    text-align:left;
    color:#504b4b;
    padding:0 0 0 30px; 
    line-height:25px; 
}
ul.left_menu li.nilai a{
    width:156px;
    height:25px;
    display:block;
    background:url(../img/akademik_images/nilai.png) no-repeat left #fff; 
    background-position:5px 5px;
    border-bottom:2px #d0dfe8 dotted;
    text-decoration:none;
    text-align:left;
    color:#504b4b;
    padding:0 0 0 30px; 
    line-height:25px; 
}
ul.left_menu li.kalendar a{
    width:156px;
    height:25px;
    display:block;
    background:url(../img/akademik_images/kalendar.png) no-repeat left #fff; 
    background-position:5px 5px;
    border-bottom:2px #d0dfe8 dotted;
    text-decoration:none;
    text-align:left;
    color:#504b4b;
    padding:0 0 0 30px; 
    line-height:25px; 
}
ul.left_menu li.jadwal a{
    width:156px;
    height:25px;
    display:block;
    background:url(../img/akademik_images/jadwal.png) no-repeat left #fff; 
    background-position:5px 5px;
    border-bottom:2px #d0dfe8 dotted;
    text-decoration:none;
    text-align:left;
    color:#504b4b;
    padding:0 0 0 30px; 
    line-height:25px; 
}
ul.left_menu li.keuangan a{
    width:156px;
    height:25px;
    display:block;
    background:url(../img/akademik_images/keuangan.png) no-repeat left #fff; 
    background-position:5px 5px;
    border-bottom:2px #d0dfe8 dotted;
    text-decoration:none;
    text-align:left;
    color:#504b4b;
    padding:0 0 0 30px; 
    line-height:25px; 
}
ul.left_menu li.jawal a{
    width:156px;
    height:25px;
    display:block;
    background:url(../img/akademik_images/jadwal.png) no-repeat left #fff; 
    background-position:5px 5px;
    border-bottom:2px #d0dfe8 dotted;
    text-decoration:none;
    text-align:left;
    color:#504b4b;
    padding:0 0 0 30px; 
    line-height:25px; 
}

ul.left_menu li.even a{
    width:156px;height:25px;display:block;background:url(akademik/checked.png) no-repeat left #eee6e6;background-position:5px 5px;border-bottom:1px #FFFFFF solid;
    text-decoration:none;color:#504b4b;padding:0 0 0 30px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
    background:url(akademik/checked.png) no-repeat left #d0dfe8; color:#FFFFFF;background-position:5px 5px;
}
ul.left_menu li.kuliah a:hover{
    background:url(../img/akademik_images/matakuliah.png) no-repeat left #d0dfe8; color:#FFFFFF;background-position:5px 5px;
}
ul.left_menu li.nilai a:hover{
    background:url(../img/akademik_images/nilai.png) no-repeat left #d0dfe8; color:#FFFFFF;background-position:5px 5px;
}
ul.left_menu li.kalendar a:hover{
    background:url(../img/akademik_images/kalendar.png) no-repeat left #d0dfe8; color:#FFFFFF;background-position:5px 5px;
}
ul.left_menu li.jadwal a:hover{
    background:url(../img/akademik_images/jadwal.png) no-repeat left #d0dfe8; color:#FFFFFF;background-position:5px 5px;
}
ul.left_menu li.keuangan a:hover{
    background:url(../img/akademik_images/keuangan.png) no-repeat left #d0dfe8; color:#FFFFFF;background-position:5px 5px;
}



/*-------------left_content------------------*/
.left_content{
    width:200px;
    float:left;
}
.title_box{
    width:196px;
    height:30px;
    margin:5px 0 0 0;
    background:url(akademik/menu_title_bg.gif) no-repeat center;
    text-align:center;
    font-size:13px;
    font-weight:bold;
    color:#fff;
    line-height:30px;
}
.border_box{
    width:194px;
    height:auto;
    text-align:center;

}
/*----------------Button left-------------*/
div.border_box a.addtocart{display:block; width:148px; height:23px; background:url(../img/akademik_images/button_left.jpg) top center; margin:0 10px 2px 0; font-family:Geneva,Arial,Sans-Serif; color:#fff; text-decoration:none; font-weight:bold; margin-left:25px; padding-top:5px; }
div.border_box a:hover.addtocart{background:url(../img/akademik_images/button_left_hover.jpg) bottom center; font-weight:bold; }
/*----------------crumb_navigation-------------*/
.crumb_navigation{
    width:980px;
    height:15px;
    padding:5px 10px 10px 20px;
    color:#333333;
    background-position:5px 6px;
}
.crumb_navigation a{
    color:#0fa0dd;
    text-decoration:underline;
}
span.current{
    color:#0fa0dd;
}
/*center content--------------------------*/
.center_content{
    width:780px;
    float:left;
    padding:5px 10px;
}
.center_title_bar{
    width:649px;
    height:29px;
    float:left;
    padding:0 0 0 40px;

    _margin:0 0 0 6px;
    line-height:33px;
    font-size:14px;
    color:#ffffff;
    font-weight:bold;

    background:url(../img/akademik_images/main_bar.jpg) no-repeat center;
}
.judul_title_bar{
    width:520px;
    height:auto;
    float:left;
    padding:0 0 0 20px;
    margin:0 0 0 2px;
    _margin:0 0 0 6px;
    line-height:33px;
    font-size:16px;
    color:#000000;
    font-weight:bold;
}
/*center content--------------------------*/
/*#tabs{ display:block;  float:left;  width:649px; margin:12px 20 0 12px; _margin:0 0 0 6px; padding:0 0 0 0px}
 .panel{ border:solid 1px #E4E4E4; margin:0 0 0 12px;  border-top:none;  background-color:#E4E4E4;  padding:0 0 0 10px;  width:639px;  overflow:auto;  clear:left}
 .tab_bdr{ padding:0 0 0 40px; margin:12px 0 0 12px;  width:609px;  border:0px;  border:1px solid #E4E4E4;  height:4px;   background:#E4E4E4;  clear:left}
 .tab{ background:#5F5F5F;  color:#FFF;  cursor:pointer;  border:none;  border-bottom:1px solid #FFF;  height:19px;  padding-top:3px;  margin:0px;  width:100px;  float:left;  text-decoration:none; font-weight:bold;}
 .tab_sel{ background:#E4E4E4;  color:#333333;  cursor:pointer;  border:none;  border-bottom:1px solid #E4E4E4;  height:19px;  padding-top:3px;  margin:0px;  width:150px;  float:left;  text-decoration:none}
*/
/* perubahan tabs panel dibawah ini : */
#tabs{ display:block;  float:left;  width:649px; margin:12px 20 0 12px; _margin:0 0 0 6px; padding:0 0 0 0px}
.panel{ border:solid 1px #EfEfEf; margin:0 0 0 12px;  border-top:none;  background-color:#EfEfEf;  padding:0 0 0 10px;  width:750px;  overflow:auto;  clear:left}
.tab_bdr{ padding:0 0 0 40px; margin:12px 0 0 12px;  width:720px;  border:0px;  border:1px solid #EfEfEf;  height:4px;   background:#EfEfEf;  clear:left}
.tab{ background:#F9F9F9;  color:#000;  cursor:pointer;  border:none;  border-bottom:1px solid #FFF;  height:19px;  padding-top:3px;  margin:0px;  width:100px;  float:left;  text-decoration:none; font-weight:bold;}
.tab_sel{ background:#EfEfEf;  color:#333333;  cursor:pointer;  border:none;  border-bottom:1px solid #EfEfEf;  height:19px;  padding-top:3px;  margin:0px;  width:150px;  float:left;  text-decoration:none}


/*--------------footer----------------*/
.footer{
    width:1000px;
    clear:both;
    height:65px;
    background:url(../img/akademik_images/footer_bg.gif) repeat-x top;
    margin-top:50px;
}
.left_footer{
    float:left;
    width:300px;
    padding:10px 0 0 10px;
}
.right_footer{
    float:right;
    padding:15px 30px 0 0;
}
.right_footer a{
    padding:0 0 0 7px;
    text-decoration:none;
    color: #666666;
}
.right_footer a:hover{
    text-decoration:underline;
}

.center_footer{
    float:left;
    width:250px;
    text-align:center;
    color:#666666;
    padding:10px 0 0 60px;
}
table {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-collapse: collapse;
    margin: 10px 0px;
}
th{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
    background-color: #265180;
}
td{
    padding: 0.5em;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
}
/* Inputan */
table.tb_frame{
    border-width: 1px;
}
table.tb_frame td{
    border-width: 0px;
}

table.tb_dosen{
    border-width: 1px;
    border-color: #aaaaaa;
}
table.tb_dosen td{
    vertical-align: top;
    border-width: 0px;
    border-collapse: collapse;
}

table.tb_noborder{
    border-width: 0px;
}

#judul_header{
    width:165px;
    height:45px;
    font-size:20px;
    font-weight:bold;
    text-align:right;

    padding-left:800px;
    padding-top:20px;
    color:#009900;
}