/* --- Style --- */
body { background: #ccc;}

/* --- Layout Style --- */
.main-width {
    width: 1000px;
}
body table {
    background: #fff;
    width: 100%;
}
.clear-margin-bottom {
    margin-bottom: 0px;
}

/* --- Header Style --- */
#header{
    width:1079px;
    height:96px;
    background:url('../img/akademik_images/new_header.png') no-repeat center;
    background-position:0px 0px;
    margin:auto;
    color:#009900;
}
.judul_header{
    width:165px;
    height:45px;
    font-size:20px;
    font-weight:bold;
    text-align:right;

    padding-left:800px;
    padding-top:20px;
    color:#009900;
}

.header-center {
    background: url('../img/akademik_images/new_header.png') top center no-repeat;
	width:1079px;
    height: 96px;
	background-position:0px 0px;
    margin:auto;
    color:#009900;
}
.header-left, .header-right {
    background: url('../img/pendidikan/header-background.png') top left repeat-x;
    height: 96px;
}
/* perubahan tabs panel dibawah ini : */
#tabs{ display:block;  float:left;  width:649px; margin:12px 20 0 12px; _margin:0 0 0 6px; padding:0 0 0 0px}
.panel{ border:solid 1px #EfEfEf; margin:0 0 0 12px;  border-top:none;  background-color:#EfEfEf;  padding:0 0 0 10px;  width:750px;  overflow:auto;  clear:left}
.tab_bdr{ padding:0 0 0 40px; margin:12px 0 0 12px;  width:720px;  border:0px;  border:1px solid #EfEfEf;  height:4px;   background:#EfEfEf;  clear:left}
.tab{ background:#F9F9F9;  color:#000;  cursor:pointer;  border:none;  border-bottom:1px solid #FFF;  height:19px;  padding-top:3px;  margin:0px;  width:100px;  float:left;  text-decoration:none; font-weight:bold;}
.tab_sel{ background:#EfEfEf;  color:#333333;  cursor:pointer;  border:none;  border-bottom:1px solid #EfEfEf;  height:19px;  padding-top:3px;  margin:0px;  width:150px;  float:left;  text-decoration:none}


/* --- Tab Style --- */
.tab-center, .tab-left, .tab-right {
    background: url('../img/pendidikan/tab.png') top left repeat-x;
    height: 45px;
}
.tab-center ul li {
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;
}
.tab-center ul li.divider {
    background: url('../img/pendidikan/tab-divider.png');
    display: inline-block;
    float: left;
    height: 45px;
    width: 2px;
}
.tab-center ul li a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    height: 30px;
}
.tab-center ul li a:hover {
    text-decoration: underline;
}

/* --- Body Style --- */
.body-left, .body-right { background: #ccc; }
.content-table {
    margin-bottom: 0px;
}
/* --- Breadcrumbs --- */
.breadcrumbs {
    padding: 10px 10px 10px 20px;
}
.content {
    padding: 10px 20px 10px 10px;
}
.breadcrumbs a {
    color: #008000;
}
.breadcrumbs a:hover {
    color: #00aa00;
}
.breadcrumbs a:active {
    color: #00bb00;
}
/* --- Menu Style --- */
.menu {
    height: 425px;
    padding: 5px 5px 5px 5px;
    width: 200px;
}
.menu ul {
    list-style: none;
    margin-bottom: 0px;
    margin-left: 15px;
}
.menu ul li {
    margin-left: 0px;
}
.menu ul li a {
    background: url('../img/pendidikan/icon.png') 5px 5px no-repeat;
    border-bottom: 2px dotted #ccc;
    color: #000;
    display: block;
    height: 22px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 0px 25px;
    text-decoration: none;
}
.menu ul li a:hover {
    background: url('../img/pendidikan/icon-hover.png') 5px 5px no-repeat;
    text-decoration: underline;
}

/* --- Foot Style --- */
.foot-left, .foot-right { background: #ccc; }
.foot-center {
    background: url('../img/pendidikan/footer-background.png') top center repeat-x;
    color: #666666;
    height: 61px;
}
.footer-nav {
    display: block;
    font-size: 12px;
    padding: 2px 10px 2px 2px;
    text-align: right;
}
.footer-nav a {
    color: #666666;
}
.footer {
    background: url('../img/pendidikan/cyber-campus.png') 5px 0px no-repeat;
    display: block;
    height: 37px;
    margin-top: -10px;
    text-align: center;
}

/* --- Content Style --- */
.content { font-size: 13px; }

.content .center_title_bar {
    background: #233D0E;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px -5px 20px -5px;
    padding: 10px;
    text-transform: uppercase;
}
.content h1 { font-size: 20px; }
.content h2 { font-size: 18px; }
.content h3 { font-size: 16px; }
.content h4 { font-size: 14px; }

.content table {
    width: auto;
}
.content table tr th {
    background: #265226;
    border: 1px solid #969BA5;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.content table tr td {
    border: 1px solid #969BA5;
    padding: 4px;
    vertical-align: middle;
}

.center {
    text-align: center;
}
.middle {
    vertical-align: middle;
}

.content button {
    cursor: pointer;
}
.content a {
    color: #008000;
}
.content a:hover {
    color: #00aa00;
}
.content a:active {
    color: #00bb00;
}
.content pre {
    font-size: 11px;
}
.anchor-span {
    color: #008000;
    cursor: pointer;
    text-decoration: underline;
}
.anchor-span:hover {
    color: #00aa00;
}

/* FORM CONTENT */
.content input[type=submit], .radio {
    cursor: pointer;
}
label.error {
    color: #c00;
    font-size: 12px;
}


