/*css document*/
body
{
    background: #cccccc url(../img/header/slice/dosen-slice.png) repeat-x center top;
    padding: 0px;
    margin: 0px auto auto;
    color: #000;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 12px !important;
}
p
{
    padding: 2px;
    margin: 0px;
}
/* --------- header--------*/
#header
{
    width: 100%;
    height: 98px;
    background: no-repeat;
    background-position: 0px auto;
    background-size: 1079px 147px;
    background-color: #00254E;
    margin: auto;
}
.login_user
{
    float: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
}

/* --------- main content--------*/
#main_container
{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0px;
    background: #ffffff;
}

@media screen and (min-width: 1200px)
{
    #main_container
    {
        width: 90%;
        height: auto;
        margin: auto;
        padding: 0px;
        background: #ffffff;
    }
}


#main_content
{
    width: 100%;
    clear: both;
}

/*---------------- menu tab----------------------*/
#menu_tab
{
    width: 100%;
    height: 50px;
}
.left_menu_corner
{
    width: 2%;
    height: 50px;
    float: left;
    background: url(../img/header/slice/dosen-menu.png) repeat-x;
}
.right_menu_corner
{
    width: 2%;
    height: 50px;
    float: left;
    background: url(../img/header/slice/dosen-menu.png) repeat-x;
}
ul.menu
{
    list-style-type: none;
    float: left;
    display: block;
    width: 96%;
    margin: 0px;
    padding: 0px;
    background: url(../img/header/slice/dosen-menu.png) repeat-x;
}
ul.menu li
{
    display: inline;
	font-family: "Trebuchet Ms";
    font-size: 13px;
    line-height: 50px;
}
ul.menu li.divider
{
    display: inline;
    width: 1px;
    height: 45px;
    float: left;
    background: url(../img/dosen/menu_divider.png) no-repeat center;
}


a.nav:link, a.nav:visited, ul.menu li a.disable-ajax:link, ul.menu li a.disable-ajax:visited
{
    display: block;
    float: left;
    padding: 0% 1.1%;
    height: 53px;
    text-decoration: none;
    color: #ffffff;
}
a.nav:hover
{
    color: #bac3c2;
}
/*-------------left_content------------------*/
.left_content
{
    width: 17%;
    float: left;
    margin-bottom: 50px;
    text-align: center;
}
.left_content #image-photo
{
    width:135px; 
    height:155px;
    padding:5px; 
    margin-left: 27px; 
    margin-bottom: 10px; 
    border:1px grey solid;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #dddddd;
}
.title_box
{
    width: 196px;
    height: 30px;
    margin: 5px 0 0;
    background: url(img/dosen/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
}
.border_box img
{
    margin: 10px 0;
}
.border_box
{
    width: 194px;
    height: auto;
    text-align: center;
    margin-top: 0;
}
/*----------------button left-------------*/
div.border_box input.addtocart
{
    width: 150px;
    background: url(../img/dosen/new_button_left.png) top center;
    margin: 0 10px 3px 0;
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 9pt;
    border: none;
    background-repeat: no-repeat;
    height: 29px;
    padding: 0;
}
div.border_box input:hover.addtocart
{
    background: url(../img/dosen/new_button_left_hover.png) bottom center;
    background-repeat: no-repeat;
}
div.border_box a.addtocart
{
    background: url(../img/dosen/new_button_left.png) top center;
    font-family: geneva, arial, sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background-repeat: no-repeat;
    height: 29px;
    line-height: 25px;
    padding: 0;
    margin: 5px 0 0 8px;
}
div.border_box a:hover.addtocart
{
    background: url(../img/dosen/new_button_left_hover.png) bottom center;
    background-repeat: no-repeat;
}
/*----------------crumb_navigation-------------*/
.crumb_navigation
{
    width: 95%;
    margin: 12px auto;
    margin-bottom: 10px;
    padding-bottom: 2px;
    color: #333333;
    background-position: 5px 6px;
	font-size: 13px;
}
.crumb_navigation a
{
    color: #0744c8;
}
span.current_navigation
{
    color: #0639a6;
}
/*----------------center content-------------*/
#content
{
    width: 79%;
    float: left;
    margin: 0 0 30px;
}
#content .center_title_bar
{
    /** width: 90%; **/
    padding: 3px;
    margin: 0px 0px 20px;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    text-indent:20px;
    font-weight: bold;
    background: #00204d;
	text-transform: uppercase;	
    box-shadow:4px 4px 3px grey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#tabs
{
    display: block;
    float: left;
    width: 649px;
    margin: 12px 0 0 12px;
    _margin: 0 0 0 6px;
}
#page_operation
{
    float: right;
    margin-top: 100px;
    border: 1px solid #afabab;
    padding: 15px;
}

div.tab_content
{
    border: 5px solid #cedef7;
}
li.listbook
{
    background: url(../img/dosen/list_item.png) left center;
    background-repeat: no-repeat;
    padding: 0 0 10px 20px;
    list-style: none;
    text-decoration: none;
    margin: 0;
}
li a
{
    color: #003351;
    text-decoration: none;
    /*[empty]margin-left:;*/
}

input.submit
{
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    background: url(../img/dosen/new_button_left.png) top center;
    padding: 2px;
    background-repeat: no-repeat;
    float: right;
    margin: 0 3px 0 0;
}

/*---------------default style-------------*/
table{
	border-collapse:collapse;
	margin:5px 10px;
	font-family:Trebuchet MS;
	font-size: 12px;
	border: 1px solid #a6c9e2;
}

td{
	padding: 6px;
	border: 1px solid #cdcdcd;
}

.center_content fieldset{
    padding:12px;
    border:1px solid #c0c0c0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.center_content legend{
    color:#0c366c;
    font-size:14px;
    padding:2px;
    font-weight:bold;
    text-transform:uppercase;
}
.center_content div.field_form{
    margin-bottom: 15px;
    padding: 8px;
    display: block; 
}
.center_content div.bottom_field_form{
    clear: both;
    padding-top: 20px;
    text-align: center;
}
.center_content div.field_form  label:not(.error){
    float:left;
    width:15%;
    display: inline-block;
    color:grey;
    font-weight:bold;
    text-align:right;
    margin:0px 15px 0 0;
}
#content a:not(.disable-ajax):not(.ui-button):not(.reply) {
	color: #0744C8;
	text-decoration: underline;
}
#content a:not(.disable-ajax):not(.ui-button):not(.reply):hover { 
	color: #0CC297;
}
#content a.ui-button,input.ui-button,span.ui-button{
	font-size:13px;
	font-family:Trebuchet MS;
	margin:2px;
}
#content a.ui-button:hover,input.ui-button:hover,span.ui-button:hover{
	border: 1px solid #fad42e; 
	background: #fbec88 url(images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x; 
	color: #363636;
}

#content span.link {
	color: #0744C8;
	text-decoration: underline;
	cursor: pointer;
}

#content span.link:hover {
	color: #2e6e9e;
}

/* end table default*/

.none td, .none th, .none tr
{
    padding: 10px;
    border: none;
}
.field
{
    color: #a0a0a0;
    font-size: 10pt;
    font-weight: bold;
}


th:not(.header-coloumn){
    padding :6px;
	color:#000;
	font-size:13px;
	background-color:#dfedf8;
	text-transform:uppercase;
}
h2,th.header-coloumn h3{
	font-size: 14px;
	font-weight:bold;
}


th.header-coloumn{
    color:#fff;
    padding: 4px;
    font-size: 15px;
    font-weight: bold;
    text-transform:uppercase;
}
tr.ui-widget-header{
	border: 1px solid #cdcdcd;
}
a
{
    text-decoration: none;
    color: #007CE8;
}
.isi
{
    color: #0e74d1;
}
td.kosong
{
	text-align:center;
    color: red;
}

p
{
    margin: 0 0 5px 10px;
}
.overflow_content
{
    overflow: auto;
    margin-top: 20px;
    padding: 10px;
}

.alert{
    display: none;
    color: #ed0808;
    padding: 5px 10px;
    border: 1px solid #0fa0dd ;
}
.success{
    display: none;
    color: #23a716;
    padding: 5px 10px;
    border: 1px solid #0fa0dd ;
}
span.reply,a.reply{
	border:1px solid #dcdcdc;
	margin:2px;
	cursor: pointer;
	padding:4px 5px 4px 25px;
	float: right;
	background: url(../../img/dosen/reply.png) no-repeat;
	background-color:#e5f1f8;
	background-position:4px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}
apan.uncheck,span.delete,span.delete_checked{
	border:1px solid #dcdcdc;
	margin:2px;cursor: pointer;
	padding:4px 5px 4px 25px;
	float: right;
	background: url(../../img/dosen/delete.png) no-repeat;
	background-color:#e5f1f8;
	background-position:4px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}
span.restore,a.restore{
	border:1px solid #dcdcdc;
	margin:2px;cursor: pointer;
	padding:4px 5px 4px 25px;
	float: right;	
	background: url(../../img/dosen/restore.png) no-repeat;
	background-color:#e5f1f8;
	background-position:4px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}

span.back,a.back{
	border:1px solid #dcdcdc;
	margin:2px;cursor: pointer;
	padding:4px 5px 4px 25px;
	float: right;	
	background: url(../../img/dosen/back.png) no-repeat;
	background-color:#e5f1f8;
	background-position:4px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}

span.send{
	border:1px solid #dcdcdc;
	margin:2px;cursor: pointer;
	padding:4px 5px 4px 25px;
	float: right;	
	background: url(../../img/dosen/send.png) no-repeat;
	background-color:#e5f1f8;
	background-position:4px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}

#title_pesan{
    padding: 0px;
}
#isi_pesan{
    padding: 5px;
}
textarea.error, input.error, select.error { border: 1px solid red; width: auto; background-color:#ffe9e9;}
label.error {
    color: red;
    font-size:11px;
	display: block;
}
label.valid {
    background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
    color: green;
    display: block;
    width: 16px;
    height: 16px;
}

.footer
{
    width: 100%;
    clear: both;
    height: 65px;
    background: url(../img/dosen/footer_bg.gif) repeat-x top;
    margin-top: 50px;
}
.left_footer
{
    float: left;
    width: 25%;
    padding: 10px 0 0 10px;
}
.right_footer
{
    width: 25%;
    float: right;
    padding: 15px 30px 0 0;
}
.right_footer a
{
    padding: 0 0 0 7px;
    text-decoration: none;
    color: #666666;
}
.right_footer a:hover
{
    text-decoration: underline;
}
.center_footer
{
    float: left;
    width: 40%;
    text-align: center;
    color: #666666;
    padding: 10px 0 0 60px;
}
.center { text-align: center; }
.right { text-align: right; }
