
#slider .slider-shadow { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-shadow.png', sizingMethod='crop'); }

#slider .socials-bg { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/socials-bg.png', sizingMethod='crop'); }

#slider .slider-navigation .slider-navigation-bg { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-navigation.png', sizingMethod='image');  }

#slider .slide-data-bg { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-data.png', sizingMethod='image'); background-image:none;  }