.wrapper {
    background: url('../img/login/login.png') no-repeat;
    height: 348px;
    width: 660px;
    left: 25%;
    top: 25%;
    position: absolute;
}
.wrapper_maba {
    background: url('../img/maba/login.png') no-repeat;
    height: 348px;
    width: 660px;
    left: 25%;
    top: 25%;
    position: absolute;
}
.login-box {
    height: 172px;
    width: 400px;
    position: absolute;
    top: 72px;
    left: 240px;
}
.username-box {
    position: absolute;
    top: 60px;
    right: 75px;
}
.password-box {
    position: absolute;
    top: 100px;
    right: 75px;
}
.submit-box {
    position: absolute;
    top: 140px;
    right: 75px;
    text-align: right;
}
.recaptcha-box {
    position: absolute;
    top: 2px;
    left: 18px;
}

label {
    color: #444;
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: bold;
}
input { margin-left: 20px; }
input[type=submit], button { cursor: pointer; }