@charset "utf-8";
/* CSS Document */
body
{
    background:url("../img/mhs/new_bg_top_header.png") repeat-x #CCCCCC top center;
    padding:0;
    font-family:"Trebuchet MS";
    font-size:12px;
    margin:0px auto auto auto;
    color:#000;
}
p{
    padding:2px;
    margin:0px;
}
#main_container{
    height:auto;
    margin:auto;
    padding:0px;
    background:#FFFFFF;
	
}
#header{
    width:1200px;
    height:96px;
    background-position:0px 0px;
    margin:auto;
}
#main_content{
    clear:both;
}
/*---------------- menu tab----------------------*/
#menu_tab{
    width:1200px;
    height:50px;
    background:url(../img/mhs/new_bar.png) repeat-x;
}
.left_menu_corner{
    width:9px;
    height:50px;
    float:left;
    background:url(../img/mhs/new_bar.png) repeat-x;
}
.right_menu_corner{
    width:9px;
    height:50px;
    float:left;
    background:url(../img/mhs/new_bar.png) repeat-x;
}
ul.menu {
    list-style-type:none; float:left; display:block; width:1180px; 
    margin:0px; padding:0px;background:url(../img/mhs/new_bar.png) repeat-x;}

ul.menu li {
    display:inline;
    font-weight:bold;
    line-height:50px;
}
ul.menu li.divider {
    display:inline;
    width:1px;
    height:45px;
    float:left;
    background:url(../img/mhs/menu_divider.png) no-repeat center;
}

a.nav1:link, a.nav1:visited {
    display:block; float:left; padding:0px 12px; height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav2:link, a.nav2:visited {
    display:block; float:left; padding:0px 12px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav3:link, a.nav3:visited {
    display:block; float:left; padding:0px 12px; height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav4:link, a.nav4:visited {
    display:block; float:left; padding:0px 12px; height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav5:link, a.nav5:visited {
    display:block; float:left; padding:0px 12px; height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav6:link, a.nav6:visited {
    display:block; float:left; padding:0px 12px; height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}

a.nav1:hover, a.nav2:hover, a.nav3:hover, a.nav4:hover, a.nav5:hover, a.nav6:hover {
    color:#999999;}

ul.menu li a.disable-ajax:link, ul.menu li a.disable-ajax:visited {
    display:block; float:left; padding:0px 12px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;
}
ul.menu li a.disable-ajax:hover {
    color:#999999;}

/*-------------left_content------------------
.left_content{
width:200px;
float:left;
}
.title_box{
width:210px;
height:30px;
margin:5px 0 0 0;
background:url(images/mainnav-bg.gif) repeat center;
text-align:center;
font-size:13px;
font-weight:bold;
color:#333333;
border:1px #CCCCCC solid;
line-height:30px;
}

.border_box{
width:170px;

height:auto;
text-align:center;
border:1px #6da6b1 solid;
}
*/
/*-------------left_content------------------*/
.left_content{
}
.title_box{
    width:196px;
    height:30px;
    margin:5px 0 0 0;
    background:url(../img/mhs/menu_title_bg.gif) no-repeat center;
    text-align:center;
    font-size:13px;
    font-weight:bold;
    color:#fff;
    line-height:30px;
}
.border_box{
    width:194px;
    height:auto;
    text-align:center;

}
/*----------------Button left-------------*/
div.border_box a.addtocart{display:block; width:148px; height:23px; background:url(../img/mhs/button_left.jpg) top center; margin:0 10px 2px 0; font-family:Geneva,Arial,Sans-Serif; color:#fff; text-decoration:none; font-weight:bold; margin-left:25px; padding-top:5px; }
div.border_box a:hover.addtocart{background:url(../img/mhs/button_left_hover.jpg) bottom center; font-weight:bold; }
/*----------------crumb_navigation-------------*/
.crumb_navigation{
    width:980px;
    height:15px;
    padding:5px 10px 10px 20px;
    color:#333333;
    background-position:5px 6px;
}
.crumb_navigation a{
    color:#0fa0dd;
    text-decoration:underline;
}
span.current{
    color:#0fa0dd;
}
/*center content--------------------------*/
.center_content{
    /*width:780px;*/
    padding:5px;
    padding-right: 30px;
    padding-left: 35px;
}

.center_main_content
{
    float: left;
}

.center_title_bar{
    background: none repeat scroll 0 0 #125f11;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 3px grey;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0 5px 0px;
    margin-left: -10px;
    padding: 3px;
    text-indent: 20px;
    text-transform: uppercase;
}

.current_center_title
{
    width: 649px;
    height: 35px;
    float: left;
    clear: right;
    padding: 0 20px;
    _margin: 0 0 0 6px;
    line-height: 32px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    background: url(../img/mhs/main_bar.jpg) no-repeat center;
}

.judul_title_bar{
    width:649px;
    height:auto;
    padding:0 0 0 20px;
    margin:0 0 0 2px;
    _margin:0 0 0 6px;
    line-height:33px;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    background: url(../img/mhs/main_bar.jpg) no-repeat center;
}
/*center content--------------------------*/
#tabs{ display:block;  float:left;  width:850px; margin:12px 0 0 12px; _margin:0 0 0 6px; padding:0 0 0 0px}
.panel{ border:solid 1px #E4E4E4; margin:0 0 0 12px;  border-top:none;  background-color:#E4E4E4;  padding:0 0 0 10px;  width:849px;  overflow:auto;  clear:left}
.tab_bdr{ padding:0 0 0 40px; margin:12px 0 0 12px;  width:819px;  border:0px;  clear:left}
.tab{ background:#5F5F5F;  width:849px; color:#FFF;  cursor:pointer;  border:none;  border-bottom:1px solid #FFF;   padding:8px;  margin:0px;  width:100px;  float:left;  text-decoration:none; font-weight:bold;}
.tab_sel{ background:#E4E4E4;  width:849px; color:#333333;  cursor:pointer;  border:none;  border-bottom:1px solid #E4E4E4;   padding:8px;  margin:0px;  width:150px;  float:left;  text-decoration:none}

/*--------------footer----------------*/
.footer{
    clear:both;
    height:65px;
    background:url(../img/mhs/footer_bg.gif) repeat-x top;
    margin-top:50px;
}
.left_footer{
    float:left;
    width:300px;
    padding:10px 0 0 10px;
}
.right_footer{
    float:right;
    padding:15px 30px 0 0;
}
.right_footer a{
    padding:0 0 0 7px;
    text-decoration:none;
    color: #666666;
}
.right_footer a:hover{
    text-decoration:underline;
}

.center_footer{
    float:left;
    width:250px;
    text-align:center;
    color:#666666;
    padding:10px 0 0 60px;
}
table {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-collapse: collapse;
    margin: 10px 0px;
	font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
}

th{
    border: 1px solid #01460c;
	background: #01460c;
	color: white;
	font-weight: bold;
	padding:8px;
	text-transform:uppercase;
}
th h2{
	padding:5px;
	margin:0px;
}
td{
    padding: 5px;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
}
textarea.error, input.error, select.error { border: 1px solid red; width: auto; background-color:#ffe9e9;}
label.error {
    color: red;
    font-size:11px;
	display: block;
}