/* --- Style --- */
body { background: #ccc;}

/* --- Layout Style --- */
.main-width {
    width: 1000px;
}
body table {
    background: #fff;
    width: 100%;
}
.clear-margin-bottom {
    margin-bottom: 0px;
}

/* --- Header Style --- */
.header-center {
    background: url('../img/pendaftaran/header-center.png') top center no-repeat;
    height: 96px;
}
.header-left, .header-right {
    background: url('../img/pendaftaran/header-background.png') top left repeat-x;
    height: 96px;
}

/* --- Tab Style --- */
.tab-center, .tab-left, .tab-right {
    background: url('../img/pendaftaran/tab.png') top left repeat-x;
    height: 45px;
}
.tab-center ul li {
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;
}
.tab-center ul li.divider {
    background: url('../img/pendaftaran/tab-divider.png');
    display: inline-block;
    float: left;
    height: 45px;
    width: 2px;
}
.tab-center ul li a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    height: 30px;
}
.tab-center ul li a:hover {
    text-decoration: underline;
}

/* --- Body Style --- */
.body-left, .body-right { background: #ccc; }
.content-table {
    margin-bottom: 0px;
}
/* --- Breadcrumbs --- */
.breadcrumbs {
    padding: 10px 10px 10px 20px;
}
.content {
    padding: 10px 20px 10px 10px;
}
.breadcrumbs a {
    color: #008000;
}
.breadcrumbs a:hover {
    color: #00aa00;
}
.breadcrumbs a:active {
    color: #00bb00;
}
/* --- Menu Style --- */
.menu {
    height: 425px;
    padding: 5px 5px 5px 5px;
    width: 200px;
}
.menu ul {
    list-style: none;
    margin-bottom: 0px;
    margin-left: 15px;
}
.menu ul li {
    margin-left: 0px;
}
.menu ul li a {
    background: url('../img/pendaftaran/icon.png') 5px 5px no-repeat;
    border-bottom: 2px dotted #ccc;
    color: #000;
    display: block;
    height: 22px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 0px 25px;
    text-decoration: none;
}
.menu ul li a:hover {
    background: url('../img/pendaftaran/icon-hover.png') 5px 5px no-repeat;
    text-decoration: underline;
}

/* --- Foot Style --- */
.foot-left, .foot-right { background: #ccc; }
.foot-center {
    background: url('../img/pendaftaran/footer-background.png') top center repeat-x;
    color: #666666;
    height: 61px;
}
.footer-nav {
    display: block;
    font-size: 12px;
    padding: 2px 10px 2px 2px;
    text-align: right;
}
.footer-nav a {
    color: #666666;
}
.footer {
    background: url('../img/pendaftaran/cyber-campus.png') 5px 0px no-repeat;
    display: block;
    height: 37px;
    margin-top: -10px;
    text-align: center;
}

/* --- Content Style --- */
.content { font-size: 13px; }

.content .center_title_bar {
    background: #233D0E;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px -5px 20px -5px;
    padding: 10px;
    text-transform: uppercase;
}
.content h1 { font-size: 20px; }
.content h2 { font-size: 18px; }
.content h3 { font-size: 16px; }
.content h4 { font-size: 14px; }

.content table {
    width: auto;
}
.content table tr th {
    background: #265226;
    border: 1px solid #969BA5;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.content table tr td {
    border: 1px solid #969BA5;
    padding: 4px;
    vertical-align: middle;
}

.small { font-size: 80%; }
.center {
    text-align: center;
}
.middle {
    vertical-align: middle;
}
.cursor-pointer {
    cursor: pointer;
}

.content button {
    cursor: pointer;
}
.content a {
    color: #008000;
}
.content a:hover {
    color: #00aa00;
}
.content a:active {
    color: #00bb00;
}
.content pre {
    font-size: 11px;
}
.anchor-span {
    color: #008000;
    cursor: pointer;
    text-decoration: underline;
}
.anchor-span:hover {
    color: #00aa00;
}

/* FORM CONTENT */
.content input[type=submit], .radio {
    cursor: pointer;
}
label.error {
    color: #c00;
    font-size: 12px;
}


