/* --- Style --- */
body { background: #ccc;}

/* --- Layout Style --- */
.main-width {
    width: 95%;
}
body table {
    background: #fff;
    width: 100%;
}
.clear-margin-bottom {
    margin-bottom: 0px;
}

/* --- Header Style --- */
.header-center {
    background: url('../img/header/pih.png') top center no-repeat;
	background-color: #0c435f;
    height: 96px;
}
.header-left, .header-right {
    background: url('../img/header/slice/pih-slice.png') top left repeat-x;
    height: 96px;
}

/* --- Tab Style --- */
.tab-center, .tab-left, .tab-right {
    background: url('../img/header/slice/pih-menu.png') top left repeat-x;
    height: 45px;
}
.tab-center ul li {
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;
}
.tab-center ul li.divider {
    background: url('../img/ppmb/tab-divider.png');
    display: inline-block;
    float: left;
    height: 45px;
    width: 1px;
}
.tab-center ul li a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    height: 30px;
	font-weight:bold;
}
.tab-center ul li a:hover {
    color:orange;
	font-weight:bold;
}

/* --- Body Style --- */
.body-left, .body-right { background: #ccc; }
.content-table {
    margin-bottom: 0px;
}
/* --- Breadcrumbs --- */
.breadcrumbs {
    padding: 10px 10px 10px 20px;
}
.content {
    padding: 10px 20px 10px 10px;
}
.breadcrumbs a {
    color: #008000;
}
.breadcrumbs a:hover {
    color: #00aa00;
}
.breadcrumbs a:active {
    color: #00bb00;
}
/* --- Menu Style --- */
.menu {
    height: 425px;
    padding: 5px 5px 5px 5px;
    width: 16%;
}
.menu ul {
    list-style: none;
    margin-bottom: 0px;
    margin-left: 15px;
}
.menu ul li {
    margin-left: 0px;
}
.menu ul li a {
    background: url('../img/ppmb/icon.png') 5px 5px no-repeat;
    border-bottom: 2px dotted #ccc;
    color: #000;
    display: block;
    height: 22px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 0px 25px;
    text-decoration: none;
}
.menu ul li a:hover {
    background: url('../img/ppmb/icon-hover.png') 5px 5px no-repeat;
    color: orange;
}

/* --- Foot Style --- */
.foot-left, .foot-right { background: #ccc; }
.foot-center {
    background: url('../img/ppmb/footer-background.png') top center repeat-x;
    color: #666666;
    height: 61px;
}
.footer-nav {
    display: block;
    font-size: 12px;
    padding: 2px 10px 2px 2px;
    text-align: right;
}
.footer-nav a {
    color: #666666;
}
.footer {
    background: url('../img/ppmb/cyber-campus.png') 5px 0px no-repeat;
    display: block;
    height: 37px;
    margin-top: -10px;
    text-align: center;
}

/* --- Content Style --- */
.content { font-size: 13px; }

.content .center_title_bar {
    background: #0c435f;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px -5px 20px -5px;
    padding: 10px;
    text-transform: uppercase;
}
.content h1 { font-size: 20px; }
.content h2 { font-size: 18px; }
.content h3 { font-size: 16px; }
.content h4 { font-size: 14px; }

.content table {
    width: auto;
}

.content table caption { 
    padding: 2px; 
    font-size: 14px;
    font-weight: bold;
}

.content table tr.row1 { background-color: #eee; }
.content table tr.row2 { background-color: #fff; }
.content table tr.row3 { }

.content table tr th {
    background: #1d2836;
    border: 1px solid #969BA5;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-transform :uppercase;
}

.content table tr td {
    border: 1px solid #969BA5;
    padding: 8px;
    vertical-align: middle;
}
.content tr.even td 
{
    background-color:#f0f0f0;
}

.content input[type=text],textarea{
    border-bottom: 1px solid #0c366c;
    border-top:none;
    border-right:none;
    border-left:none;
    padding:3px;
}

.content fieldset{
    padding:12px;
    border:1px solid #c0c0c0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.content legend{
    color:#0c366c;
    font-size:14px;
    padding:2px;
    font-weight:bold;
    text-transform:uppercase;
}
.content div.field_form{
    margin-bottom: 15px;
    padding: 8px;
    display: block; 
}
.content div.bottom_field_form{
    clear: both;
    padding-top: 20px;
    text-align: center;
}
.content div.field_form  label:not(.error){
    float:left;
    width:15%;
    color:grey;
    font-weight:bold;
    text-align:right;
    margin:0px 15px 0 0;
}
.content input[type=text]:focus,textarea:focus{
    background: #ededed;
}

.content table tr td.title {
    background: #c3cbd4;
    padding: 8px;
}

.content a.button, input.button , button.button{
    margin:9px 1px;  
    padding:6px;
    background-color:#0c435f;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration:none;
    border: none;
    font-size:13px;
    display:inline-block;
}

.content a.button:hover, input.button:hover ,button.button:hover{
    color: #cee3ff;
}

.small { font-size: 80%; }
.center {
    text-align: center;
}
.middle {
    vertical-align: middle;
}
.cursor-pointer {
    cursor: pointer;
}

.content button {
    cursor: pointer;
}
.content a {
    color: #008000;
}
.content a:hover {
    color: #00aa00;
}
.content a:active {
    color: #00bb00;
}
.content pre {
    font-size: 11px;
}
.anchor-span {
    color: #008000;
    cursor: pointer;
    text-decoration: underline;
}
.anchor-span:hover {
    color: #00aa00;
}

.anchor-black {
    color: #000 !important;
    text-decoration: none;
}
.anchor-black:hover {
    color: #000 !important;
    text-decoration: underline;
}

/* FORM CONTENT */
.content input[type=submit], .radio {
    cursor: pointer;
}
label.error {
    color: #c00;
    font-size: 12px;
    display:block;
}
input[type=text].error,textarea.error{
    border-bottom:1px solid red;
    background:#ffeaed;
}

.data-kosong{
    color:red;
    text-align:center;
}
.total{
    background-color:#c9f797;
    font-weight:bold;
}
