body{
    padding: 0px;
    margin: 0px;
	font-family:"Trebuchet MS";
    font-size:12px;
	background-color:#cecccd;
}
#main_container{
    padding: 0px;
    margin: 0px;
}

/*header style*/

#header{
    width: 100%;
    height: 142px;
    background-color: #03F;
	box-shadow:0px 0px 15px black;
	background: url(../img/header/slice/pimpinan-slice.png) repeat-x;
    
}
#judul_header{
    margin:0px auto 0px;
    background: url(../img/header/pimpinan.png);
    width: 1079px;
    height: 100px;
}
#menu_tab{
    height: 42px;
}


/*center style*/
#center{
    width: 100%;
	padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
}
#content{
    width: 97%;
    height: auto;
    padding: 20px 20px 180px;
    background-color: white;
    margin: 0px auto 0px;
	box-shadow:0px 0px 1px black;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-moz-border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
.center_title_bar{
    width: 95%;
    padding: 3px;
    margin: 0px 0px 20px;
    line-height: 32px;
	font-size: 14px;
    color: #ffffff;
    text-indent:20px;
    font-weight: bold;
    background: #013e68;
    text-transform: uppercase;
	box-shadow:5px 5px 3px goldenrod;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
table {
    border-width: 0px;
    border-style: solid;
    border-color: #666;
    border-collapse: collapse;
    margin: 10px 20px 10px;
}
td{
	padding:5px;
	border: 1px solid #aaaaaa;
}

th{
	padding:5px;
	text-transform:uppercase;
    text-align:center;
    font-weight:bold;
    font-size:12px;
	border: 1px solid #aaaaaa;
	font-family:'Trebuchet MS';
}
th.header-coloumn{
	padding:6px;
	font-size:13px;
}
.total{
	background-color:#c9f797;
	font-weight:bold;
}
.link{
	background-color:white;
	font-weight:bold;
	padding:10px;
}
.link_button{
	background-color:#056303;
	font-weight:bold;
	border:1px solid #cccccc;
	color:white;
}
.center{
	text-align:center;
}
.ui-button{
	position:static;
}
.data-kosong{
	color:red;
	text-align:center;
}
p{
    padding:2px;
    margin:0px;
}
textarea.error,input.error { border: 1px solid red; width: auto; background-color:#ffe9e9;}

label.error{
	color:red;
	font-size:11px;
}
label.valid {
    background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
    color: green;
    display: block;
    width: 16px;
    height: 16px;
}

/*scrollbar style*/
#scrollbar{
	width:90%;
	margin-left:20px;
	padding: 5px 10px;
	display: block;
	background-color: #EFEFEF;
	overflow: auto;
}
#scrollbar table{
	margin-right:20px;
}

/*footer style*/

#footer{
    width:100%;
    clear:both;
    height:60px;
	position:inherit;
	bottom:-2px;
    margin:0px auto 0px;
    border-top:solid 1px #666;
    background:url(../img/keuangan/footer_bg.gif) repeat-x top;

}
#left_footer{
    float:left;
    width:300px;
    padding-top:10px;
    padding-left: 10px; 
}

#center_footer{
    width: 50%;
    text-align: center;
    margin:10px auto 0;
}
#right_footer{
    float:right;
    padding-right: 10px;
}
#right_footer a{
    padding:0 0 0 7px;
    text-decoration:none;
    color: #666666;
}
#right_footer a:hover{
    text-decoration:underline;
}


#menu {
	background-color: white;
	box-shadow:0px 0px 1px black;
    padding: 0 5px 0 5px;
	vertical-align:top;
	height: auto;
	margin-left: 0px;
}
#menu ul {
    list-style: none;
    margin-bottom: 0px;
    margin-left: 0px;
}
#menu ul li {
    margin-left: 0px;
	padding-left:0px;
}
#menu ul li a {
    background: url('../img/list-menu-right.png') 5px 5px no-repeat;
    border-bottom: 2px dotted #ccc;
    color: #000;
    display: block;
    height: 22px;
    margin: 10px 1px 5px 0;
    padding: 5px 0px 0px 25px;
    text-decoration: none;
}
#menu ul li a:hover {
	margin-left: 0px;
    background: url('../img/list-menu-right-hover.png') 5px 5px no-repeat;
    color: green;
}