/*ul.topnav {
    list-style: none;
    padding: 5 8px;
    margin:0 auto 0;
    width: 1300px;
    height:42px;
    background: #609;
    font-size: 15px;
    background:url(../img/header/slice/pimpinan-menu.png);
}
ul.topnav li {
    float: left;
    margin: 0px;
    padding: 0px 8px 0px;
    position: relative; 
}
ul.topnav li a{
    padding: 10px 0px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li label{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li a:hover{

}
ul.topnav li span { 
    width: 17px;
    height: 45px;
    float: left;

}
ul.topnav li span.subhover {
    background-position: center bottom; cursor: pointer;
} 

ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; 
    left: 0; top: 42px;
    background: #084e7e;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 195px;
    border: 1px solid #111;
    font-size: 10pt;
}
ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    clear: both;
    width: 200px;
}
html ul.topnav li ul.subnav li a {
    float: left;
    width: 180px;
  
    padding: 8px;
}
html ul.topnav li ul.subnav li a:hover { 
    background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;
}*/


nav {
	text-align: left;
    margin:0 auto 0;
    width: 1300px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	text-align: left;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.15);
	padding: 0 10px;
	list-style: none;
	position: relative;
	display: inline-table;
	font-size: 15px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 4px 30px; margin:3 auto 0;
			color: #FFF; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #013e68; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 8px 40px;
				color: #fff;
				text-align:left;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0; border-radius: 0px;background: #013e68;
	}
	
	nav ul ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
		
	nav ul ul ul li a {
				padding: 8px 40px;
				margin:0 auto 0;
				color: #fff;width: 300px;
			}
			
			nav ul ul ul li a:hover {
					background: #4b545f;
				}
				

	nav ul ul ul ul li a {
				padding: 8px 20px;
				margin:0 auto 0;
				color: #fff;30px;
			}
	
	
