/*CSS Document*/
BODY
{
    /*background: #f1f1f1 url(../../img/dosen/new_bg_top_header.png) repeat-x center top;*/
    font-family: arial;
    font-size: 12px;
    margin: 0px;
	padding:0px;
    color: #000;
}
P
{
    padding: 2px;
    margin: 0px;
}
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;

	/* vertical scrollables have typically larger height than width but not now */
	height: 665px;
	width: 700px;
}

/* root element for scrollable items */
.scrollable .items {
	position:absolute;

	/* this time we have very large space for the height */
	height:20000em;
}
/* Tiny Scrollbar */
#scrollbar1 { width: 520px; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }

/*menu */

/*
ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 920px;
	background: #222;
	font-size: 1.2em;

	background: url(topnav_bg.gif) repeat-x;

}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation-
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles-
	width: 17px;
	height: 35px;
	float: left;
	background: url(subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--
	background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;
}
/*menu*/

#main_container{width:1024px;height:auto;background:#FEFEFE;margin:auto;padding:0}#header{height:90px;background:url(../css/new_header_portal.png) no-repeat center;background-position:0 0 0;background-color:#102252;width:100%;margin:auto}#header-content{width:960px;margin:auto}#header-content-login{float:right;padding-top:30px;top:35px;margin:auto}#forgot-password{color:#FFF;font-weight:700;float:right}#forgot-password:hover{text-decoration:underline;cursor:pointer}#header-menu{width:960px;background-position:0 0 0;margin:auto}#main_content{width:100%;background:url(../img/dosen/new_bar.png) repeat-x;height:30px}#menu_tab{height:30px;margin:auto}UL.menu{list-style-type:none;display:block;width:960px;height:30px;margin:auto;padding:0}UL.menu LI{display:inline;font-size:11px;font-weight:700;line-height:30px}UL.menu LI.divider{display:inline;width:1px;height:30px;float:left;background:url(../img/dosen/menu_divider.png) no-repeat center}UL.top-menu{list-style-type:none;height:11px;position:absolute;right:13.5%;margin:auto;padding:5px}UL.top-menu LI{display:inline;font-size:11px;font-weight:700;font-family:Arial, Helvetica, sans-serif;line-height:11px}UL.top-menu a{color:#FFF;height:11px}UL.top-menu LI.divider{width:5px;height:11px;padding-right:5px}UL.site-map{list-style-type:none;display:block;height:11px;position:absolute;left:9%;margin:auto}UL.site-map LI{display:inline;font-size:12px;font-weight:700;font-family:Arial, Helvetica, sans-serif;line-height:11px;float:left;text-align:left;padding:0}UL.site-map a{color:#000;height:12px}UL.site-map LI.divider-site{height:11px;float:left}a.nav:link,a.nav:visited,ul.menu li a.disable-ajax:link,ul.menu li a.disable-ajax:visited{display:block;float:left;height:50px;text-decoration:none;font-weight:700;color:#FFF;margin:0 5px;padding:0 10px}A.nav:hover{color:#bac3c2}#left_content{width:19%;float:left}.left_content .column{width:100%;float:right}.title_box{width:196px;height:30px;background:url(img/dosen/menu_title_bg.gif) no-repeat center;text-align:center;font-size:13px;font-weight:700;color:#FFF;line-height:30px;margin:5px 0 0}#content{width:960px;background-position:0 0;margin:auto}#center_content{width:61%;float:left; padding-left:5px;}#center_content .center_title_bar{padding-top:0;line-height:20px;font-size:12px;color:#FFF;text-indent:20px;font-weight:700;background:#1c3063;text-transform:uppercase;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:10px 0}#right_content{width:19%;float:right;background-color:#fcfcfc}.footer{width:100%;clear:both;height:55px;background:url(../img/dosen/footer_bg.gif) repeat-x top;margin-top:50px}.left_footer{float:left;width:300px;padding:10px 0 0 10px}.right_footer{float:right;padding:15px 30px 0 0}.right_footer A{text-decoration:none;color:#666;padding:0 0 0 7px}.center_footer{float:left;width:250px;text-align:center;color:#666;padding:10px 0 0 60px}.center{text-align:center}.box{float:left;text-align:justify;padding-right:10px}.column{float:left;padding-bottom:100px;text-align:left}.portlet{margin:0 1em 1em 0}.portlet-header{padding-bottom:4px;padding-left:.2em;margin:.3em}.portlet-header .ui-icon{float:right}.portlet-content{padding:.4em}.ui-sortable-placeholder{border:1px dotted #000;visibility:visible!important;height:50px!important}.ui-sortable-placeholder *{visibility:hidden}.table-to-grid{width:100%}th{font:bold 10px "color:#4f6b72;border-right:1px solid #C1DAD7;border-bottom:1px solid #C1DAD7;border-top:1px solid #C1DAD7;letter-spacing:2px;text-transform:uppercase;text-align:left;background:#CAE8EA url(images/bg_header.jpg) no-repeat;padding:6px}td{font:bold 11px " Verdana, Arial, Helvetica, sans-serif}tr.alt{background:#F5FAFA;color:#797268}tr.alts{background:#FFF;color:#797268}#feedback{font-size:1em}#selectable .ui-selecting{background:#FECA40}#selectable .ui-selected{background:#F39814;color:#FFF}#selectable{list-style-type:none;width:100%;margin:0;padding:0}#selectable li{font-size:1em;height:14px;margin:3px;padding:.4em}.title{font-weight:700;font-size:11px;color:navy;padding-top:10px;font-family:Arial, Helvetica, sans-serif}.date{font-weight:400;font-size:10px;font-style:italic;color:blue;text-align:justify}.content_news{font-weight:400;font-size:1.2em;font-family:Arial, Helvetica, sans-serif;font-style:normal;color:#222;text-align:left;border-bottom-style:dotted;border-bottom-width:1px;border-bottom-color:#EAEAEA;padding-bottom:10px;padding-top:5px;padding-left:7px}.fakultas{font-weight:700;font-size:11px;color:navy;text-align:justify;padding-top:10px}.social-network{font-weight:400;height:auto;font-size:.9em;font-family:Arial;font-style:normal;color:navy;border-top-color:#EAEAEA;border-top-width:1px;border-top-style:solid;border-bottom-color:#EAEAEA;border-bottom-width:1px;border-bottom-style:solid;padding:5px}.jPaginate{height:34px;position:relative;color:#a5a5a5;font-size:small;font-family:Arial;font-weight:700;width:100%}.jPaginate a{line-height:15px;height:18px;cursor:pointer;float:left;margin:2px;padding:2px 5px}.jPag-control-back{position:absolute;left:0}.jPag-control-front{position:absolute;top:0}ul.jPag-pages{float:left;list-style-type:none;margin:0;padding:0}ul.jPag-pages li{display:inline;float:left;margin:0;padding:0}ul.jPag-pages li a{float:left;padding:2px 5px}span.jPag-current{cursor:default;font-weight:400;line-height:15px;height:18px;float:left;margin:2px;padding:2px 5px}ul.jPag-pages li span.jPag-previous,ul.jPag-pages li span.jPag-next,span.jPag-sprevious,span.jPag-snext,ul.jPag-pages li span.jPag-previous-img,ul.jPag-pages li span.jPag-next-img,span.jPag-sprevious-img,span.jPag-snext-img{height:22px;float:left;line-height:18px;margin:2px}ul.jPag-pages li span.jPag-previous,ul.jPag-pages li span.jPag-previous-img{font-size:12px;font-weight:700;width:10px;margin:2px 0 2px 2px}ul.jPag-pages li span.jPag-next,ul.jPag-pages li span.jPag-next-img{font-size:12px;font-weight:700;width:10px;margin:2px 2px 2px 0}span.jPag-sprevious,span.jPag-sprevious-img{font-size:18px;width:15px;text-align:right;margin:2px 0 2px 2px}span.jPag-snext,span.jPag-snext-img{font-size:18px;width:15px;text-align:right;margin:2px 2px 2px 0}ul.jPag-pages li span.jPag-previous-img{background:transparent url(../images/previous.png) no-repeat center right}ul.jPag-pages li span.jPag-next-img{background:transparent url(../images/next.png) no-repeat center left}span.jPag-sprevious-img{background:transparent url(../images/sprevious.png) no-repeat center right}span.jPag-snext-img{background:transparent url(../images/snext.png) no-repeat center left}#hor-minimalist-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;background:#fff;width:480px;border-collapse:collapse;text-align:left;margin:45px}#hor-minimalist-a td{color:#669;padding:9px 8px 0}#hor-minimalist-b{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;background:#fff;width:700px;border-collapse:collapse;text-align:left;margin:20px}#hor-minimalist-b td{border-bottom:1px solid #ccc;color:#333;padding:6px 8px}#ver-minimalist th{font-weight:400;font-size:14px;border-bottom:2px solid #6678b1;border-right:30px solid #fff;border-left:30px solid #fff;color:#039;padding:8px 2px}#ver-minimalist td{border-right:30px solid #fff;border-left:30px solid #fff;color:#669;padding:12px 2px 0}#box-table-a th{font-size:13px;font-weight:400;background:#b9c9fe;border-top:4px solid #aabcfe;border-bottom:1px solid #fff;color:#039;padding:8px}#box-table-a td{background:#e8edff;border-bottom:1px solid #fff;color:#669;border-top:1px solid transparent;padding:8px}#box-table-a tr:hover td{background:#d0dafd;color:#339}#box-table-b{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:center;border-collapse:collapse;border-top:7px solid #9baff1;border-bottom:7px solid #9baff1;margin:45px}#box-table-b th{font-size:13px;font-weight:400;background:#e8edff;border-right:1px solid #9baff1;border-left:1px solid #9baff1;color:#039;padding:8px}#box-table-b td{background:#e8edff;border-right:1px solid #aabcfe;border-left:1px solid #aabcfe;color:#669;padding:8px}#hor-zebra{width:100%;text-align:left;border-collapse:collapse}#hor-zebra td{border-bottom-color:#EAEAEA;border-bottom-width:1px;border-bottom-style:solid;padding:5px}#ver-zebra th{font-size:14px;font-weight:400;border-right:1px solid #fff;border-left:1px solid #fff;color:#039;padding:12px 15px}#ver-zebra td{border-right:1px solid #fff;border-left:1px solid #fff;color:#669;padding:8px 15px}.vzebra-odd{background:#eff2ff}#ver-zebra #vzebra-adventure,#ver-zebra #vzebra-children{background:#d0dafd;border-bottom:1px solid #c8d4fd}#ver-zebra #vzebra-comedy,#ver-zebra #vzebra-action{background:#dce4ff;border-bottom:1px solid #d6dfff}#one-column-emphasis th{font-size:14px;font-weight:400;color:#039;padding:12px 15px}#one-column-emphasis td{color:#669;border-top:1px solid #e8edff;padding:10px 15px}.oce-first{background:#d0dafd;border-right:10px solid transparent;border-left:10px solid transparent}#one-column-emphasis tr:hover td{color:#339;background:#eff2ff}#newspaper-a th{font-weight:400;font-size:14px;color:#039;border-bottom:1px dashed #69c;padding:12px 17px}#newspaper-a td{color:#669;padding:7px 17px}#newspaper-b th{font-weight:400;font-size:14px;color:#039;padding:15px 10px 10px}#newspaper-b td{color:#669;border-top:1px dashed #fff;padding:10px}#newspaper-c{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:left;border-collapse:collapse;border:1px solid #6cf;margin:45px}#newspaper-c th{font-weight:400;font-size:13px;color:#039;text-transform:uppercase;border-right:1px solid #0865c2;border-top:1px solid #0865c2;border-left:1px solid #0865c2;border-bottom:1px solid #fff;padding:20px}#newspaper-c td{color:#669;border-right:1px dashed #6cf;padding:10px 20px}#rounded-corner{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:800px;text-align:left;border-collapse:collapse;margin:20px}#rounded-corner thead th.rounded-company{background:#b9c9fe url(../table-images/left.png) left -1px no-repeat}#rounded-corner thead th.rounded-q4{background:#b9c9fe url(../table-images/right.png) right -1px no-repeat}#rounded-corner th{font-weight:400;font-size:13px;color:#039;background:#b9c9fe;padding:8px}#rounded-corner th a{color:#039;text-decoration:none}#rounded-corner td{background:#e8edff;border-top:1px solid #fff;color:#336;padding:8px}#rounded-corner td a{text-decoration:none}#rounded-corner tfoot td.rounded-foot-left{background:#e8edff url(../table-images/botleft.png) left bottom no-repeat}#rounded-corner tfoot td.rounded-foot-right{background:#e8edff url(../table-images/botright.png) right bottom no-repeat}#rounded-corner tbody tr:hover td{background:#d0dafd}#background-image{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:left;border-collapse:collapse;background:url(../table-images/blurry.jpg) 330px 59px no-repeat;margin:45px}#background-image th{font-weight:400;font-size:14px;color:#339;padding:12px}#background-image td{color:#669;border-top:1px solid #fff;padding:9px 12px}#background-image tfoot td{font-size:11px}#background-image tbody td{background:url(../table-images/back.png)}* html #background-image tbody td{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png',sizingMethod='crop');background:none}#background-image tbody tr:hover td{color:#339;background:none}#gradient-style th{font-size:13px;font-weight:400;background:#b9c9fe url(../table-images/gradhead.png) repeat-x;border-top:2px solid #d3ddff;border-bottom:1px solid #fff;color:#039;padding:8px}#gradient-style td{border-bottom:1px solid #fff;color:#669;border-top:1px solid #fff;background:#e8edff url(../table-images/gradback.png) repeat-x;padding:8px}#gradient-style tfoot tr td{background:#e8edff;font-size:12px;color:#99c}#gradient-style tbody tr:hover td{background:#d0dafd url(../table-images/gradhover.png) repeat-x;color:#339}#pattern-style-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:left;border-collapse:collapse;background:url(../table-images/pattern.png);margin:45px}#pattern-style-a thead tr{background:url(../table-images/pattern-head.png)}#pattern-style-a tbody tr:hover td{color:#339;background:#fff}#pattern-style-b{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:left;border-collapse:collapse;background:url(../table-images/patternb.png);margin:45px}#pattern-style-b thead tr{background:url(../table-images/patternb-head.png)}#pattern-style-b tbody tr:hover td{color:#339;background:#cdcdee}UL.top-menu img,UL.site-map img{height:14px}.right_footer A:hover,#rounded-corner th a:hover,#rounded-corner td a:hover{text-decoration:underline}.portlet-header .ui-icon:hover,.jPaginate span{cursor:pointer}.resume,.persentase{font-weight:400;font-size:11px;font-style:normal;color:#666;text-align:justify;border-bottom-style:dotted;border-bottom-width:1px;border-bottom-color:#EAEAEA;padding-bottom:10px;padding-top:5px;padding-left:7px}#hor-minimalist-a th,#hor-minimalist-b th{font-size:14px;font-weight:400;color:#039;border-bottom:2px solid #6678b1;padding:10px 8px}#hor-minimalist-a tbody tr:hover td,#hor-minimalist-b tbody tr:hover td{color:#009}#ver-minimalist,#box-table-a,#ver-zebra,#one-column-emphasis,#gradient-style{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:left;border-collapse:collapse;margin:45px}#hor-zebra .odd,.vzebra-even,#newspaper-b tbody{background:#e8edff}#newspaper-a,#newspaper-b{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:left;border-collapse:collapse;border:1px solid #69c;margin:45px}#newspaper-a tbody tr:hover td,#newspaper-b tbody tr:hover td{color:#339;background:#d0dafd}#pattern-style-a th,#pattern-style-b th{font-size:13px;font-weight:400;border-bottom:1px solid #fff;color:#039;padding:8px}#pattern-style-a td,#pattern-style-b td{border-bottom:1px solid #fff;color:#669;border-top:1px solid transparent;padding:8px}