/*CSS Document*/
BODY
{
    background: #CCCCCC url(../img/dosen/new_bg_top_header.png) repeat-x center top;
    padding: 0px;
    font-family: arial;
    font-size: 12px;
    margin: 0px auto auto;
    color: #000;
}
P
{
    padding: 2px;
    margin: 0px;
}
#main_container
{
    width: 1030px;
    height: auto;
    margin: auto;
    padding: 0px;
    background: #FFFFFF;
}
#header
{
    width: 1030px;
    height: 97px;
    background: url(../img/dosen/new_header.png) repeat-x center;
    background-position: 0px 0px;
    margin: auto;
}
.login_user
{
    top: 30px;
    margin-right: 60px;
    position: relative;
    float: right;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11pt;
}
#main_content
{
	width: 1060px;
    clear: both;
}
/*---------------- menu tab----------------------*/
#menu_tab
{
    width: 1060px;
    height: 50px;
}
.left_menu_corner
{
    width: 9px;
    height: 50px;
    float: left;
    background: url(../img/dosen/new_bar.png) repeat-x;
}
.right_menu_corner
{
    width: 9px;
    height: 50px;
    float: left;
    background: url(../img/dosen/new_bar.png) repeat-x;
}
UL.menu
{
    list-style-type: none;
    float: left;
    display: block;
    width: 1030px;
    margin: 0px;
    padding: 0px;
    background: url(../img/dosen/new_bar.png) repeat-x;
}
UL.menu LI
{
    display: inline;
    font-size: 11px;
    font-weight: bold;
    line-height: 50px;
}
UL.menu LI.divider
{
    display: inline;
    width: 1px;
    height: 45px;
    float: left;
    background: url(../img/dosen/menu_divider.png) no-repeat center;
}
a.nav:link, a.nav:visited, ul.menu li a.disable-ajax:link, ul.menu li a.disable-ajax:visited
{
    display: block;
    float: left;
    padding: 0px 10px;
    margin: 0 5px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}
A.nav:hover
{
    color: #bac3c2;
}
/*-------------left_content------------------*/
.left_content
{
    width: 200px;
    float: left;
    margin-bottom: 50px;
}
.title_box
{
    width: 196px;
    height: 30px;
    margin: 5px 0 0;
    background: url(img/dosen/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    line-height: 30px;
}
.border_box IMG
{
    margin: 10px 0;
}
.border_box
{
    width: 194px;
    height: auto;
    text-align: center;
    margin-top: 0;
}
/*----------------Button left-------------*/
DIV.border_box INPUT.addtocart
{
    width: 150px;
    background: url(../img/dosen/new_button_left.png) top center;
    margin: 0 10px 3px 0;
    font-family: Geneva, Arial, Sans-Serif;
    color: #FFF;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 9pt;
    border: none;
    background-repeat: no-repeat;
    height: 29px;
    padding: 0;
}
DIV.border_box INPUT:hover.addtocart
{
    background: url(../img/dosen/new_button_left_hover.png) bottom center;
    background-repeat: no-repeat;
}
DIV.border_box A.addtocart
{
    background: url(../img/dosen/new_button_left.png) top center;
    font-family: Geneva, Arial, Sans-Serif;
    color: #FFF;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background-repeat: no-repeat;
    height: 29px;
    line-height: 25px;
    padding: 0;
    margin: 5px 0 0 8px;
}
DIV.border_box A:hover.addtocart
{
    background: url(../img/dosen/new_button_left_hover.png) bottom center;
    background-repeat: no-repeat;
}
/*----------------crumb_navigation-------------*/
.crumb_navigation
{
    height: 15px;
    padding: 15px 10px 10px 20px;
    color: #333333;
    background: url(img/dosen/navbullet.png) no-repeat left;
    background-position: 5px 6px;
}
.crumb_navigation A
{
    color: #0744c8;
}
SPAN.current_navigation
{
    color: #0639a6;
}
/*center content--------------------------*/
#center_content
{
    width: 780px;
    float: left;
    padding: 5px 10px;
    margin: 0 0 30px;
}
#center_content .center_title_bar
{
    width: 90%;
    padding: 3px;
    margin: 10px 0 10px 0px;
    line-height: 32px;
    font-size: 14px;
    color: #FFFFFF;
    text-indent:20px;
    font-weight: bold;
    background: #00204d;
    text-transform: uppercase;	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*center content--------------------------*/
#tabs
{
    display: block;
    float: left;
    width: 649px;
    margin: 12px 0 0 12px;
    _margin: 0 0 0 6px;
}
#page_operation
{
    float: right;
    margin-top: 100px;
    border: 1px solid #AFABAB;
    padding: 15px;
}
.panel
{
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 12px;
}
.tab_bdr
{
    clear: both;
}
.tab
{
    background: #4578A2;
    color: #FFF;
    cursor: pointer;
    border-bottom: 1px solid #544;
    border-right: 1px solid #FFFFFF;
    width: 200px;
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
}
.tab_sel
{
    background: #D0DFE8;
    color: #333333;
    cursor: pointer;
    border-bottom: 1px solid #D0DFE8;
    width: 200px;
    float: left;
    text-decoration: none;
    padding: 5px 0;
}
DIV.tab_content
{
    border: 5px solid #CEDEF7;
}
LI.listbook
{
    background: url(../img/dosen/list_item.png) left center;
    background-repeat: no-repeat;
    padding: 0 0 10px 20px;
    list-style: none;
    text-decoration: none;
    margin: 0;
}
LI A
{
    color: #003351;
    text-decoration: none;
    /*[empty]margin-left:;*/
}
H2
{
    margin: 15px;
}
H2.title
{
    margin: 15px 0 0 20px;
}
H3
{
    margin: 0;
    padding: 0;
}
INPUT.submit
{
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    background: url(../img/dosen/new_button_left.png) top center;
    padding: 2px;
    background-repeat: no-repeat;
    float: right;
    margin: 0 3px 0 0;
}
.none TD, .none TH, .none TR
{
    padding: 10px;
    border: none;
}
SPAN.field
{
    color: #A0A0A0;
    font-size: 10pt;
    font-weight: bold;
}
table
{
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 10px;
}

th:not(.header-coloumn){
    padding :5px;
    color:#000;
}
th.header-coloumn{
    color:#fff;
}
td
{
    border: 0.5px solid #c0c0c0;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}
A
{
    text-decoration: none;
    color: #0E74D1;
}
.isi
{
    color: #0E74D1;
}
.kosong
{
    color: #EA4C4C;
}

P
{
    margin: 0 0 5px 10px;
}
.overflow_content
{
    overflow: auto;
    margin-top: 20px;
    padding: 10px;
}

.alert{
    display: none;
    color: #ed0808;
    padding: 5px 10px;
    border: 1px solid #0fa0dd ;
}
.success{
    display: none;
    color: #23a716;
    padding: 5px 10px;
    border: 1px solid #0fa0dd ;
}
a.edit{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/edit.png) no-repeat;
}
a.add
{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/add.png) no-repeat;
}
a.save
{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/save.png) no-repeat;
}
a.download{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/download.png) no-repeat;
}
a.cancel{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/cancel.png) no-repeat;
}
a.detail{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/detail.png) no-repeat;
}
a.check{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/check.png) no-repeat;
}
a.uncheck,a.delete,a.delete_checked{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/uncheck.png) no-repeat;
}
a.send,a.reply{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/send.png) no-repeat;
}
a.restore,a.back{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    float: right;
    background: url(../img/dosen/restore.png) no-repeat;
}
.pesan{
    width: 90%;
    background: #f5f8fc;
    margin: 10px;
    padding: 5px;
    border: #CCCCCC 1px solid;

}
#title_pesan{
    padding: 0px;
}
#isi_pesan{
    padding: 5px;
}
textarea.error,input.error { border: 1px solid red; width: auto; background-color:#ffe9e9;}
label.error {
    color: red;
    font-size:11px;
}
label.valid {
    background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
    color: green;
    display: block;
    width: 16px;
    height: 16px;
}
/*--------------footer----------------*/
.footer
{
    width: 1000px;
    clear: both;
    height: 65px;
    background: url(../img/dosen/footer_bg.gif) repeat-x top;
    margin-top: 50px;
}
.left_footer
{
    float: left;
    width: 300px;
    padding: 10px 0 0 10px;
}
.right_footer
{
    float: right;
    padding: 15px 30px 0 0;
}
.right_footer A
{
    padding: 0 0 0 7px;
    text-decoration: none;
    color: #666666;
}
.right_footer A:hover
{
    text-decoration: underline;
}
.center_footer
{
    float: left;
    width: 250px;
    text-align: center;
    color: #666666;
    padding: 10px 0 0 60px;
}
.center { text-align: center; }
