/* --- Style --- */
body { background: #ccc;}

/* --- Layout Style --- */
.main-width {
    width: 100%;
}
body table {
    background: #fff;
    width: 100%;
}
.clear-margin-bottom {
    margin-bottom: 0px;
}

/* --- Header Style --- */
.header-center {
    background: top center no-repeat;
	background-color: #170018;
    height: 96px;
}
.header-left, .header-right {
    background: url('../img/header/slice/ppm-slice.png') top left repeat-x;
    height: 96px;
}

/* --- Tab Style --- */
.tab-center, .tab-left, .tab-right {
    background: url('../img/header/slice/ppm-menu.png') top left repeat-x;
    height: 45px;
}
.tab-center ul li {
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;
}
.tab-center ul li.divider {
    background: url('../img/ppmb/tab-divider.png');
    display: inline-block;
    float: left;
    height: 45px;
    width: 2px;
}
.tab-center ul li a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    height: 30px;
}
.tab-center ul li a:hover {
    text-decoration: underline;
}

/* --- Body Style --- */
.body-left, .body-right { background: #ccc; }
.content-table {
    margin-bottom: 0px;
}
/* --- Breadcrumbs --- */
.breadcrumbs {
    padding: 10px 10px 10px 20px;
}
.content {
    padding: 10px 20px 10px 10px;
}
.breadcrumbs a {
    color: #008000;
}
.breadcrumbs a:hover {
    color: #00aa00;
}
.breadcrumbs a:active {
    color: #00bb00;
}
/* --- Menu Style --- */
.menu {
    height: 425px;
    padding: 5px 5px 5px 5px;
    width: 200px;
}
.menu ul {
    list-style: none;
    margin-bottom: 0px;
    margin-left: 15px;
}
.menu ul li {
    margin-left: 0px;
}
.menu ul li a {
    background: url('../img/list-menu-right.png') 5px 5px no-repeat;
    border-bottom: 2px dotted #ccc;
    color: #000;
    display: block;
    height: 22px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 0px 25px;
    text-decoration: none;
}
.menu ul li a:hover {
    background: url('../img/list-menu-right-hover.png') 5px 5px no-repeat;
    color: green;
}

/* --- Foot Style --- */
.foot-left, .foot-right { background: #ccc; }
.foot-center {
    background: url('../img/ppmb/footer-background.png') top center repeat-x;
    color: #666666;
    height: 61px;
}
.footer-nav {
    display: block;
    font-size: 12px;
    padding: 2px 10px 2px 2px;
    text-align: right;
}
.footer-nav a {
    color: #666666;
}
.footer {
    background: url('../img/ppmb/cyber-campus.png') 5px 0px no-repeat;
    display: block;
    height: 37px;
    margin-top: -10px;
    text-align: center;
}

/* --- Content Style --- */
.content { font-size: 13px; }

.content .center_title_bar {
    background: #220344;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px -5px 20px -5px;
    padding: 10px;
    text-transform: uppercase;
}
.content h1 { font-size: 20px; }
.content h2 { font-size: 18px; }
.content h3 { font-size: 16px; }
.content h4 { font-size: 14px; }

.content table {
    border-width: 0px;
    border-style: solid;
    border-color: #666;
    border-collapse: collapse;
    margin: 10px 20px 10px;
	width:auto;
}

.content table caption { 
    padding: 2px; 
    font-size: 14px;
    font-weight: bold;
}

.content table tr.row1 { background-color: #eee; }
.content table tr.row2 { background-color: #fff; }
.content table tr.row3 { }

.content table tr th {
    padding:5px;
	text-transform:uppercase;
    text-align:center;
    font-weight:bold;
    font-size:12px;
	border: 1px solid #aaaaaa;
	font-family:'Trebuchet MS';
}
th.header-coloumn{
	padding:6px;
	font-size:13px;
}

.content table tr td {
	padding:5px;
	border: 1px solid #aaaaaa;
	vertical-align: middle;
}
.content fieldset{
    padding:12px;
    border:1px solid #c0c0c0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.content legend{
    color:#0c366c;
    font-size:14px;
    padding:2px;
    font-weight:bold;
    text-transform:uppercase;
}
.content div.field_form{
    margin-bottom: 15px;
    padding: 8px;
    display: block; 
}
.content div.bottom_field_form{
    clear: both;
    padding-top: 20px;
    text-align: center;
}
.content div.field_form  label:not(.error){
    display: inline-block;
    float:left;
    width:15%;
    color:grey;
    font-weight:bold;
    text-align:right;
    margin:0px 15px 0 0;
}
.kosong {
	text-align: center;
	color:red;
}
.small { font-size: 80%; }
.center {
    text-align: center;
}
.middle {
    vertical-align: middle;
}
.cursor-pointer {
    cursor: pointer;
}

.content button {
    cursor: pointer;
}
.content a {
    color: #008000;
}
#content   input[type=submit].ui-button, #content a.ui-button{
	font-size:13px;
	font-weight:bold;
	font-family: "Trebuchet MS";
}

.content pre {
    font-size: 11px;
}
.anchor-span {
    color: #008000;
    cursor: pointer;
    text-decoration: underline;
}
.anchor-span:hover {
    color: #00aa00;
}

.anchor-black {
    color: #000 !important;
    text-decoration: none;
}
.anchor-black:hover {
    color: #000 !important;
	text-decoration: underline;
}

/* FORM CONTENT */
.content input[type=submit], .radio {
    cursor: pointer;
}
input.error, textarea.error {
	border:1px solid red;
}
label.error {
    color: #c00;
    font-size: 12px;
}
.total{
	background-color:#c9f797;
	font-weight:bold;
}

