body
{
    padding:0px;
    font-family:arial;
    margin:0px;
    background-color: #cccccc;
}
table {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-collapse: collapse;
    margin: 10px 0px;
}

th{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
    background-color: #000;
}
td{
    padding: 6px;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
}

/* header */
#header-bg{
    background:url(../img/pengumuman/bg_top_header.png) repeat-x #CCCCCC top ;
    height: 147px;
    width: 100%;
}
#header{
    width:1024px;
    height:147px;
    margin : 0px auto 0px;
    background:url(../img/pengumuman/pengumuman.png) no-repeat center;
}
/* main content */
#content{
    background-color: #ffffff;
    width: 1024px;
    height: 300px;
    margin : 0px auto 100px;
    padding: 10px;
    -moz-border-radius: 20px;
    border-radius:20px;
}
/* footer */
.footer{
    width:100%;
    clear:both;
    height:65px;
    margin-top:20px;
    border-top:solid 1px #666;
    background:url(../img/pengumuman/footer_bg.gif) repeat-x top;

}
.left_footer{
    float:left;
    width:300px;
    padding:10px 0px 0px 10px;
}

.center_footer{
    width: 500px;
    height: 40px;
    font-size: 15px;
    text-align:center;
    color:#888888;
    margin: 0px auto 0px;
    margin-top: 10px;
}