@charset "utf-8";
/* CSS Document */
body
{
background:url(../images/bg_top_header.jpg) repeat-x #f1f1f1 center top;
padding:0;
font-family:"Trebuchet MS";
font-size:12px;
margin:0px auto auto auto;
color:#000;
}
p{
padding:2px;
margin:0px;
}
#main_container{
width:1000px;
height:auto;
margin:auto;
padding:0px;
}
#header{
width:1000px;
height:65px;
background:#225599;
background-position:0px 0px;
margin:auto;
}
#judul_header{
width:165px;
height:65px;
font-size:14px;
font-weight:bold;
text-align:right;
margin-top:10px;
padding-left:800px;
background:url(../images/logo.png) no-repeat ;
color:#CCCCCC;
}

#main_content{
clear:both;
}
/*---------------- menu tab----------------------*/
#menu_tab{
width:1000px;
height:50px;
}
.left_menu_corner{
width:9px;
height:50px;
float:left;
background:url(../images/bar.jpg) repeat-x;
}
.right_menu_corner{
width:9px;
height:50px;
float:left;
background:url(../images/bar.jpg) repeat-x;
}
ul.menu {
list-style-type:none; float:left; display:block; width:982px; 
margin:0px; padding:0px;background:url(../images/bar.jpg) repeat-x;}

ul.menu li {
display:inline;
font-size:11px;
font-weight:bold;
line-height:50px;
}
ul.menu li.divider {
display:inline;
width:2px;
height:50px;
float:left;
background:url(../images/menu_divider.png) no-repeat center;
}

a.nav1:link, a.nav1:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav2:link, a.nav2:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav3:link, a.nav3:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav4:link, a.nav4:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav5:link, a.nav5:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}
a.nav6:link, a.nav6:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; font-weight:bold; color:#ffffff;}

a.nav1:hover, a.nav2:hover, a.nav3:hover, a.nav4:hover, a.nav5:hover, a.nav6:hover {
color:#999999;}
/*-------------left_content------------------
.left_content{
width:200px;
float:left;
}
.title_box{
width:210px;
height:30px;
margin:5px 0 0 0;
background:url(images/mainnav-bg.gif) repeat center;
text-align:center;
font-size:13px;
font-weight:bold;
color:#333333;
border:1px #CCCCCC solid;
line-height:30px;
}

.border_box{
width:170px;

height:auto;
text-align:center;
border:1px #6da6b1 solid;
}
*/
/*-------------left_content------------------*/
.left_content{
width:215px;
float:left;
}
.title_box{
width:200;
height:30px;
margin:5px 0 0 0;
background:url(../images/box_atas.png) no-repeat left;
text-align:left;
padding-left:10px;
font-size:14px;
font-weight:bold;
color:#666666;
line-height:30px;
}
.mid_box{
width:210;
height:auto;
background:url(../images/box_tengah.png) repeat-y left;
text-align:left;
padding-left:10px;
padding-right:10px;
font-size:12px;
color:#000;
line-height:20px;
}
.bottom_box{
width:210;
height:9px;
background:url(../images/box_bawah.png) no-repeat left;
line-height:30px;
}
/*box news ---------------------------*/
.top_news_box{
width:535px;
height:36px;
margin:5px 0 0 0;
background:url(../images/box_berita_top.png) no-repeat left;
text-align:left;
padding-left:10px;
font-size:14px;
font-weight:bold;
color:#666666;
line-height:30px;
}
.top_login_box{
width:535px;
height:53px;
margin:5px 0 0 0;
background:url(../images/box_berita_top.png) no-repeat left;
text-align:left;
padding-left:10px;
font-size:14px;
font-weight:bold;
color:#666666;
line-height:30px;
}
.mid_news_box{
width:515px;
height:auto;
background:url(../images/box_berita_tengah.png) repeat-y left;
text-align:left;
padding-left:10px;
padding-right:20px;
font-size:12px;
color:#000;
line-height:20px;
}
.mid_news_box h2{
font-size:18px;
}
.bottom_news_box{
width:535px;
height:17px;
background:url(../images/box_berita_bawah.png) no-repeat left;
padding-left:10px;
}
.spacing_box{
width:210;
height:15px;
line-height:30px;
}
.border_box{
width:210px;
height:auto;
text-align:center;

}
/*agenda--------------------------*/
.agenda{
width:165px;
height:auto;
background:url(../images/kalendar.png) no-repeat;
text-align:left;
padding-left:20px;
padding-right:20px;
font-size:12px;
color:#000000;
}
/*----------------Button right-------------*/
div.border_box a.kalendar{display:block; width:200px; height:70px; background:url(../images/btn_kalendar_active.png) top center; margin:0 10px 2px 0; font-family:Geneva,Arial,Sans-Serif; color:#fff; text-decoration:none; font-weight:bold;  padding-top:5px; }
div.border_box a:hover.kalendar{background:url(../images/btn_kalendar_hover.png) top center; font-weight:bold; }

div.border_box a.feedback{display:block; width:200px; height:70px; background:url(../images/btn_feedback_active.png) top center; margin:0 10px 2px 0; font-family:Geneva,Arial,Sans-Serif; color:#fff; text-decoration:none; font-weight:bold;  padding-top:5px; }
div.border_box a:hover.feedback{background:url(../images/btn_feedback_hover.png) top center; font-weight:bold; }

div.border_box a.login{display:block; width:200px; height:69px; background:url(../images/login_hover.png) top center; margin:0 10px 2px 0; font-family:Geneva,Arial,Sans-Serif; color:#fff; text-decoration:none; font-weight:bold;  padding-top:5px; }
div.border_box a:hover.login{background:url(../images/login.png) top center; font-weight:bold; }
/*----------------crumb_navigation-------------*/
.crumb_navigation{
width:980px;
height:15px;
padding:5px 10px 10px 20px;
color:#333333;
background:url(images/navbullet.png) no-repeat left;
background-position:5px 6px;
}
.crumb_navigation a{
color:#0fa0dd;
text-decoration:underline;
}
span.current{
color:#0fa0dd;
}
/*center content--------------------------*/
.center_content{
width:545px;
float:left;
padding:5px 12px;
}
.center_title_bar{
width:649px;
height:29px;
float:left;
padding:0 0 0 40px;

_margin:0 0 0 6px;
line-height:33px;
font-size:14px;
color:#ffffff;
font-weight:bold;

background:url(../images/main_bar.jpg) no-repeat center;
}
.judul_title_bar{
width:520px;
height:auto;
float:left;
padding:0 0 0 20px;
margin:0 0 0 2px;
_margin:0 0 0 6px;
line-height:33px;
font-size:16px;
color:#000000;
font-weight:bold;
}
/*center content--------------------------*/
#tabs{ display:block;  float:left;  width:649px; margin:12px 0 0 12px; _margin:0 0 0 6px; padding:0 0 0 0px}
 .panel{ border:solid 1px #E4E4E4; margin:0 0 0 12px;  border-top:none;  background-color:#E4E4E4;  padding:0 0 0 10px;  width:639px;  overflow:auto;  clear:left}
 .tab_bdr{ padding:0 0 0 40px; margin:12px 0 0 12px;  width:609px;  border:0px;  border:1px solid #E4E4E4;  height:4px;   background:#E4E4E4;  clear:left}
 .tab{ background:#5F5F5F;  color:#FFF;  cursor:pointer;  border:none;  border-bottom:1px solid #FFF;  height:19px;  padding-top:3px;  margin:0px;  width:100px;  float:left;  text-decoration:none; font-weight:bold;}
 .tab_sel{ background:#E4E4E4;  color:#333333;  cursor:pointer;  border:none;  border-bottom:1px solid #E4E4E4;  height:19px;  padding-top:3px;  margin:0px;  width:150px;  float:left;  text-decoration:none}

/*right Content ----------------------*/
.right_content{
width:210px;
float:left;
padding:5px 0 0 0;
}
/*--------------footer----------------*/
.footer{
width:1000px;
clear:both;
height:65px;
margin-top:50px;
border-top:solid 2px #999999;
}
.left_footer{
float:left;
width:300px;
padding:10px 0 0 10px;
}
.right_footer{
float:right;
padding:15px 30px 0 0;
}
.right_footer a{
padding:0 0 0 7px;
text-decoration:none;
color: #666666;
}
.right_footer a:hover{
text-decoration:underline;
}
.center_footer{
float:left;
width:250px;
text-align:center;
color:#666666;
padding:10px 0 0 60px;
}
.gallery{
width:1000px;
clear:both;
height:auto;
margin-top:50px;
border:solid 1px #999999;
background:#FFFFFF;
}

.image {
	background-color: #fff;
	padding: 2px;
	margin: 3px 5px 3px 0;
	border: 1px solid #ddc688;
	float: left;
}
.judul {
	font-family: Georgia;
	font-size: 18px;
	line-height: 170%;
	font-weight: bold;
	color: #333333;
	text-decoration:none;
	
}
.profile_dosen {
	font-family: Georgia;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration:none;
	
}
.date {
	font-size: 11px;
	line-height: 100%;
	color:#666666;

}
.posting {
	font-size: 11px;
	color:#666666;
}
