body{
    padding: 0px;
    margin: 0px;
    font-family:"Trebuchet MS";
    font-size:12px;
    background-color:#cecccd;
}
#main_container{
    padding: 0px;
    margin: 0px;
}

/*header style*/

#header{
    width: 100%;
    height: 142px;
    background-color: #250512;
    box-shadow:0px 0px 15px black;
    background: url(../img/header/slice/wasrik-slice.png) repeat-x;
    
}
#judul_header{
    margin:0px auto 0px;
    background: url(../img/header/wasrik.png);
    width: 1079px;
    height: 100px;
}
#menu_tab{
    height: 42px;
}


/*center style*/
#center{
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
}
#center_content{
    width: 95%;
    height: auto;
    padding: 10px 30px 180px;
    background-color: white;
    margin: 0px auto 0px;
}
.center_title_bar{
    background: #41290f;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px -5px 20px -5px;
    padding: 10px;
    text-transform: uppercase;
}
caption{
    text-align:left;
    font-size: 17pt;
    font-weight:bold;
    color: #2B1212;
    text-transform: uppercase;
    text-shadow:2px 2px 2px goldenrod;
}
table {
    border-width: 0px;
    border-style: solid;
    border-color: #666;
    border-collapse: collapse;
    margin: 10px 20px 10px;
}
td{
    padding:5px;
    border: 1px solid #aaaaaa;
}

th{
    padding:5px;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;
    font-size:12px;
    border: 1px solid #aaaaaa;
    font-family:'Trebuchet MS';
}
th.header-coloumn{
    padding:6px;
    font-size:13px;
}
.total{
    background-color:#c9f797;
    font-weight:bold;
}
.link{
    background-color:white;
    font-weight:bold;
    padding:15px;
}
.link_button{
    background-color:#056303;
    font-weight:bold;
    border:1px solid #cccccc;
    color:white;
}
.center{
    text-align:center;
}

#top_content{
    width: 95%;
    padding: 0px 30px;
    height: auto;
    display: block;
    margin: 0px auto;
    background-color: white;
    padding-top: 10px;
    
}


#center_content   input[type=submit].ui-button{
    text-decoration: none;
    position:static;
    font-size:12px;
    padding:5px;
}
#center_content a{
    color: #A45B13;
    text-decoration:none;
}
#center_content a:hover{
    color: #f96614;
}
#center_content a.ui-button, #center_content span.ui-button{
    text-decoration: none;
    position:static;
    font-size:12px;
    padding:6px;
    color: #381F00;
    font-weight: bold;
}
#center_content   a.ui-button:hover,#center_content   input[type=submit].ui-button:hover,#center_content   span.ui-button:hover{
    color: #f96614;
}
.data-kosong{
    color:red;
    text-align:center;
}
p{
    padding:2px;
    margin:0px;
}
textarea.error,input.error { border: 1px solid red; width: auto; background-color:#ffe9e9;}

label.error{
    color:red;
    font-size:11px;
}
label.valid {
    background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
    color: green;
    display: block;
    width: 16px;
    height: 16px;
}

/*scrollbar style*/
#scrollbar{
    width:90%;
    margin-left:20px;
    padding: 5px 10px;
    display: block;
    background-color: #EFEFEF;
    overflow: auto;
}
#scrollbar table{
    margin-right:20px;
}

#center_content table caption { 
    padding: 2px; 
    font-size: 14px;
    font-weight: bold;
}

#center_content table tr.row1 { background-color: #eee; }
#center_content table tr.row2 { background-color: #fff; }
#center_content table tr.row3 { }

#center_content table tr th {
    background: #1d2836;
    border: 1px solid #969BA5;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-transform :uppercase;
}

#center_content table tr td {
    border: 1px solid #969BA5;
    padding: 8px;
    vertical-align: middle;
}
#center_content tr.even td 
{
    background-color:#f0f0f0;
}

#center_content input[type=text],textarea{
    border-bottom: 1px solid #0c366c;
    border-top:none;
    border-right:none;
    border-left:none;
    padding:3px;
}

#center_content fieldset{
    padding:12px;
    border:1px solid #c0c0c0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
#center_content legend{
    color:#0c366c;
    font-size:14px;
    padding:2px;
    font-weight:bold;
    text-transform:uppercase;
}
#center_content div.field_form{
    margin-bottom: 15px;
    padding: 8px;
    display: block; 
}
#center_content div.bottom_field_form{
    clear: both;
    padding-top: 20px;
    text-align: center;
}
#center_content div.field_form  label:not(.error){
    float:left;
    width:15%;
    color:grey;
    font-weight:bold;
    text-align:right;
    margin:0px 15px 0 0;
}
#center_content input[type=text]:focus,textarea:focus{
    background: #ededed;
}

#center_content select, input[type=text]{
    vertical-align: top;
}

#center_content table tr td.title {
    background: #c3cbd4;
    padding: 8px;
}

#center_content a.button, input.button , button.button{
    margin:9px 1px;  
    padding:8px;
    background-color:#41290f;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 7px;
    text-decoration:none;
    border: none;
    font-size:13px;
    display:inline-block;
}
#center_content a.button,input.button{
    padding:8px;
}
#center_content a.button:hover, input.button:hover ,button.button:hover{
    color: #cee3ff;
}

.small { font-size: 80%; }
.center {
    text-align: center;
}
.middle {
    vertical-align: middle;
}
.cursor-pointer {
    cursor: pointer;
}

#center_content button {
    cursor: pointer;
}
#center_content a {
    color: #008000;
}
#center_content a:hover {
    color: #00aa00;
}
#center_content a:active {
    color: #00bb00;
}
#center_content pre {
    font-size: 11px;
}
.anchor-span {
    color: #008000;
    cursor: pointer;
    text-decoration: underline;
}
.anchor-span:hover {
    color: #00aa00;
}

.anchor-black {
    color: #000 !important;
    text-decoration: none;
}
.anchor-black:hover {
    color: #000 !important;
    text-decoration: underline;
}

/* FORM CONTENT */
#center_content input[type=submit], .radio {
    cursor: pointer;
}
label.error {
    color: #c00;
    font-size: 12px;
    display:block;
}
input[type=text].error,textarea.error{
    border-bottom:1px solid red;
    background:#ffeaed;
}

.data-kosong{
    color:red;
    text-align:center;
}
.total{
    background-color:#c9f797;
    font-weight:bold;
}

/*footer style*/

#footer{
    width:100%;
    clear:both;
    height:60px;
    position:fixed;
    bottom:-2px;
    margin:0px auto 0px;
    border-top:solid 1px #666;
    background:url(../img/keuangan/footer_bg.gif) repeat-x top;

}
#left_footer{
    float:left;
    width:300px;
    padding-top:10px;
    padding-left: 10px; 
}

#center_footer{
    width: 50%;
    text-align: center;
    margin:10px auto 0;
}
#right_footer{
    float:right;
    padding-right: 10px;
}
#right_footer a{
    padding:0 0 0 7px;
    text-decoration:none;
    color: #666666;
}
#right_footer a:hover{
    text-decoration:underline;
}