ul.topnav {
    list-style: none;
    padding: 0 5px;
    margin:0 auto 0;
    width: 1300px;
    height:42px;
    background: #666;
    font-size: 14px;
    background:url(../img/header/slice/wasrik-menu.png);
    /*background: url(topnav_bg.gif) repeat-x;*/
}
ul.topnav li {
    float: left;
    margin: 0px;
    padding: 0px 8px 0px;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
    padding: 10px 0px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li label{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li a:hover{
    /*background: url(topnav_hover.gif) no-repeat center top;*/
}
ul.topnav li span { /*--Drop down trigger styles--*/
    width: 17px;
    height: 45px;
    float: left;
    /*background: url(subnav_btn.gif) no-repeat center top;*/
}
ul.topnav li span.subhover {
    background-position: center bottom; cursor: pointer;
} 
/*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 42px;
    background: #3d3d3d;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 195px;
    border: 1px solid #111;
    font-size: 10pt;
    z-index: 99999;
}
ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    clear: both;
    width: 200px;
}
html ul.topnav li ul.subnav li a {
    float: left;
    width: 180px;
    /*background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;*/
    padding: 6px 8px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
    background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;
}
