<div class="center_title_bar">Master Evaluasi Kelompok Nilai - Edit</div>
<form action="kuisioner-evalkelompoknilai.php" method="post">
    <input type="hidden" name="mode" value="edit" />
    <input type="hidden" name="ID_KELOMPOK_NILAI" value="{$evaluasi_kelompok_nilai.ID_KELOMPOK_NILAI}" />
    <table>
        <tr>
            <td>Nama Kelompok Nilai</td>
            <td><input type="text" name="NM_KELOMPOK" class="required" value="{$evaluasi_kelompok_nilai.NM_KELOMPOK}" /></td>
        </tr>
        <tr>
            <td class="center" colspan="2">
                <button href="kuisioner-evalkelompoknilai.php">Batal</button>
                <input type="submit" value="Simpan" />
            </td>
        </tr>
    </table>
</form>