<div class="center_title_bar">KPRS</div>
{literal}
<script>
	var panels=new Array('panel1','panel2','panel3','panel4','panel5');
	var tabs=new Array('tab1','tab2','tab3','tab4','tab5');

	function displayPanel(nval)
	{
		for(i=0;i<panels.length;i++)
		{
			document.getElementById(panels[i]).style.display=(nval-1==i)?'block':'none';
			document.getElementById(tabs[i]).className=(nval-1==i)?'tab_sel':'tab'
		}
	}
</script>
{/literal}

<div id="tabs">
	<div id="tab1" class="tab_sel" align="center" onClick="javascript: displayPanel('1');">Penawaran MA</div>
	<div id="tab2" class="tab" style="margin-left:1px;" align="center" onClick="javascript: displayPanel('2');">MA Terambil</div>
	<div id="tab3" class="tab" style="margin-left:1px;" align="center" onClick="javascript: displayPanel('3');">Cetak</div>
</div>
             
<div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: block">
{$jkueri_penawaranmk}
<div style="width: 98%;  " id="krs_ditambah">
	<!-- diambilkan dari tabel "kelas_mk", semester aktif-->
</div>
</div>




<div class="panel" id="panel2" style="display: none">
{$jkueri_mkterambil}
<div style="width: 98%;  " id="krs_dihapus">
	<!-- diambilkan dari tabel "pengambilan_mk", semua status -->
</div>		
</div>

		
		
<div class="panel" id="panel3" style="display: none">
{$jkueri_respondosen}
<div style="width: 98%;  " id="krs_ditampil">
	<!-- diambilkan dari tabel "pengambilan_mk", semua status -->
</div>
</div>