<div class="center_title_bar">Draft Ijasah</div>
<br />
{$tampil_data}
{if isset($berhasil)}
<input type="button" value="Cetak Draft Ijasah" onclick="window.open('../akademik/proses/wisuda-draft-cetak.php?nim={$nim}');" style="color:#C30">

<!--<br />
<form method="post" action="akademik-draft.php">
<table>
	<tr>
    	<td>Tempat, Tanggal Lahir</td>
		<td><input type="text" name="tgl_lahir" value="{$tgl_lahir}" size="30" /></td>
    	<td><input type="submit" value="Simpan" /></td>
	</tr>
<table>
</form>
* <b>Tempat tanggal lahir boleh di isi jika, tempat tanggal lahir di draft ijasah TIDAK SESUAI dengan ijasah terakhir</b><br />
* <b>Contoh Pengisian : Semarang, 12 Pebruari 2012</b>-->
{/if}