<div class="center_title_bar">Inbox</div> 
<div id="tabs">
    <div id="tab1" class="tab_sel" align="center" onClick="javascript: displayPanel('1');">Inbox</div>
</div>

<div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: block">
{$jkueri_inbox}
<div style="width: 98%;  " id="inbox_hapus">
	
</div>
<br><br>
<div style="width: 98%;" id="inbox_detail">
	
</div>
</div>