<div class="center_title_bar">Conversation</div> 


<div class="panel" id="panel1" style="display: block">
	{$jkueri_conv}
	<div style="width: 98%;  " id="conv_tampil">
		
	</div>
	<br><br>
	<div style="width: 98%;" id="inbox_detail">
		
	</div>
</div>