<!-- Author : Seto Priyanggoro -->
<div class="center_title_bar">Draft</div>
<!-- File ini berisi proses dari menu draft -->


	
	<table width="600" border="none">
    <tr><td colspan="3" align="center"><h2>Draft</h2></td></tr>
    <tr><th align="center"><span><h3>Recepient</h3></span></th><th align="center"><h3>Tanggal Dibuat</h3></th><th align="center"><h3>Subject</h3></th></tr>
    <tr><td><span>Drs. Eto Wuryanto,DEA</span></td><td>17 Agustus 2009</td><td>Tanya Masalah Tugas</td></tr>
	<tr><td><span>Dr. Eridani</span></td><td>19 Maret 2010</td><td>Alamat Download E-Book</td></tr>
	<tr><td><span>Dr. Heri Suprayitno, M.Si</span></td><td>10 Agustus 2010</td><td>Tanya Masalah Kuliah di Luar Negri</td></tr>
    </table>
	
	<table width="600" border="none">
    <tr><th colspan="3" align="center"><h2>DETAIL</h2></th></tr>
    <tr><td><span>To </span></td><td>:</td> <td>Dr. Heri Suprayitno, M.Si</td>
	</tr>
	<tr><td>Subject</td><td>:</td><td>Tanya Masalah Kuliah di Luar Negri</td></tr>
	<tr><td>Content</td><td>:</td><td><textarea rows="10" cols="50" readonly="yes">Kuliah di luar negri memang bergengsi,namun harus diperhitungkan betul biayanya</textarea></td></tr>
    </table>