<div class="center_title_bar">Outbox</div> 
<div id="tabs">
    <div id="tab1" class="tab_sel" align="center" onClick="javascript: displayPanel('1');">Sent Item</div>
    
</div>

<div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: block">
	{$jkueri_outbox}
	<div style="width: 98%;  " id="outbox_hapus">

    </div>
	<br><br>
	<div style="width: 98%;" id="outbox_detail">
		
	</div>
</div>
