<div class="center_title_bar">Konsultasi Online</div>    
    <div class="konsultasionline">
    <table width="600">
        <tr><td><strong>Live Chat</strong></td><td><strong>List Dosen Online</strong></td></tr>
        
        <tr>
            <td class="chat">
                <span>(12:34:34) </span><span style="color: blue;">Me</span><span> : Apakah ada metode yang lebih efisien untuk menghitung penjadwalan pak?</span><br />
                <span>(12:34:59) </span><span style="color: red;">Dr. Heri Suprayitno, M.Si</span><span> : Pakai metode ant coloni saja,saya pikir cukup efisien</span>
            </td>
            <td><ul><li> Dr. Heri Suprayitno, M.Si</li><li> Ir. Dyah Herawatie, M.Si</li><li> Drs. Eto Wuryanto, DEA</li></ul></td>
            
        </tr>
        <tr><td colspan="2" ><input type="text"size="60" /><input type="button" value="Send" /></td></tr>
        
    </table>
    </div>