<div class="center_title_bar">Informasi</div>


	{for $i=0 to $jml_info-1}
	<div style="border-bottom-style:solid;border-bottom-color:brown;border-bottom-width:1px;margin:20px;">
	<div id='foto' style="float:left;width:60px;height:70px;padding-right:20px;">
		<img src="{$foto_pengirim[$i]}" style="float:left;width:60px;height:70px;padding-right:20px;" />
	</div>
	
	<div id="content" style="float:left;width:700px;height:auto;">
		<div id="pengirim" style="">
			<span>
			Dari : {$pengirim[$i]}<br>
			Kepada : {$penerima[$i]}
			</span>
		</div>
		
		<div id="title" style="">
			<span style="">
			Judul pesan : <a href="informasi.php?id={$id[$i]}" style="text-decoration:none;">{$judul[$i]}</a>
			</span>
		</div>
		
		<div id="info" style="">
			<span>
			<br>Isi pesan :
			</span>
			<p align="justify">
				{$pesan[$i]}
			</p>
		</div>
	</div>
	
	<div style="clear:both;">
		&nbsp;
	</div>
	</div>
	{/for}
