<div class="center_title_bar">Lihat SKKK</div>
{$jkueri_lihat}
<form name="frmkmkhp" id="frmkmkhp">
<table class="add_publikasi">
<tr>
	<th colspan="5">Lihat SKKK</th>
</tr>
<tr>
	<td><span>Semester</span></td>
	<td>{html_options name=semes options=$semes_isi}</td>
	<td align="center"><input type="button" value="Cetak Excel" onclick="window.open('proses/_kemahasiswaan-skkk-excel.php');" ></td>
</tr>
<tr>
	<td colspan="2" align="center"><input type="button" name="muncul" value="Tampil" class="submit" onclick="km_khp('frmkmkhp');" ></td>
	<td align="center"><input type="button" value="Cetak Pdf" onclick="window.open('proses/_kemahasiswaan-khp_cetak_all.php');" ></td>
</tr>
</table>
</form>

<div id="km-khp-tampil"></div>
