<div class="center_title_bar">Transkrip Keaktifan Mahasiswa</div>
<table border="1" width="650"><tbody>
<tr>
	<td align="center" colspan="4"><h2>Transkrip Keaktifan Mahasiswa <font size=1 color="blue" onclick="window.open('proses/_kemahasiswaan-tkm_cetak.php','baru2');">[<u>cetak</u>]</font></h2></td>
</tr>
<tr>
	<th align="center">Thn Akad</th>
	<th align="center">Kegiatan</th>
	<th align="center">Waktu</th>
	<th align="center">Bobot Nilai</th>
</tr>
{$tkm_lihat}
</tbody></table>