<div class="center_title_bar">Pengajuan SKP</div>
<table class="add_publikasi">
        <tr>
            <th colspan="5"><h2>Pengajuan SKP</h2></th>
        </tr>

        <tr><td><span>Menu Publikasi</span></td>
            <td><select>
                    <option>Kegiatan Organisasi dan Kepemimpinan</option>
                    <option>Penalaran dan Keilmuan</option>
             
                </select>
            </td></tr>
        <tr><td><span>Upload File Pendukung</span></td><td><input type="file" title="Khusus Untuk File .doc dan .ppt" size="10" /></td></tr>
        <tr><td><span>Tingkat Kegiatan</span>
            </td>
            <td><select>
                    <option>Nasional</option>
                    <option>Universitas</option>
             
                </select>
            </td></tr>
        <tr>
            <td><span>Keterangan</span></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save" class="submit" onclick="hide('#add_publikasi')" /></td>
        </tr>

    </table>