<div class="center_title_bar">Piutang</div>
<table width="500" border="none">
    <tr><td colspan="4" align="center"><h2>Semester Genap 2010/2011</h2></td></tr>
    <tr>
	<th align="center"><h3>S O P</h3></th>
	<th align="center"><h3>K K N</h3></th>
	<th align="center"><h3>WISUDA</h3></th>
	<th align="center"><h3>Total</h3></th></tr>
    <tr>
      <td>800.000</td>
      <td>50.000</td>
      <td>50.000</td>
      <td>1.650.000</td>
    </tr>
    </table>