<!-- RIESKHA ~ TAMBAHAN DARI PAK FATHONI-->
<div class="center_title_bar">Bursa Lowongan Kerja</div>
<!-- file ini berisi tentang proses rekap absen -->
<p>
		<li>
			<a href="http://infokerja.naker.go.id" class="disable-ajax" target="_blank">
				Lowongan kerja Depnakertrans
			</a> 
		</li>
</p>