<!-- Author : Seto Priyanggoro -->

<!-- File ini berisi proses dari menu katalog ta -->
<div class="center_title_bar">Pencarian Skripsi</div>

{$jkueri_buku}

{$buku_cari}

<div id="tampil_buku"></div>