<!-- Author : Seto Priyanggoro -->

<!-- File ini berisi proses dari menu katalog buku -->
<div class="center_title_bar">Pencarian Buku</div>

{$jkueri_buku}

{$buku_cari}

<div id="tampil_buku"></div>
