<!-- Author : Seto Priyanggoro -->

<!-- File ini berisi proses dari menu katalog e-book -->
<div class="center_title_bar">Pencarian Ebook</div>

{$jkueri_buku}

{$buku_cari}

<div id="tampil_buku"></div>