<div class="center_title_bar">Session Expired</div>
<table style="width: 100%">
    <tr>
        <td align="center"><h2><a href="./../../?status=login" class="disable-ajax">Login</a></h2></td>
    </tr>
</table>