<div class="center_title_bar">Penilaian Peserta - Upload Nilai</div>

<iframe src="penilaian-peserta-upload.php?id_penerimaan={$smarty.get.id_penerimaan}" style="width: 600px; height: 60px"></iframe>
<br/>
<a href="penilaian-peserta.php">Kembali</a>