<form enctype="multipart/form-data" action="upload-data-pembayaran-iframe.php" method="POST">
    <input name="file_mhs" type="file" />
    </br></br>
    <input type="submit" value="Upload" />
</form>