<div class="center_title_bar">Upload Data Tagihan Mahasiswa(BAUK)</div> 
<!-- 170717 fth
<span class="ui-button ui-corner-all ui-state-hover" onclick="window.open('upload_pembayaran.php','_blank')"  style="padding:5px;cursor:pointer;">Update Pembayaran Upload </span>
-->
<span class="ui-button ui-corner-all ui-state-hover" onclick="window.open('upload-data-pembayaran-bauk-tambah.php','_blank')"  style="padding:5px;cursor:pointer;">Upload Data Tagihan ( Excel File ) </span>
<br>
<br>

<!-- 17 Juli 2017 

<div class="center_title_bar">Impor Format Pembayaran</div> 
<span class="ui-button ui-corner-all ui-state-hover" onclick="window.open('upload_pembayaran_tambah.php','_blank')"  style="padding:5px;cursor:pointer;">Impor format Pembayaran</span>

-->