<html>
    <head>
    <title>File Excel</title>
    </head>
    <body>
        
        <table border="1" cellspacing="0" cellpadding="2">
            <tr>
                <th>Judul</th><th>Judul</th>
            </tr>
            <tr>
                <td>A</td><td>B</td>
            </tr>
        </table>
    
    </body>
</html>