<div class="center_title_bar">utility kecamatan</div>

{$nav}
<br />
{$direction}
<br /><br />

<form action="utility_kelurahan.php" method="get">
	Pilih Kecamatan : &nbsp;
	<select name="kecamatan">
		{for $i=0 to $Jml_Data-1}
		<option value="{$Id_Kecamatan[$i]}">
			{$Nm_Kecamatan[$i]}
		</option>
		{/for}
	</select>
	<input type="submit" name="submit" value="NEXT" />
</form>