<div class="center_title_bar">utility kelurahan</div>


<form action="utility_kelurahan.php" method="get">
{$nav} 
Pilih Propinsi : &nbsp;
<select name="propinsi">
	{for $i=0 to $Jml_Data-1}
	<option value="{$Id_Propinsi[$i]}">
		{$Nm_Propinsi[$i]}
	</option>
	{/for}
</select>
<input type="submit" name="submit" value="Next"/>
</form>