{for $i=0 to $jml_status-1}
	{for $j=0 to $jml_status_balas-1}
		{if $id_status_balas[$j]==$id_status[$i]}
		<div id="comment-box{$id_status[$i]}">
			<tr>
				<td class="ui-widget-content">
					<div style="float:left; width:35px; height:100%;">
						<img src="{$base_url}foto_mhs/{$username_status_balas[$j]}.JPG" style="width:35px; height:35px;"/>
					</div>
					<div style="float:left; padding-left:10px; width:300px; text-align:justify;">
						<strong>{$nm_pengguna_status_balas[$j]}</strong> &nbsp; {$status_balas[$j]}
					</div>
				</td>
			</tr>
		</div>
		{/if}		
	{/for}
{/for}