<div class="center_title_bar">ID Kelompok MK Setara : {$mk_penyetaraan.ID_MK_PENYETARAAN}</div>

{if $edited}<script type="text/javascript">alert('{$edited}');</script>{/if}

<form action="penyetaraan-mk-master.php?{$smarty.server.QUERY_STRING}" method="post">
<input type="hidden" name="mode" value="edit" />
<input type="hidden" name="id_mk_penyetaraan" value="{$mk_penyetaraan.ID_MK_PENYETARAAN}" />
<!--<input type="hidden" name="id_join_table" value="{$pengguna.JOIN_TABLE}" /> -->
<table>
    <tr>
        <th colspan="2">Detail Kelompok MK Setara</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>{$mk_penyetaraan.ID_MK_PENYETARAAN}</td>
    </tr>
    <tr>
        <td>Nama Kelompok MK Setara</td>
        <td><input class="form-control" id="nm_mk_penyetaraan" type="text" name="nm_mk_penyetaraan" value="{$mk_penyetaraan.NM_MK_PENYETARAAN}" size="75" />
        </td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <input type="submit" value="Simpan" />
        </td>
    </tr>
</table>
</form>

<a href="penyetaraan-mk-master.php">Kembali</a>