<div class="center_title_bar">Penetapan SNMPTN</div>

<style>
	.dipindah td { background-color: yellow; }
</style>

<form action="snmptn-penetapan3.php" method="get" id="filter">
<table>
    <tr>
        <td>Program Studi</td>
        <td>
            <select name="id_program_studi" onchange="$('#filter').submit();">
                <option value="">--</option>
            {foreach $program_studi_set as $ps}
                <option value="{$ps.ID_PROGRAM_STUDI}" {if $smarty.get.id_program_studi == $ps.ID_PROGRAM_STUDI}selected="selected"{/if}>{$ps.NM_JENJANG} {$ps.NM_PROGRAM_STUDI}</option>
            {/foreach}
            </select>
        </td>
    </tr>
</table>
</form>

{if !empty($cmb_set)}
<table>
    <tr>
        <th>No</th>
        <th>No Ujian</th>
        <th>Nama</th>
        <th>Skor</th>
        <th></th>
    </tr>
    {foreach $cmb_set as $cmb}
    <tr 
        {if $smarty.get.id_program_studi == 95 || $smarty.get.id_program_studi == 147 || $smarty.get.id_program_studi == 139}
            {if $cmb.ID_PILIHAN_1 != $cmb.ID_PILIHAN_PINDAH}class="dipindah"{/if}
        {/if}>
        <td class="center">{$cmb@index + 1}</td>
        <td><a href="snmptn-pm.php?no_ujian={$cmb.NO_UJIAN}">{$cmb.NO_UJIAN}</a></td>
        <td>{$cmb.NM_C_MHS}</td>
        <td class="center">{number_format($cmb.NILAI_TOTAL,2)}</td>
        <td>{$cmb.NM_SEKOLAH}</td>
    </tr>
    {/foreach}
</table>
{/if}
