<span style="margin-left: 20px"> </span>Navigation : <a href="#{$modul.NM_MODUL}!{$modul.PAGE}">{$modul.TITLE}</a> {if $menu}/ <a href="#{$modul.NM_MODUL}-{$menu.NM_MENU}!{$menu.PAGE}">{$menu.TITLE}</a>{/if}