<div class="center_title_bar">PORTAL LINK</div>

<form action="portal-link.php" method="post">
	<table  class="ui-widget">
		<tr class="ui-widget-header">
			<th>LINK</th>
			<th>LABEL</th>
			<th>AKSI</th>
		</tr>
		<tr>
			<td>
				<i>Contoh : http://unair.ac.id </i>
				<br />
				<input style="width:300px;" type="text"  name="link" id="link" />
			</td>
			<td>
				<br />
				<input type="text"  name="label" id="label" />
			</td>
			<td>
				<br />
				<input class="button" type="submit" value="Tambah"/>
			</td>
		</tr>
	</table>
</form>