<div class="center_title_bar">PORTAL LINK</div>

<form action="portal-link.php" method="post">
	<table class="ui-widget">
		<tr class="ui-widget-header">
			<th >NO.</th>
			<th>LINK</th>
			<th>LABEL</th>
			<th>AKSI</th>
		</tr>
		{foreach $link as $data}
		<tr>
			<td>
				{$p@index + 1}
			</td>
			<td>
				<input type="hidden" value="{$data.ID_PORTAL_LINK}" name="id" id="link" />
				<input type="text" value="{$data.LINK}" name="link" id="link" />
			</td>
			<td>
				<input type="text" value="{$data.LABEL}" name="label" id="label" />
			</td>
			<td>
				<input class="button" type="submit" value="Update"/>
			</td>
		</tr>
		{/foreach}
	</table>
</form>

{literal}
    <script type="text/javascript">
        //$('form').validate();
    </script>
{/literal}