<div class="center_title_bar">PORTAL LINK</div>

<table class="ui-widget">
	<tr class="ui-widget-header">
		<th >NO.</th>
		<th>LINK</th>
		<th>LABEL</th>
		<th>AKSI</th>
	</tr>
	{foreach $link as $data}
	<tr>
		<td>
			{$p@index + 1}
		</td>
		<td>
			{$data.LINK}
		</td>
		<td>{$data.LABEL}</td>
		<td>
			<a href="portal-link.php?id={$data.ID_PORTAL_LINK}&action=edit">EDIT</a> | 
			<a href="portal-link.php?id={$data.ID_PORTAL_LINK}&action=delete">DELETE</a>
		</td>
	</tr>
	{/foreach}
	<tr>
		<td colspan="4">
			<center><a href="portal-link.php?action=tambah">Tambah</a></center>
		</td>
	</tr>
</table>