<div class="center_title_bar">Jadwal Tes Kesehatan - Detail Ruangan</div>

<table>
    <tr>
        <th>Nama Ruang</th>
        <th>Kapasitas</th>
    </tr>
    <tr>
        <td>{$data_ruang_kesehatan['NM_RUANG']}</td>
        <td>{$data_ruang_kesehatan['KAPASITAS']}</td>
    </tr>
    
</table>

<button href="kesehatan-jadwal.php">Kembali</button>