<div class="center_title_bar">PENGAJUAN STATUS MAHASISWA</div>
{* 

        <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
    	</div>
        <div class="tab_bdr"></div>
    <div class="panel" id="panel1" style="display: {$disp1}">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="left_menu">
          <td bgcolor="#333333"><font color="#FFFFFF">Nim Mhs </font></td>
          <td bgcolor="#333333"><font color="#FFFFFF">Nama Mhs</font></td>
          <td bgcolor="#333333"><font color="#FFFFFF">Prodi</font></td>
          <td bgcolor="#333333"><font color="#FFFFFF">Status AKD</font> </td>
		  <td bgcolor="#333333"><font color="#FFFFFF">Lama</font> </td>
		  <td bgcolor="#333333"><font color="#FFFFFF">TGL Usulan</font></td>
          <td bgcolor="#333333"><font color="#FFFFFF"> Aksi</font></td>
        </tr>
		{foreach item="datamhs" from=$T_STATUS1}
		
        <tr>
          <td >{$datamhs.NIM_MHS}</td>
          <td >{$datamhs.NM_PENGGUNA}</td>
		  <td >{$datamhs.PRODI}</td>
          <td >{$datamhs.NM_STATUS_PENGGUNA}</td>
		  <td >{$datamhs.KURUN_WAKTU}</td>
          <td >{$datamhs.TGL_USULAN}</td>
          <td ><a href="admisi.php?action=del&id_admisi={$datamhs.ID_ADMISI}">Delete</a>  
        </tr>
         {foreachelse}
        <tr><td colspan="11"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
      </table>
	  <p>&nbsp;</p>
</div>
		
<div class="panel" id="panel2" style="display: {$disp2}"><br>
				<form action="admisi.php" method="post">	
				  <table class="tb_frame" width="70%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="28%">NIM</td>
					  <td width="1%">:</td>
					  <td><input type="text" name="nim" value="{$nim_mhs}">
                      <input type="submit" name="cari" value="Cari" /></td>
					</tr>
				</table>
				</form>
				
				
                   {if isset($nim_mhs)}
                    <form action="admisi.php" method="post" name="admisi" id="admisi" >
						 <input type="hidden" name="action" value="add" >
                         <input type="hidden" name="nim" value="{$nim_mhs}" />
					<table>
                    <tr>
					  <td width="28%">Nama</td>
					  <td width="1%">:</td>
					  <td>{$nm_pengguna}</td>
					</tr>
					<tr>
					  <td>Status Saat ini</td>
					  <td>:</td>
					   <td> {$nm_status_pengguna}</td>
				    </tr>
                    <tr>
					  <td>Status Pengajuan </td>
					  <td>:</td>
					   <td><select name="sta">
    		   			<option value=''>-- Status Akademik --</option>
				   		{foreach item="sta" from=$T_STAKD}
    		   			{html_options  values=$sta.ID_STATUS_PENGGUNA output=$sta.NM_STATUS_PENGGUNA}
	 		  			 {/foreach}
			   		 </select></td>
				    </tr>
					<tr>
					  <td>Semester </td>
					  <td>:</td>
					  <td><select name="smt">
    		   			<option value=''>-- PILIH THN AKD --</option>
				   		{foreach item="smt" from=$T_ST}
    		   			{html_options  values=$smt.ID_SEMESTER output=$smt.SMT selected=$smtaktif}
	 		  			 {/foreach}
			   		 </select> </td>
				    </tr>
					<tr>
					  <td>Kurun Waktu </td>
					  <td>:</td>
					  <td>
                      <select name="kurun_waktu">
    		   			<option value=""> </option>
                        <option value='1'>1 Semester</option>
						<option value='2'>2 Semester</option>
			   		 </select></td>
				    </tr>
					<tr>
					  <td>Alasan </td>
					  <td>:</td>
					  <td><textarea name="alasan" cols="50" rows="4"></textarea></td>
					</tr>
					<tr>
					  <td>Aksi</td>
					  <td>:</td>
					  <td><input type="submit" name="Proses" value="Proses" /></td>
					</tr>
				  </table>
					</form>
					 {/if}
                  <font color="#FF0000">{$error}</font>
 			 
</div>
<script>$('form').validate();</script>
*}
