<div class="center_title_bar">KRS</div>

<form action="akademik-krs.php" method="post" name="mhs_krs" id="mhs_krs">
		 <input type="hidden" name="action" value="krs" >
		
           <tr>
					  <td>Nim Mahasiswa </td>
					  <td>:</td>
					  <td><input type="text" name="nim"></td>
					  <td><input type="submit" name="cari1" value="Proses"></td>
				    </tr>
		   

</form>	


<div id="tabs">
	<div id="tab1" class="tab_sel" align="center" onClick="javascript: displayPanel('1');">Penawaran MA</div>
	<div id="tab2" class="tab" style="margin-left:1px;" align="center" onClick="javascript: displayPanel('2');">MA Terambil</div>
	
</div>
             
<div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: block">
<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
             <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
			 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">KLS</font></td>
             <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Hari</font></td>
			 <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Jam</font></td>
			 <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           <tbody id="tableBody">
		<tr>
           {foreach name=test item="list" from=$KRS}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
             <td>{$list.KREDIT_SEMESTER}</td>
			 <td>{$list.NAMA_KELAS}</td>
             <td>{$list.NM_JADWAL_HARI}</td>
			 <td>{$list.NM_JADWAL_JAM}</td>
             <td align="center"><a href="akademik-krs.php?action=krs&status=masuk&id_mk={$list.ID_KELAS_MK}&sks={$list.KREDIT_SEMESTER}&id_mhs={IDMHS}">Insert</a>
             </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>
</div>




<div class="panel" id="panel2" style="display: none">
<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
             <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
			 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">KLS</font></td>
             <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Hari</font></td>
			 <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Jam</font></td>
			 <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           <tbody id="tableBody">
            <tr>
           {foreach name=test item="list" from=$KRSAMBIL}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
             <td>{$list.KREDIT_SEMESTER}</td>
            <td>{$list.NAMA_KELAS}</td>
             <td>{$list.NM_JADWAL_HARI}</td>
	    <td>{$list.NM_JADWAL_JAM}</td>
             <td align="center"><a href="akademik-krs.php?action=krs&status=del&id_mk={$list.ID_PENGAMBILAN_MK}">Delete</a>
             </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>

</div>
{literal}
 <script>$('form').validate();</script>
{/literal}
		
		
