
<div class="center_title_bar">Distribusi Khusus</div>
<div id="selected-tab" value="{$var}"></div>
  {literal}
  <style>
	table td {padding:8px}
	input, select{
	height:25px;
}
  </style>
  <script>
		$('.chosen-select').chosen();
        $( "#tabs" ).tabs({ selected: $('#selected-tab').attr("value") });
  </script>
  {/literal}

<div id="tabs" style='font-family:arial'>
<ul>
<li><a href="#tabs-1">Rincian</a></li>
<li><a href="#tabs-2">Granted To</a></li>
</ul>

<div id="tabs-1">
<table width="100%" class="tableabout">
  <tr>
    <th width="5%" bgcolor="green">No</th>
    <th width="10%">Nomer Surat</th>
    <th width="10%">Sifat</th>
	<th width="15%">Perihal</th>
	<th width="10%">Pengirim</th>
	<th width="10%">Penerima</th>
	<th width="6%">file</th>
	<th width="6%">Aksi</th>
  </tr>
									
 {foreach name=test item="list" from=$rektor}
	<td>{$smarty.foreach.test.iteration}
	</td>
	<td>{$list.NOMOR_SURAT}[{$list.TGL_TERIMA}]</td>
	<td>{$list.NM_JENIS_NASKAH_DINAS}/{$list.NM_SIFAT_SURAT}/{$list.NM_DERAJAT_SURAT}</td>
	<td>{$list.PERIHAL}</td>
	<td>{$list.PENGIRIM}</td>
	<td>{$list.PENERIMA}</td>
	<td>{$list.FILE_DIR}</td>
	<td><input name="Button" type="button" class="button" onClick="location.href='#surat_masuk-distribusi_lantai4!ar_dis_surat_khusus.php?action=granted&id_inbox={$list.ID_INBOX}';disableButtons()" onMouseOver="window.status='Click Granted';return true" onMouseOut="window.status='Granted'" value="Granted" />
	{if $list.STATUS=='U'}
		<img src="ev-blue.png" alt="" width="100" height="60" />
	{else}
		<img src="ev-yelow.png" alt="" width="100" height="60" />
	{/if}
	</td>
  </tr>
     {foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>
</div>
 
<div id="tabs-2">
<form method = "post" name = "ar_dis_surat_khusus" id="ar_dis_surat_khusus" action="ar_dis_surat_khusus.php">
<input type = "hidden" name = "action" value = "proses_granted" />
<input type = "hidden" name = "id_inbox" value = "{$id_inbox}" />
<table cellspacing = "2" cellpadding = "2" border = "0">

		<tr>
			<td width="20%">Hak Akses Diberikan Kepada</td>
			<td width="1%">:</td>
			<td>
			  <select class="chosen-select" multiple style="width:500px;" tabindex="4" name="id_granted" data-placeholder="Pilih Unit Kerja..." >
                    {foreach item="jabatan" from=$T_KOREKTOR}
                        {html_options values=$jabatan.ID_MANAJEMEN_USER output=$jabatan.KOREKTOR}
                    {/foreach}
              </select>    
			</td>
		</tr>

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type = "submit" name = "submit" Value = "Granted" /></td>
        </tr>
</table>
</form>
<p><br/>&nbsp;</p>
</div>

</div>



