Navigation : <a href="#{$modul.NM_MODUL}!{$modul.PAGE}">{$modul.TITLE}</a> {if isset($menu)}/ <a href="#{$modul.NM_MODUL}-{$menu.NM_MENU}!{$menu.PAGE}">{$menu.TITLE}</a>{/if}
<script>
var lukman=0;
$.get('/isloggedin.php', function(data) {
  if(data=='1'){
  		lukman=1;
	}
	else{
		alert('Maaf, Sesi login anda telah habis. Silahkan melakukan login ulang. Terimakasih.');
		location.href="/logout.php";
	}
});
</script>