<div class="center_title_bar">Buka Tutup KPRS</div>  
	  <table border="0" cellspacing="0" cellpadding="0" style="width:800px">
        <tr class="left_menu">
          <td width="60%" bgcolor="#333333"><font color="#FFFFFF">Program Studi</font></td>
          <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Status</font></td>
          <td width="25%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font> </td>
        </tr>
		{foreach item="butu" from=$BUTU}
        <tr>
          <td>{$butu.PRODI}</td>
          <td>{$butu.STATUS}</td>
          <td><a href="buka-tutup-kprs.php?action=update&idprodi={$butu.ID_PROGRAM_STUDI}&status=3">Buka</a> | <a href="buka-tutup-kprs.php?action=update&idprodi={$butu.ID_PROGRAM_STUDI}&status=4">Tutup</a> </td>
        </tr>
         {foreachelse}
        <tr><td colspan="3"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
      </table>
