<div class="center_title_bar">Transkrip Nilai {foreach item="list1" from=$MHS}{$list1.NM_MHS} {/foreach} </div>
<p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
<form action="cek_wajib_bebas.php" method="post" name="id_transkrip" id="id_transkrip">
<input type="hidden" name="action" value="view" >
NIM : <input type="text" name="nim" value="{$NIMX}">&nbsp;&nbsp;&nbsp;<input type="submit" name="View" value="View">
{if $NIMX != ''}
&nbsp;&nbsp;&nbsp;<input type="button" name="cetak" value="Cetak" onclick="window.open('proses/cekwajibbebas-cetak.php?cetak={$NIMX}','baru');">
</form>
		</td>
	</tr>
</table>
</p>
{foreach item="list0" from=$T_MHS}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td>NIM</td>
			 <td>:</td>
			 <td>{$list0.NIM_MHS}</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>Nomor Ijasah</td>
			 <td>:</td>
			 <td></td>
           <tr>
             <td>Nama Mahasiswa</td>
			 <td>:</td>
			 <td>{$list0.NM_PENGGUNA}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>Tanggal Lulus</td>
			 <td>:</td>
			 <td></td>
           </tr>
           <tr>
             <td>Program Studi</td>
			 <td>:</td>
			 <td>{$list0.NM_JENJANG} {$list0.NM_PROGRAM_STUDI}</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>Status</td>
			 <td>:</td>
			 <td></td>
           </tr>
</table>
{/foreach}

<table width="100%" cellspacing="1" cellpadding="0" border="0">
		<tr>
			 <td width="7%"><center><b>Kode</b></center></td>
			 <td width="20%"><center><b>Nama MA</b></center></td>
             <td width="7%"><center><b>SKS</b></center></td>
			 <td width="7%"><center><b>Nilai</b></center></td>
			 <td width="7%"><center><b>Thn Kur</b></center></td>
			 <td width="30%"><center><b>Status_MA</b></center></td>
         </tr>
		 {foreach item="rkp" from=$T_REKAP}
		 {foreach item="detail" from=$T_MK}
		 {if $detail.NM_STATUS_MK==$rkp.NM_STATUS_MK}
		 <tr>
			 <td>{$detail.KD_MATA_KULIAH}</td>
			 <td>{$detail.NM_MATA_KULIAH}</td>
             <td>{$detail.KREDIT_SEMESTER}</td>
			 <td>{$detail.NILAI}</td>
			 <td>{$detail.TAHUN_KURIKULUM}</td>
			 <td>{$detail.NM_STATUS_MK}</td>
         </tr>
		 {/if}
		 {/foreach}
		 <tr>
			 <td colspan="2" style="text-align:right;"><b>Sub Total SKS</b>&nbsp;&nbsp;&nbsp;</td>
			 <td><center><b>{$rkp.TTLSKS}</b></center></td>
			 <td colspan="4" style="text-align:right;"><b></b>&nbsp;&nbsp;&nbsp;</td>
         </tr>
		 {/foreach}
		
		{foreach item="footer" from=$T_IPK}
           <tr>
             <td colspan="2" style="text-align:right;"><b>Total SKS dan Bobot</b>&nbsp;&nbsp;&nbsp;</td>
             <td><center><b>{$footer.SKS_TOTAL}</b></center></td>
			 <td></td>
			 <td><center><b>{$footer.BOBOT_TOTAL}</b></center></td>
           </tr>
           <tr>
			 <td colspan="2" style="text-align:right;"><b>Indeks Prestasi Kumulatif</b>&nbsp;&nbsp;&nbsp;</td>
             <td colspan="2"><center><b>{$footer.IPK}</b></center></td>
           </tr>
        {/foreach}
</table>
{/if}

