   <div class="center_title_bar">Daftar Mata Kuliah </div>  
<form action="daftarmk.php?kirim=view" method="post" name="id_daftarmk" id="id_daftarmk">
<table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td>
			 	Prodi : 
                <select name="kdprodi">
    		   <option value=''>-- PRODI --</option>
	 		   {foreach item="list" from=$T_PRODI}
    		   {html_options  values=$list.ID_PROGRAM_STUDI output=$list.PRODI selected=$DFT}
	 		   {/foreach}
			   </select>
			 	Tahun Kurikulum : 
                <select name="thkur">
    		   <option value=''>-- THN KUR --</option>
	 		   {foreach item="list" from=$T_KUR}
    		   {html_options  values=$list.ID_KURIKULUM_PRODI output=$list.NAMA selected=$ID_KUR}
	 		   {/foreach}
			   </select>
			   <input type="submit" name="View" value="View">
		     </td> 
           </tr>
</table>
</form>	


<table width="81%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="3%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kurikulum</font></td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kode MK </font></td>
             <td width="36%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
             <td width="6%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
             <td width="16%" bgcolor="#333333"><font color="#FFFFFF">Status MK </font></td>
             <td width="19%" bgcolor="#333333"><font color="#FFFFFF">Prasyarat</font></td>
           </tr>
		   {foreach name=test item="list" from=$T_MK}
           <tr>
             <td >{$smarty.foreach.test.iteration}</td>
             <td >{$list.TAHUN_KURIKULUM}</td>
             <td >{$list.KD_MATA_KULIAH}</td>
             <td >{$list.NM_MATA_KULIAH}</td>
             <td >{$list.KREDIT_SEMESTER}</td>
             <td >{$list.NM_STATUS}</td>
             <td ></td>
           </tr>
            {foreachelse}
        <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>

		
   