   		<div class="center_title_bar">Penetapan Dosen Wali </div>  
		 <br />
		 <table class="tb_frame" width="47%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td colspan="3">Mahasiswa yang belum mendapatkan dosen wali</td>
           </tr>
           <tr>
             <td width="79">Prodi</td>
             <td width="3">:</td>
             <td width="240"><select name="select">
                 <option>Program Studi</option>
             </select></td>
           </tr>
           <tr>
             <td width="79">Dosen Aktif </td>
             <td width="3">:</td>
             <td width="240"><select name="select">
                 <option>Dosen</option>
             </select></td>
           </tr>
         </table>
		 <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Input</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Lihat Penetapan</div>
    	</div>
        <div class="tab_bdr"></div>
        <div class="panel" id="panel1" style="display: block">    
			<table width="80%" border="0" cellspacing="0" cellpadding="0">
			   <tr bgcolor="#000000">
				 <td width="22%"><font color="#FFFFFF">NIM</font></td>
				 <td width="66%"><font color="#FFFFFF">Nama Mahasiswa </font> </td>
				 <td width="12%"><font color="#FFFFFF">Pilih</font></td>
			  </tr>
			   <tr>
				 <td >080600123456</td>
				 <td >AGUNG HIDAYAT </td>
				 <td ><input type="checkbox" name="checkbox" value="checkbox" /></td>
			   </tr>
			   <tr>
				 <td >080600123456</td>
				 <td >SURYA PRATAMA </td>
				 <td ><input type="checkbox" name="checkbox" value="checkbox" /></td>
			   </tr>
			   <tr>
				 <td >080600123456</td>
				 <td >INDAH PRATIWI</td>
				 <td ><input type="checkbox" name="checkbox" value="checkbox" /></td>
			   </tr>
			</table>		 
			<div><input type="submit" name="Submit" value="Simpan" /></div>
			<br /><br />
	</div>
		
        <div class="panel" id="panel2" style="display: none">		
	    <table width="80%" border="0" cellspacing="0" cellpadding="0">
			   <tr bgcolor="#000000">
				 <td width="22%"><font color="#FFFFFF">NIM</font></td>
				 <td width="66%"><font color="#FFFFFF">Nama Mahasiswa </font> </td>
			  </tr>
			   <tr>
				 <td >080600123456</td>
				 <td >Anik Pratiwi</td>
			   </tr>
			   <tr>
				 <td >080600123456</td>
				 <td >Surya Darmawangsa</td>
			   </tr>
			   <tr>
				 <td >080600123456</td>
				 <td >Agung Laksono</td>
			   </tr>
		  </table>	
</div>   