   		<div class="center_title_bar">Dosen Tanpa Perwalian (Untuk aktivitas Mata Kuliah) </div>  
        <table class="tb_dosen" width="85%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>Pilihan Pencarian:
                <select name="select">
                  <option>NIK / NIP</option>
                  <option>Nama Dosen</option>
                </select>
      Kata Kunci :
      <input type="text" name="textfield" />
      <a href="#">Search</a> </td>
          </tr>
    </table>
	    <br>
	    Dosen yang belum mendapatkan bimbingan <br>
	    <table width="80%" border="0" cellspacing="0" cellpadding="0">
          <tr class="left_menu">
            <td width="30%" bgcolor="#333333"><font color="#FFFFFF">NIK / NIP </font></td>
            <td width="40%" bgcolor="#333333"><font color="#FFFFFF">Nama Dosen </font> </td>
            <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Program Studi</font> </td>
            <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Set</font> </td>
          </tr>
          <tr>
            <td >1234567 89123 4 5679</td>
            <td >Budi Prakoso, S.Si., M.Kes.</td>
            <td >S1 Fisika</td>
            <td ><input name="radiobutton" type="radio" value="radiobutton" checked></td>
          </tr>
          <tr>
            <td >1234567 89123 4 5678</td>
            <td >Muhammad Toni, SE., M.Sc</td>
            <td >S1 Fisika</td>
            <td ><input name="radiobutton" type="radio" value="radiobutton"></td>
          </tr>
        </table>
	    <br>
	    Mahasiswa yang mengambil tugas akhir <br>
	    <table width="80%" border="0" cellspacing="0" cellpadding="0">
          <tr class="left_menu">
            <td bgcolor="#333333"><font color="#FFFFFF">NIM </font></td>
            <td bgcolor="#333333"><font color="#FFFFFF">Nama Mahasiswa </font> </td>
            <td bgcolor="#333333"><font color="#FFFFFF">Program Studi</font> </td>
            <td bgcolor="#333333"><font color="#FFFFFF">Set</font> </td>
          </tr>
          <tr>
            <td width="22%" >080600123456</td>
            <td width="42%" >AGUNG HIDAYAT </td>
            <td width="23%" >S1 Fisika</td>
            <td width="13%" ><input type="checkbox" name="checkbox" value="checkbox" /></td>
          </tr>
          <tr>
            <td >080600123456</td>
            <td >SURYA PRATAMA </td>
            <td >S1 Fisika</td>
            <td ><input type="checkbox" name="checkbox" value="checkbox" /></td>
          </tr>
          <tr>
            <td >080600123456</td>
            <td >INDAH PRATIWI</td>
            <td >S1 Fisika</td>
            <td ><input type="checkbox" name="checkbox" value="checkbox" /></td>
          </tr>
        </table>
	    <br>
	    <input type="submit" name="Submit" value="Simpan" />
