<div class="center_title_bar">DROP NILAI MAHASISWA </div>
<form action="drop-nilai.php" method="post" name="mhs_krs" id="mhs_krs">
		 <input type="hidden" name="action" value="krs" >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr>
					  <td>Nim Mahasiswa </td>
					  <td>:</td>
					  <td><input type="text" name="nim" value="{if !empty($smarty.post.nim)}{$smarty.post.nim}{/if}"></td>
					  <td><input type="submit" name="cari1" value="Proses"></td>
		   </tr>
</table>
</form>

<table width="80%" border="0" cellspacing="0" cellpadding="0">
{foreach name=test item="list" from=$T_DATAMHS}
					<tr>
					  <td width="19%">NIM</td>
					  <td width="1%">:</td>
					  <td width="80%">{$list.NIM_MHS}</td>
					</tr>
					<tr>
					  <td>NAMA </td>
					  <td>:</td>
					  <td>{$list.NM_PENGGUNA}</td>
				    </tr>
					<tr>
					  <td>PRODI </td>
					  <td>:</td>
					  <td>{$list.PRODI}</td>
				    </tr>

					<tr>
					  <td>SKS TOTAL </td>
					  <td>:</td>
					  <td>{$list.SKSTOTAL}</td>
				    </tr>
					<tr>
					  <td>IPK </td>
					  <td>:</td>
					  <td>{$list.IPK}</td>
				    </tr>					
{/foreach}
</table>

<div id="tabs">
	<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
	<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">NILAI-DROP</div>
</div>

<div class="panel" id="panel1" style="display: {$disp1} ">
<p> </p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr class="left_menu" align="center">
         <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
		 <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Semester</font></td>
         <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
         <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
         <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
	     <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Nilai</font></td>
	     <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
        </tr>
          {foreach name=test item="list" from=$T_NILAI}
		
        <tr>
          <td >{$smarty.foreach.test.iteration}</td>
          <td >{$list.SMT}</td>
		  <td >{$list.KD_MATA_KULIAH}</td>
          <td >{$list.NM_MATA_KULIAH}</td>
          <td >{$list.KREDIT_SEMESTER}</td>
		  <td >{$list.NILAI_HURUF}</td>
		  <td height="0" align="center">
		  	<form action="drop-nilai.php" method="post">
				<input type="hidden" name="action" value="drop" >
				<input type="hidden" name="id_peng_mk" value="{$list.ID_PENGAMBILAN_MK}" >
				<input type="submit" value="DROP-NILAI" />
		  		<!-- <input name="Button" type="button" class="button" onClick="location.href='#utility-KRS!drop-nilai.php?action=drop&id_peng_mk={$list.ID_PENGAMBILAN_MK}&nim={$nim}';disableButtons()" onMouseOver="window.status='Click untuk Drop Nilai';return true" onMouseOut="window.status='Drop NIlai'" value="DROP-NILAI" />  -->
			</form>
		  </td> 
        </tr>
         {foreachelse}
        <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>
</div>

<div class="panel" id="panel2" style="display: {$disp2} ">
<p> </p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr class="left_menu" align="center">
         <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
		 <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Semester</font></td>
         <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
         <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
         <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
	     <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Nilai</font></td>
         <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Keterangan</font></td>
	     <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
        </tr>
          {foreach name=test item="list" from=$T_DROP}
		
        <tr>
          <td >{$smarty.foreach.test.iteration}</td>
          <td >{$list.SMT}</td>
		  <td >{$list.KD_MATA_KULIAH}</td>
          <td >{$list.NM_MATA_KULIAH}</td>
          <td >{$list.KREDIT_SEMESTER}</td>
		  <td >{$list.NILAI_HURUF}</td>
          <td >{$list.KETERANGAN}</td>
		  <td height="0" align="center">
		  <form action="drop-nilai.php" method="post">
				<input type="hidden" name="action" value="batal" >
				<input type="hidden" name="id_peng_mk" value="{$list.ID_PENGAMBILAN_MK}" >
				<input type="submit" value="BATAL" />
		  </form>
		  <form action="drop-nilai.php" method="post">
				<input type="hidden" name="action" value="drop-krs" >
				<input type="hidden" name="id_peng_mk" value="{$list.ID_PENGAMBILAN_MK}" >
				<input type="hidden" name="id_kelas_mk" value="{$list.ID_KELAS_MK}" >
				<input type="hidden" name="id_mhs" value="{$list.ID_MHS}" >
				<input type="hidden" name="id_semester" value="{$list.ID_SEMESTER}" >
				<input type="hidden" name="tgl_ubah" value="{$list.TGL_UBAH}" >
				<input type="hidden" name="id_kurikulum_mk" value="{$list.ID_KURIKULUM_MK}" >
				<input type="submit" style="color:red" value="HAPUS-KRS" />
		  </form>
		  <!-- <input name="Button" type="button" class="button" onClick="location.href='#utility-KRS!drop-nilai.php?action=batal&id_peng_mk={$list.ID_PENGAMBILAN_MK}&nim={$nim}';disableButtons()" onMouseOver="window.status='Click untuk Batal Drop';return true" onMouseOut="window.status='BATAL'" value="BATAL" /> -->
		  </td>
        </tr>
         {foreachelse}
        <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>
</div>

<script>$('form').validate();</script>
