<div class="center_title_bar">DROP KRS MAHASISWA </div>
<form action="drop-krs-psikologi.php" method="post" name="mhs_krs" id="mhs_krs">
<input type="hidden" name="action" value="krs" >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
	  <td>Nim Mahasiswa </td>
	  <td>:</td>
	  <td><input type="text" name="nim"></td>
	  <td><input type="submit" name="cari1" value="Proses"></td>
   </tr>
</table>
</form>
{if $nim == ""}
{else}
<table width="100%">
	<tr>
	  <td>NIM</td>
	  <td>:</td>
	  <td>{$nim}</td>
	</tr>
	<tr>
	  <td>NAMA </td>
	  <td>:</td>
	  <td>{$nama}</td>
	</tr>
	<tr>
	  <td>PRODI </td>
	  <td>:</td>
	  <td>{$prodi}</td>
	</tr>
	<tr>
	  <td>IPS </td>
	  <td>:</td>
	  <td>{$ips}</td>
	</tr>
	<tr>
	  <td>IPK </td>
	  <td>:</td>
	  <td>{$ipk}</td>
	</tr>
	<tr>
	  <td>SKS TTL </td>
	  <td>:</td>
	  <td>{$ttl_sks}</td>
	</tr>

	<tr>
	  <td>Jatah SKS (Maks.)</td>
	  <td>:</td>
	  <td>{$sks_maks}</td>
	</tr>

</table>

<p> </p>
	<table width="100%" class="tablesorter">
		<thead>
		<tr>
			<th><center>No</center></th>
			<th><center>Kode</center></th>
			<th><center>Nama Mata Kuliah</center></th>
			<th><center>SKS</center></th>
			<th><center>KLS</center></th>
			<th><center>Hari</center></th>
			<th><center>Jam</center></th>
			<th><center>Status</center></th>
			<th><center>Aksi</center></th>
		</tr>
		</thead>
		<tbody>
         {foreach name=test item="list1" from=$T_AMBIL}
        <tr>
          <td><center>{$smarty.foreach.test.iteration}</center></td>
          <td><center>{$list1.KD_MATA_KULIAH}</center></td>
		  <td>{$list1.NM_MATA_KULIAH}</td>
          <td><center>{$list1.KREDIT_SEMESTER}<center></td>
          <td><center>{$list1.NAMA_KELAS}</center></td>
		  <td><center>{$list1.NM_JADWAL_HARI}</center></td>
          <td><center>{$list1.NM_JADWAL_JAM}</center></td>
		  <td><center>{$list1.STATUS}</center></td>
		  <td><center><input name="Button" type="button" class="button" onClick="location.href='#utility-KRS!drop-krs-psikologi.php?action=del&idpmk={$list1.ID_PENGAMBILAN_MK}&nim={$nim}';disableButtons()" onMouseOver="window.status='Click untuk Delete';return true" onMouseOut="window.status='Delete KRS'" value="Delete" /></center></td>
        </tr>
         {foreachelse}
        <tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
		</tbody>
		<tr>
		<td colspan="3"  align="right"><em>Total SKS Disetujui</em></td>
          <td><center>{$sksdisetujui}</center></td>
		  <td colspan="7"><em></em></td>
		</tr>
      </table>
{/if}

