  
   <div class="center_title_bar">Status Mahasiswa </div>  
     <table width="80%" border="1">
       <tr>
         <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td width="135">Tahun Akademik</td>
               <td width="10">:</td>
               <td width="239"><select name="smt">
    		   <option value=''>-- PILIH THN AKD --</option>
	 		   {foreach item="smt" from=$T_ST}
    		   {html_options  values=$smt.ID_SEMESTER output=$smt.SMT}
	 		   {/foreach}
			   </select>               </td>
             </tr>
			 <tr>
               <td>NIM</td>
               <td>:</td>
               <td><input name="nim" type="text"></td>
             </tr>
           </table>
             <p>
               <input type="submit" name="Submit" value="Preview">
           </p></td>
       </tr> 
</table> 
 <br />
  <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>
    	</div>
        <div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: {$disp1} ">
        
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="left_menu">
                <td width="2%" align="center"  bgcolor="#333333"><font color="#FFFFFF">No</font></td>
                <td width="7%" align="center"  bgcolor="#333333"><font color="#FFFFFF">KD MK</font></td>
                <td width="23%" align="center"  bgcolor="#333333"><font color="#FFFFFF">Nama MK </font></td>
                <td width="4%" align="center" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
                <td width="5%" align="center" bgcolor="#333333"><font color="#FFFFFF">Kelas</font></td>
                <td width="11%" align="center" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
              </tr>
              
              <tr>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td ><a href="jadwal-akademik.php?action=tampil&amp;id_jsf={$jaf.ID_JSF}&amp;id_smt={$jaf.ID_SEMESTER}" onclick="displayPanel('3')">Update</a> | <a href="jadwal-akademik.php?action=del&amp;id_jsf={$jaf.ID_JSF}&amp;id_smt={$jaf.ID_SEMESTER}">Delete</a></td>
              </tr>
           
            <br></td>
          </tr>
  </table>
</div>

<div class="panel" id="panel2" style="display: {$disp2}">
			<form action="jadwal-akademik.php" method="post" name="id_jad_akd1" id="id_jad_akd1">
		    <input type="hidden" name="action" value="add" >
			 <input type="hidden" name="smt1" value="{$idsmt}" >	
	      <table width="100%" border="1">
            <tr>
			 
              <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30%">Kode Mata Kuliah </td>
                    <td width="2%">:</td>
					<td width="68%"><input type="text" name="calawal2" value="Isikan Tanggal" id="calawal2" maxlength="25" size="25" /></td>
                  </tr>
                  <tr>
                    <td>Kelas Mata Kuliah </td>
					
					 <td>:</td>
                    <td><input type="Text" name="calawal" value="Isikan Tanggal" id="calawal" maxlength="25" size="25"></td>
                  </tr>
            
                </table>
                  <p>
                    <input type="submit" name="Submit" value="Tambah">
                </p></td>
            </tr>
          </table>
</form>		    
	      <br>
        </div>
		
		<div class="panel" id="panel3" style="display: {$disp3}">
		<form action="jadwal-akademik.php" method="post" >
		 <input type="hidden" name="action" value="update" >		
	      <table width="100%" border="1">
            <tr>
			
		  
              <td>
			  <table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30%">Kode Mata Kuliah </td>
                    <td width="3%">:</td>
                    <td width="67%"><input type="text" name="calawal2" value="Isikan Tanggal" id="calawal2" maxlength="25" size="25" /></td>
                  </tr>
                  <tr>
                    <td>Kelas Mata Kuliah</td>
                    <td>:</td>
                    <td><input type="text" name="calawal" value="Isikan Tanggal" id="calawal" maxlength="25" size="25" /></td>
                  </tr>
                </table>
			
                  <p>
                    <input type="submit" name="Submit" value="Update">
                </p></td>
            </tr>
          </table>
 </form>		    
	      <br>
        </div> 

    