<div class="center_title_bar">PROSES CEKAL OTOMATIS</div>  
		<div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Lihat</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">EDIT</div>
    	</div>
        <div class="tab_bdr"></div>
		<div class="panel" id="panel1" style="display: {$disp1} ">
<form action="entry-cekal-otomatis.php" method="post" >
<input type="hidden" name="action" value="proses" >	
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr bgcolor="#000">
				<td width="3%"><font color="#FFFFFF">No</font></td>
			     <td width="4%"><font color="#FFFFFF">Kode MA</font></td>
				 <td width="25%"><font color="#FFFFFF">Nama MA</font></td>
				 <td width="4%"><font color="#FFFFFF">Kelas</font></td>
				 <td width="10%"><font color="#FFFFFF">Nim</font></td>
				 <td width="20%"><font color="#FFFFFF">Nama Mhs</font></td>
				 <td width="4%"><font color="#FFFFFF">TM</font></td>
				 <td width="4%"><font color="#FFFFFF">Hadir</font></td>
				 <td width="4%"><font color="#FFFFFF">Prosen</font></td>
				 <td width="4%"><font color="#FFFFFF">Status</font></td>
				 <td width="4%"><font color="#FFFFFF">Cekal</font></td>
				</tr>
					{foreach name=test item="cekal" from=$DATA_CEKAL}
				<tr>
			     <td >{$smarty.foreach.test.iteration}</td>
				 <td >{$cekal.KD_MATA_KULIAH}</td>
				 <td >{$cekal.NM_MATA_KULIAH}</td>
				 <td >{$cekal.NAMA_KELAS}</td>
				 <td >{$cekal.NIM_MHS}</td>
				 <td >{$cekal.NM_PENGGUNA}</td>
				 <td >{$cekal.TM}</td>
				 <td >{$cekal.HADIR}</td>
				 <td >{$cekal.PROSEN}</td>
				 <td >{$cekal.STATUS}</td>
				 <td><input name="cekalmhs{$smarty.foreach.presen.iteration}" type="checkbox" value="{$cekal.ID_MHS}" {$cekal.TANDA}   /></td>
				</tr>
			     {foreachelse}
        			<tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        			{/foreach}
				<input type="hidden" name="counter" value="{$smarty.foreach.test.iteration}" >
				</table>
				<tr>	
				<td><div align="right"><input type="submit" name="proses" value="Proses"></div></td>
				</tr>
</form>
		</div>
		
<div class="panel" id="panel2" style="display: {$disp2}">
</div>
<script>$('form').validate();</script>      
