   <div class="center_title_bar">Entry Presensi</div>  
     <table width="80%" border="0" cellpadding="0" cellspacing="0">
       <tr>
       <td><table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td width="135">Kode Mata Kuliah </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="MK-0012"></td>
             </tr>
             <tr>
               <td>Tahun Ajaran </td>
               <td>:</td>
               <td><select name="select">
                   <option>2010/2011</option>
               </select></td>
             </tr>
             <tr>
               <td>Semester</td>
               <td>:</td>
               <td><select name="select">
                 <option>Gasal</option>
                              </select></td>
             </tr>
             <tr>
               <td>Kegiatan</td>
               <td>:</td>
               <td><select name="select">
                 <option>Kuliah</option>
                 <option>UTS</option>
                 <option>UAS</option>
                                             </select></td>
             </tr>
           </table>
             <p>
               <input type="submit" name="Submit" value="Preview">
             </p></td>
         </tr>
       </table>       
         <table class="tb_frame" width="70%" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td width="135">Nama Mata Kuliah </td>
             <td width="10">:</td>
             <td width="237">Jaringan</td>
           </tr>
           <tr>
             <td>Dosen PJMK </td>
             <td>:</td>
             <td>Ir. Herawati </td>
           </tr>
           <tr>
             <td>Jam</td>
             <td>:</td>
             <td>07:00 - 08-50 </td>
           </tr>
           <tr>
             <td>Ruang</td>
             <td>:</td>
             <td>R-301</td>
           </tr>
         </table>         
         <br>
		 <div id="tabs">
		<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Peserta MK</div>
		<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Dosen MK</div>
		</div>
		
         <div class="tab_bdr"></div>
    <div class="panel" id="panel1" style="display:{$disp1} "> 
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No.</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">NIM</font></td>
             <td width="21%" bgcolor="#333333"><font color="#FFFFFF">Nama Mahasiswa </font> </td>
             <td width="14%" bgcolor="#333333"><font color="#FFFFFF">Tgl ....... </font></td>
             <td width="14%" bgcolor="#333333"><font color="#FFFFFF">Tgl .......</font></td>
             <td width="13%" bgcolor="#333333"><font color="#FFFFFF">Tgl .......</font></td>
             <td width="13%" bgcolor="#333333"><font color="#FFFFFF">Tgl .......</font></td>
           </tr>
           <tr>
             <td >1</td>
             <td >0809123023</td>
             <td >Kurniawati Sularsih</td>
             <td ><select name="select2" id="select">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
             <td ><select name="select4" id="select3">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
             <td ><select name="select5" id="select4">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
             <td ><select name="select6" id="select5">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
           </tr>
           <tr>
             <td >2</td>
             <td >0809123024</td>
             <td >Putri Ayuningendi</td>
             <td ><select name="select3" id="select2">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
             <td ><select name="select7" id="select6">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
             <td ><select name="select8" id="select7">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
             <td ><select name="select9" id="select8">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>               <input type="checkbox" name="checkbox" value="checkbox"></td>
           </tr>
           <tr>
             <td >..</td>
             <td >...</td>
             <td >...</td>
             <td >...</td>
             <td >...</td>
             <td >...</td>
             <td >...</td>
           </tr>
         </table>
         <br>
		 </div>
		 
          <div class="panel" id="panel2" style="display:{$disp2} "> 
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No.</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">NIP</font></td>
             <td width="21%" bgcolor="#333333"><font color="#FFFFFF">Nama Dosen </font> </td>
             <td width="14%" bgcolor="#333333"><font color="#FFFFFF">Tgl ....... </font></td>
             <td width="14%" bgcolor="#333333"><font color="#FFFFFF">Tgl .......</font></td>
             <td width="13%" bgcolor="#333333"><font color="#FFFFFF">Tgl .......</font></td>
             <td width="13%" bgcolor="#333333"><font color="#FFFFFF">Tgl .......</font></td>
           </tr>
           <tr>
             <td >1</td>
             <td >123456 123456 1234 </td>
             <td >Drs. Kristanto, M.Si. </td>
             <td ><select name="select2" id="select">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
             <td ><select name="select4" id="select3">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
             <td ><select name="select5" id="select4">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
             <td ><select name="select6" id="select5">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
           </tr>
           <tr>
             <td >2</td>
             <td ><input type="text" name="textfield2" id="textfield" /></td>
             <td ><input type="text" name="textfield3" id="textfield2" /></td>
             <td ><select name="select3" id="select2">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
             <td ><select name="select7" id="select6">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
             <td ><select name="select8" id="select7">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
             <td ><select name="select9" id="select8">
               <option>Hadir</option>
               <option>Izin</option>
               <option>Sakit</option>
             </select>
               <input type="checkbox" name="checkbox" value="checkbox" /></td>
           </tr>
         </table>
                  <p>
           <input type="submit" name="Submit" value="Simpan">
         </p>
         <div class="panel" id="panel1" style="display: block"></div></td>
       </tr>
</table>
 </div>
		