   		<div class="center_title_bar">Master Gedung </div>  
        <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>
    	</div>
        <div class="tab_bdr"></div>
    <div class="panel" id="panel1" style="display: {$disp1}">    
	  <table class="tablesorter">
	  <thead>
        <tr>
          <th><center>Kode Gedung</center></th>
          <th><center>Nama Gedung</center></th>
          <th><center>Lokasi</center></th>
          <th><center>Deskripsi</center></th>
          <th><center>Aksi</center></th>
        </tr>
		</thead>
		<tbody>
		{foreach item="datagedung" from=$T_GEDUNG}
        <tr>
          <td >{$datagedung.KODE_GEDUNG}</td>
          <td >{$datagedung.NM_GEDUNG}</td>
          <td >{$datagedung.LOKASI_GEDUNG}</td>
          <td >{$datagedung.DESKRIPSI_GEDUNG}</td>
          <td >
		  <center>
		  <a href="gedung.php?action=tampil&idgedung={$datagedung.ID_GEDUNG}">Update</a> 
		  {*| <a href="gedung.php?action=del&kdgedung={$datagedung.KODE_GEDUNG}">Delete</a>*}
		  </center>
		  </td>
        </tr>
         {foreachelse}
        <tr><td colspan="5"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
		</tbody>
      </table>
</div>
		
<div class="panel" id="panel2" style="display: {$disp2}"><br>
	<form action="gedung.php" method="post" >
	 <input type="hidden" name="action" value="add" />
				  <table>
					<tr>
					  <td>Kode Gedung</td>
					  <td></td>
					  <td><input type="text" name="kdgedung"></td>
					</tr>
					<tr>
					  <td>Nama Gedung </td>
					  <td>&nbsp;</td>
					  <td><input type="text" name="nmgedung"></td>
				    </tr>
					<tr>
					  <td>Lokasi Gedung </td>
					  <td>&nbsp;</td>
					  <td><input type="text" name="lokasi"></td>
				    </tr>
					<tr>
					  <td>Deskripsi </td>
					  <td>&nbsp;</td>
					  <td><input type="text" name="deskripsi"></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Tambah"></td>
					</tr>
				  </table>
	  </form>
</div>
<div class="panel" id="panel3" style="display: {$disp3}"><br>
	<form action="gedung.php" method="post" >
	 <input type="hidden" name="action" value="update" />
				  <table>
					{foreach item="datagedung" from=$T_GEDUNG}
					{if $datagedung.ID_GEDUNG==$idgedung}
					<input type="hidden" name="id_gedung" value="{$datagedung.ID_GEDUNG}" />
					<tr>
					  <td>Kode Gedung</td>
					  <td></td>
					  <td><input type="text" name="kdgedung" class="required" value="{$datagedung.KODE_GEDUNG}"></td>
					</tr>
					<tr>
					  <td>Nama Gedung </td>
					  <td>&nbsp;</td>
					  <td><input type="text" name="nmgedung" class="required" value="{$datagedung.NM_GEDUNG}"></td>
				    </tr>
					<tr>
					  <td>Lokasi Gedung </td>
					  <td>&nbsp;</td>
					  <td><input type="text" name="lokasi" class="required" value="{$datagedung.LOKASI_GEDUNG}" ></td>
				    </tr>
					<tr>
					  <td>Deskripsi </td>
					  <td>&nbsp;</td>
					  <td><input type="text" name="deskripsi" class="required" value="{$datagedung.DESKRIPSI_GEDUNG}"></td>
				    </tr>
					{/if}

					{/foreach}
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="tambah" value="Update"></td>
					</tr>
				  </table>
	  </form>
</div>
<script>$('form').validate();</script>
