
<div class="center_title_bar">Historis IPS-SKS per Semester</div> 
<form action="historis-ips.php" method="post">
<input type="hidden" name="action" value="viewdetail" >
     <table width="100%" border="1">
        <tr>
               <td>NIM</td>
               <td>:</td>
               <td><input name="nim" type="text" value="{if !empty($smarty.post.nim)}{$smarty.post.nim}{/if}"></td>
			   <td><input type="submit" name="Submit" value="Tampil"></td>
        </tr>
	</table>
</form>	

<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
        	<td>NIM</td>
            <td>{$datamhs.NIM_MHS}</td>
        </tr>
		<tr>
        	<td>Nama Mhs</td>
            <td>{$datamhs.NM_PENGGUNA}</td>
        </tr>
		<tr>
        	<td>Prodi</td>
            <td>{$datamhs.PRODI}</td>
        </tr>
</table>
<p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
			 <td width="5%" bgcolor="#FFCC33"><center>No</center></td>
             <td width="10%" bgcolor="#FFCC33"><center>Thn Smt</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>IPS-SEM</center></td>
             <td width="5%" bgcolor="#FFCC33"><center>SKS-SEM</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>IPK</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>SKS-TTL</center></td>
		  </tr>
		  {for $foo=1 to $index}
				  {foreach name=test item="list" from=$NILAI{$foo}}
				  
					<tr>
					 <td>{$foo}</td>
					 <td>{$list.TAHUN}</td>
					 <td>{$list.IPS}</td>
					 <td>{$list.SKS_SEM}</td>
					 <td>{$list.IPK_MHS}</td>
					 <td>{$list.SKS_TOTAL_MHS}</td>
					</tr>
				  {/foreach}
		  {/for}
</table>
	
{literal}
			 <script>$('form').validate();</script>
{/literal}
    