   <div class="center_title_bar">Jadwal Ruang </div> 
   <form action="jadwal-ruang.php" method="post" >
	<input type="hidden" name="action" value="view" >  
  
         <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td>Hari</td>
               <td>:</td>
               <td><select name="hari">
                {foreach item="list" from=$T_HARI}
    		   {html_options  values=$list.ID_JADWAL_HARI output=$list.NM_JADWAL_HARI selected=$HRGET}
	 		   {/foreach}
			   </select></td>
			   <td><input type="submit" name="Submit" value="Preview"></td>
             </tr>
           </table>
</form>       
        
            <td>Jadwal Ruang <br>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="left_menu">
                <td width="10%" rowspan="2" bgcolor="#333333"><p><font color="#FFFFFF">Ruang</font></p>
                </td>
                <td colspan="10" bgcolor="#333333"><font color="#FFFFFF"><div align="center">Jam Ke -</div></font></td>
              </tr>
              <tr class="left_menu">
                <td width="10%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">1</div></font></td>
                <td width="10%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">2</div></font></td>
                <td width="10%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">3</div></font></td>
                <td width="10%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">4</div></font></td>
                <td width="10%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">5</div></font></td>

                
              </tr>
			  {foreach item="list" from=$T_RUANG}
              <tr>
                <td >{$list.NM_RUANGAN}</td>
				{foreach item="list1" from=$T_JADRUANG}
                {if $list1.ID_RUANGAN==$list.ID_RUANGAN && $list1.NM_JADWAL_JAM=='1'}
					{if $list1.NM_MK=='Kosong'}
						<td bgcolor="#009966"><div align="center">{$list1.NM_MK}</div></td>
					{else}
						<td bgcolor="#FFFF99">{$list1.NM_MK}</td>
					{/if}
				{/if}
				{if $list1.ID_RUANGAN==$list.ID_RUANGAN && $list1.NM_JADWAL_JAM=='2'}
					{if $list1.NM_MK=='Kosong'}
						<td bgcolor="#009966"><div align="center">{$list1.NM_MK}</div></td>
					{else}
						<td bgcolor="#FFFF99">{$list1.NM_MK}</td>
					{/if}
				{/if}
				{if $list1.ID_RUANGAN==$list.ID_RUANGAN && $list1.NM_JADWAL_JAM=='3'}
					{if $list1.NM_MK=='Kosong'}
						<td bgcolor="#009966"><div align="center">{$list1.NM_MK}</div></td>
					{else}
						<td bgcolor="#FFFF99">{$list1.NM_MK}</td>
					{/if}
				{/if}
				{if $list1.ID_RUANGAN==$list.ID_RUANGAN && $list1.NM_JADWAL_JAM=='4'}
					{if $list1.NM_MK=='Kosong'}
						<td bgcolor="#009966"><div align="center">{$list1.NM_MK}</div></td>
					{else}
						<td bgcolor="#FFFF99">{$list1.NM_MK}</td>
					{/if}
				{/if}
				{if $list1.ID_RUANGAN==$list.ID_RUANGAN && $list1.NM_JADWAL_JAM=='5'}
					{if $list1.NM_MK=='Kosong'}
						<td bgcolor="#009966"><div align="center">{$list1.NM_MK}</div></td>
					{else}
						<td bgcolor="#FFFF99">{$list1.NM_MK}</td>
					{/if}
				{/if}
		
				
                {/foreach}
              </tr>
              {foreachelse}
        			<tr><td colspan="4"><em>Data tidak ditemukan</em></td></tr>
        			{/foreach}
            </table>

        