<script language="JavaScript"type="text/javascript">
	function detail(aksi){
		document.getElementById('tbdetail').style.display=(aksi==1)?'block':'none';
	}

$(function() {

	var i = $('input type="text"').size() + 3;
	//$('#trText').hide();

	$('#addButton').click(function() {
		 
		// $('#trText').show();
		 //var newTextBoxDiv = $(document.createElement('div'))
	     //.attr("id", 'TextBoxDiv' + i);
	
		 $('#tableText tr:last').after('<tr><td>Dosen Pembina ' + i +'</td>' +
					  '<td>:</td>' +
					  '<td><select name="select">' +
                        '<option>NIP</option>' +
                        '<option>123456123456123456</option>'+
                        '<option>123456123456123456</option>'+
                        '<option>...</option>'+
                       '</select> '+
				        '<em>Beban SKS '+
                        '<input name="textfield" type="text" value="1" size="5" maxlength="5">%</em></td>'+
    				'</tr>').
			animate({ opacity: "show" }, "slow");
		i++;
	});
	
});
</script>

   		<div class="center_title_bar">Pendefinisian Jadwal Mata Kuliah</div>  
        <table width="80%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>Pilihan Pencarian:
                <select name="select">
                  <option>Kode Mata Kuliah</option>
                </select>
      Kata Kunci :
      <input name="textfield" type="text" value="MK-00" />
      <a href="#">Search</a> </td>
          </tr>
        </table>

		<div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input / Update</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Blm Valid</div>
    	</div>
        <div class="tab_bdr"></div>
		<div class="panel" id="panel1" style="display: block">
		<br />
		 <td ><a href="jadwal-kuliah.php?action=tampil&id=2">Senin</a> | <a href="jadwal-kuliah.php?action=tampil&id=3">Selasa</a> | <a href="jadwal-kuliah.php?action=tampil&id=4">Rabu</a> | <a href="jadwal-kuliah.php?action=tampil&id=5">Kamis </a> | <a href="jadwal-kuliah.php?action=tampil&id=6">Jum'at</a>| <a href="jadwal-kuliah.php?action=tampil&id=7">Sabtu</a>| <a href="jadwal-kuliah.php?action=tampil&id=1">Minggu</a> | <a href="#">Cetak Jadwal</a></td>
		 
		<br />    
		<table width="95%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
		   	 <td width="6%" bgcolor="#333333"><font color="#FFFFFF">NO</font></td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kode MK </font></td>
             <td width="24%" bgcolor="#333333"><font color="#FFFFFF">Nama MK  </font> </td>
             <td width="6%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
             <td width="6%" bgcolor="#333333"><font color="#FFFFFF">Kelas</font></td>
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Hari / 
             Jam ke </font></td>
             <td width="6%" bgcolor="#333333"><font color="#FFFFFF">Ruang</font></td>
			 <td width="14%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
             
           </tr>
		
 		{foreach name=test item="datakul" from=$T_JADKUL}
           <tr>
		   <td >{$smarty.foreach.test.iteration}</td>
             <td >{$datakul.KD_MATA_KULIAH}</td>
             <td >{$datakul.NM_MATA_KULIAH} </td>
             <td >{$datakul.KREDIT_SEMESTER}</td>
             <td >{$datakul.NAMA_KELAS}</td>
             <td >{$datakul.NM_JADWAL_HARI}-{$datakul.JAM}</td>
             <td >{$datakul.NM_RUANGAN} </td>
             <td ></td>
           </tr>
          {foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
  </table>
	<div id="tbdetail" style="display: none ">					
	<b><br>
    </b> <a style="cursor:pointer " onClick="javascript: detail(0);">Close</a> <br>
    <b>Jumlah Peserta Mata Kuliah : 35 Mahasiswa<br>
    Kelas : A    </b>
    <table width="53%" border="0" cellspacing="0" cellpadding="0">
          <tr class="left_menu">
            <td width="50%" bgcolor="#333333"><font color="#FFFFFF">Kode Mahasiswa </font></td>
            <td width="50%" bgcolor="#333333"><font color="#FFFFFF">Nama Mahasiswa</font></td>
          </tr>
          <tr>
            <td >080912345</td>
            <td >Ismail Bisri </td>
          </tr>
          <tr>
            <td >080611912</td>
            <td >Arifin Ilham</td>
          </tr>
      </table>
	</div>
</div>
<div class="panel" id="panel2" style="display: none"><br>
          <br>
<table class="tb_frame" width="90%" border="0" cellspacing="0" cellpadding="0" id="tableText">
					<tr>
					  <td width="145">Kode Mata Kuliah</td>
					  <td width="10">:</td>
					  <td width="397">					    <select name="select">
					    <option>Kode Mata Kuliah</option>
					    <option>MK-0012</option>
					    <option>MK-0034</option>
					    <option>...</option>
			          </select></td>
					</tr>
					<tr>
					  <td>Hari</td>
					  <td>:</td>
					  <td><select name="select">
					    <option>Hari</option>
					    <option>Senin</option>
					    <option>Selasa</option>
					    <option>...</option>
				      </select></td>
					</tr>
					<tr>
					  <td>Ruang</td>
					  <td>:</td>
					  <td>					    <select name="select">
					    <option>Kode Ruang</option>
					    <option>R-201</option>
					    <option>R-202</option>
					    <option>...</option>
			          </select></td>
				    </tr>
                    <tr>
                      <td>Gedung</td>
                      <td>:</td>
                      <td><select name="select">
                        <option>Kode Gedung</option>
                                            </select></td>
                    </tr>
                    <tr>
                      <td>Kapasitas</td>
                      <td>:</td>
                      <td><input name="textfield" type="text" value="50" size="5" maxlength="5"> 
                        Toleransi 
                      <input name="textfield" type="text" value="5" size="5" maxlength="5"></td>
                    </tr>
    <tr>
					  <td> Jam ke </td>
					  <td>:</td>
					  <td><select name="select">
					    <option>Jam Ke -</option>
					    <option>1</option>
					    <option>2</option>
					    <option>3</option>
					    <option>...</option>
				      </select> 
					    s/d 
					    <select name="select">
                          <option>Jam Ke -</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>...</option>
                        </select></td>
	</tr>					
					<tr>
					  <td>Kelas</td>
					  <td>:</td>
					  <td><select name="select2">
					    <option>A</option>
					    <option>B</option>
					    <option>C</option>
					    <option>D</option>
					    <option>E</option>
                      </select></td>
    </tr>
					
					
 			 </table>
 					 <tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="button" name="addButton" id="addButton"  value="Tambah" />					   
                       <input type="submit" name="Submit" value="Simpan"></td>
					</tr>
		  <br><br />
   <br>
</div>
<div class="panel" id="panel3" style="display: none">
		
		<table width="95%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kode MK </font></td>
             <td width="24%" bgcolor="#333333"><font color="#FFFFFF">Nama MK  </font> </td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Kelas</font></td>
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">PJMK</font></td>
             <td width="13%" bgcolor="#333333"><font color="#FFFFFF">Hari / 
             Jam ke </font></td>
             <td width="14%" bgcolor="#333333"><font color="#FFFFFF">Ruang</font></td>
             <td width="16%" bgcolor="#333333"><font color="#FFFFFF">Penjaga Ruang</font></td>
           </tr>
           <tr>
             <td ><a href="#" onclick="javascript: detail(1);">MK-0012</a></td>
             <td >Jaringan (A) </td>
             <td >C</td>
             <td >Ir. Suparman </td>
             <td >Selasa / 1 - 3 </td>
             <td >R-201 / FST </td>
             <td >Suparno</td>
           </tr>
           <tr>
             <td ><a href="#" onclick="javascript: detail(1);">MK-0034</a></td>
             <td >Analisa Pasar Keuangan </td>
             <td >A</td>
             <td >Drs. Jaya Randu</td>
             <td >Kamis / 1-2 </td>
             <td >R-201 / FST </td>
             <td >Jayus</td>
           </tr>
  </table>
	
</div>   
