   <div class="center_title_bar">Jadwal Ruang </div> 
   <form action="jadwal-ruang.php" method="post" >
	<input type="hidden" name="action" value="view" >  
  
         <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td>Hari</td>
               <td>:</td>
               <td><select name="hari">
                {foreach item="list" from=$T_HARI}
    		   {html_options  values=$list.ID_JADWAL_HARI output=$list.NM_JADWAL_HARI selected=$HRGET}
	 		   {/foreach}
			   </select></td>
			   <td><input type="submit" name="Submit" value="Preview"></td>
             </tr>
           </table>
</form>       
        
            <td>Jadwal Ruang <br>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="left_menu">
                <td width="10%" rowspan="2" bgcolor="#333333"><p><font color="#FFFFFF">Ruang</font></p>
                </td>
                <td colspan="11" bgcolor="#333333"><font color="#FFFFFF"><div align="center">Jam Ke -</div></font></td>
              </tr>
              <tr class="left_menu">
                <td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">1</div></font></td>
                <td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">2</div></font></td>
                <td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">3</div></font></td>
                <td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">4</div></font></td>
                <td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">5</div></font></td>
				<td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">6</div></font></td>
				<td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">7</div></font></td>
				<td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">8</div></font></td>
				<td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">9</div></font></td>
				<td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">10</div></font></td>
				<td width="5%" bgcolor="#333333"><font color="#FFFFFF"><div align="center">11</div></font></td>
                
              </tr>
			  {foreach item="list" from=$T_RUANG}
              <tr>
                <td >{$list.NM_RUANGAN}</td>
				{foreach item="list1" from=$T_JADRUANG}
					{if $list1.ID_RUANGAN==$list.ID_RUANGAN}
						<tr>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==1}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==2}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==3}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==4}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==5}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==6}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==7}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==8}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==9}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==10}{$list1.NM_MK}{/if}</div></td>
						<td  bgcolor="#009966"><div align="center">{if $list1.MULAI==11}{$list1.NM_MK}{/if}</div></td>
						</tr>
					{/if}
                {/foreach}
              </tr>
              {foreachelse}
        			<tr><td colspan="12"><em>Data tidak ditemukan</em></td></tr>
        			{/foreach}
            </table>

        