   <div class="center_title_bar">Jadwal Ruang </div> 
   <form action="jadwal-ruang.php" method="post" >
	<input type="hidden" name="action" value="view" >  
  
         <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td>Hari</td>
               <td>:</td>
               <td><select name="hari">
                {foreach item="list" from=$T_HARI}
    		   {html_options  values=$list.ID_JADWAL_HARI output=$list.NM_JADWAL_HARI selected=$HRGET}
	 		   {/foreach}
			   </select></td>
			   <td><input type="submit" name="Submit" value="Preview"></td>
             </tr>
           </table>
</form>       
        
            <td>Jadwal Ruang <br>
            <table width="100%" border="1" cellspacing="0" cellpadding="0">
                  <tr>
					<td width="5%" bgcolor="#333333"><font color="#FFFFFF">No </font></td>
                    <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Ruangan </font></td>
                    <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Jam</font></td>
                    <td width="65%" bgcolor="#333333"><font color="#FFFFFF">Mata Ajar</font></td>
                  </tr>

				  {foreach name=test item="list" from=$T_JADRUANG}
                  <tr>
					<td >{$smarty.foreach.test.iteration}</td>
                    <td >{$list.NM_RUANGAN}</td>
                    <td >{$list.NM_JADWAL_JAM}</td>
                    <td >{$list.NM_MK}</td>
                    
                  </tr>
				{foreachelse}
        <tr><td colspan="4"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
              </table>

        