{* smarty file for jenjang.php*}
{* Editor	: YAH*}
{* Updated	: 04/05/2011 *}

   		<div class="center_title_bar">Master Jenjang</div>  
<br><br>
<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr class="left_menu">
    <td width="20%" bgcolor="#333333" align="center"><font color="#FFFFFF">Kode Jenjang</font></td>
    <td width="40%" bgcolor="#333333" align="center"><font color="#FFFFFF">Nama Jenjang</font> </td>
    <td width="40%" bgcolor="#333333" align="center"><font color="#FFFFFF">Keterangan</font></td>
  </tr>
  {foreach item="jenjang" from=$T_JENJANG}
  <tr>
    <td align="center">{$jenjang.ID_JENJANG} </td>
    <td align="center">{$jenjang.NM_JENJANG} </td>
    <td align="center">&nbsp;&nbsp;&nbsp;</td>
  </tr>
  {foreachelse}
  <tr>
    <td colspan="3"><em>Data tidak ditemukan</em></td>
  </tr>
  <a href="#{$menu.tab}?{$menu.menu}">{$menu.title}</a> {/foreach}
</table>

        