<div class="center_title_bar">Konversi Nilai IPK pada Predikat Kelulusan </div>
<form action="konversi-kurikulum.php" method="post">
 <input type="hidden" name="kirim" value="view" > 
<table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td>
			 	Prodi : 
                <select name="kdprodi">
    		   <option value=''>-- PRODI --</option>
	 		   {foreach item="list" from=$T_PRODI}
    		   {html_options  values=$list.ID_PROGRAM_STUDI output=$list.PRODI}
	 		   {/foreach}
			   </select>
			 	Tahun Kurikulum : 
                <select name="thkur">
    		   <option value=''>-- THN KUR --</option>
	 		   {foreach item="list" from=$T_KUR}
    		   {html_options  values=$list.THN_KURIKULUM output=$list.THN_KURIKULUM}
	 		   {/foreach}
			   </select>
			   <input type="submit" name="View" value="View">
		     </td> 
           </tr>
</table>
</form>	  	
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="left_menu">
              <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Thn Kur</font></td>
              <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kode MK </font></td>
              <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama MK </font> </td>
              <td width="10%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
              <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Thn Kur </font></td>
              <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kode MK </font></td>
              <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama MK </font></td>
              <td width="10%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
            </tr>
			
			  {foreach item="konv" from=$T_KONV}
            <tr>
              <td >{$konv.THNBARU}</td>
              <td >{$konv.MKBARU}</td>
              <td >{$konv.NAMABARU}</td>
              <td >{$konv.SKSBARU}</td>
              <td >{$konv.THNLAMA}</td>
              <td >{$konv.MKLAMA}</td>
              <td >{$konv.NAMALAMA}</td>
              <td >{$konv.SKSLAMA}</td>
            </tr>
			{foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>
    
        