<div class="center_title_bar">Penawran KRS Semester Pendek </div>  
        
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="left_menu">
          <td width="23%" bgcolor="#333333"><font color="#FFFFFF">Program Studi </font></td>
        </tr>
		{foreach item="butu" from=$BUTU}
        <tr>
          <td ><a href="krs-tawar-sp.php?idprodi={$butu.ID_PROGRAM_STUDI}">{$butu.PRODI}</td>
         {foreachelse}
        <tr><td colspan="1"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
      </table>
	  <p>&nbsp;</p>
</div>
