<div class="center_title_bar">KRS Tawar </div>  
	  <table class="tablesorter">
		<thead>
        <tr>
          <th><center>Program Studi</center></th>
        </tr>
		</thead>
		<tbody>
		{foreach item="butu" from=$BUTU}
        <tr>
          <td><a href="krs-tawar.php?idprodi={$butu.ID_PROGRAM_STUDI|base64_encode}">{$butu.PRODI}</td>
		</tr>
         {foreachelse}
        <tr><td><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
		</tbody>
      </table>
</div>
