<div class="center_title_bar">Penawaran Semester Pendek : {$disprodi}</div>  
<td align="left"><a href="krs-prodi-sp.php" <input name="Kembali" type="button"  value="Kembali ke Menu "  /> </a></td>
</br>
	   
        <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');"><a href="krs-tawar-sp.php?idprodi={$kodeprodi}">Rincian </a></div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Penawaran</div>

    	</div>
        <div class="tab_bdr"></div>
		
		
<div class="panel" id="panel1" style="display: {$disp1} ">
 <form action="krs-tawar-sp.php" method="post">
		 <input type="hidden" name="action" value="tampil" >
		 <input type="hidden" name="kdprodi" value="{$kodeprodi}" >
<table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td>
			 	Tahun Akademik : 
                <select name="smt">
	 		   {foreach item="smt" from=$T_ST}
    		   {html_options  values=$smt.ID_SEMESTER output=$smt.SMT selected=$smtaktif}
	 		   {/foreach}
			   </select>
		     </td> 
          
			 <td> <input type="submit" name="View" value="View"> </td>
           </tr>
		    
</table>
</form>	    
			<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
             <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
	     <td width="5%" bgcolor="#333333"><font color="#FFFFFF">KLS</font></td>
 	     <td width="5%" bgcolor="#333333"><font color="#FFFFFF">sts</font></td>
             <td width="6%" bgcolor="#333333"><font color="#FFFFFF">Hari</font></td>
	     <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Jam</font></td>
	     <td width="6%" bgcolor="#333333"><font color="#FFFFFF">Ruang</font></td>
	     <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Pengajar</font></td>
             <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           <tbody id="tableBody">
           {foreach name=test item="list" from=$T_MK}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
             <td>{$list.KREDIT_SEMESTER}</td>
	     <td>{$list.NAMA_KELAS}</td>
	     <td>{$list.STATUS}</td>
             <td>{$list.NM_JADWAL_HARI}</td>
	     <td>{$list.JAM}</td>
	     <td>{$list.NM_RUANGAN}</td>
	     <td>{$list.STATUS_PJMK}</td>
             <td align="center"><a href="krs-tawar-sp.php?action=del&id_krs_prodi={$list.ID_KRS_PRODI}&idprodi={$kodeprodi}">Delete</a>
             </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="11"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>
</div>
		
<div class="panel" id="panel2" style="display: {$disp2}">
<form action="krs-tawar-sp.php" method="post" >
		 <input type="hidden" name="action" value="penawaran" >
		 <input type="hidden" name="kdprodi" value="{$kodeprodi}" >
<table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td>
			 	Tahun Akademik : 
                <select name="smt">
	 		   {foreach item="smt" from=$T_ST}
    		   {html_options  values=$smt.ID_SEMESTER output=$smt.SMT selected=$smtaktif}
	 		   {/foreach}
			   </select>
		     </td> 
          
             
			 <td> <input type="submit" name="View" value="View"> </td>
           </tr>
		    
</table>
</form>	    
			<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Kode MK </font></td>
             <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
             <td width="12%" bgcolor="#333333"><font color="#FFFFFF"> Kelas </font></td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF"> Status </font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           <tbody id="tableBody">
		 
           {foreach name=test item="list" from=$TAWAR}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
             <td>{$list.KREDIT_SEMESTER}</td>
             <td>{$list.NAMA_KELAS}</td>
             <td>{$list.STATUS}</td>
             <td align="center"><a href="krs-tawar-sp.php?action=add&id_mk={$list.ID_KELAS_MK}&smt={$smtaktif}&idprodi={$kodeprodi}">Di Tawarkan</a>
             </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>
        </div>

{literal}
 <script>$('form').validate();</script>
{/literal}