<div class="center_title_bar">Cetak Kartu Rencana Studi : {$disprodi}</div>  
		<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Tahun Angkatan</font></td>
             <td width="40%" bgcolor="#333333"><font color="#FFFFFF">Total Mahasiswa</font></td>
             <td width="35%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           <tbody id="tableBody">
           {foreach name=test item="list" from=$T_MK}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.THN_ANGKATAN_MHS}</td>
             <td>{$list.JML}</td>
             <td>
			<input type=button name="cetak5" value="Cetak" onclick="window.open('proses/_krs_cetak.php?cetak={$list.THN_ANGKATAN_MHS}&prodi={$kodeprodi}','baru2');">
             </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
</div>