<div class="center_title_bar">SETUP STATUS MAHASISWA </div>
		<form action="mhs-status.php" method="post" name="mhs_status" id="mhs_status">
		 <input type="hidden" name="action" value="cari" >
		
           <tr>
					  <td>Nim Mahasiswa </td>
					  <td>:</td>
					  <td><input type="text" name="nim"></td>
					  <input type="submit" name="cari1" value="cari"></td>	
				    </tr>
		   

</form>	
		
		  
        <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>
    	</div>
        <div class="tab_bdr"></div>
    <div class="panel" id="panel1" style="display: {$disp1}">    
	  <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <tr class="left_menu">
          <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Nim Mhs </font></td>
          <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama Mhs</font></td>
          <td width="5%" bgcolor="#333333"><font color="#FFFFFF">IPS</font> </td>
          <td width="5%" bgcolor="#333333"><font color="#FFFFFF">IPK</font></td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS TTL</font></td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS MAKS</font></td>
          <td width="15%" bgcolor="#333333"><font color="#FFFFFF"> Aksi</font></td>
        </tr>
		{foreach item="datamhs" from=$T_STATUS}
        <tr>
          <td >{$datamhs.NIM_MHS}</td>
          <td >{$datamhs.NM_PENGGUNA}</td>
          <td >{$datamhs.IPS_MHS_STATUS}</td>
          <td >{$datamhs.IPK_MHS_STATUS}</td>
		  <td >{$datamhs.SKS_TOTAL_MHS_STATUS}</td>
          <td >{$datamhs.SKS_MAX}</td>
          <td ><a href="mhs-status.php?action=tampil&idmhs={$datamhs.ID_MHS}">Update</a> 
        </tr>
         {foreachelse}
        <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
      </table>
	  <p>&nbsp;</p>
</div>
		
<div class="panel" id="panel2" style="display: {$disp2}"><br>
	<form action="mhs-status.php" method="post" >
	 <input type="hidden" name="action" value="add" />
				  <table class="tb_frame" width="70%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="28%">NIM</td>
					  <td width="1%">:</td>
					  <td><input type="text" name="nim"></td>
					</tr>
					<tr>
					  <td>IPS </td>
					  <td>:</td>
					  <td><input type="text" name="ips"></td>
				    </tr>
					<tr>
					  <td>IPK </td>
					  <td>:</td>
					  <td><input type="text" name="ipk"></td>
				    </tr>
					<tr>
					  <td>SKS TOTAL </td>
					  <td>:</td>
					  <td><input type="text" name="sksttl"></td>
				    </tr>
					<tr>
					  <td>Jatah SKS (Maks.)</td>
					  <td>:</td>
					  <td><input type="text" name="sksmax"></td>
					</tr>
				  </table>
				  <td><input type="submit" name="Submit" value="Tambah"></td>
	  </form>
</div>
<div class="panel" id="panel3" style="display: {$disp3}"><br>
	<form action="mhs-status.php" method="post" >
	 <input type="hidden" name="action" value="update" />
				  <table class="tb_frame" width="70%" border="0" cellspacing="0" cellpadding="0">
					{foreach item="data" from=$T_MHS}
					<input type="hidden" name="id_mhs" value="{$data.ID_MHS}" />
					<tr>
					  <td width="28%">NIM</td>
					  <td width="1%">:</td>
					  <td>{$data.NIM_MHS}</td>
					</tr>
					<tr>
					  <td>Nama Mahasiswa </td>
					  <td>:</td>
					  <td>{$data.NM_PENGGUNA}</td>
				    </tr>
					<tr>
					  <td>IPS </td>
					  <td>:</td>
					  <td><input type="text" name="ips" class="required" value="{$data.IPS_MHS_STATUS}" ></td>
				    </tr>
					<tr>
					  <td>IPK</td>
					  <td>:</td>
					  <td><input type="text" name="ipk" class="required" value="{$data.IPK_MHS_STATUS}"></td>
				    </tr>
					<tr>
					  <td>SKS Total Diperoleh</td>
					  <td>:</td>
					  <td><input type="text" name="sksttl" class="required" value="{$data.SKS_TOTAL_MHS_STATUS}"></td>
				    </tr>
					<tr>
					  <td>Jatah SKS (Maks.)</td>
					  <td>:</td>
					  <td><input type="text" name="sksmax" class="required" value="{$data.SKS_MAX}"></td>
				    </tr>

					{/foreach}
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="tambah" value="Update"></td>
					</tr>
				  </table>
	  </form>
</div>
<script>$('form').validate();</script>
