   <div class="center_title_bar">Daftar Nama Semester</div>  
     <br><br>
		<div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
    	</div>
        <div class="tab_bdr"></div>
        <div class="panel" id="panel1" style="display: block">    
        <table width="70%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="11%" bgcolor="#333333"><font color="#FFFFFF">ID</font></td>
             <td width="31%" bgcolor="#333333"><font color="#FFFFFF">Dosen</font> </td>
             <td width="31%" bgcolor="#333333"><font color="#FFFFFF">Fakultas</font></td>
             <td width="27%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           <tr>
             <td >1</td>
             <td ><label for="select"></label>
               <select name="select" id="select">
                 <option>Budi Prakoso, S.Si., M.Kes.</option>
                 <option>Muhammad Toni, SE., M.Sc</option>
             </select></td>
             <td ><select name="select4" id="select4">
               <option>Kesehatan Masyarakat</option>
               <option>Sains dan Teknologi</option>
             </select></td>
             <td ><a href="#">Update</a></td>
           </tr>
           <tr>
             <td >2</td>
             <td ><select name="select2" id="select2">
<option>Muhammad Toni, SE., M.Sc</option>
<option>Budi Prakoso, S.Si., M.Kes.</option>
             </select></td>
             <td ><select name="select5" id="select5">
<option>Sains dan Teknologi</option>
<option>Kesehatan Masyarakat</option>
             </select></td>
             <td ><a href="#">Update</a></td>
           </tr>
    	</table>
</div>
		
        <div class="panel" id="panel2" style="display: none">
				  <table class="tb_frame" width="46%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="213">ID </td>
					  <td width="10">:</td>
					  <td width="274">3</td>
					</tr>
					<tr>
					  <td>Dosen</td>
					  <td>:</td>
					  <td><select name="select6" id="select6">
					    <option>Budi Prakoso, S.Si., M.Kes.</option>
					    <option>Muhammad Toni, SE., M.Sc</option>
				      </select></td>
					</tr>
					<tr>
					  <td>Fakultas</td>
					  <td>:</td>
					  <td><select name="select3" id="select3">
					    <option>Kesehatan Masyarakat</option>
					    <option>Sains dan Teknologi</option>
				      </select></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
		</div>