<div class="center_title_bar">Monitoring Peserta AGAMA - II</div> 
<p></p>
<form action="mon-agama2.php" method="post" >
<input type="hidden" name="action" value="proses" >	
<br> Anda Yakin Drop KRS : <input type="submit" name="proses" value="PROSES"></br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
			 <td width="5%" bgcolor="#FFCC33"><center>No</center></td>
             <td width="5%" bgcolor="#FFCC33"><center>NIM</center></td>
			 <td width="20%" bgcolor="#FFCC33"><center>Nama Mhs</center></td>
             <td width="10%" bgcolor="#FFCC33"><center>Prodi</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>STATUS</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>SKS DITEMPUH</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>SKS DIPROGRAM</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>IPK</center></td>
             <td width="5%" bgcolor="#FFCC33"><center>Kode</center></td>
             <td width="5%" bgcolor="#FFCC33"><center>nama ma</center></td>
			 <td width="10%" bgcolor="#FFCC33"><center>AKSI</center></td>
		  </tr>
          	
		  {foreach name=test item="list" from=$AGAMA}
			{if ($list.SKS_DIPEROLEH < 100 and $list.NM_JENJANG=='S1' and $list.STATUS=='R') or (($list.SKS_DIPEROLEH + $list.SKS_SEM) < 80 and $list.NM_JENJANG=='D3' and $list.STATUS=='R')}
            	{$bgcolor = "#FF0000"}
            {else}
            	{$bgcolor = '#FFFFFF'}
            {/if}
			<tr bgcolor="{$bgcolor}">
			 <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.NIM_MHS}</td>
			 <td>{$list.NM_PENGGUNA}</td>
             <td>{$list.PRODI}</td>
			 <td>{$list.STATUS}</td>
			 <td>{$list.SKS_DIPEROLEH}</td>
			 <td>{$list.SKS_SEM}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
			 <td>{$list.IPK_MHS}</td>
			 <td><center><input name="ma{$smarty.foreach.test.iteration}" type="checkbox" checked="checked" value="{$list.ID_PENGAMBILAN_MK}"/></center></td>			
			</tr>
			
		  {/foreach}
		  <input type="hidden" name="hitma" value="{$smarty.foreach.test.iteration}" >
</table>
</form>


    