<div class="center_title_bar">MONITORING PENDAFTARAN PESERTA SP</div> 
<div class="panel" id="panel1" style="display: {$disp1} ">
<p> </p> 
<form action="mon-pst-status-sp.php" method="post">
<br>Daftarkan Nim Mahasiswa:<input type="text" name="nim"> <input type="submit" name="cari1" value="Proses">
</br>
<br></br>
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			     <td rowspan="2" width="20%" bgcolor="#FFCC33"><center>Prodi</center></td>
				 <td colspan="2" width="10%" bgcolor="#FFCC33"><center>Terdaftar</center></td>
				 <td colspan="2" width="10%" bgcolor="#FFCC33"><center>Krs</center></td>
				 <td colspan="2" width="10%" bgcolor="#FFCC33"><center>Blm Krs</center></td>
		</tr>
		<tr>
			     
				 <td width="10%" bgcolor="#FFCC33"><center>R</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>AJ</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>R</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>AJ</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>R</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>AJ</center></td>
		</tr>
		{foreach name=test item="prodi" from=$R_PRODI1}
		<tr>
				 <td width="20%"><left>{$prodi.PRODI}</left></td>
				 <td width="10%"><center><a href="mon-pst-status-sp.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=1">{$prodi.R1}</a></center></td>
				 <td width="10%"><center><a href="mon-pst-status-sp.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=2">{$prodi.AJ1}</a></center></td>
				 <td width="10%"><center>{$prodi.R2}</center></td>
				 <td width="10%"><center>{$prodi.AJ2}</center></td>
				 <td width="10%"><center>{$prodi.BELUMR}</center></td>
				 <td width="10%"><center>{$prodi.BELUMAJ}</center></td>    		
		</tr>
		{/foreach} 	
</table>
<input type="hidden" name="status" value="proses"
</form>	 
</div>

<div class="panel" id="panel2" style="display: {$disp2} ">
<p> </p> 
<p><div align="right"><input type="button" value="Kembali" onClick="location.href='#upsp-monstatus!mon-pst-status-sp.php'"></p>

<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			     <td width="4%"  bgcolor="#FFCC33"><center>No</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>NIM</center></td>
				 <td width="20%" bgcolor="#FFCC33"><center>Nama Mhs</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Prodi</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Status</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Keterangan</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Aksi</center></td>
		</tr>
	
			     {foreach name=test item="ma" from=$T_DETPRODI}
				<tr>
				 <td >{$smarty.foreach.test.iteration}</td>	
				 <td>{$ma.NIM_MHS}</td>
				 <td>{$ma.NM_PENGGUNA}</td>
				 <td>{$ma.PRODI}</td>
				 <td>{$ma.STATUS}</td>
				 <td></td>
				 <td></td>
				</tr>
				{foreachelse}
        		<tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
</table>
</div>
    


