<div class="center_title_bar">MONITORING PEMBAYARAN SP</div> 
<div class="panel" id="panel1" style="display: {$disp1} ">
<p> </p> 
<form action="mon-pemb-sp.php" method="post">
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			     <td width="20%" bgcolor="#FFCC33"><center>Prodi</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>SDH Bayar</center></td>
				 <td colspan="2" width="10%" bgcolor="#FFCC33"><center>BLM Bayar</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Bayar Kurang</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Bayar Lebih</center></td>
		</tr>
		
		<tr>
			     {foreach name=test item="prodi" from=$T_PRODI1}
				<tr>
				 <td>{$prodi.PRODI}</td>
				 <td><a href="mon-pemb-sp.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=1">{$prodi.TTLBAYAR}</a></td>
				 {if $prodi.BLMBAYAR>0}
				 <td><a href="mon-pemb-sp.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=2">{$prodi.BLMBAYAR}</a></td>
				 <td><a href="mon-pemb-sp.php?action=drop&idprodi={$prodi.ID_PROGRAM_STUDI}">DROP KRS-SP</a> </td>
				 {else}
				 <td colspan="2"><a href="mon-pemb-sp.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=2">{$prodi.BLMBAYAR}</a></td>
				 {/if}
				 <td><a href="mon-pemb-sp.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=3">{$prodi.KRGBAYAR}</a></td>
				 <td><a href="mon-pemb-sp.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=4">{$prodi.LBHBAYAR}</a></td>
				</tr>
				{foreachelse}
        		<tr><td colspan="4"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
		</tr>   		
</table>
</form>	 
</div>
<div class="panel" id="panel2" style="display: {$disp2} ">
<p> </p> 
<p><div align="right"><input type="button" value="Kembali" onClick="location.href='#upsp-monbayar!mon-pemb-sp.php'"></p>

<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			     <td width="4%"  bgcolor="#FFCC33"><center>No</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>NIM</center></td>
				 <td width="20%" bgcolor="#FFCC33"><center>Nama Mhs</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Prodi</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Jalur</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>TTL SKS</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>per SKS</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Tagihan</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Bayar</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Status</center></td>
		</tr>
	
			     {foreach name=test item="ma" from=$T_DETPRODI}
				<tr>
				 <td >{$smarty.foreach.test.iteration}</td>	
				 <td>{$ma.NIM_MHS}</td>
				 <td>{$ma.NM_PENGGUNA}</td>
				 <td>{$ma.PRODI}</td>
				 <td>{$ma.JALUR}</td>
				 <td>{$ma.SKS_AMBIL}</td>
				 <td>{$ma.BESAR_BIAYA_SP}</td>
				 <td>{$ma.SP_BIAYA}</td>
				 <td>{$ma.BESAR_BIAYA}</td>
				 <td>{$ma.STATUS}</td>
				</tr>
				{foreachelse}
        		<tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
</table>
</div>
    


