<div class="center_title_bar">MONITORING KAPASITAS KELAS </div>  

</br>
	   
        <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');"><a href="monitor-kelas.php">Rincian </a></div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Update</div>
    	</div>
        <div class="tab_bdr"></div>
		
		
<div class="panel" id="panel1" style="display: {$disp1} ">
			<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
             <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
			 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
			 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">KLS</font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Kapasitas</font></td>
			 <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Terisi</font></td>
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           <tbody id="tableBody">
           {foreach name=test item="list" from=$T_MK}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
             <td>{$list.KREDIT_SEMESTER}</td>
			 <td>{$list.NAMA_KELAS}</td>
			 <td>{$list.KAPASITAS_KELAS_MK}</td>
			 <td>{$list.KLS_TERISI}</td>
             <td align="center"><a href="monitor-kelas.php?action=kapasitas&id_kelas_mk={$list.ID_KELAS_MK}">Tambah Kapasitas</a>
             </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>
</div>
		
<div class="panel" id="panel2" style="display: {$disp2}">
			<form action="monitor-kelas.php" method="post">
			 <input type="hidden" name="action" value="add" >
			  <table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
				  <tr>
				 
					  <td colspan="3"><strong> Tambah Kapasitas Kelas </strong></td>
				    </tr>
					{foreach item="ubah" from=$TJAF1}
					<input type="hidden" name="id_kelas_mk" value="{$ubah.ID_KELAS_MK}" />
					<tr>
					  <td width="29%" >Kode Mata Kuliah</td>
					  <td width="2%" >:</td>
					  <td width="69%" >{$ubah.KD_MATA_KULIAH}</td>
					</tr>
					<tr>
					  <td>Nama Mata Kuliah</td>
					  <td>:</td>
					  <td>{$ubah.NM_MATA_KULIAH}</td>
					</tr>
					<tr>
					  <td>Kelas</td>
					  <td>:</td>
					  <td>{$ubah.NAMA_KELAS}</td>
					</tr>					
					
					<tr>
					  <td>KAPASITAS KELAS</td>
					  <td>:</td>
					  <td><input name="kap_kelas" id="kap_kelas" type="text" class="required" size="3" maxlength="3" class="required" value="{$ubah.KAPASITAS_KELAS_MK}"/></td>
				    </tr>
					{/foreach}

                  <p>
				  
					<input type="submit" name="Simpan1" value="Simpan">
				
                </p></td>
            </tr>
          </table>
 </form>			    
        </div>

{literal}
 <script>$('form').validate();</script>
{/literal}