<div class="center_title_bar">Monitoring Belum APV KRS-SP MAHASISWA - {$thnakd} - {$nmsmt}</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Nim</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama Mhs</font> </td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Prodi</font></td>
	     <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kd MA</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama MA</font></td>
	     <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
		 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kls</font></td>
		 <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Dosen Wali</font></td>
           </tr>
          
		 {foreach name=test item="list" from=$T_APV}
        <tr>
          <td >{$smarty.foreach.test.iteration}</td>
          <td >{$list.NIM_MHS}</td>
		  <td >{$list.NM_PENGGUNA}</td>
          <td >{$list.PRODI}</td>
          <td >{$list.KD_MATA_KULIAH}</td>
		  <td >{$list.NM_MATA_KULIAH}</td>
          <td >{$list.KREDIT_SEMESTER}</td>
		  <td >{$list.NAMA_KELAS}</td>
		  <td >{$list.DOLI}</td>
		 </tr>

         {foreachelse}
        <tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>

</div>
		
<script>$('form').validate();</script>
