<div class="center_title_bar">Daftar Nama Semester</div>  
		{*
		<div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>
    	</div>
		*}
        <div class="panel" id="panel1" style="display: {$disp1}">
		<p> </p>
        <table class="tablesorter">
		<thead>
           <tr>
             {*<th><center>ID</center></th>*}
             <th><center>Nama Semester</center></th>
             <th><center>Thn Akademik</center></th>
			 <th><center>Status</center></th>
             {*<th><center>Aksi</center></th>*}
           </tr>
		</thead>
		<tbody>
		   {foreach item="nama_smt" from=$T_SMT}
		   {if $nama_smt.STATUS_AKTIF_SEMESTER == "True"}
           <tr bgcolor="yellow">
		   {else}
		   <tr>
		   {/if}
             {*<td>{$nama_smt.ID_SEMESTER}</td>*}
             <td>{$nama_smt.NM_SEMESTER}</td>
             <td>{$nama_smt.THN_AKADEMIK_SEMESTER}</td>
             <td>{$nama_smt.STATUS_AKTIF_SEMESTER}</td>
			 {*<td></td>*}
           </tr>
		    {foreachelse}
        <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
		</tbody>
    	</table>
</div>
{*
        <div class="panel" id="panel2" style="display: {$disp2}">
				  <form action="nama-semester.php" method="post" >
				  <input type="hidden" name="action" value="add" />  
				  <table>
					<tr>
					  <td>Nama Semester </td>
					  <td>:</td>
					  <td><input type="text" name="nama_smt"></td>
					</tr>
					<tr>
					  <td>Tahun Akademik </td>
					  <td>:</td>
					  <td><input type="text" name="thn_akd"></td>
					</tr>
					<tr>
					  <td>Status </td>
					  <td>:</td>
					  <td colspan="2"><select name="status">
					    <option>True</option>
						<option>False</option>
				      </select></td>
					</tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
				 </form>
		</div>
		 <div class="panel" id="panel3" style="display: {$disp3}">
				  <form action="nama-semester.php" method="post" >
				  <input type="hidden" name="action" value="update" /> 
				  <table>
					<tr>
					{foreach item="nama_smt" from=$T_SMT}
					{if $nama_smt.ID_SEMESTER==$idsmt}
					<input type="hidden" name="id_smt" value="{$nama_smt.ID_SEMESTER}" />
					  <td>Nama Semester </td>
					  <td>:</td>
					  <td><input type="text" name="nama_smt" class="required" value="{$nama_smt.NM_SEMESTER}"></td>
					</tr>
					<tr>
					  <td>Tahun Akademik </td>
					  <td>:</td>
					  <td><input type="text" name="thn_akd" class="required" value="{$nama_smt.THN_AKADEMIK_SEMESTER}"></td>
					</tr>
					<tr>
					  <td>Status </td>
					  <td>:</td>
					  <td>{$nama_smt.STATUS_AKTIF_SEMESTER} 
					  Ganti : 
					  <select name="status">
					    <option>True</option>
						<option>False</option>
				      </select></td>
					</tr>
					{/if}

					{/foreach}
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Update"></td>
					</tr>
				  </table>
				 </form>
		</div>
 <script>$('form').validate();</script>
 *}