	<div class="center_title_bar">Nama Kegiatan</div>
	{*
	<div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>
    </div>
	*}
 <div class="panel" id="panel1" style="display: {$disp1}">
 <p> </p>
<table class="tablesorter">
<thead>
<tr>
  <th><center>No.</center></th>
  <th><center>Nama Kegiatan</center></th>
  <th><center>Deskripsi Kegiatan</center></th>
  {*<th><center>Aksi</font> </td>*}
</tr>
</thead>
<tbody>
{foreach name=test item="nama_kgt" from=$T_KGT}
{if $smarty.foreach.test.iteration % 2 == 0}
<tr bgcolor="lightgray">
{else}
<tr>
{/if}
  <td><center>{$smarty.foreach.test.iteration}</center></td>
  <td>{$nama_kgt.NM_KEGIATAN}</td>
  <td>{$nama_kgt.DESKRIPSI_KEGIATAN}</td>
  {*<td ><a href="nama-kegiatan.php?action=tampil&id_kgt={$nama_kgt.ID_KEGIATAN}">Update</a> | <a href="nama-kegiatan.php?action=del&id_kgt={$nama_kgt.ID_KEGIATAN}">Delete</a></td>*}
</tr>
{foreachelse}
<tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
{/foreach}
</tbody>
</table>
</div>
{*
 <div class="panel" id="panel2" style="display: {$disp2}">  
 <p> </p>
 		<form action="nama-kegiatan.php" method="post" > 
		<input type="hidden" name="action" value="add" /> 
				  <table>
					<tr>
					  <td>Nama Kegiatan</td>
					  <td>:</td>
					  <td><input type="text" name="nm_kgt"></td>
					</tr>
					<tr>
					  <td>Deksripsi Kegiatan</td>
					  <td>:</td>
					  <td><input type="text" name="des_kgt"></td>
					</tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Tambah"></td>
					</tr>
				  </table>
		 </form>
</div>
<div class="panel" id="panel3" style="display: {$disp3}">  
<p> </p>
 		<form action="nama-kegiatan.php" method="post" >
		<input type="hidden" name="action" value="update" />  
				  <table>
				   {foreach item="nama_kgt" from=$T_KGT}
					{if $nama_kgt.ID_KEGIATAN==$idkgt}
					<input type="hidden" name="id_kgt" value="{$nama_kgt.ID_KEGIATAN}" />
					<tr>
					  <td>Nama Kegiatan</td>
					  <td>:</td>
					  <td><input type="text" name="nm_kgt" class="required" value="{$nama_kgt.NM_KEGIATAN}"></td>
					</tr>
					<tr>
					  <td>Deksripsi Kegiatan</td>
					  <td>:</td>
					  <td><input type="text" name="des_kgt" class="required" value="{$nama_kgt.DESKRIPSI_KEGIATAN}"></td>
					</tr>
					{/if}
					{/foreach}
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Update"></td>
					</tr>
				  </table>
		 </form>
</div>
 <script>$('form').validate();</script>
 *}