{literal}
<script>
function checkUncheckAll(theElement) {
   	var theForm = theElement.form, z = 0;
	for(z=0; z<theForm.length;z++){
      if(theForm[z].type == 'checkbox' && theForm[z].name != 'checkall'){
	  theForm[z].checked = theElement.checked;
	  }
  	}
}
</script>
{/literal}

<div class="center_title_bar">PECAH / GABUNG KELAS </div>  

</br>
	   
        <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');"><a href="pecah-gabung.php">Rincian </a></div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Update</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Peserta MA</div>
    	</div>
        <div class="tab_bdr"></div>
		
		
<div class="panel" id="panel1" style="display: {$disp1} ">
			<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
             <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
			 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
			 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">KLS</font></td>
            <td width="5%" bgcolor="#333333"><font color="#FFFFFF">STS</font></td>
             <td width="6%" bgcolor="#333333"><font color="#FFFFFF">Kpst</font></td>
			 <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Terisi</font></td>
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
           {foreach name=test item="list" from=$T_MK}
		   {if $list.KAPASITAS_KELAS_MK == $list.KLS_TERISI}
		   <tr bgcolor="yellow">
		   {else}
		   <tr>
		   {/if}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
             <td>{$list.KREDIT_SEMESTER}</td>
			 <td>{$list.NAMA_KELAS}</td>
               <td>{$list.STATUS}</td>
			 <td>{$list.KAPASITAS_KELAS_MK}</td>
			 <td><a href="pecah-gabung.php?action=detail&id_kelas_mk={$list.ID_KELAS_MK}">{$list.KLS_TERISI}</a></td>
             <td align="center"><a href="pecah-gabung.php?action=pegab&id_kelas_mk={$list.ID_KELAS_MK}">Pecah-Gabung Kls</a>
             </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="9"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>
</div>
		
<div class="panel" id="panel2" style="display: {$disp2}">
			KELAS ASAL :
			<br />
			{foreach $T_INFO as $info1}
			<td width="29%" >Kode Mata Kuliah / SKS / Kelas</td>
			<td width="2%" >:</td>
			<td width="69%" >{$info1['KD_MATA_KULIAH']} / {$info1.['KREDIT_SEMESTER']} / {$info1.['NAMA_KELAS']}</td>
			<br />
			<td width="29%" >Nama Mata Kuliah</td>
			<td width="2%" >:</td>
			<td width="69%" >{$info1.['NM_MATA_KULIAH']}</td>
			<br/>
			{/foreach}

			<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="2%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">NIM</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama Mahasiswa</font> </td>
			 <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Prodi</font></td>
			 <td width="10%" bgcolor="#333333"><font color="#FFFFFF"> <input name="pilsemua" type="checkbox" value="" onclick="checkUncheckAll(this);" checked />Pilih Semua</font></td>
           </tr>
		 
           <tbody id="tableBody">
           {foreach name=test item="list" from=$T_DETAIL}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.NIM_MHS}</td>
             <td>{$list.NM_PENGGUNA}</td>
             <td>{$list.NM_PROGRAM_STUDI}</td>
			 <td><input name="pil{$smarty.foreach.test.iteration}" type="checkbox" value=""  /></td>
           </tr>
		   {foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
	
        {/foreach}
   	 </table>

	 <br>
        </div>

<div class="panel" id="panel1" style="display: {$disp3} ">
			{foreach item="info" from=$T_INFO}
			<td width="29%" >Kode Mata Kuliah / SKS / Kelas</td>
			<td width="2%" >:</td>
			<td width="69%" >{$info.KD_MATA_KULIAH} / {$info.KREDIT_SEMESTER} / {$info.NAMA_KELAS}</td>
			<br />
			<td width="29%" >Nama Mata Kuliah</td>
			<td width="2%" >:</td>
			<td width="69%" >{$info.NM_MATA_KULIAH}</td>
			<br />
			<td width="29%" >Pengajar (PJMA)</td>
			<td width="2%" >:</td>
			<td width="69%" >-</td>
			<br />
			{/foreach}
			<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="2%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">NIM</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama Mahasiswa</font> </td>
			 <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Prodi</font></td>
			 <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Status</font></td>
           </tr>
           <tbody id="tableBody">
           {foreach name=test item="list" from=$T_DETAIL}
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.NIM_MHS}</td>
             <td>{$list.NM_PENGGUNA}</td>
             <td>{$list.NM_PROGRAM_STUDI}</td>
			 <td>{$list.STATUS}</td>
           </tr>
		   {foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>
</div>

{literal}

 <script>$('form').validate();</script>
{/literal}