<div class="center_title_bar">Penerimaan Mahasiswa Baru {foreach item="list1" from=$NM_PRODI}{$list1.PRODI} {/foreach} </div>  
<form action="penerimaan-mhs.php" method="post" name="id_daftarmk" id="id_daftarmk">
<input type="hidden" name="action" value="view" >
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
           <tr>
           <td>
			 	Status : 
                <select name="status">
    		   <option value='sudah'>Sudah Diterima</option>
	 		   <option value='tidak'>Tidak Diterima</option>
			   </select>
		     </td> 
             <td>
			 	Prodi : 
                <select name="kdprodi">
    		   <option value=''>-- PRODI --</option>
	 		   {foreach item="list" from=$T_PRODI}
    		   {html_options  values=$list.ID_PROGRAM_STUDI output=$list.PRODI selected=$smarty.post.kdprodi}
	 		   {/foreach}
			   </select>
			   <input type="submit" name="View" value="View">
		     </td> 
           </tr>
</table>
</form>	

{if {$list1.PRODI} == ''}
  <!-- NGAPAIN DIBUAT GINI :D by putra rieskha -->
{else}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	{if $status == 'sudah'}
           <tr class="left_menu">
             <td width="3%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">No Ujian</font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Nim</font></td>
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Nama Mhs </font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Detail</font> </td>
           </tr>
            <!--
             <tr>
               <td >1</td>
               <td >080916065</td>
               <td >080916065</td>
               <td >rieskha hermawan putra</td>
               <td ><a href="penerimaan-detail.php?action=detail&id=">detail</a></td>
             </tr>
            -->

		      {foreach name=test item="list" from=$T_MK}
             <tr>
               <td >{$smarty.foreach.test.iteration}</td>
               <td >{$list.NO_UJIAN}</td>
               <td >{$list.NIM_MHS}</td>
               <td >{$list.NM_PENGGUNA}</td>
               <td ><a href="penerimaan-detail.php?action=detail&id={$list.ID_MHS}">detail</a></td>
             </tr>
          {foreachelse}
              <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
          {/foreach}
   {else}
    	 <tr class="left_menu">
             <td width="3%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">No Ujian</font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Nomor Pendaftaran</font></td>
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Nama Mhs </font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Detail</font> </td>
           </tr>
		   {foreach name=test item="list" from=$T_MK}
           <tr>
             <td >{$smarty.foreach.test.iteration}</td>
             <td >{$list.NO_UJIAN}</td>
             <td >{$list.KODE_VOUCHER}</td>
             <td >{$list.NM_C_MHS}</td>
             <td ><a href="penerimaan-detail.php?action=detail&id={$list.ID_MHS}">detail</a></td>
           </tr>
        {foreachelse}
              <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   {/if}
</table>
{/if}