<div class="center_title_bar">Pindah Mahasiswa Alih jenis</div>
{if $id_fakultas == 1 or $id_fakultas == 4 or $id_fakultas == 7 or $id_fakultas == 8 or $id_fakultas == 10 or $id_fakultas == 12 or $id_fakultas == 14 or $id_fakultas == 13}
<form name="f1" action="pindah-alih-jenis.php" method="get">
<table>
	<tr>
    	<td>NIM</td>
        <td>:</td>
        <td><input type="text" name="nim" /></td>
        <td><input type="submit" value="Tampil" /></td>
    </tr>
</table>
</form>

{if isset($mhs)}
	<form name="f12" action="pindah-alih-jenis.php" method="post">
	<table>
    	<tr>
    		<td>NIM</td>
            <td>:</td>
            <td>{$mhs.NIM_MHS}</td>
        </tr>
        <tr>
    		<td>NAMA</td>
            <td>:</td>
            <td>{$mhs.NM_PENGGUNA}</td>
        </tr>
        <tr>
    		<td>PRODI</td>
            <td>:</td>
            <td>{$mhs.NM_JENJANG} - {$mhs.NM_PROGRAM_STUDI}</td>
        </tr>
        <tr>
    		<td>JALUR LAMA</td>
            <td>:</td>
            <td>{$mhs.NM_JALUR}</td>
        </tr>
        <tr>
    		<td>JALUR BARU</td>
            <td>:</td>
            <td>
            	<select name="jalur">
                	<option value="4">PMDK Alih Jenj.</option>
                </select>
            </td>
        </tr>
        <tr>
    		<td colspan="3" style="text-align:center">
            	<input type="submit" value="Simpan" />
            	<input type="hidden" name="nim" value="{$mhs.NIM_MHS}" />  
                <input type="hidden" name="id" value="{$mhs.ID_MHS}" />  
                <input type="hidden" name="jalur_lama" value="{$mhs.ID_JALUR}" /> 
            </td>
        </tr>
    </table>
    </form>
{/if}
{/if}