<div class="center_title_bar">Master Fakultas </div>
<div id="tabs">
	<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
	<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Update</div>
</div>
<div class="panel" id="panel1" style="display: {$disp1}">
<p> </p>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
			 <td width="3%" bgcolor="#FFCC33"><center>No</center></td>
             <td width="5%" bgcolor="#FFCC33"><center>Jenjang</center></td>
			 <td width="20%" bgcolor="#FFCC33"><center>Nama Prodi</center></td>
             <td width="20%" bgcolor="#FFCC33"><center>Nama Prodi (English)</center></td>
			 <td width="10%" bgcolor="#FFCC33"><center>Aksi</center></td>

	  </tr>
		{foreach name=test item="list" from=$T_PRODI}
		<tr>
			 <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.NM_JENJANG}</td>
			 <td>{$list.NM_PROGRAM_STUDI}</td>
             <td>{$list.NM_PROGRAM_STUDI_ENG}</td>
			 <td height="0" align="center"><input name="Button" type="button" class="button" onClick="location.href='#perkuliahan-prodi!prodi.php?action=viewproses&id_prodi={$list.ID_PROGRAM_STUDI}';disableButtons()" onMouseOver="window.status='Click untuk Insert';return true" onMouseOut="window.status='Edit Nilai'" value="EDIT" /> 
			 </td> 
		</tr>
         {foreachelse}
        <tr><td colspan="4"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
      </table>
</div>
<div class="panel" id="panel2" style="display: {$disp2}">
<p> </p>
	<form action="prodi.php" method="post" >
	 <input type="hidden" name="action" value="update" />
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		{foreach item="vprodi" from=$T_UPPRODI}
		<input type="hidden" name="id_prodi" value="{$vprodi.ID_PROGRAM_STUDI}" />
		<!--<tr>
          <td>Nama Program Studi</td>
		  <td><center>:</center></td>
		  <td><input type="text" name="nmprodi" value="{$vprodi.NM_PROGRAM_STUDI}" style="width:500px;" /></td>
        </tr>-->
		<tr>
          <td>Nama Program Studi</td>
		  <td><center>:</center></td>
		  <td>{$vprodi.NM_PROGRAM_STUDI}</td>
        </tr>
		<tr>
          <td>Nama Program Studi (English)</td>
		  <td><center>:</center></td>
		  <td><input type="text" name="nmprodieng" value="{$vprodi.NM_PROGRAM_STUDI_ENG}" style="width:500px;" /></td>
        </tr>
        {/foreach}
	  </table>
	  	<p><input type="submit" name="tambah" value="Update"></p>
	  </form>
</div>
