<script language="JavaScript"type="text/javascript">
	function detail(aksi){
		document.getElementById('tbdetail').style.display=(aksi==1)?'block':'none';
	}
</script>

   		<div class="center_title_bar">Profil Dosen</div>  
   		<br>
   		<table class="tb_dosen" width="85%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>Pilihan Pencarian:
                <select name="select">
                  <option>NIP</option>
                  <option>Nama Dosen</option>
                </select>
      Kata Kunci :
      <input type="text" name="textfield" />
      <a href="#">Search</a> </td>
          </tr>
        </table>
<table width="90%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">NIP</font></td>
             <td width="23%" bgcolor="#333333"><font color="#FFFFFF">NIDN</font></td>
             <td width="28%" bgcolor="#333333"><font color="#FFFFFF">Nama Dosen  </font> </td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Status</font></td>
             <td width="21%" bgcolor="#333333"><font color="#FFFFFF">Notifikasi</font></td>
           </tr>
           <tr>
             <td >1234567 89123 4 5610</td>
             <td >1234567 89123 4 5610</td>
             <td >Muhammad Saiful, SE., M.Sc</td>
             <td >Aktif</td>
             <td >-</td>
           </tr>
           <tr>
             <td >1234567 89123 4 5679</td>
             <td >1234567 89123 4 5679</td>
             <td >Budi Prakoso, S.Si., M.Kes.</td>
             <td >Aktif</td>
             <td ><a href="#" class="style1"  onClick="javascript: detail(1);">Ada Perubahan data</a></td>
           </tr>
           <tr>
             <td >1234567 89123 4 5678</td>
             <td >1234567 89123 4 5678</td>
             <td >Muhammad Toni, SE., M.Sc</td>
             <td >Aktif</td>
             <td >-</td>
           </tr>
   	  </table>

<div id="tbdetail" style="display: none ">					
	<b><br>
    </b> <a style="cursor:pointer " onClick="javascript: detail(0);">Close</a> <br>
    <b>Data Dosen </b>
<table class="tb_frame" width="90%" border="0" cellspacing="0" cellpadding="0">
          <tr class="left_menu">
            <td colspan="2" bgcolor="#333333"><font color="#FFFFFF">Data lama </font></td>
            <td colspan="2" bgcolor="#333333"><font color="#FFFFFF">Data yang diubah </font></td>
          </tr>
          <tr>
            <td width="13%" >Nama</td>
            <td width="37%" >: Amir, S.Si. </td>
            <td width="12%" >Nama</td>
            <td width="38%" >: Dr. Amir </td>
          </tr>
          <tr>
            <td >NIP</td>
            <td >: 1234567 89123 4 5679</td>
            <td >NIP</td>
            <td >: 1234567 89123 4 5679</td>
          </tr>
  </table>
	<br>
	<input onClick="javascript: detail(0);" name="Submit" type="submit" value="Approve">
</div>
