<div class="center_title_bar">PROSES ALL CEKAL UAS</div> 
<form action="proses-cekal-uas.php" method="post">  
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td>
			 	Tahun Akademik : 
                <select name="smt">
    		   <option value=''>-- PILIH THN AKD --</option>
	 		   {foreach item="smt" from=$T_ST}
    		   {html_options  values=$smt.ID_SEMESTER output=$smt.SMT selected=$SMT}
	 		   {/foreach}
			   </select>
		     </td>
			 <td> <input type="submit" name="View" value="View"></td>
           </tr>		    
</table>
</form>	    
<div class="panel" id="panel1" style="display: {$disp1} ">
<!-- set id_pt pada config.php global -->
{if $id_pt==1 }
<p><a href="jadwal-akademik.php">* Pastikan jadwal kegiatan akademik sudah terisi (Perkuliahan dan Ujian Akhir Semester)</a><br /></p> 
{else}
<p>* Proses cekal mengikuti kebijakan Perguruan Tinggi masing-masing<br /></p>
{/if}
<form action="proses-cekal-uas.php" method="post">
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			     <td width="20%" bgcolor="#FFCC33"><center>Prodi</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>MA Sdh Diproses</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>MA Blm Diproses</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Aksi</center></td>
		</tr>
		
		<tr>
			     {foreach name=test item="prodi" from=$T_PRODI1}
				<tr>
				 <td>{$prodi.PRODI}</td>
				 <td><a href="proses-cekal-uas.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=1&smt={$SMT}">{$prodi.TTL_SDH}</a></td>
				 <td><a href="proses-cekal-uas.php?action=detail&idprodi={$prodi.ID_PROGRAM_STUDI}&st=2&smt={$SMT}">{$prodi.TTL_BLM}</a></td>
				 <td><input name="Button" type="button" class="button" onClick="location.href='#presensi-pcuas!proses-cekal-uas.php?action=proses&idprodi={$prodi.ID_PROGRAM_STUDI}&smt={$SMT}';disableButtons()" onMouseOver="window.status='Click untuk Proses';return true" onMouseOut="window.status='PROSES CEKAL UAS'" value="PROSES CEKAL UAS ALL/PRODI" /> </td>
			    </tr>
				{foreachelse}
        		<tr><td colspan="4"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
		</tr>   		
</table>
</form>	 
</div>
<div class="panel" id="panel2" style="display: {$disp2} ">
<p> </p> 
<p><div align="right"><input type="button" value="Kembali" onClick="location.href='#presensi-pcuas!proses-cekal-uas.php?smt={$SMT}'"></p>

<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			     <td width="4%"  bgcolor="#FFCC33"><center>No</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Kode Mata Ajar</center></td>
				 <td width="20%" bgcolor="#FFCC33"><center>Nama Mata Ajar</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Kelas</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>TM</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Di-entry</center></td>
				 <td width="10%" bgcolor="#FFCC33"><center>Aksi</center></td>
		</tr>
		
		{if $status==2 }
		<tr>
			     {foreach name=test item="ma" from=$DT_MA}
				<tr>
				 <td >{$smarty.foreach.test.iteration}</td>	
				 <td><a href="entry-presensi.php?action=entry&id_kelas_mk={$ma.ID_KELAS_MK}&smt={$SMT}">{$ma.KD_MATA_KULIAH}</a></td>
				 <td>{$ma.NM_MATA_KULIAH}</td>
				 <td>{$ma.NAMA_KELAS}</td>
				 <td>{$ma.TM}</td>
				 <td>{$ma.TMHS}</td>
				 <td><input name="Button" type="button" class="button" onClick="location.href='#presensi-pcuas!proses-cekal-uas.php?action=proses_per_mk&idkelasmk={$ma.ID_KELAS_MK}&idprodi={$ma.ID_PROGRAM_STUDI}&st=2&smt={$SMT}';disableButtons()" onMouseOver="window.status='Click untuk Proses Per MK';return true" onMouseOut="window.status='PROSES CEKAL UAS'" value="PROSES CEKAL UAS per MK" /> </td>
			    </tr>
				{foreachelse}
        		<tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
		</tr> 
		{/if}
		{if $status==1 }
		<tr>
			     {foreach name=test item="ma" from=$DT_MA}
				<tr>
				 <td >{$smarty.foreach.test.iteration}</td>	
				 <td><a href="entry-presensi.php?action=entry&id_kelas_mk={$ma.ID_KELAS_MK}&smt={$SMT}">{$ma.KD_MATA_KULIAH}</a></td>
				 <td>{$ma.NM_MATA_KULIAH}</td>
				 <td>{$ma.NAMA_KELAS}</td>
				 <td>{$ma.TM}</td>
				 <td>{$ma.TMHS}</td>
				 <td><input name="Button" type="button" class="button" onClick="location.href='#presensi-pcuas!proses-cekal-uas.php?action=proses_per_mk&idkelasmk={$ma.ID_KELAS_MK}&idprodi={$ma.ID_PROGRAM_STUDI}&st=1&smt={$SMT}';disableButtons()" onMouseOver="window.status='Click untuk Proses Ulang';return true" onMouseOut="window.status='PROSES ULANG CEKAL UAS'" value="PROSES ULANG CEKAL UAS per MK" /> </td>
			    </tr>
				{foreachelse}
        		<tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
		</tr> 
		{/if}
		
</table>
</div>
    


