<div class="center_title_bar">Rekapitulasi Mengajar </div>

<form action="rekap-ngajar.php" method="post" name="rekap_ngajar" id="rekap_ngajar">
		 <input type="hidden" name="action" value="rekap" >
<table width="60%" border="0" cellspacing="0" cellpadding="0">
           <tr>
					  <td width="10%">Periode Rekap</td>
					  <td width="20%"><input type="Text" name="calawal" value="Isikan Tanggal" id="calawal" maxlength="25" size="25">
							<input type="button" value="" style="background-image:url(includes/cal/cal.gif); background-repeat:no-repeat; background-position:center; border:none;" onClick="NewCal('calawal','ddmmmyyyy');" /></td>
			</tr>
			<tr>
					 <td width="10%">Sampai Dgn</td>
					  <td width="20%"><input type="Text" name="calakhir" value="Isikan Tanggal" id="calakhir" maxlength="25" size="25">
							<input type="button" value="" style="background-image:url(includes/cal/cal.gif); background-repeat:no-repeat; background-position:center; border:none;" onClick="NewCal('calakhir','ddmmmyyyy');" /></td>
					  
		   </tr>
		   <tr>
					 <td width="10%">Program Studi</td>
					  <td><select name="prodi">
    		   			<option value='ALL'>-- ALL --</option>
				   		{foreach item="prd" from=$T_PRODI}
    		   			{html_options  values=$prd.ID_PROGRAM_STUDI output=$prd.NM_PRODI}
	 		  			 {/foreach}
			   		 </select></td>
		   </tr>
</table>
<td><input type="submit" name="cari1" value="Proses"></td>
</form>

<br>
</br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#000">
	 <td width="4%"><font color="#FFFFFF">No</font></td>
	 <td width="25%"><font color="#FFFFFF">Dosen</font></td>
	 <td width="6%"><font color="#FFFFFF">Kode</font></td>
	 <td width="25%"><font color="#FFFFFF">Mata Ajar</font></td>
	 <td width="4%"><font color="#FFFFFF">Kelas</font></td>
	 <td width="4%"><font color="#FFFFFF">SKS</font></td>
	 <td width="4%"><font color="#FFFFFF">Hadir</font></td>
	 <td width="4%"><font color="#FFFFFF">Total</font></td>
	 </tr>
	
	<tr>
	{foreach name=presen item="sp" from=$T_SPAN}	
	 <td rowspan="$sp.SPAN">{$smarty.foreach.presen.iteration}</td>
	 <td rowspan="$sp.SPAN">{$sp.DOSEN}</td>
	
	 {foreach name=presen1 item="rkp" from=$T_REKAP}
	 {if $sp.DOSEN==$rkp.DOSEN}
			{if $smarty.foreach.presen.iteration>1}
			<tr>
			<td></td>
			<td></td>
			{/if}
			<td >{$rkp.KD_MATA_KULIAH}</td>
			<td >{$rkp.NM_MATA_KULIAH}</td>
			<td >{$rkp.NAMA_KELAS}</td>
			<td >{$rkp.KREDIT_SEMESTER}</td>
			<td >{$rkp.MASUK}</td>
			<td >{$rkp.TOTAL}</td>
		
	
	{/if}		
	{/foreach}
	</tr>
	{/foreach}
</table>
	
<script>$('form').validate();</script>
