<div class="center_title_bar">Daftar Nilai MA {foreach item="list1" from=$NM_MK}{$list1.NM_MK} {/foreach} <br/>{foreach item="list2" from=$THNSMT}{$list2.THN_SMT} {/foreach}</div>
		<table id="myTable" class="tablesorter" cellspacing="1" cellpadding="0" border="0">
           	<thead>
			<tr>
             <th>No</th>
             <th>NIM</th>
             <th>Nama Mahasiswa</td>
             <th>Nilai Angka</th>
			 <th>Nilai Huruf</th>
           </tr>
		   </thead>
		   <tbody>
           {foreach name=test item="list" from=$T_MK}
		   <tr>
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.NIM_MHS}</td>
             <td>{$list.NM_PENGGUNA}</td>
             <td>{$list.NILAI_ANGKA}</td>
			 <td><center>{$list.NILAI_HURUF}</center></td>
           </tr>
		   {foreachelse}
			<tr><td colspan="5"><em>Data tidak ditemukan</em></td></tr>
			{/foreach}
		   </tbody>
   	 </table>