<div class="center_title_bar">Daftar Mahasiswa Cekal UAS SEMESTER {$NM_SMT} {$THN}</div>
<p>
<input type=button name="cetak" value="Cetak" onclick="window.open('proses/presensi-cekal-cetak.php?fak={$FAK}&smt={$SMT}','baru2');">
</p>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">NIM</font></td>
             <td width="30%" bgcolor="#333333"><font color="#FFFFFF">Nama Mahasiswa</font></td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kode MA</font></td>
             <td width="35%" bgcolor="#333333"><font color="#FFFFFF">Nama Mata Ajar</font></td>
             <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kehadiran</font></td>
           </tr>
           {foreach name=test item="list" from=$T_MK}
		   <tr>
             <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list.NIM_MHS}</td>
             <td>{$list.NM_PENGGUNA}</td>
             <td>{$list.KD_MATA_KULIAH}</td>
             <td>{$list.NM_MATA_KULIAH}</td>
			 <td>{$list.PERSEN_PRESENSI}%</td>
           </tr>
		   {foreachelse}
		   <tr><td colspan="6"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
		</table>