<div class="center_title_bar">Historis Mahasiswa {foreach item="list1" from=$MHS}{$list1.NM_MHS} {/foreach} </div>  
<form action="report-history-mhs.php" method="post" name="id_historis-mhs" id="id_historis-mhs">
<input type="hidden" name="action" value="view" >
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>NIM : <input type="text" name="nim" value="{if !empty($smarty.post.nim)}{$smarty.post.nim}{/if}"></td>
		<td><input type="submit" name="View" value="View"></td>
	</tr>
</table>
</form>	
{if {$list1.NM_MHS} == ''}
{else}
{foreach item="list0" from=$T_MHS}
<div class="panel" id="panel1" style="display: block">
<br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
					 <tr>
						 <td>NIM</td>
			 <td>:</td>
			 <td>{$list0.NIM_MHS}</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						 <td>IPK</td>
			 <td>:</td>
			 <td>{$list0.IPK_MHS_STATUS}</td>
					 <tr>			 
						 <td>Nama Mahasiswa</td>
			 <td>:</td>
			 <td>{$list0.NM_PENGGUNA}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						 <td>SKS</td>
			 <td>:</td>
			 <td>{$list0.SKS_TOTAL_MHS_STATUS}</td>
					 </tr>
					 <tr>
						 <td>Program Studi</td>
			 <td>:</td>
			 <td>{$list0.NM_JENJANG} {$list0.NM_PROGRAM_STUDI}</td>
			 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						 <td>Status</td>
			 <td>:</td>
			 <td>{$list0.NM_STATUS_PENGGUNA}</td>
					 </tr>
</table>
{/foreach}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
					 <tr class="left_menu">
						 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
						 <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kode MA</font> </td>
			 <td width="55%" bgcolor="#333333"><font color="#FFFFFF">Nama MA</font> </td>
						 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
						 <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Tahun</font></td>
			 <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Semester</font></td>
			 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Nilai</font></td>
					 </tr>
			 {foreach name=test item="list" from=$T_MK}
					 <tr>
						 <td >{$smarty.foreach.test.iteration}</td>
						 <td >{$list.KD_MATA_KULIAH}</td>
						 <td >{$list.NM_MATA_KULIAH}</td>
						 <td >{$list.KREDIT_SEMESTER}</td>
						 <td >{$list.TAHUN_AJARAN}</td>
			 <td >{$list.NM_SEMESTER}</td>
			 <td >{$list.NILAI_HURUF}</td>
					 </tr>
						{foreachelse}
				<tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
				{/foreach}
</table>
</div>
{/if}
	 