<div class="center_title_bar"> Reset Password Mahasiswa</div>
<td><font color="red"><b> {$display} </b></font></td>
<form action="reset-pwd-mhs.php" method="post">
<input type="hidden" name="action" value="reset" >  
		 <table class="tb_frame" width="100%" border="1" cellspacing="0" cellpadding="0" id="tableText">
                  <tr>
                    <td width="149">Entry Nim Mahasiswa</td>
                    <td width="9">:</td>
                    <td width="754"><input name="nim_mhs" type="text" /></td>
                  </tr>
				 
                </table>
                  <p>
                    <input type="submit" name="Submit" value="Reset">
              </p></td>
            </tr>
          
 </form>
 
{literal}
 <script>$('form').validate();</script>
{/literal}