<div class="center_title_bar">Monitoring Resource Sharing </div>

<div id="tabs">
<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Approved</div>
</div>
<div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: {$disp1}">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#000">
	 <td width="4%"><font color="#FFFFFF">No</font></td>
	 <td width="15%"><font color="#FFFFFF">Nama Ruang</font></td>
	 <td width="6%"><font color="#FFFFFF">Pemilik</font></td>
	 <td width="5%"><font color="#FFFFFF">Pemesan</font></td>
	 <td width="10%"><font color="#FFFFFF">Cp Pemesan</font></td>
	 <td width="6%"><font color="#FFFFFF">Tgl Pakai</font></td>
	 <td width="6%"><font color="#FFFFFF">Tgl Pesan</font></td>
	 <td width="6%"><font color="#FFFFFF">Jam</font></td>
	 <td width="5%"><font color="#FFFFFF">status</font></td>
	 <td width="5%"><font color="#FFFFFF">cp APV</font></td>
	 </tr>
	
	<tr>
	 {foreach name=test item="rs" from=$T_RS}
			<td>{$smarty.foreach.test.iteration}</td>
			<td >{$rs.NM_RUANGAN}</td>
			<td >{$rs.PEMILIK}</td>
			<td >{$rs.PEMESAN}</td>
			<td >{$rs.CP}</td>
			<td >{$rs.TGL_PAKAI}</td>
			<td >{$rs.TGL_PESAN}</td>
			<td >{$rs.JAM_MULAI} s/d {$rs.JAM_SELESAI}</td>
			<td >{$rs.STATUS}</td>
			<td >{$rs.AP}</td>
	</tr>
	{foreachelse}
	<tr><td colspan="10"><em>Data tidak ditemukan</em></td></tr>
	{/foreach}
</table>
</div>
<div class="panel" id="panel2" style="display: {$disp2}">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#000">
	 <td width="4%"><font color="#FFFFFF">No</font></td>
	 <td width="15%"><font color="#FFFFFF">Nama Ruang</font></td>
	 <td width="6%"><font color="#FFFFFF">Pemilik</font></td>
	 <td width="5%"><font color="#FFFFFF">Pemesan</font></td>
	 <td width="10%"><font color="#FFFFFF">Cp Pemesan</font></td>
	 <td width="6%"><font color="#FFFFFF">Tgl Pakai</font></td>
	 <td width="6%"><font color="#FFFFFF">Tgl Pesan</font></td>
	 <td width="15%"><font color="#FFFFFF">Catatan</font></td>
	 <td width="6%"><font color="#FFFFFF">Jam</font></td>
	 <td width="5%"><font color="#FFFFFF">status</font></td>
	 <td width="5%"><font color="#FFFFFF">cp APV</font></td>
	 <td width="5%"><font color="#FFFFFF">Aksi</font></td>
	 </tr>
	
	<tr>
	 {foreach name=test item="rs1" from=$T_RS1}
			<td>{$smarty.foreach.test.iteration}</td>
			<td >{$rs1.NM_RUANGAN}</td>
			<td >{$rs1.PEMILIK}</td>
			<td >{$rs1.PEMESAN}</td>
			<td >{$rs1.CP}</td>
			<td >{$rs1.TGL_PAKAI}</td>
			<td >{$rs1.TGL_PESAN}</td>
			<td >{$rs1.CATATAN}</td>
			<td >{$rs1.JAM_MULAI} s/d {$rs1.JAM_SELESAI}</td>
			<td >{$rs1.STATUS}</td>
			<td >{$rs1.AP}</td>
			{if ($rs1.STATUS=='NOT APPROVED')}
			<td height="0" align="center"><input name="Button" type="button" class="button" onClick="location.href='#utility-mon_rs_ruang!rs.php?action=apv_pesan&idruang={$rs1.ID_RUANGAN}&tgl={$rs1.TGL_PAKAI}&jaw={$rs1.JAM_MULAI}&jak={$rs1.JAM_SELESAI}&st=1';disableButtons()" onMouseOver="window.status='Click untuk Pesan Ruangan';return true" onMouseOut="window.status='Pesan Ruangan'" value="APPROVED" /> </td> 
			{else if}
			<td height="0" align="center"><input name="Button" type="button" class="button" onClick="location.href='#utility-mon_rs_ruang!rs.php?action=apv_pesan&idruang={$rs1.ID_RUANGAN}&tgl={$rs1.TGL_PAKAI}&jaw={$rs1.JAM_MULAI}&jak={$rs1.JAM_SELESAI}&st=0';disableButtons()" onMouseOver="window.status='Click untuk Pesan Ruangan';return true" onMouseOut="window.status='Pesan Ruangan'" value="NOT APPROVED" /> </td> 
			{/if}
	</tr>
	{foreachelse}
	<tr><td colspan="11"><em>Data tidak ditemukan</em></td></tr>
	{/foreach}
</table>
</div>
	
<script>$('form').validate();</script>
