<script language="JavaScript"type="text/javascript">
	function EnableStatus(status, non, aktif)
	{
	
		if(status=="aktif")
		{
		$('#'+aktif).attr('disabled', false);
		$('#'+non).attr('disabled', true);
		}
		else
		{
		$('#'+non).attr('disabled', true);
		$('#'+aktif).attr('disabled', false);
		}
	
	}

</script> 
   <div class="center_title_bar">Status Dosen </div>  
     <table width="80%" border="1">
       <tr>
         <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td>Prodi</td>
               <td>:</td>
               <td>Teknik Kelautan </td>
             </tr>
             <tr>
               <td width="135">NIP</td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text"></td>
             </tr>
             <tr>
               <td>NIDM</td>
               <td>:</td>
               <td><input name="textfield2" type="text" /></td>
             </tr>
             <tr>
               <td>Tahun Ajaran </td>
               <td>:</td>
               <td><select name="select">
                   <option>2010/2011</option>
                 </select>
               </td>
             </tr>
             <tr>
               <td>Semester</td>
               <td>:</td>
               <td><select name="select">
                   <option>Gasal</option>
                   <option>Genap</option>
                                             </select></td>
             </tr>
           </table>
             <p>
               <input type="submit" name="Submit" value="Preview">
           </p></td>
       </tr>
</table>
     <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Pengajuan</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Evaluasi</div>
</div>
        <div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: block">    
		<table width="100%" border="1">
          <tr>
            <td>Perubahan Status
(Pengajuan Dosen)              
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="left_menu">
                <td width="17%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">NIP</font></td>
                <td width="17%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">NIDM</font></td>
                <td width="16%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Nama Dosen </font></td>
                <td colspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Status</font> </td>
                <td width="7%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Aksi</font> </td>
              </tr>
              <tr>
               <td width="19%" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Aktif</font></td>
             <td width="24%" align="center" valign="middle"  bgcolor="#333333"><font color="#FFFFFF">Non-Aktif</font></td>
                </tr>
              <tr>
                <td >123456 789012 1 112 </td>
                <td >123456 789012 1 112 </td>
                <td >Sri , S.Si., M.Kes. </td>
                <td ><select name="aktif" id="aktif">
                    <option value="aktif">Aktif</option>
                    <option value="luar biasa">luar biasa</option>
                    <option value="tugas belajar">tugas belajar</option>
                    <option value="mutasi">mutasi</option>
                    <option value="emeritus">emeritus</option>
                  </select>
                    <input name="radiobutton1" type="radio" id="status" onclick="EnableStatus(this.value, 'non','aktif')" value="aktif" checked="CHECKED" />
                </td>
                <td ><select name="non" id="non" disabled="disabled">
                    <option value="pensiun dini">pensiun dini</option>
                    <option value="pensiun">pensiun</option>
                    <option value="dengan hormat">dengan hormat</option>
                    <option value="dengan tidak hormat">dengan tidak hormat</option>
                    <option value="meninggal">meninggal</option>
                  </select>
                    <input name="radiobutton1" type="radio" value="non-aktif" id="status2" onclick="EnableStatus(this.value, 'aktif','non')"/></td>
                <td ><a href="#">Update</a></td>
              </tr>
              <tr>
                <td >123456 789012 1 112 </td>
                <td >123456 789012 1 112 </td>
                <td > Wahyuni, S.Si., M.Kes. </td>
                <td ><select name="aktif2" id="aktif2">
                    <option value="aktif">Aktif</option>
                    <option value="luar biasa">luar biasa</option>
                    <option value="tugas belajar">tugas belajar</option>
                    <option value="mutasi">mutasi</option>
                    <option value="emeritus">emeritus</option>
                  </select>
                    <input name="radiobutton2" type="radio" id="status3" onclick="EnableStatus(this.value, 'non2','aktif2')" value="aktif" checked="CHECKED" />
                </td>
                <td ><select name="non2" id="non2" disabled="disabled">
                    <option value="pensiun dini">pensiun dini</option>
                    <option value="pensiun">pensiun</option>
                    <option value="dengan hormat">dengan hormat</option>
                    <option value="dengan tidak hormat">dengan tidak hormat</option>
                    <option value="meninggal">meninggal</option>
                  </select>
                    <input name="radiobutton2" type="radio" id="status4" onclick="EnableStatus(this.value, 'aktif2', 'non2')" value="non-aktif"/></td>
                <td ><a href="#">Update</a></td>
              </tr>
              <tr>
                <td >123456 789012 1 112 </td>
                <td >123456 789012 1 112 </td>
                <td >Soebagjo, S.Si., M.Kes. </td>
                <td ><select name="aktif3" id="aktif3">
                    <option value="aktif">Aktif</option>
                    <option value="luar biasa">luar biasa</option>
                    <option value="tugas belajar">tugas belajar</option>
                    <option value="mutasi">mutasi</option>
                    <option value="emeritus">emeritus</option>
                  </select>
                    <input name="radiobutton3" type="radio" id="status3" onclick="EnableStatus(this.value, 'non3','aktif3')" value="aktif" checked="CHECKED" />
                </td>
                <td ><select name="non3" id="non3" disabled="disabled">
                    <option value="pensiun dini">pensiun dini</option>
                    <option value="pensiun">pensiun</option>
                    <option value="dengan hormat">dengan hormat</option>
                    <option value="dengan tidak hormat">dengan tidak hormat</option>
                    <option value="meninggal">meninggal</option>
                  </select>
                    <input name="radiobutton3" type="radio" id="status4" onclick="EnableStatus(this.value, 'aktif3', 'non3')" value="non-aktif"/></td>
                <td ><a href="#">Uadate</a></td>
              </tr>
            </table>
            <input type="submit" name="Submit" value="Simpan"></td>
          </tr>
  </table>
				<br>
</div>
		
<div class="panel" id="panel2" style="display: block">                  <br>
                  <table width="100%" border="1">
                    <tr>
                      <td>Perubahan Status (Kinerja Dosen)
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              
              <tr class="left_menu">
                <td width="17%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">NIP</font></td>
                <td width="17%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">NIDM</font></td>
                <td width="16%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Nama Dosen </font></td>
                <td colspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Status</font> </td>
                <td width="6%" rowspan="2" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Aksi</font> </td>
              </tr>
              <tr>
                <td width="19%" align="center" valign="middle" bgcolor="#333333"><font color="#FFFFFF">Aktif</font></td>
                <td width="25%" align="center" valign="middle"  bgcolor="#333333"><font color="#FFFFFF">Non-Aktif</font></td>
              </tr>
              <tr>
                <td >123456 789012 1 112 </td>
                <td >123456 789012 1 112 </td>
                <td >Sri , S.Si., M.Kes. </td>
                <td ><select name="select2" id="aktif4">
                    <option value="aktif">Aktif</option>
                    <option value="luar biasa">luar biasa</option>
                    <option value="tugas belajar">tugas belajar</option>
                    <option value="mutasi">mutasi</option>
                    <option value="emeritus">emeritus</option>
                  </select>
                    <input name="r1" type="radio" id="radio" onclick="EnableStatus(this.value, 'non4','aktif4')" value="aktif" checked="checked" />
                </td>
                <td ><select name="select2" id="non4" disabled="disabled">
                    <option value="pensiun dini">pensiun dini</option>
                    <option value="pensiun">pensiun</option>
                    <option value="dengan hormat">dengan hormat</option>
                    <option value="dengan tidak hormat">dengan tidak hormat</option>
                    <option value="meninggal">meninggal</option>
                  </select>
                    <input name="r1" type="radio" value="non-aktif" id="radio2" onclick="EnableStatus(this.value, 'aktif4','non4')"/></td>
                <td ><a href="#">Update</a></td>
              </tr>
              <tr>
                <td >123456 789012 1 112 </td>
                <td >123456 789012 1 112 </td>
                <td > Wahyuni, S.Si., M.Kes. </td>
                <td ><select name="select2" id="aktif5">
                    <option value="aktif">Aktif</option>
                    <option value="luar biasa">luar biasa</option>
                    <option value="tugas belajar">tugas belajar</option>
                    <option value="mutasi">mutasi</option>
                    <option value="emeritus">emeritus</option>
                  </select>
                    <input name="r2" type="radio" id="radio3" onclick="EnableStatus(this.value, 'non5','aktif5')" value="aktif" checked="checked" />
                </td>
                <td ><select name="select2" id="non5" disabled="disabled">
                    <option value="pensiun dini">pensiun dini</option>
                    <option value="pensiun">pensiun</option>
                    <option value="dengan hormat">dengan hormat</option>
                    <option value="dengan tidak hormat">dengan tidak hormat</option>
                    <option value="meninggal">meninggal</option>
                  </select>
                    <input name="r2" type="radio" id="radio4" onclick="EnableStatus(this.value, 'aktif5', 'non5')" value="non-aktif"/></td>
                <td ><a href="#">Update</a></td>
              </tr>
              <tr>
                <td >123456 789012 1 112 </td>
                <td >123456 789012 1 112 </td>
                <td >Soebagjo, S.Si., M.Kes. </td>
                <td ><select name="select2" id="aktif6">
                    <option value="aktif">Aktif</option>
                    <option value="luar biasa">luar biasa</option>
                    <option value="tugas belajar">tugas belajar</option>
                    <option value="mutasi">mutasi</option>
                    <option value="emeritus">emeritus</option>
                  </select>
                    <input name="r3" type="radio" id="radio3" onclick="EnableStatus(this.value, 'non6','aktif6')" value="aktif" checked="checked" />
                </td>
                <td ><select name="select2" id="non6" disabled="disabled">
                    <option value="pensiun dini">pensiun dini</option>
                    <option value="pensiun">pensiun</option>
                    <option value="dengan hormat">dengan hormat</option>
                    <option value="dengan tidak hormat">dengan tidak hormat</option>
                    <option value="meninggal">meninggal</option>
                  </select>
                    <input name="r3" type="radio" id="radio4" onclick="EnableStatus(this.value, 'aktif6', 'non6')" value="non-aktif"/></td>
                <td ><a href="#">Uadate</a></td>
              </tr>
<tr class="left_menu"></tr><tr></tr>
                            </table>
                    <input type="submit" name="Submit" value="Simpan"></td></tr>
                  </table>
</div>
