   <div class="center_title_bar">Entry Presensi Susulan</div>  
     <table width="80%" border="0" cellpadding="0" cellspacing="0">
       <tr>
       <td><table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td width="135">Kode Mata Kuliah </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="MK-0012"></td>
             </tr>
             <tr>
               <td>Pertemuan Ke-</td>
               <td>:</td>
               <td><select name="select2">
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
               </select></td>
             </tr>
             <tr>
               <td>NIM</td>
               <td>:</td>
               <td><input name="textfield2" type="text" value="0805102225" /></td>
             </tr>
             <tr>
               <td>Nama</td>
               <td>:</td>
               <td>Irvan Toni</td>
             </tr>
             <tr>
               <td>Prodi</td>
               <td>:</td>
               <td>Kimia</td>
             </tr>
             <tr>
               <td>Absen</td>
               <td>:</td>
               <td><select name="select3" id="select">
<option>Izin</option>
                 <option>Sakit</option>
               </select></td>
             </tr>
           </table>
             <p>
               <input type="submit" name="Submit" value="Simpan">
           </p></td>
         </tr>
       </table>
         <p>&nbsp;</p>
         <div class="panel" id="panel1" style="display: block"></div></td>
       </tr>
</table>

		<div class="panel" id="panel2" style="display: none">
				  <table class="tb_frame" width="46%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="213">Kode Mahasiswa</td>
					  <td width="10">:</td>
					  <td width="274">080911911</td>
					</tr>
					<tr>
					  <td>Nama Mahasiswa </td>
					  <td>:</td>
					  <td>Ismail Bisri</td>
					</tr>
					<tr>
					  <td>Edit Status </td>
					  <td>&nbsp;</td>
					  <td><select name="select">
					    <option>Tidak Aktif</option>
				      </select></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
		</div>