   <div class="center_title_bar">Perbaikan Transkrip Mahasiswa </div>  
     <table width="80%" border="0" cellpadding="0" cellspacing="0">
       <tr>
       <td><table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td width="135">NIM </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="0803123456"></td>
             </tr>
             <tr>
               <td>Nama Mahasiswa</td>
               <td>:</td>
               <td>Sugiono</td>
             </tr>
             <tr>
               <td>Jurusan / Prodi</td>
               <td>:</td>
               <td><select name="select">
                   <option>Perikanan Laut</option>
                 </select>
               </td>
             </tr>
             <tr>
               <td>Kode Matakuliah </td>
               <td>:</td>
               <td><input name="textfield" type="text" value="MK-0012"></td>
             </tr>
           </table>
             <p>
               <input type="submit" name="Submit" value="Tampilkan">
             </p></td>
         </tr>
       </table>       
         <table width="70%" border="1">
           <tr>
             <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
                 <tr>
                   <td width="135">NIM </td>
                   <td width="10">:</td>
                   <td width="239">0803123456</td>
                 </tr>
                 <tr>
                   <td>Nama Mahasiswa</td>
                   <td>:</td>
                   <td>Sugiono</td>
                 </tr>
                 <tr>
                   <td>Jurusan / Prodi</td>
                   <td>:</td>
                   <td>Perikanan Laut 
                   </td>
                 </tr>
                 <tr>
                   <td>Nama Mata Kulia</td>
                   <td>:</td>
                   <td>Jaringan</td>
                 </tr>
                 <tr>
                   <td>Nilai Perbaikan </td>
                   <td>&nbsp;</td>
                   <td><input type="text" name="textfield"></td>
                 </tr>
               </table>
                 <p>
                   <input type="submit" name="Submit" value="Simpan">
               </p></td>
           </tr>
         </table>         
         <p>&nbsp;</p></td>
       </tr>
</table>

		<div class="panel" id="panel2" style="display: none">
				  <table class="tb_frame" width="46%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="213">Kode Mahasiswa</td>
					  <td width="10">:</td>
					  <td width="274">080911911</td>
					</tr>
					<tr>
					  <td>Nama Mahasiswa </td>
					  <td>:</td>
					  <td>Ismail Bisri</td>
					</tr>
					<tr>
					  <td>Edit Status </td>
					  <td>&nbsp;</td>
					  <td><select name="select">
					    <option>Tidak Aktif</option>
				      </select></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
		</div>