   <div class="center_title_bar">Penambahan Mata Kuliah Baru </div>  
     <table width="80%" border="0" cellpadding="0" cellspacing="0">
       <tr>
       <td><table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td>NIM </td>
               <td>:</td>
               <td><input name="textfield" type="text" value="0903123456"></td>
             </tr>
             <tr>
               <td>Nama Mahasiswa</td>
               <td>:</td>
               <td>Sugiono</td>
             </tr>
             <tr>
               <td>Jurusan / Prodi</td>
               <td>:</td>
               <td><select name="select">
                   <option>Perikanan Laut</option>
                 </select>
               </td>
             </tr>
             <tr>
               <td width="135">Kode Mata Kuliah </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="MK-0056"></td>
             </tr>
             <tr>
               <td>Nama Mata Kuliah </td>
               <td>:</td>
               <td>Teknik Komunikasi</td>
             </tr>
             <tr>
               <td>Nilai</td>
               <td>:</td>
               <td><input name="textfield" type="text" value="A"></td>
             </tr>
           </table>
             <p>
               <input type="submit" name="Submit" value="Tambah">
             </p></td>
         </tr>
       </table>       <p>&nbsp;</p>
       <table width="86%" border="0" cellspacing="0" cellpadding="0">
         <tr class="left_menu">
           <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No.</font></td>
           <td width="21%" bgcolor="#333333"><font color="#FFFFFF">Kode MK</font></td>
           <td width="41%" bgcolor="#333333"><font color="#FFFFFF">Nama Mata Kuliah </font></td>
           <td width="11%" bgcolor="#333333"><font color="#FFFFFF">SKS</font> </td>
           <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Nilai</font></td>
         </tr>
         <tr>
           <td >1.</td>
           <td >MK-0012</td>
           <td >Jaringan</td>
           <td >2</td>
           <td >A</td>
         </tr>
         <tr>
           <td >2.</td>
           <td >MK-0034</td>
           <td >Analisa Pasar Keuangan</td>
           <td >2</td>
           <td >AB</td>
         </tr>
       </table>
       <p>
           <input type="submit" name="Submit" value="Simpan">
         </p>
         <div class="panel" id="panel1" style="display: block"></div></td>
       </tr>
</table>

		<div class="panel" id="panel2" style="display: none">
				  <table class="tb_frame" width="46%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="213">Kode Mahasiswa</td>
					  <td width="10">:</td>
					  <td width="274">080911911</td>
					</tr>
					<tr>
					  <td>Nama Mahasiswa </td>
					  <td>:</td>
					  <td>Ismail Bisri</td>
					</tr>
					<tr>
					  <td>Edit Status </td>
					  <td>&nbsp;</td>
					  <td><select name="select">
					    <option>Tidak Aktif</option>
				      </select></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
		</div>