	<div class="center_title_bar">UTS / UAS </div>
	<form action="jadwal-akademik.php" method="post" name="id_jad_akd" id="id_jad_akd">
		 <input type="hidden" name="action" value="tampil" >  
<table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td>
			 	Tahun Akademik : 
                <select name="smt">
    		   <option value=''>-- PILIH THN AKD --</option>
	 		   {foreach item="smt" from=$T_ST}
    		   {html_options  values=$smt.ID_SEMESTER output=$smt.SMT}
	 		   {/foreach}
			   </select>
			   <input type="submit" name="View" value="View">
		     </td> 
           </tr>
</table>
</form>	
	<div id="tabs">
		<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
		<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>

   	</div>
	
    <div class="tab_bdr"></div>
    <div class="panel" id="panel1" style="display:{$disp1} "> 
	   			
			<table width="88%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Kode MK</font></td>
             <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Kelas</font></td>
             <td width="16%" bgcolor="#333333"><font color="#FFFFFF">Kode Ruang </font></td>
             <td width="16%" bgcolor="#333333"><font color="#FFFFFF">Jam</font> </td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Pengawas</font> </td>
             <td width="21%" bgcolor="#333333"><font color="#FFFFFF">Keterangan</font></td>
           </tr>
           <tr>
             <td >MK-0056</td>
             <td >C</td>
             <td >R-204</td>
             <td >07:00 - 08:30 </td>
             <td > Sri Wahyuni, S.Si., M.Kes. </td>
             <td >&nbsp;</td>
           </tr>
         </table>	
</div>
		
    <div class="panel" id="panel2" style="display:{$disp2} ">
	  
				  <form action="jam.php" method="post" >
				  <input type="hidden" name="action" value="add" >
				  <table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0" id="tableText">
             <tr>
               <td width="135">Kode Mata Kuliah </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="MK-0056"></td>
             </tr>
             <tr>
               <td>Kelas</td>
               <td>:</td>
               <td><select name="select2">
                 <option>A</option>
                 <option>B</option>
                 <option>C</option>
                 <option>D</option>
                 <option>E</option>
               </select></td>
             </tr>
             <tr>
               <td>Kode Ruang </td>
               <td>:</td>
               <td><input name="textfield" type="text" value="R-511"></td>
             </tr>
             <tr>
               <td>Jam Ujian </td>
               <td>:</td>
               <td><select name="select">
                   <option>07:00</option>
                 </select>
      -
      <select name="select">
        <option>07:00</option>
    </select></td>
             </tr>
             <tr>
               <td>Nama Pengawas 1</td>
               <td>:</td>
               <td><input name="textfield" type="text" value="Endang Sulastri,"></td>
             </tr>
           </table>
             <p>
               <input type="button" name="addButton" value="Tambah" id="addButton">
             </p></td>
         </tr>
       </table>
	    </form>			
	  </div>
	      <div class="panel" id="panel3" style="display: {$disp3} ">
		  <form action="jam.php" method="post" >
		  		  <input type="hidden" name="action" value="update" >
				  
				  <table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0" id="tableText">
             <tr>
               <td width="135">Kode Mata Kuliah </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="MK-0056"></td>
             </tr>
             <tr>
               <td>Kelas</td>
               <td>:</td>
               <td><select name="select2">
                 <option>A</option>
                 <option>B</option>
                 <option>C</option>
                 <option>D</option>
                 <option>E</option>
               </select></td>
             </tr>
             <tr>
               <td>Kode Ruang </td>
               <td>:</td>
               <td><input name="textfield" type="text" value="R-511"></td>
             </tr>
             <tr>
               <td>Jam Ujian </td>
               <td>:</td>
               <td><select name="select">
                   <option>07:00</option>
                 </select>
      -
      <select name="select">
        <option>07:00</option>
    </select></td>
             </tr>
             <tr>
               <td>Nama Pengawas 1</td>
               <td>:</td>
               <td><input name="textfield" type="text" value="Endang Sulastri,"></td>
             </tr>
           </table>
             <p>
               <input type="button" name="addButton" value="Update" id="addButton">
             </p></td>
         </tr>
       </table>
	    </form>			
	  </div>	
<script>$('form').validate();</script>
	  		
   