<script language="JavaScript"type="text/javascript">
$(function() {

	var i = $('input type="text"').size() + 2;

	$('#addButton').click(function() {

		 $('#tableText tr:last').after('<tr><td>Nama Pengawas ' + i +'</td>' +
					  '<td>:</td>' +
					  '<td><input name="textfield" type="text" value=""></td>' +
    				'</tr>').
			animate({ opacity: "show" }, "slow");
		i++;
	});
	
});
</script>
   
  <div class="center_title_bar">Penentuan Jadwal UAS</div>  
     <table width="80%" border="0" cellpadding="0" cellspacing="0">
       <tr>
       <td><table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0" id="tableText">
             <tr>
               <td width="135">Kode Mata Kuliah </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="MK-0056"></td>
             </tr>
             <tr>
               <td>Kelas</td>
               <td>:</td>
               <td><select name="select2">
                 <option>A</option>
                 <option>B</option>
                 <option>C</option>
                 <option>D</option>
                 <option>E</option>
               </select></td>
             </tr>
             <tr>
               <td>Kode Ruang </td>
               <td>:</td>
               <td><input name="textfield" type="text" value="R-511"></td>
             </tr>
             <tr>
               <td>Jam Ujian </td>
               <td>:</td>
               <td><select name="select">
                   <option>07:00</option>
                 </select>
      -
      <select name="select">
        <option>07:00</option>
    </select></td>
             </tr>
             <tr>
               <td>Nama Pengawas 1</td>
               <td>:</td>
               <td><input name="textfield" type="text" value="Endang Sulastri,"></td>
             </tr>
           </table>
             <p>
               <input type="button" name="addButton" value="Tambah" id="addButton">
               <input type="submit" name="Submit2" value="Simpan" />
             </p></td>
         </tr>
       </table>         <p>&nbsp;</p>
         <table width="88%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="15%" bgcolor="#333333"><font color="#FFFFFF">Kode MK</font></td>
             <td width="12%" bgcolor="#333333"><font color="#FFFFFF">Kelas</font></td>
             <td width="16%" bgcolor="#333333"><font color="#FFFFFF">Kode Ruang </font></td>
             <td width="16%" bgcolor="#333333"><font color="#FFFFFF">Jam</font> </td>
             <td width="41%" bgcolor="#333333"><font color="#FFFFFF">Pengawas</font> </td>
           </tr>
           <tr>
             <td >MK-0056</td>
             <td >C</td>
             <td >R-204</td>
             <td >07:00 - 08:30 </td>
             <td > Sri Wahyuni, S.Si., M.Kes. </td>
           </tr>
         </table>
         <div class="panel" id="panel1" style="display: block"></div></td>
       </tr>
</table>

		<div class="panel" id="panel2" style="display: none">
				  <table class="tb_frame" width="46%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="213">Kode Mahasiswa</td>
					  <td width="10">:</td>
					  <td width="274">080911911</td>
					</tr>
					<tr>
					  <td>Nama Mahasiswa </td>
					  <td>:</td>
					  <td>Ismail Bisri</td>
					</tr>
					<tr>
					  <td>Edit Status </td>
					  <td>&nbsp;</td>
					  <td><select name="select">
					    <option>Tidak Aktif</option>
				      </select></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
		</div>