<div class="center_title_bar">VALIDASI PRASYARAT-MK KRS MAHASISWA </div>
<form action="val-prasyarat-mk-rg.php" method="post" name="mhs_krs" id="mhs_krs">
<input type="hidden" name="action" value="val_krs_rg" >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr>
					  <td>Jumlah Record KRS </td>
					  <td>:</td>
					  <td>{$record}</td>
					  {if $norecord==0 }
					  <td><input type="submit" name="proses" value="Validasi Prasyarat"></td>
					  <input type="hidden" name="st" value="1" >
					  {else}
					  <td><input type="submit" name="proses" value="Proses Ulang Validasi Prasyarat"></td>
					  <input type="hidden" name="st" value="2" >
					  {/if}
		   </tr>
</table>
</form>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr>
					  <td>Jumlah Record KRS yang tdk lolos prasyarat MA</td>
					  <td>:</td>
					  <td>{$norecord}</td>
					  <td height="0" align="center"><input name="Button" type="button" class="button" onClick="location.href='#utility-KRS!val-prasyarat-mk-rg.php?action=batalall';disableButtons()" onMouseOver="window.status='Click untuk Batal';return true" onMouseOut="window.status='Batal'" value="PROSES BATAL ALL" /> </td>		  
		   </tr>
</table>
        <div id="tabs">
        <div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        </div>
        <div class="tab_bdr"></div>
    <div class="panel" id="panel1" style="display: {$disp1}">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
              <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="8%" bgcolor="#333333"><font color="#FFFFFF">Nim</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama Mhs</font> </td>
	     <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Kd MA</font></td>
             <td width="20%" bgcolor="#333333"><font color="#FFFFFF">Nama MA</font></td>
	     <td width="5%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
		 <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kls</font></td>
		 <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
           </tr>
          
		{foreach name=test item="list" from=$T_NOLLS}
        <tr>
          <td >{$smarty.foreach.test.iteration}</td>
          <td >{$list.NIM_MHS}</td>
		  <td >{$list.NM_PENGGUNA}</td>
          <td >{$list.KD_MATA_KULIAH}</td>
          <td >{$list.NM_MATA_KULIAH}</td>
		  <td >{$list.KREDIT_SEMESTER}</td>
          <td >{$list.NAMA_KELAS}</td>
		  <td height="0" align="center"><input name="Button" type="button" class="button" onClick="location.href='#utility-KRS!val-prasyarat-mk-rg.php?action=batal&id_pengmk={$list.ID_PENGAMBILAN_MK}';disableButtons()" onMouseOver="window.status='Click untuk Batal';return true" onMouseOut="window.status='Batal'" value="B A T A L" /> </td> 
        </tr>
         {foreachelse}
        <tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
        
</table>

</div>
		
<script>$('form').validate();</script>
