<div class="center_title_bar">ID Sub-Kategori Arsip : {$arsip_subkategori.ID_ARSIP_SUBKATEGORI}</div>

{if $edited}<script type="text/javascript">alert('{$edited}');</script>{/if}

<form action="master-subkategori.php" method="post">
<input type="hidden" name="mode" value="delete" />
<input type="hidden" name="id_arsip_subkategori" value="{$arsip_subkategori.ID_ARSIP_SUBKATEGORI}" />
<!--<input type="hidden" name="id_join_table" value="{$pengguna.JOIN_TABLE}" /> -->
<table>
    <tr>
        <th colspan="3">Detail Sub-Kategori Arsip</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>:</td>
        <td>{$arsip_subkategori.ID_ARSIP_SUBKATEGORI}</td>
    </tr>
    <tr>
        <td>Nama Kategori Arsip </td>
        <td>:</td>
        <td>{$arsip_subkategori.NM_ARSIP_KATEGORI}</td>
    </tr>
    <tr>
        <td>Nama Sub-Kategori Arsip </td>
        <td>:</td>
        <td>{$arsip_subkategori.NM_ARSIP_SUBKATEGORI}</td>
    </tr>
    <tr>
        <td colspan="3" class="center">

            <a href="master-subkategori.php">Kembali</a>
            <input type="submit" value="Hapus" />
        </td>
    </tr>
</table>
</form>