<div class="center_title_bar"> Data Dosen </div>
<table width="850" class="tableabout">
  <tr>
    <th width="38">No</th>
    <th width="178">Sub menu</th>
    <th width="634">Uraian</th>
  </tr>
  <tbody>
  <tr>
    <td><center>1</center></td>
    <td>Master Unit Kerja</td>
    <td>Difungsikan untuk menampilkan atau menambah data unit kerja pada universitas</td>
  </tr>
  <tr>
    <td><center>2</center></td>
    <td>Master Jabatan Pegawai</td>
    <td>Difungsikan untuk menampilkan atau menambah data jabatan pegawai pada universitas</td>
  </tr>
  </tbody>
</table>