<div class="center_title_bar">MASTER PROGRAM STUDI</div>

<table>
	<tr>
		<th>KDPTIMSPST</th>
		<th>KDFAKMSPST</th>
		<th>KDJENMSPST</th>
		<th>KDPSTMSPST</th>
		<th>NMPSTMSPST</th>
		<th>TGAWLMSPST</th>
		<th>SMAWLMSPST</th>
		<th>STATUMSPST</th>
		<th>MLSEMMSPST</th>
		<th>SKSTTMSPST</th>
		<th>EMAILMSPST</th>
		<th>NOMSKMSPST</th>
		<th>TGLSKMSPST</th>
		<th>TGLAKMSPST</th>
		<th>NOMBAMSPST</th>
		<th>TGLBAMSPST</th>
		<th>TGLABMSPST</th>
		<th>KDSTAMSPST</th>
		<th>KDFREMSPST</th>
		<th>KDPELMSPST</th>
		<th>NOKPSMSPST</th>
		<th>TELPSMSPST</th>
		<th>TELPOMSPST</th>
		<th>FAKSIMSPST</th>
		<th>NMOPRMSPST</th>
		<th>TELPRMSPST</th>
		<th>LISAHMSPST</th>
		<th>KDPS1MSPST</th>
	</tr>
	{foreach $ebsbed as $data}
	<tr>
		<td>{$data.KDPTIMSPST}</td>
		<td>{$data.KDFAKMSPST}</td>
		<td>{$data.KDJENMSPST}</td>
		<td>{$data.KDPSTMSPST}</td>
		<td>{$data.NMPSTMSPST}</td>
		<td>{$data.TGAWLMSPST}</td>
		<td>{$data.SMAWLMSPST}</td>
		<td>{$data.STATUMSPST}</td>
		<td>{$data.MLSEMMSPST}</td>
		<td>{$data.SKSTTMSPST}</td>
		<td>{$data.EMAILMSPST}</td>
		<td>{$data.NOMSKMSPST}</td>
		<td>{$data.TGLSKMSPST}</td>
		<td>{$data.TGLAKMSPST}</td>
		<td>{$data.NOMBAMSPST}</td>
		<td>{$data.TGLBAMSPST}</td>
		<td>{$data.TGLABMSPST}</td>
		<td>{$data.KDSTAMSPST}</td>
		<td>{$data.KDFREMSPST}</td>
		<td>{$data.KDPELMSPST}</td>
		<td>{$data.NOKPSMSPST}</td>
		<td>{$data.TELPSMSPST}</td>
		<td>{$data.TELPOMSPST}</td>
		<td>{$data.FAKSIMSPST}</td>
		<td>{$data.NMOPRMSPST}</td>
		<td>{$data.TELPRMSPST}</td>
		<td>{$data.LISAHMSPST}</td>
		<td>{$data.KDPS1MSPST}</td>
	</tr>
	{/foreach}
</table>