<html>
    <head></head>
    <body>
        <form action="transfer-pasca.php" method="post">
            <input type="submit" value="Transfer" />
        </form>
        <table border="1">
        {foreach $tbpasca_peserta as $row}
            <tr>
                {foreach $row as $col}<td>{$col}</td>{/foreach}
            </tr>
        {/foreach}
        </table>
    </body>
</html>