<div class="center_title_bar">Reset Pendaftar</div>

<form action="ppmb-reset-peserta.php" method="get">
<label>No Voucher</label> <input type="text" name="kode_voucher" {if isset($smarty.get.kode_voucher)}value="{$smarty.get.kode_voucher}"{/if} /> <input type="submit" value="Cari" />
</form>

{if isset($cm)}
<form action="ppmb-reset-peserta.php" method="post">
    <input type="hidden" name="id_c_mhs" value="{$cm.ID_C_MHS}" />
    <input type="hidden" name="id_jadwal_ppmb" value="{$cm.ID_JADWAL_PPMB}" />
<table border="1">

    <tr>
        <td>Nama</td>
        <td>{$cm.NM_C_MHS}</td>
    </tr>
    <tr>
        <td>Jalur</td>
        <td>{$cm.NM_JALUR}</td>
    </tr>
    <tr>
        <td>No Ujian</td>
        <td>{$cm.NO_UJIAN}</td>
    </tr>
    {if $cm.NO_UJIAN != ''}
    <tr>
        <td colspan="2" align="center"><input type="submit" value="Reset Jadwal" /></td>
    </tr>
    {/if}
</table>
</form>
{/if}