<div class="center_title_bar">utility negara</div>


<table class="ui-widget">
<tr class="ui-widget-header">
	<td>
		NO.
	</td>
	<td>
		NAMA NEGARA
	</td>
	<td>
	</td>
</tr>
{for $i=0 to $Jml_Data-1}
<tr class="ui-widget-content">
	<td>
		{$i+1}
	</td>
	<td>
		{$Nm_Negara[$i]}
	</td>
	<td>
	</td>
</tr>
{/for}

</table>