<div style="width:760px;">
	
	<div style="float:left; width:60px;">
	<img src="" style="width:40px; height:50px;" />
	</div>
	<div style="float:left; width:700px;">
		<div style="width:700px;border-color:#CCC;border-left-width:1px;border-left-style:dotted;padding-left:10px;">
			<div></div>
			<div style="float:left;border-color:#CCC;border-right-width:1px;border-right-style:dotted;margin-right:5px;">
				<div style="border-color:#eaeaea;border-bottom-width:1px;border-bottom-style:solid;margin-right:5px;margin-bottom:5px;">
					<div style="float:left;">Koordinator Kabupaten</div>
					<div id="btnEditKorkab" style="float:right;color:blue;">Edit</div>
					<div style="clear:both;">
					</div>
				</div>
				<form id="frmGetKabupatenKorkab" name="frmGetKabupatenKorkab" method="POST">
				<div id="korkab-area">
					<div id="get-provinsi-korkab">
					</div>
					<div id="get-kabupaten-korkab">
					</div>
					<div id="get-status-korkab">
					</div>
				</div>
				</form>
			</div>
			<div style="clear:both;">
				&nbsp;
			</div>
		</div>
	</div>
</div>