<script language="javascript">
	$(document).ready(function() {
		$('#prodi').change(function(){
			var id_prodi = $('#prodi').val();
			$('#display').load("kepakaran-dosen-display.php?id_prodi="+id_prodi);
		})
	});
</script>
<select id="prodi">
	{for $i=0 to $jml_prodi-1}
	<option value="{$id_prodi[$i]}">[{$nm_jenjang[$i]}] {$nm_prodi[$i]}</option>
	{/for}
</select>