<table class="ui-widget">
	<tr class="ui-widget-header">
		<td>NO</td><td>NAMA</td><td>KEPAKARAN</td>
	</tr>
	{for $i=0 to $jml_dosen-1}
	<tr >
		<td class="ui-widget-content">{$i+1}</td><td class="ui-widget-content">{$nm_dosen[$i]}</td><td class="ui-widget-content">{$nm_matkul[$i]}</td>
	</tr>
	{/for}
</table>