Navigation: 
<a href="{$menu_page}" class="current_navigation">{$menu_title}</a>
{if isset($tab_id)} 
    -&gt; <a href="{$tab_page}">{$tab_title}</a>
{/if}&nbsp;
<span class="login_user" style="color: #ecaf09;">Welcome : <strong style="color: #b9bdc2;">{$user_login}</strong></span>
