<div class="center_title_bar">Email</div>

<form action="informasi-email.php" method="get">
<table>
	<tr>
		<td>Email</td>
		<td><input type="text" name="email" value="{if !empty($smarty.get.email)}{$smarty.get.email}{/if}" /><input type="submit" value="Cari" /></td>
	</tr>
</table>
</form>

<table>
	<tr>
		<th>No</th>
		<th>Email</th>
		<th>Nama Pengguna</th>
	</tr>
	{foreach $data_set as $data}
		<tr {if $data@index is not div by 2}style="background-color: #eee"{/if}>
			<td class="center">{$data@index + 1}</td>
			<td>{$data.EMAIL}</td>
			<td>{$data.NM_PENGGUNA}</td>
		</tr>
	{foreachelse}
		<tr>
			<td colspan="4">Tidak ada data</td>
		</tr>
	{/foreach}
</table>