html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td {
border:0pt none;
/*font-family:inherit;*/
font-size:100%;
font-style:inherit;
font-weight:inherit;
/*
margin:0pt;
padding:0pt;

/*vertical-align:baseline;*/

}
body{
background:#fff none repeat scroll 0%;
line-height:2;
font-size: 12px;
font-family:arial,sans-serif;
/*margin:0pt;*/
height:100%;
}
table {
border-collapse:separate;
border-spacing:0pt;
}
caption, th, td {
font-weight:normal;
text-align:left;
}
blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
a{
cursor: pointer;
text-decoration:none;
}
br.both{
clear:both;
}
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:500px;
width:800px;
background:#EDEDED;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:12px;
text-align:justify;
/*overflow:auto;*/
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#popupContact h1{
text-align:left;
color:#FFF;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
background:navy;
padding:12px;
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#button{
text-align:center;
margin:100px;
}


/*Login Cyber Style*/

.wrapper {
    background: url('/img/login/login.png') no-repeat;
    height: 348px;
    width: 660px;
    left: 25%;
    top: 25%;
    position: absolute;
}
.wrapper_maba {
    background: url('/img/maba/login.png') no-repeat;
    height: 348px;
    width: 660px;
    left: 25%;
    top: 25%;
    position: absolute;
}
.login-box {
    height: 172px;
    width: 400px;
    position: absolute;
    top: 72px;
    left: 240px;
}
.username-box {
    position: absolute;
    top: 60px;
    right: 75px;
}
.password-box {
    position: absolute;
    top: 100px;
    right: 75px;
}
.submit-box {
    position: absolute;
    top: 140px;
    right: 75px;
    text-align: right;
}
.recaptcha-box {
    position: absolute;
    top: 2px;
    left: 18px;
}

label {
    color: #444;
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: bold;
}
input { margin-left: 20px; }
input[type=submit], button { cursor: pointer; }