<div class="center_title_bar">Master Ruang ELPT - Tambah Ruangan</div>

<form action="elpt-master-ruang.php" method="post">
<input type="hidden" name="mode" value="add" />
<table>
    <tr>
        <th colspan="2">Tambah Master RUang Elpt</th>
    </tr>
    <tr>
        <td>Nama Ruang</td>
        <td><input type="text" name="nama" size="30" /></td>
    </tr>
    <tr>
        <td>Kapasitas</td>
        <td><input type="text" name="kapasitas" size="2" maxlength="2" /></td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <a class="button" href="elpt-master-ruang.php">Batal</a>
            <input class="button" type="submit" value="Simpan" />
        </td>
    </tr>
</table>
</form>