<ul>
    {foreach $menu_set as $m}
        {if $m.AKSES == 1}
            {* -- Untuk mengecek hak akses -- *}
            <li><a href="#{$nm_modul}-{$m.NM_MENU}!{$m.PAGE}">{$m.TITLE}</a>
            </li>
        {/if}
    {/foreach}
</ul>