<html>
    <head>
        <style>body { margin: 0px; padding: 0px; font-family: 'Trebuchet MS'; font-size: 13px; }</style>
    </head>
    <body>
        {if $smarty.server.REQUEST_METHOD == 'GET'}
            <form action="pengawas-absen.php?mode=upload-file" method="post" enctype="multipart/form-data">
                <input type="file" name="file" size="40" onchange="document.forms[0].submit()" accept="application/vnd.ms-excel" />
                <input type="hidden" name="token" value="{$smarty.get.token}" />
                <input type="hidden" name="mode" value="upload-file" />
            </form>
        {else}
            <div style="margin-top: 5px">{$result}</div>
        {/if}
    </body>
</html>