<div class="center_title_bar">Input Absensi</div>
{$token = time()}
<form action="pengawas-absen.php?mode=proses-file" method="post">
    <input type="hidden" name="token" value="{$token}" />
    <input type="hidden" name="mode" value="proses-file" />
    <table>
        <tr>
            <th colspan="2">Upload File Excel</th>
        </tr>
        <tr>
            <td>File</td>
            <td>
                <iframe src="pengawas-absen.php?mode=upload-file&token={$token}" style="height: 26px; width: 400px; overflow: hidden" scrolling="no"></iframe>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center"><input type="submit" value="Proses" /></td>
        </tr>
    </table>
</form>