<div class="center_title_bar">Account : {$pengguna.USERNAME}</div>

{if $edited}<script type="text/javascript">alert('{$edited}');</script>{/if}

<form action="password-temp.php?{$smarty.server.QUERY_STRING}" method="post">
<input type="hidden" name="mode" value="kembali" />
<input type="hidden" name="id_pengguna" value="{$pengguna.ID_PENGGUNA}" />
<input type="hidden" name="username" value="{$pengguna.USERNAME}" />
<input type="hidden" name="pass" value="{$pengguna.PASSWORD_HASH}" />
<input type="hidden" name="pass_temp" value="{$pengguna.PASSWORD_HASH_TEMP}" />
<table>
    <tr>
        <th colspan="2" class="center">Kembalikan Password?</th>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <input type="submit" value="Recovery" />
        </td>
    </tr>
</table>
</form>
            
<a href="password-temp.php?q={$smarty.get.q}">Kembali</a>