	<table class="table">
		<th>
			NO
		</th>
		<th>
			NIM
		</th>
		<th>
			NAMA
		</th>
		<th>
			KELOMPOK
		</th>
		<th>
			KELURAHAN
		</th>
		<th>
			PRODI
		</th>
		<th>
			FAKULTAS
		</th>
		<th>
			KORKAB
		</th>
		<th>
			KORBING
		</th>
		<th>
			DPL
		</th>
		
		{foreach $sebaran as $data}
		<tr>
			<td>
				{$data@index + 1}
			</td>
			<td>
				{$data.NIM_MHS}
			</td>
			<td>
				{$data.NM_PENGGUNA}
			</td>
			<td>
				{$data.NAMA_KELOMPOK}
			</td>
			<td>
				{$data.NM_KELURAHAN}
			</td>
			<td>
				{$data.NM_PROGRAM_STUDI}
			</td>
			<td>
				{$data.NM_FAKULTAS}
			</td>
			<td>
				{$data.KORKAB}
			</td>
			<td>
				{$data.KORBING}
			</td>
			<td>
				{$data.DPL}
			</td>
		</tr>
		{/foreach}
	</table>