<div class="center_title_bar">TOEFL</div>
<table border="1" width="500">
<tbody>
<tr>
	<td align="center" colspan="2"><h2>Hasil Ujian TOEFL</h2></td>
</tr>
<tr>
	<th align="center">Kemampuan</th>
	<th align="center">Nilai</th>
</tr>
{$tampil_data}
</tbody>
</table>
Total : {$tampil_data2}