<!-- Author : Seto Priyanggoro -->
<div class="center_title_bar">Biodata Mahasiswa</div>
<!-- File ini berisi proses dari menu biodata mahasiswa -->
{$jkueri_biodata}
<div id="biodata-update">

</div>
  