<div class="center_title_bar">Trash</div> 
<div id="tabs">
    <div id="tab1" class="tab_sel" align="center" onClick="javascript: displayPanel('1');">Trash</div>
    
</div>

<div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: block">
	{$jkueri_trash}
    <div style="width: 98%;  border: 1px solid #4578a2;" id="trash_hapus">

    </div>
	<br><br>
	<div style="width: 98%;" id="trash_detail">

    </div>
</div>
