<div class="center_title_bar">Informasi Lowongan</div>


	{for $i=0 to $jml_info-1}
	<div style="border-bottom-style:solid;border-bottom-color:brown;border-bottom-width:1px;margin:20px;">
	<div id='foto' style="float:left;width:60px;height:70px;padding-right:20px;">
		<img src="{$foto_pengirim[$i]}" style="float:left;width:60px;height:70px;padding-right:20px;" />
	</div>
	
	<div id="content" style="float:left;width:700px;height:auto;">
		<div id="pengirim" style="">
			<span>
			{$pengirim[$i]}
			</span>
		</div>
		
		<div id="title" style="">
			<span style="color:blue;font-weight:bold;font-size:16px;">
				<a href="pengumuman_lowongan.php?id={$id[$i]}" style="text-decoration:none;">{$judul[$i]}</a>
			</span>
		</div>
		
		<div id="info" style="">
			<p align="justify">
				{$pesan[$i]}
			</p>
		</div>
	</div>
	
	<div style="clear:both;">
		&nbsp;
	</div>
	</div>
	{/for}