<div id="content_display">

<script>
	
	$(document).ready(function(){
		$( "#btn-comment" ).button({
			text: true
		});
		{for $i=0 to $jml_data-1}
			$("#btn-edit{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});
			$("#btn-delete{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});
		{/for}
		
		$('#tanggapan').autosize();
		$('#area_tanggapan').load('portal_ormawa_tanggapan_display.php?id='+'{$id}');
		
		$('#btn-comment').click(function(){	
			//var judul = document.getElementById('judul').value;
			//var content =  document.getElementById('get_isi').value;
			//var dataString = 'judul='+ judul + '&get_isi=' + content;
			$('#frmOrmawaTanggapan').submit();
		})
		
		$('#frmOrmawaTanggapan').submit(function() {
			var id = document.getElementById('id_ormawa').value;
			$.ajax({
				type: 'GET',
				url: $(this).attr('action'),
				data: $(this).serialize(),
				success: function(data) {
					$('#area_tanggapan').load('portal_ormawa_tanggapan_display.php?id='+'{$id}');
				}
			})
			return false;
		});
	});

</script>


{for $i=0 to $jml_data-1}
<form>
	<div style="width:600px;">
		<input type="hidden" id="id_ormawa" name="id_ormawa" value="{$id_ormawa[$i]}">
		<div style="float:left; width:60px;">
		<img src="{$foto[$i]}" style="width:40px; height:50px;" />
		</div>
		<div style="float:left; width:500px;">
			{if $id!=''}
			<div>Oleh <span style="color:navy;font-weight:bold;" id="author{$i}">{$author[$i]}</span> {if $id_pengguna==$id_author[$i]}- <span style="color:navy;font-weight:bold;" id="btn-edit{$i}"><a href="portal_ormawa_display.php?id={$id_ormawa[$i]}&act=edit" style="color:navy;font-weight:bold;text-decoration:none;">Sunting Berita</a></span> - <span style="color:navy;font-weight:bold;" id="btn-delete{$i}">Hapus</span>{/if}</div>
			{else}
			<div><span style="color:navy;font-weight:bold;" id="author{$i}">{$author[$i]}</span> membuat dokumen</div>
			{/if}
			<div></div><br />
			<div style="width:500px;border-color:#CCC;border-left-width:2px;border-left-style:solid;padding-left:10px;">
				<span style="color:navy;font-weight:bold;"><a href="portal_ormawa_display.php?id={$id_ormawa[$i]}"  style="color:navy;font-weight:bold;">{$judul[$i]}</a></span><br /><br />
				{$content[$i]}
			</div>
			<br />
			<div><span style="color:#999;font-weight:500;"><img src="../../img/portal/Document-Write-icon.png" />&nbsp;{$tanggal[$i]}</span></div>
		</div>
	</div>
	
	<div style="clear:both;">
	</div>
	<br /><br />
	<div style="border-color:#EAEAEA;border-bottom-width:1px;border-bottom-style:solid;">
	</div>
	<br /><br />
</form>
{/for}

<div id="area_tanggapan">
</div>
{if $id!=''}
<form id="frmOrmawaTanggapan" action="portal_ormawa_tanggapan_insert.php" method="GET">
	<div style="width:600px;">
		<input type="hidden" id="id_ormawa_dok" name="id_ormawa_dok" value="{$id}">
		<div style="float:left; width:60px;">
		<img src="{$foto_pengguna}" style="width:40px; height:50px;" />
		</div>
		<div style="float:left; width:500px;">
			<div style="width:500px;margin-bottom:10px;">
				<textarea id="tanggapan" name="tanggapan" style="width:100%; height:50px;"></textarea>
			</div>
			<div><span style="color:#999;font-weight:500;float:left;"><img src="../../img/portal/Document-Write-icon.png" />&nbsp;{$date_now}</span><div id="btn-comment" style="float:right;height:25px;">Post</div></div>
		</div>
	</div>
	
	<div style="clear:both;">
	</div>
	<br /><br />
</form>
{/if}
</div>