<html>
    <head><title>Convert data d3 ke mysql</title></head>
    <body>
        <table border="1" style="width: 100%">
            {foreach $cm_set as $cm}
            <tr>
                <td>{$cm@index+1}</td>
                <td>{$cm.TAHUN}</td>
                <td>{$cm.GELOMBANG}</td>
                <td><input type="text" value="{$cm.TGL_AKTIF_PMDK}" /></td>
                <td>{$cm.NO_UJIAN}</td>
                <td>{$cm.KODE_VOUCHER}</td>
                <td><input type="text" value="{$cm.NM_C_MHS}" size="30" /></td>
                <td>{$cm.ID_PILIHAN_1}&nbsp;</td>
                <td>{$cm.ID_PILIHAN_2}&nbsp;</td>
                <td>{$cm.ID_PILIHAN_3}&nbsp;</td>
                <td>{$cm.ID_PILIHAN_4}&nbsp;</td>
                <td>{$cm.SP3_1}&nbsp;</td>
                <td>{$cm.SP3_2}&nbsp;</td>
                <td>{$cm.SP3_3}&nbsp;</td>
                <td>{$cm.SP3_4}&nbsp;</td>
                <td>{$cm.ALAMAT}</td>
                <td>{$cm.TELP}</td>
                <td><input type="text" value="{$cm.TGL_LAHIR}" /></td>
                <td>{$cm.JALUR}</td>
                <td>{$cm.KELOMPOK}</td>
                <td>{$cm.ID_SEKOLAH_ASAL}</td>
                <td>{$cm.TAHUN_LULUS}</td>
                <td>{$cm.NAMA_ORTU}</td>
                <td>{$cm.JUMLAH_ADIK}</td>
                <td>{$cm.JUMLAH_KAKAK}</td>
                <td>{$cm.PEKERJAAN_AYAH}</td>
                <td>{$cm.PEKERJAAN_IBU}</td>
                <td>{$cm.SUMBER_BIAYA}</td>
                <td>{$cm.PENDIDIKAN_AYAH}</td>
                <td>{$cm.PENDIDIKAN_IBU}</td>
            </tr>
            {/foreach}
        </table>
    </body>
</html>