
<form id="form2" name="form2" method="post" action="kuisioner-registrasi.php">
    <table width="200" border="1">
      <tr>
        <td>NIM</td>
        <td><input type="text" name="nim" /></td>
        <td><input type="submit" value="Cari" /></td>
      </tr>
    </table>
</form>
{if isset($mhs)}
<div class="center_title_bar">Kuisioner Registrasi </div> 
{if isset($tampil)}
{literal}
<script type="text/javascript">
			$("#cek_all").click(function()				
			{
				var checked_status = this.checked;
				$(".cek").each(function()
				{
					this.checked = checked_status;
				});
			});				
		
</script>
{/literal}

<form name="f3" action="kuisioner-registrasi.php" method="post" id='f3'>
<table width="1000" height="148" style="font-size:12px; width:1000px;">
<tr>
	<th width="64" height="21">NO</th>
    <th width="543">Nama Aspek</th>
    <th width="377">Skala Nilai</th>
</tr>
	
        <tr>      	</tr>


	{$tampil}
	<tr>
	<th height="53"></th>
    <th></th>
    <th></th>
	</tr>
	<tr></tr>

<tr>            {foreach $inputan as $data}

	<td height="25">&nbsp;</td>
    <td class="required"><input type='hidden' value='{$data.ID_EVAL_ASPEK}' name='id_eval_aspek' />
	<input type='hidden' value='{$data.ID_EVAL_INSTRUMEN}' name='id_eval_instrumen' />
		<input type='hidden' value='{$data.ID_EVAL_KELOMPOK_ASPEK}' name='id_eval_kelompok_aspek' />

	{$data.EVALUASI_ASPEK}</td>
    <td class="required"><textarea name="keterangan" id="keterangan" class="required" cols='50' rows='3'/></td>
	
    
    {/foreach}
	

</tr>	
	
    <tr>
   	  <td colspan="25" style="text-align:center">
        	<input type="submit" value="Simpan" name="simpan" /></td>
    </tr>
</table>
</form>

{/if}
{/if}

{literal}
<script language="javascript">
$('#f3').validate();
</script>
{/literal}