<div class="center_title_bar">Rekap Absen</div>
<!-- file ini berisi tentang proses rekap absen -->
{$isi_absen}
{if $fak==8}
Tindaklanjut terkait prosentase kehadiran yang kurang dari 75 % untuk Mahasiswa FST dapat dilihat di <a href=http://fst.unair.ac.id >http://fst.unair.ac.id</a> dan dipapan pengumuman bagian Akademik FST UNAIR.
{else}
{/if}