<div id="OutBox">
<div class="center_title_bar">Outbox</div>
{$jkueri_outbox}
<div style="width: 100%;" id="outbox_hapus">

</div>
<br><br>
<div style="width: 100%;" id="outbox_detail">
	
</div>
</div>
