<!-- Author : Sani Iman Pribadi -->
	<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>

<!-- File ini berisi tentang proses transkrip -->
{*
<div id="tabs">
	<ul>
		<li><a href="#tabs-1" class="disable-ajax">Transkrip</a></li>
		<li><a href="#tabs-2" class="disable-ajax" >Grafik Nilai</a></li>
	</ul>
	<div id="tabs-1">
		{$isitranskrip}
	</div>
	<div id="tabs-2">
		<iframe src="grafik-nilai.php" style="width: 629px; height: 420px" frameborder="0"></iframe>
	</div>
</div>
*}
<div class="center_title_bar">Transkrip Nilai</div>
<br>
{$isitranskrip}