<div class="center_title_bar">HAPUS KRS</div>

{if $result}
    	<h3>Berhasil melakukan HAPUS KRS {$jumlah_mhs} Mahasiswa untuk {$jumlah_kelas} kelas kuliah</h3>
    	<br>
    	<h3>Silakan Tunggu Approval Dari Akademik Pusat</h3>
{else}
    <h3>Gagal melakukan HAPUS KRS</h3>
{/if}