<div class="center_title_bar">Daftar Calon Mahasiswa Berdasarkan Kondisi</div>

<table>
    <tr>
        <th>Nomer</th>
        <th>Nama</th>
        <th>Nomer Ujian</th>
        <th>Fakultas</th>
        <th>Program Studi</th>
        <th>Score</th>
    </tr>
    {$nomer=1}
    {foreach $data_mhs_view_hasil_elpt as $data}
        <tr>
            <td>{$nomer++}</td>
            <td>{$data.NM_C_MHS}</td>
            <td>{$data.NO_UJIAN}</td>
            <td>{$data.NM_FAKULTAS}</td>
            <td>{$data.NM_PROGRAM_STUDI}</td>
            <td>{$data.ELPT_SCORE}</td>
        </tr>
    {/foreach}

</table>

<button href="toefl-view.php">Kembali</button>