<div class="center_title_bar">Buka Regmaba</div>

<form action="pendaftaran-regmaba.php" method="get">
    <table>
        <tr>
            <th colspan="2">Pencarian</th>
        </tr>
        <tr>
            <td>Nomer Ujian</td>
            <td><input type="text" name="no_ujian" />
                <input type="submit" value="Cari" />
                <input type="hidden" name="mode" value="view" />
            </td>
        </tr>
    </table>
</form>
