<div class="center_title_bar">DAFTAR KELAS - MATA AJAR</div>  
      		 
<div >
 <form action="daftar-presensi.php" method="post">
		 <input type="hidden" name="action" value="tampil" >  
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td>
			 	Tahun Akademik : 
                <select name="smt">
    		   <option value=''>-- PILIH THN AKD --</option>
	 		   {foreach item="smt" from=$T_ST}
    		   {html_options  values=$smt.ID_SEMESTER output=$smt.SMT selected=$smtaktif}
	 		   {/foreach}
			   </select>
		     </td> 
          
			 <td> <input type="submit" name="View" value="View"> </td>
           </tr>
		    
</table>

</form>	    
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu" align="center">
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
             <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Kode</font></td>
             <td width="33%" bgcolor="#333333"><font color="#FFFFFF">Nama  Mata Kuliah</font> </td>
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">SKS</font></td>
			 <td width="4%" bgcolor="#333333"><font color="#FFFFFF">KLS</font></td>
             <td width="4%" bgcolor="#333333"><font color="#FFFFFF">STS</font></td>
             <td width="7%" bgcolor="#333333"><font color="#FFFFFF">Hari</font></td>
			 <td width="7%" bgcolor="#333333"><font color="#FFFFFF">Jam</font></td>
			 <td width="4%" bgcolor="#333333"><font color="#FFFFFF">Pst</font></td>
			 <td width="7%" bgcolor="#333333"><font color="#FFFFFF">TTL TM</font></td>
           </tr>
           <tbody id="tableBody">
           {foreach name=test item="list" from=$T_MK}
             <td>{$smarty.foreach.test.iteration}</td>
             <td><a href="entry-presensi.php?action=entry&id_kelas_mk={$list.ID_KELAS_MK}">{$list.KD_MATA_KULIAH}</a></td>
             <td>{$list.NM_MATA_KULIAH}</td>
             <td>{$list.KREDIT_SEMESTER}</td>
			 <td>{$list.NAMA_KELAS}</td>
             <td>{$list.STATUS}</td>
             <td>{$list.NM_JADWAL_HARI}</td>
			 <td>{$list.JAM}</td>
			 <td>{$list.KLS_TERISI}</td>
			 <td></td>
            </td>
           </tr>
		   {foreachelse}
        <tr><td colspan="10"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
   	 </table>
	 <br>
</div>
		

{literal}
 <script>$('form').validate();</script>
{/literal}