<div class="center_title_bar">PROSES KRS MAHASISWA SP-3</div>  

<form action="krs_maba_sp3.php" method="post" >
<input type="hidden" name="action" value="prosescustem" >	
<input type="hidden" name="prodi" value="{$ID_PROGRAM_STUDI}" >	
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
				<td colspan="8" bgcolor="#FFCC33"><center>PILIH MATA AJAR DAN KELAS</center></td>
				</tr>
				<tr>
				<td colspan="8" bgcolor="#FFCC33"><center>*Jika MATA AJAR tdk TAMPIL, periksalah Penawaran KRS untuk Prodi tersebut</center></td>
				</tr>
				<tr>
				<td colspan="8" bgcolor="#FFCC33"><center>*Jika MATA AJAR masih tdk TAMPIL, periksalah posisi semester MATA AJAR via menu PRODI DAFTAR MA</center></td>
				</tr>
				<tr>
			     <td width="3%" bgcolor="#FFCC33">No</td>
				 <td width="5%" bgcolor="#FFCC33">Kode MA</td>
				 <td width="20%" bgcolor="#FFCC33">Nama MA</td>
				 <td width="5%" bgcolor="#FFCC33">SKS</td>
				 <td width="5%" bgcolor="#FFCC33">Kelas MA</td>
				 <td width="5%" bgcolor="#FFCC33">Status</td>
				 <td width="10%" bgcolor="#FFCC33">Prodi</td>
				 <td width="5%" bgcolor="#FFCC33">Pilih</td>
				</tr>
				{foreach name=test1 item="krs" from=$MA_PILIH}
				<tr>
				 <td>{$smarty.foreach.test1.iteration}</td>
				 <td>{$krs.KD_MATA_KULIAH}</td>
				 <td>{$krs.NM_MATA_KULIAH}</td>
				 <td>{$krs.KREDIT_SEMESTER}</td>
				 <td>{$krs.NAMA_KELAS}</td>
				 <td>{$krs.STATUS}</td>
				 <td>{$krs.PRODI}</td>
				 <td><center><input name="mk{$smarty.foreach.test1.iteration}" type="checkbox" value="{$krs.ID_KELAS_MK}" {$krs.TANDA} /></center></td>
				</tr>
			    {foreachelse}
        		<tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
				<input type="hidden" name="counter" value="{$smarty.foreach.test1.iteration}" >
		</table>
		<p></p>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
				<td colspan="8" bgcolor="#FFCC33"><center>DAFTAR MAHASISWA</center></td>
				</tr>
				<tr>
			     <td width="3%" bgcolor="#FFCC33">No</td>
				 <td width="5%" bgcolor="#FFCC33">NIM</td>
				 <td width="20%" bgcolor="#FFCC33">Nama Mhs</td>
				 <td width="5%" bgcolor="#FFCC33">Prodi</td>
				 <td width="5%" bgcolor="#FFCC33">Status</td>
				 <td width="5%" bgcolor="#FFCC33">Agama</td>
				 <td width="5%" bgcolor="#FFCC33">Pilih</td>
				</tr>
				{foreach name=test3 item="mhs" from=$MHS_PILIH}
				<tr>
				 <td>{$smarty.foreach.test3.iteration}</td>
				 <td>{$mhs.NIM_MHS}</td>
				 <td>{$mhs.NM_PENGGUNA}</td>
				 <td>{$mhs.PRODI}</td>
				 <td>{$mhs.STATUS}</td>
				 <td>{$mhs.NM_AGAMA}</td>
				 <td><center><input name="mhs{$smarty.foreach.test3.iteration}" type="checkbox" value="{$mhs.ID_MHS}" {$krs.TANDA} /></center></td>
				</tr>
			    {foreachelse}
        		<tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        		{/foreach}
				<input type="hidden" name="counter1" value="{$smarty.foreach.test3.iteration}" >
				<tr>
				<td colspan="6"></td><td><input type="submit" name="PROSES" value="PROSES"></td>
				</tr>
		</table>
</form>

<script>$('form').validate();</script>


