<script type="text/javascript">
	var i = $('input type="text"').size();

	$('#addButton').click(function() {
		 $('#tableText tr:last').after('<tr><td>Anggota </td>' +
		  '<td>:</td>' +
		  '<td>' +
          ' <a href="pjmk.php?action=searchdosen&pjmk=2&id_klsmk={$IDKEL}">Search</a>' +
          '</td></tr>').
			animate({ opacity: "show" }, "slow");
		i++;
	});

</script>

<div class="center_title_bar"> PJMA</div> 

<div id="tabs">
        <div id="tab1" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">ISI/EDIT</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Search Dosen</div>
		<div id="tab4" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('4');">Edit Dosen</div>
</div>

        <div class="tab_bdr"></div>
        <div class="panel" id="panel1" style="display: {$disp1}">
		<form action="pjmk.php" method="post">
		 <input type="hidden" name="action" value="tampil" > 
<table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="121">Tahun Ajaran </td>
    <td width="431">:    
      <select name="thn_ajaran" id="thn_ajaran">
        <option value="">-- Tahun Ajaran --</option>
       		{foreach item="smt" from=$T_ST}
    		   {html_options  values=$smt.ID_SEMESTER output=$smt.SMT selected=$smtaktif}
	 		   {/foreach}
      </select>
    </td>
  
<td> <input type="submit" name="View" value="View"> </td>
           </tr>
		    
</table>
</form>	    
			<table width="95%" border="0" cellspacing="0" cellpadding="0">
			   <tr bgcolor="#000000">
			     <td width="2%"><font color="#FFFFFF">No</font></td>
				 <td width="7%"><font color="#FFFFFF">Kode MA </font></td>
				 <td width="30%"><font color="#FFFFFF">Nama Mata Ajar </font></td>
				 <td width="3%"><font color="#FFFFFF">SKS</font></td>
				 <td width="3%"><font color="#FFFFFF">KLS</font></td>
				 <td width="35%"><font color="#FFFFFF">Team Pengajar</font></td>
				 <td width="20%"><font color="#FFFFFF">Aksi (PJMA)</font></td>
			  </tr>			
			 {foreach name=test item="list" from=$PJMK}
		   {if $list.ID_STATUS == "0"}
		   <tr bgcolor="yellow">
		   {else}
		   <tr>
		   {/if}
			     <td valign="top" >{$smarty.foreach.test.iteration}</td>
				 <td valign="top" >{$list.KD_MATA_KULIAH}</td>
				 <td valign="top" >{$list.NM_MATA_KULIAH}</td>
				 <td valign="top" >{$list.KREDIT_SEMESTER}</td>
				 <td valign="top" >{$list.NAMA_KELAS}</td>
		   {if $list.ID_STATUS == "0"}
		   <td valign="top" ></td>
		   {else}
				 <td valign="top" ><br><ol>{$list.TIM}</li></ol></td>
		   {/if}
		   {if $list.ID_STATUS == "0"}
				 <td align="center"><a href="pjmk.php?action=del&id_klsmk={$list.ID_KELAS_MK}">Hapus</a> | <a href="pjmk.php?action=addview&id_klsmk={$list.ID_KELAS_MK}&st={$list.ID_STATUS}">Isi</a></td>
				 {*<td align="center"><input type=button name="del" value="Hapus" onclick="pjmk.php?action=del&id_klsmk={$list.ID_KELAS_MK}">&nbsp;<input type=button name="isi" value="Isi" onclick="pjmk.php?action=addview&id_klsmk={$list.ID_KELAS_MK}&st={$list.ID_STATUS}"></td>*}
		   {else}
				 <td align="center"><a href="pjmk.php?action=del&id_klsmk={$list.ID_KELAS_MK}">Hapus</a> | <a href="pjmk.php?action=addview&id_klsmk={$list.ID_KELAS_MK}&st={$list.ID_STATUS}">Edit</a></td>
				 {*<td align="center"><input type=button name="del" value="Hapus" onclick="pjmk.php?action=del&id_klsmk={$list.ID_KELAS_MK}">&nbsp;<input type=button name="edit" value="Edit" onclick="pjmk.php?action=addview&id_klsmk={$list.ID_KELAS_MK}&st={$list.ID_STATUS}"></td>*}
		   {/if}
			 </tr>
			{foreachelse}
        <tr><td colspan="7"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
			</table>		 
</div>
		
        <div class="panel" id="panel2" style="display: {$disp2}">		
     
	      <table width="100%" border="1">
            <tr>
              <td>
			  {foreach item="lihat" from=$T_PJMK}
			  
              <table class="tb_frame" width="100%" border="1" cellspacing="0" cellpadding="0" id="tableText">
                  <tr>
                    <td width="149">Kode Mata Ajar</td>
                    <td width="9">:</td>
                    <td width="754">{$lihat.KD_MATA_KULIAH}
                    </td>
                  </tr>
				  <tr>
                    <td width="149">Nama Mata Ajar</td>
                    <td width="9">:</td>
                    <td>{$lihat.NM_MATA_KULIAH}</td>
                    
                    </td>
                  </tr>
				  <tr>
                    <td width="149">SKS Mata Ajar</td>
                    <td width="9">:</td>
                    <td>{$lihat.KREDIT_SEMESTER}</td>
                    
                    </td>
                  </tr>
				  <tr>
                    <td width="149">Kelas Mata Ajar</td>
                    <td width="9">:</td>
                    <td>{$lihat.NAMA_KELAS}</td>
                    
                    </td>
                  </tr>
		 
				{if $ST==1}
				{foreach item="pgp" from=$PGP}
				{if $pgp.PJMK_PENGAMPU_MK==1}
                  <tr>
                    <td>PJMK </td>
                    <td>:</td>
                    <td>  
                    <input name="nip_pjmk" id="nippjmk" type="text" class="required" size="20" maxlength="20" class="required" value="{$pgp.NIP_DOSEN}" /> - <input name="nm_pjmk" id="nmpjmk" type="text" class="required" size="40" maxlength="40" class="required" value="{$pgp.NM_PENGGUNA}" />
					<a href="pjmk.php?action=searchdosen&id_pengampu={$pgp.ID_PENGAMPU_MK}&status1=ganti&id_klsmk={$IDKEL}">Edit</a>
                    </td>
                  </tr>
				{else}		 		  
                  <tr>
                    <td>Anggota </td>
                    <td>:</td>
                    <td>  
                    <input name="nip_agt" id="nipagt" type="text" class="required" size="20" maxlength="20" class="required" value="{$pgp.NIP_DOSEN}" /> - <input name="nm_agt" id="nmagt" type="text" class="required" size="40" maxlength="40" class="required" value="{$pgp.NM_PENGGUNA}" />
					<a href="pjmk.php?action=searchdosen&id_pengampu={$pgp.ID_PENGAMPU_MK}&status1=ganti&id_klsmk={$IDKEL}">Edit</a> | <a href="pjmk.php?action=hapusdosen&id_pengampu={$pgp.ID_PENGAMPU_MK}&status2=hapus&id_klsmk={$IDKEL}">Hapus</a>
                    </td>
                  </tr>
				{/if}
				 {/foreach}
				 {else}
				  	<tr>
                    <td>PJMK </td>
                    <td>:</td>
                    <td>  
                    <input name="nip_pjmk" id="nippjmk" type="text" class="required" size="20" maxlength="20" class="required" value="{$pgp.NIP_DOSEN}" /> - <input name="nm_pjmk" id="nmpjmk" type="text" class="required" size="40" maxlength="40" class="required" value="{$pgp.NM_PENGGUNA}" />
					<a href="pjmk.php?action=searchdosen&pjmk=1&id_klsmk={$IDKEL}">Search</a>
                    </td>
                  </tr>
				 {/if}
				 
                </table>
                  <p>
                    <input type="button" name="addButton" id="addButton"  value="Tambah">
					<input name="Kembali" type="button" value="Kembali" ONCLICK="window.location.href='#aktifitas-pjmk!pjmk.php'"/>
              </p></td>
            </tr>
		{/foreach}
          </table>
 
	      
        </div>      

<div class="panel" id="panel3" style="display: {$disp3}">
<form action="pjmk.php?action=searchdosen&id_klsmk={$IDKEL}&pjmk={$ST_PJMK}" method="post" id="cari1">	  
<table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="121">Nama Dosen
    <td width="431">: <input name="namadosen" type="text" /> <input type="submit" name="cari" value="Cari Dosen">
	</td>
	</tr>	    
</table>
</form>	
<table width="95%" border="0" cellspacing="0" cellpadding="0">
			   <tr bgcolor="#000000">
			     <td width="2%"><font color="#FFFFFF">No</font></td>
				 <td width="30%"><font color="#FFFFFF">Photo Dosen </font></td>
				 <td width="8%"><font color="#FFFFFF">Kode Dosen </font></td>
				 <td width="45%"><font color="#FFFFFF">Nama Dosen </font></td>
				 <td width="15%"><font color="#FFFFFF">Aksi (PJMA)</font></td>
			  </tr>
			  <tr>
			 {foreach name=test item="list" from=$DOSEN}
			     <td valign="top" >{$smarty.foreach.test.iteration}</td>
				 <td valign="top" ><img src="{$list.FOTO_PENGGUNA}/{$list.NIP_DOSEN}.JPG" width="160px"/></td>
				 <td valign="top" >{$list.NIP_DOSEN}</td>
				 <td valign="top" >{$list.NM_PENGGUNA}</td>
				 <td align="center"><a href="pjmk.php?action=addview&id_dosen={$list.ID_DOSEN}&id_klsmk={$IDKEL}&pil={$ST_PJMK}">Pilih</a></td>
			</tr>
        {/foreach}
			</table>		 
</div>

<div class="panel" id="panel4" style="display: {$disp4}">
<form action="pjmk.php?action=searchdosen&id_pengampu={$ID_PENGAMPU}&status1={$STATUS1}&id_klsmk={$IDKEL}" method="post" id="cari">
		  
<table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="121">Nama Dosen
    <td width="431">: <input name="namadosen1" type="text" /> <input type="submit" name="cari" value="Cari">
	</td>
	</tr>	    
</table>
</form>	
<table width="95%" border="0" cellspacing="0" cellpadding="0">
			   <tr bgcolor="#000000">
			     <td width="2%"><font color="#FFFFFF">No</font></td>
				 <td width="7%"><font color="#FFFFFF">Kode Dosen </font></td>
				 <td width="21%"><font color="#FFFFFF">Nama Dosen </font></td>
				 <td width="20%"><font color="#FFFFFF">Aksi (Ganti Dosen)</font></td>
			  </tr>
			  <tr>
			 {foreach name=test item="list" from=$DOSEN}
			     <td valign="top" >{$smarty.foreach.test.iteration}</td>
				 <td valign="top" >{$list.NIP_DOSEN}</td>
				 <td valign="top" >{$list.NM_PENGGUNA}</td>
				 <td align="center"><a href="pjmk.php?action=addview&id_dosen={$list.ID_DOSEN}&id_pengampu={$ID_PENGAMPU}&status1={$STATUS1}&id_klsmk={$IDKEL}">Pilih</a></td>
			</tr>
        {/foreach}
			</table>		 
</div>

{literal}
 <script>$('form').validate();</script>
{/literal}