
<div class="center_title_bar">Yudisium Supro III {if nm_mhs !=''} NIM : {$nim_mhs} - {$nm_mhs} {/if}</div>
<div id="tabs">
	<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
	<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Proses Yds</div>
	<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Detail Nilai</div>
</div>

<div class="panel" id="panel1" style="display: {$disp1} ">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
          <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Nim</font></td>
          <td width="25%" bgcolor="#333333"><font color="#FFFFFF">Nama Mhs</font> </td>
          <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Status</font></td>
		  <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Keterangan</font></td>
          <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Lulus SP-3</font></td>
        </tr>
		{foreach name=test item="list" from=$datasupro}
		<tr>
			<td>{$smarty.foreach.test.iteration}</td>
			<td>{$list.NIM_MHS}</td>
			<td>{$list.NM_PENGGUNA}</td>
			<td><center>{$list.NAMA_SUPRO}</center></td>
			<td>{$list.TGL_YDS_SUPRO}</td>
			<td><center><a href="yudisium_sp3.php?action=del&id={$list.ID_STATUS_SUPRO}">Del</a></center></td>
		</tr>
		{foreachelse}
		<tr><td colspan="6"><em>Data tidak ditemukan</em></td></tr>
		{/foreach}
</table>
</div>

<div class="panel" id="panel2" style="display: {$disp2}">
<p></p>
<form action="yudisium_sp3.php" method="post" >
<input type="hidden" name="action" value="proses" >	
<tr>
<td>Posisi Semester </td>
<td>:</td>
<td>
			<select name="smt">
				{foreach item="smt" from=$T_ST}
				{html_options values=$smt.ID_SEMESTER output=$smt.SMT selected=$smtaktif}
				{/foreach}
			</select>
<td>
</tr>
<tr>
<td>Tanggal Lulus </td>
<td>:</td>
<td><input type="Text" name="yds" value="Isikan Tanggal Yudisium" id="yds" maxlength="25" size="25">
					<input type="button" value="" style="background-image:url(includes/cal/cal.gif)
; background-repeat:no-repeat; background-position:center; border:none;" onClick="NewCal('yds','ddmmmyyyy');" /></td>
<td><input type="submit" name="proses" value="PROSES"></td>
</tr>
<p></p>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
          <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Nim</font></td>
          <td width="25%" bgcolor="#333333"><font color="#FFFFFF">Nama Mhs</font> </td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Status Akd</font></td>
          <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Status</font></td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Ttl SKS Supro3</font></td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">IPK Supro3</font></td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">IPK(Utama) Supro3</font></td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Nilai D</font></td>
		  <td width="5%" bgcolor="#333333"><font color="#FFFFFF">Nilai E</font></td>
          <td width="10%" bgcolor="#333333"><font color="#FFFFFF">Lulus SP-3</font></td>
        </tr>
		{foreach name=test item="list1" from=$datasupro1}
		{if $list1.IPK_MHS<2.25 or $list1.TTLNILE>0 or $list1.SKS_TOTAL_MHS<49}
			<tr bgcolor="yellow">
		{else}
			<tr>
		{/if}
			<td>{$smarty.foreach.test.iteration}</td>
			<td><a href="yudisium_sp3.php?action=detail&nim_mhs={$list1.NIM_MHS}&nm_mhs={$list1.NM_PENGGUNA}">{$list1.NIM_MHS}</a></td>
			<td>{$list1.NM_PENGGUNA}</td>
			<td><center>{$list1.NM_STATUS_PENGGUNA}</center></td>
			<td><center>{$list1.STATUS_SUPRO}</center></td>
			<td><center>{$list1.SKS_TOTAL_MHS}</center></td>
			<td><center>{$list1.IPK_MHS}</center></td>
			<td><center>{$list1.IPK_MHS_UTAMA}</center></td>
			<td><center>{$list1.TTLNILD}</center></td>
			<td><center>{$list1.TTLNILE}</center></td>
			<td><center><input name="sp1{$smarty.foreach.test.iteration}" type="checkbox" value="{$list1.ID_MHS}"/></center></td>

		</tr>
		{foreachelse}
		<tr><td colspan="6"><em>Data tidak ditemukan</em></td></tr>
		{/foreach}
		<input type="hidden" name="hitungyds" value="{$smarty.foreach.test.iteration}" >
</table>
</form>
</div>
<div class="panel" id="panel3" style="display: {$disp3}">
<form action="yudisium_sp3.php" method="post" >
<input type="hidden" name="action" value="ganti" >	
<td><input type="submit" name="proses1" value="PROSES"></td>
<p> </p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>
			 <td width="3%" bgcolor="#FFCC33"><center>No</center></td>
             <td width="5%" bgcolor="#FFCC33"><center>Kode MA</center></td>
			 <td width="20%" bgcolor="#FFCC33"><center>Nama MA</center></td>
             <td width="5%" bgcolor="#FFCC33"><center>SKS</center></td>
             <td width="10%" bgcolor="#FFCC33"><center>Smt</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>Utama</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>UP</center></td>
			 <td width="5%" bgcolor="#FFCC33"><center>SP</center></td>
		  </tr>
		  {foreach name=test item="list4" from=$datamk}
			<tr>
			 <td>{$smarty.foreach.test.iteration}</td>
             <td>{$list4.KD_MATA_KULIAH}</td>
			 <td>{$list4.NM_MATA_KULIAH}</td>
             <td>{$list4.KREDIT_SEMESTER}</td>
             <td>{$list4.TAHUN}</td>
			 <td>{$list4.UT}</td>
			 <td>{$list4.UP}</td>
			 {if $list4.SP !='T' }
			 <td><input type="text" name="nilai{$smarty.foreach.test.iteration}" maxlength="2" size="2" value="{$list4.SP}"/></td>
			 {else}
			 <td></td>
			 {/if}
			 <input type="hidden" name="pmk{$smarty.foreach.test.iteration}" value="{$list4.ID_PENGAMBILAN_MK}" >
			</tr>
		  {/foreach}
		  <input type="hidden" name="hitnilai" value="{$smarty.foreach.test.iteration}" >
</table>
</form>
</div>

