<div class="center_title_bar">Pengambilan Nilai Peserta dari Server PPMB</div>

<form action="penilaian-ambil.php" metho="get">
    <table>
        <tr>
            <td>Nomer Awal : <input type="text" name="no_awal" size="9" maxlength="8" value="{$smarty.get.no_awal}" /></td>
            <td>Nomer Akhir : <input type="text" name="no_akhir" size="9" maxlength="8" value="{$smarty.get.no_akhir}" /></td>
            <td>
                <input type="submit" value="Tampilkan" />
            </td>
        </tr>
    </table>
</form>

{if !empty($nilai_set)}

<textarea name="nilai" rows="{count($nilai_set) + 2}" cols="60" readonly="readonly">
{foreach $nilai_set as $n}
{$n.nomor_peserta};{$n.c_tpa};{$n.c_inggris};{$n.c_ilmu};{$n.c_wawancara};{$n.c_ipk};{$n.c_karya_ilmiah};{$n.c_rekomendasi};{$n.c_matrikulasi};
{/foreach}
</textarea>
{/if}