<div class="center_title_bar">Cari Ruangan </div>

<div id="tabs">
<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">PESAN</div>
</div>
<div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: {$disp1}">
<form action="transaksi-ruangan.php" method="post" name="rekap_ngajar" id="rekap_ngajar">
		 <input type="hidden" name="action" value="cari" >
<table border="0" cellspacing="0" cellpadding="0">
           <tr>
					  <td>Tanggal Dipakai</td>
					  <td>
					  <input type="text" id="calawal" name="calawal" value="{$smarty.post.calawal}" class="required" /></td>
			</tr>
			<tr>
					 <td>Mulai Jam Awal</td>
					 <td><input type="text" name="jamawal" id="jamawal" value="{$smarty.post.jamawal}" class="required"> Sampai Jam Awal
					     <input type="text" name="jamakhir" id="jamakhir" value="{$smarty.post.jamakhir}" class="required">contoh (10:00)</td> 
		   <tr>
					 <td>Fakultas</td>
					  <td><select name="fakul">
    		   			<option value='0'>-- ALL --</option>
				   		{foreach $T_FAKUL as $prd}
							<option value="{$prd.ID_FAKULTAS}" {if $prd.ID_FAKULTAS == $smarty.post.fakul}selected="selected"{/if}}>{$prd.NM_FAKULTAS}</option>
	 		  			 {/foreach}
			   		 </select></td>
		   </tr>
	
</table>
<td><input type="submit" name="cari1" value="Cari"></td>
</form>
<br>
</br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#000">
	 <td width="4%"><font color="#FFFFFF">No</font></td>
	 <td width="15%"><font color="#FFFFFF">Nama Ruang</font></td>
	 <td width="6%"><font color="#FFFFFF">Fakultas</font></td>
	 <td width="5%"><font color="#FFFFFF">Kps</font></td>
	 <td width="6%"><font color="#FFFFFF">Hari</font></td>
	 <td width="5%"><font color="#FFFFFF">Jam</font></td>
	 <td width="5%"><font color="#FFFFFF">status</font></td>
	 <td width="5%"><font color="#FFFFFF">Aksi</font></td>
	 </tr>
	
	<tr>
	 {foreach name=test item="rg" from=$T_RUANG}
			<td>{$smarty.foreach.test.iteration}</td>
			<td >{$rg.NM_RUANGAN}</td>
			<td >{$rg.NM_FAKULTAS}</td>
			<td >{$rg.KAPASITAS_RUANGAN}</td>
			<td >{$rg.NM_JADWAL_HARI}</td>
			<td >{$rg.JAMMULAI} - {$rg.JAMAKHIR}</td>
			<td >{$rg.STATUS}</td>
			<td height="0" align="center"><input name="Button" type="button" class="button" onClick="location.href='#transaksi-menu2!transaksi-ruangan.php?action=pesan&idruang={$rg.ID_RUANGAN}&hari={$rg.NM_JADWAL_HARI}&tgl={$tglpesan}&jaw={$jampesan1}&jak={$jampesan2}';disableButtons()" onMouseOver="window.status='Click untuk Pesan Ruangan';return true" onMouseOut="window.status='Pesan Ruangan'" value="PESAN" /> </td> 

	</tr>
	{foreachelse}
	<tr><td colspan="8"><em>Data tidak ditemukan</em></td></tr>
	{/foreach}
</table>
</div>

<div class="panel" id="panel2" style="display: {$disp2}">
{if isset($P_RUANG) and $P_RUANG['CEK'] >= 1}
<script>
	alert('Maaf Ruangan di gedung anda masih ada yang kosong');
	window.location.href ="history.back()";
	//window.location.href = "javascript:history.back()"; 
</script>
{else}

<form action="transaksi-ruangan.php" method="post" name="proses_pesan" id="proses_pesan">
<input type="hidden" name="action" value="proses_pesan" >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		{foreach item="ruang" from=$T_PESAN}
		 <input type="hidden" name="idruang" value="{$ruang.ID_RUANGAN}" >
			<tr>
					  <td width="12%">Nama Ruangan</td>
					  <td width="1%">:</td>
					  <td width="30%">{$ruang.NM_RUANGAN}</td>
					 
			</tr>
			<tr>
					 <td>Kapasitas</td>
					 <td>:</td>
					 <td>{$ruang.KAPASITAS_RUANGAN}</td>
			</tr>
			<tr>
					 <td>Fasilitas</td>
					 <td>:</td>
					 <td></td>
			</tr>
		   <tr>
					 <td>Tipe Ruangan</td>
					 <td>:</td>
					 <td>{$ruang.TIPE_RUANGAN}</td>
		   </tr>
		   	<tr>
					 <td>Lokasi</td>
					 <td>:</td>
					 <td>{$ruang.NM_GEDUNG} - {$ruang.NM_FAKULTAS}</td>
		   </tr>
		   {/foreach}
		   	<tr>
					 <td>Tgl Pemakaian</td>
					 <td>:</td>
					 <td>{$hari} - {$tglpakai}</td>
					 <input type="hidden" name="tglpakai" value="{$tglpakai}" >
		   </tr>
		   	<tr>
					 <td>Jam Pemakaian</td>
					 <td>:</td>
					 <td>{$jamawal} s/d {$jamakhir}</td>
					 <input type="hidden" name="jaw" value="{$jamawal}" >
					 <input type="hidden" name="jak" value="{$jamakhir}" >
		   </tr>
		   <tr>
					 <td>Keterangan</td>
					 <td>:</td>
					 <td>
					  <textarea name="catatan" cols="60" class="required"></textarea>
					 </td>
		   </tr>
</table>
<td><input type="submit" name="pesan" value="Pesan"></td>
</form>

{/if}
</div>
	
{literal}
    <script>
            $("#calawal").datepicker({dateFormat:'dd-mm-yy',changeMonth: true, changeYear: true});
			$('#jamawal').timepicker({timeFormat: 'hh:mm'});
			$('#jamakhir').timepicker({timeFormat: 'hh:mm'});
			$('#rekap_ngajar').validate();
    </script>
{/literal}
