{literal}
<script type="text/javascript">

function lookup(inputString) {
if(inputString.length == 0) {
// Hide the suggestion box.
$('#suggestions').hide();
} else {
$.post("gp.php", {queryString: ""+inputString+""}, function(data){
if(data.length >0) {
$('#suggestions').show();
$('#autoSuggestionsList').html(data);
}
});
}
} // lookup

function fill1(thisValue) {
$('#kode_matkul').val(thisValue);
setTimeout("$('#suggestions').hide();", 200);
}
function fill2(thisValue) {
$('#nama_matkul').val(thisValue);
setTimeout("$('#suggestions').hide();", 200);
}
function fill3(thisValue) {
$('#nama_en_matkul').val(thisValue);
setTimeout("$('#suggestions').hide();", 200);
}
</script>
{/literal}

<div>

{foreach item="list" from=$KEL_MK}
<b onClick="javascript:fill1('{$list.KODE_MATA_KULIAH}');javascript:fill2('{$list.NM_MATA_KULIAH}');javascript:fill2('{$list.NM_EN_MATA_KULIAH}')">[{$list.KODE_MATA_KULIAH}]{$list.NM_MATA_KULIAH}</b>
</br>
{/foreach}						
 
</div>
