
	<div class="center_title_bar">Master Rumpun Ilmu</div>

	<div id="tabs">
		<div id="tab1" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
		<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>
   	</div>
    <div class="tab_bdr"></div>
	
<div class="panel" id="panel1" style="display: {$disp1}">    
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="left_menu">
    <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
	<td width="6%" bgcolor="#333333" nowrap><font color="#FFFFFF">Kode</font></td>
    <td width="25%" bgcolor="#333333" nowrap><font color="#FFFFFF">Nama Rumpun</font></td>
	<td width="25%" bgcolor="#333333"><font color="#FFFFFF">Keterangan</font></td>
	<td width="5%" bgcolor="#333333" nowrap><font color="#FFFFFF">Aksi</font></td>
  </tr>
  {foreach name=test item="list" from=$T_RUMPUN}
  <tr>
    <td >{$smarty.foreach.test.iteration}</td>
    <td >{$list.KD_RUMPUN_ILMU}</td>
	<td nowrap>{$list.NM_RUMPUN_ILMU}</td>
	<td >{$list.KETERANGAN}</td>
    <td nowrap><a href="rumpun.php?action=update&id_rumpun={$list.ID_RUMPUN_ILMU}" onclick="displayPanel('3')">Update</a> <!--| <a href="rumpun.php?action=del&id_rumpun={$list.ID_RUMPUN_ILMU}">Delete</a>--></td>
  </tr>
     {foreachelse}
        <tr><td colspan="4"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>
<br>
</div>
		
    <div class="panel" id="panel2" style="display:{$disp2} ">
	  			 <form action="rumpun.php" method="post" >
				  <input type="hidden" name="action" value="add" >
				  <table class="tb_frame" width="80%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="20%">Kode Rumpun Ilmu</td>
					  <td width="2%">:</td>
					  <td width="78%"><input type="text" name="kode_rumpun" id="kode_rumpun" size="40" /></td>
					</tr>
                    <tr>
                      <td>Nama Rumpun Ilmu</td>
                      <td>:</td>
                      <td><input type="text" name="nm_rumpun" id="nm_rumpun" size="40" /></td>
                    </tr>
                    <tr>
                      <td>Keterangan</td>
                      <td>:</td>
                      <td><input type="text" name="keterangan" id="keterangan" size="80" /></td>
                    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="ttambah" value="Simpan" id="ttambah"></td>
					</tr>
		  		  </table>
			</form>	
</div>
	      <div class="panel" id="panel3" style="display: {$disp3} ">
		  <form action="rumpun.php" method="post" >
		  		  <input type="hidden" name="action" value="proses" >
				  <table class="tb_frame" width="80%" border="0" cellspacing="0" cellpadding="0">
				  {foreach item="datarumpun" from=$T_RUMPUN1}
					<input type="hidden" name="id_rumpun_ilmu" value="{$datarumpun.ID_RUMPUN_ILMU}" >
					<tr>
					  <td width="20%">Kode Rumpun Ilmu</td>
					  <td width="2%">:</td>
					  <td width="78%"><input type="text" name="kode_rumpun" class="required" value="{$datarumpun.KD_RUMPUN_ILMU}" size="40" /></td>
					</tr>
                    <tr>
                      <td>Nama Rumpun Ilmu </td>
                      <td>:</td>
                      <td><input type="text" name="nm_rumpun" class="required" value="{$datarumpun.NM_RUMPUN_ILMU}" size="60" />
                      </td></tr>
                    <tr>
					  <td>Keterangan </td>
					  <td>:</td>
					  <td><input type="text" name="ket_rumpun" class="required" value="{$datarumpun.KETERANGAN}" size="60" />
                   </tr>			
					{/foreach}
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					 <td><input type="submit" name="tambah" value="Update"></td>

					</tr>
				  </table>
	    </form>			
</div>	
<script>$('form').validate();</script>
	  		
   