<div class="column-news">
	
	<div class="portlet-news">
		<section>
		<div class="ui-widget-header" style="padding:3px;">Article</div>
		<div id="news-content" class="portlet-content-news ui-widget-content" style="background:#fff; padding:10px;">
			Artikel Kosong
		</div>
		</section>
	</div>
</div>