				<center>
                <div class="left_footer">
                    <img src="../../img/dosen/footer_logo.jpg" />
                </div>

                <div class="center_footer">
                    Copyright &copy; 2011 - Universitas Airlangga - All Rights Reserved<br />

                </div>

                <div class="right_footer" style="font-size:10px;">
                    <a href="#" class="disable-ajax">Home</a>
                    <a href="/file/manual_dosen.pdf" class="disable-ajax">Sitem Map</a>
                    <a href="#" class="disable-ajax">RSS</a>
                    <a href="#" class="disable-ajax">Privacy Policy</a>
                </div>   
				</center>