                    <!--<div class="left_menu_corner"></div>-->
						<ul class="menu">
							<li class="divider"></li>
							<li><a href="Home#!portal_home.php" class="disable-ajax" rel="ajax" >HOME</a></li>
							<li class="divider"></li>
							<li><a href="#About" class="disable-ajax" rel="ajax" >ABOUT</a></li>
							<li class="divider"></li>
							<li><a href="#Jadwal_Kuliah" class="disable-ajax" rel="ajax" >JADWAL KULIAH</a></li>
							<li class="divider"></li>
							<li><a href="#Social_Network" class="disable-ajax" rel="ajax" >SOCIAL NETWORK</a></li>
							<li class="divider"></li>
							<li><a href="#Blog" class="disable-ajax" rel="ajax" >BLOG</a></li>
							<li class="divider"></li>
							<li><a href="#Chat" class="disable-ajax" rel="ajax" >CHAT</a></li>
							<li class="divider"></li>
							<li><a href="#Contacts" class="disable-ajax" rel="ajax" >CONTACTS</a></li>
							<li class="divider"></li>

						</ul>
                    <!--<div class="right_menu_corner"></div>-->