<div class="center_title_bar">PERKULIAHAN</div>
<table class="ui-widget">
	<thead class="ui-widget-header">
		<tr>
			<th>Jam Mulai</th>
			<th>Jam Selesai</th>
			<th>Kode Mata Kuliah</th>
			<th>Mata Kuliah</th>
			<th>Kelas</th>
			<th>Ruang</th>
			<th>Jumlah Peserta</th>
		</tr>
	</thead>
	<tbody class="ui-widget-content">
	{foreach $data as $d}
		<tr>
			<td>{$d.ID_AGAMA}</td>
			<td >{$d.NM_AGAMA}</td>
			<td >{$d@index}</td>
			<td>Row 0 Column 0</td>
			<td >Row 0 Column 1</td>
			<td >Row 0 Column 2</td>
			<td >Row 0 Column 2</td>
		</tr>
	{/foreach}
	</tbody>
</table>