	<style>
	#toolbar {
		padding: 10px 4px;
	}
	</style>
	

<script>
	
	$(document).ready(function(){
		
		$( "#btn-add" ).button({
			text: true,
			icons: {
				primary: "ui-icon-plus"
			}
		});
		
		$('#btn-add').click(function(){	
			//$('#display').load('portal_ormawa_add.php');
		})
		
		//$('#display').load('portal_ormawa_display.php');
		//$('#display').load("/modul/mhs/includes/rekap_mhs/index.php");
			
	});
</script>
<div class="ui-widget-header" style="padding:3px;">ORGANISASI MAHASISWA</div><br />
<div id="display">
	<iframe src="/modul/mhs/includes/rekap_mhs/index.php" frameborder="0" style="margin:auto;overflow:hidden;" height="100%" width="100%"></iframe>
</div>