<div class="ui-widget">
	<div class="column-about">
	<div class="portlet-about">
		<div class="ui-widget-header " style="padding:3px; padding-left:10px;">FAQ CYBER CAMPUS<span id="arrowPanel" style="float:right;" class="ui-icon ui-icon-arrow-4-diag"></span></div> 
		
			<div class="portlet-content-about" style="padding:10px;">
                            <ol >
                                    {for $i=0 to $jml_data-1}
                                    <li>
                                       {$pertanyaan[$i]} 
                                        <ul style="list-style-type: square;">
                                            <li>{$jawaban[$i]}</li>
                                        </ul>
                                        
                                    </li>
                                    {/for}
                            </ol>
			</div>
			<span class="ui-icon ui-icon-grip-diagonal-se" style="float:right;"></span>
	</div>
	</div>
</div>