{for $i = 0 to $jml_tanggapan-1}
<div class="ui-widget-content" style="padding:10px;margin-bottom:1px;">
	<div style="width:600px;" >
		<div style="float:left; width:60px;" >
		<img src="{$foto_penanggap[$i]}" style="width:40px; height:50px;" />
		</div>
		<div style="float:left; width:500px;" >
			<div><span style="color:navy;font-weight:bold;" id="author{$i}">{$penanggap[$i]}</span> mengomentari dokumen</div>
			<div style="width:500px;">
				{$tanggapan[$i]}
			</div>
			<br />
			<div><span style="color:#999;font-weight:500;"><img src="../../img/portal/Document-Write-icon.png" />&nbsp;{$tgl_tanggapan[$i]}</span></div>
		</div>
	</div>
	
	<div style="clear:both;">
	</div>
</div>
{/for}