	<form id="MyFormAdd" name="MyFormAdd" method="post" action="portal-insert-news.php">
		<table style="width:100%" class="ui-widget">
			<thead class="ui-widget-header">
				<tr>
					<td width="20%">Item</td><td>Isian</td>
				</tr>
			</thead>
			<tbody class="ui-widget-content" valign="top">
				<tr>	
					<td >Judul</td>
					<td>
						<TEXTAREA id="judul" style="width:600px; height:30px;" NAME="judul" COLS=30 ROWS=6></TEXTAREA>
						<TEXTAREA id="id_pengguna" style="width:600px; height:30px; display:none;" NAME="id_pengguna" COLS=30 ROWS=6>{$id_pengguna}</TEXTAREA>
					</td>
				</tr>
				<tr>	
				<tr>	
					<td valign="top" style="text-align:top;">Link</td>
					<td>
						<TEXTAREA id="link" style="width:600px; height:30px;" NAME="link" COLS=30 ROWS=6></TEXTAREA>
					</td>
				</tr>
				<tr>	
					<td valign="top" style="text-align:top;">Image Link</td>
					<td>
						<TEXTAREA id="image_link" style="width:600px; height:30px;" NAME="image_link" COLS=30 ROWS=6></TEXTAREA>
					</td>
				</tr>
				<tr>	
					<td valign="top" style="text-align:top;">Resume</td>
					<td>
						<TEXTAREA id="resume" style="width:600px; height:30px;" NAME="resume" COLS=30 ROWS=6></TEXTAREA>
					</td>
				</tr>
				<tr>	
					<td valign="top" style="text-align:top;">Isi</td>
					<td>
						<TEXTAREA id="isi" style="width:600px; min-height:700px;" NAME="isi" COLS=30 ROWS=6></TEXTAREA>
					</td>
				</tr>
				<tr>	
					<td></td>
					<td>
						<div id="submit" name="submit" >
							<input type="submit" name="btn_submit" id="btn_submit" value="Submit"  />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</form>