<!--
<ul class="menu">
	<li class="divider" style="height:30px;"></li>
	<li><a href="?category=home#!portal_home.php" class="disable-ajax" >HOME</a></li>
	<li class="divider"></li>
	<li id="cybercampus"><a href="?category=cybercampus#!portal_cybercampus.php" class="disable-ajax hover-menu" >CYBER CAMPUS >></a></li>
	   <ul id="sub-cybercampus" class="actions no-style" style="display:none;">
		 <li><a href="">About</a></li>
		 <li><a href="">Product</a></li>
		 <li><a href="">Services</a></li>
	   </ul>
	<li class="divider"></li>
	<li><a href="?category=news#!portal_news.php" class="disable-ajax" >NEWS</a></li>
	<li class="divider"></li>
	<li><a href="?category=sncc#!portal_sncc.php" class="disable-ajax" >SOCIAL NETWORK</a></li>
	<li class="divider"></li>
	<li><a href="?category=blog#!portal_blog.php" class="disable-ajax" >BLOG</a></li>
	<li class="divider"></li>
	<li><a href="category=chat?#!portal_chat.php" class="disable-ajax" >CHAT</a></li>
	<li class="divider"></li>
	<li><a href="?category=contacts#!portal_contacts.php" class="disable-ajax" >CONTACTS</a></li>
	<li class="divider"></li>
</ul>
-->
							<ul class="topnav">
								<li><a href="#">Home</a></li>
								<li>
									<a href="#">Tutorials</a>
									<ul class="subnav">
										<li><a href="#">Sub Nav Link</a></li>
										<li><a href="#">Sub Nav Link</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Resources</a>
									<ul class="subnav">
										<li><a href="#">Sub Nav Link</a></li>
										<li><a href="#">Sub Nav Link</a></li>
									</ul>
								</li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Advertise</a></li>
								<li><a href="#">Submit</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>