<div class="center_title_bar">Mahasiswa Aktif Bayar</div>
<form name="form1" action="mahasiswa-aktif-bayar.php" method="post">
	<table>
    <tr>
    	<td>Fakultas</td>
        <td>
    <select name="fakultas">
    	<option value="">Semua</option>
    	{foreach $get_fakultas as $data}
    	<option value="{$data.ID_FAKULTAS}" {if $data.ID_FAKULTAS == $fakultas}selected="selected"{/if}>{$data.NM_FAKULTAS}</option>
        {/foreach}
    </select>
    	</td>
        <td><input type="submit" value="Tampil" /></td>
    </tr>
    </table>
</form>
{if isset($tampil)}
{literal}
<script type="text/javascript">
			$("#cek_all").click(function()				
			{
				var checked_status = this.checked;
				$(".cek").each(function()
				{
					this.checked = checked_status;
				});
			});				
		
</script>
{/literal}
<form name="f" action="mahasiswa-aktif-bayar.php" method="post">
<input type="submit" value="Simpan" />
<input type="hidden" name="fakultas" value="{$fakultas}" />
<table>
<tr>
	<th>NO</th>
    <th>NIM</th>
    <th>NAMA</th>
    <th>FAKULTAS</th>
    <th>PRODI</th>
    <th>STATUS</th>
    <th>CEKAL</th>
    <th><input type="checkbox" id="cek_all" name="cek_all" /></th>
</tr>
{$tampil}
</table>
</form>
{/if}

