table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #178129;
}
table.tablesorter td {
	border: 1px solid #969BA5;
	color: #000;
	padding: 5px;
}
table.tablesorter tbody tr.odd td {
	background-color:#97FF8C;
}
table.tablesorter .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: 5px;
	border: 1px solid #969BA5;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
	color: #FFF;
	cursor: pointer;
}
table.tablesorter .noheader {
	background-image: url(bg-no.png);
	background-repeat: no-repeat;
	border: 1px solid #969BA5;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
	color: #FFF;
}
table.tablesorter .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}