* {
    font-family: 'Lucida Sans Unicode', Tahoma, Arial;
}
/* -------------- LAYOUT ------------------- */
html {
    background-color: #efefef;
}
#wrap-layout {
    margin: auto;
    width: 960px;  /* Width dibuat statis */
    background-color: #fff;
}
#header-layout {
    padding: 5px;
    border: 1px solid #000088;
    background-image: url('http://pendaftaran.unair.ac.id/img/header.jpg');
}
#header-content {
    height: 105px
}
#nav-layout {
    border: 1px solid #000088;
    background-color: #000088;
    padding: 5px;
}
#nav-content {
    color: #fff;
}

#nav-content .nav-item {
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#nav-content .nav-item:hover {
    background-color: #eee;
    color: #000088;
}

#content-layout {
    border-left: 1px solid #000088;
    border-right: 1px solid #000088;
    padding: 10px;
}

#left-content {
    display: inline-block;
    margin-left: -200px;
    width: 195px;
    float: left;
    font-size: 12px;
}

#footer-layout {
    border-left: 1px solid #000088;
    border-right: 1px solid #000088;
    border-bottom: 1px solid #000088;
    padding: 5px;
}
/* -------------- END LAYOUT ------------------- */


/* -------------- LEFT CONTENT ------------------- */
.box {
    border: 1px solid #88f;
    padding: 2px;
    background-color: #e8e8ff;
    margin-bottom: 10px;
    border-radius: 2px;
}
.box .box-title {
    border-radius: 2px;
    display: block;
    font-weight: bold;
    font-size: 11px;
    background-color: #000088;
    padding: 2px;
    color: #fff;
    margin-bottom: 5px;
}
.box .box-content {
    padding: 2px;
}
.box .box-content div {
    margin-bottom: 5px;
}
.box .box-content form input {
    padding: 1px;
    font-size: 14px;
}
.box .box-content form input[type="submit"] {
    padding: 2px 5px 2px 5px;
    font-size: 12px;
}
/* -------------- END LEFT CONTENT ------------------- */

/* ---- GLOBAL CLASS ---- */
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}
h1,h2,h3,h4,h5,h6,strong {
	font-weight:bold; 
}
em {
    font-style: italic;
}
p,fieldset,table,pre {
    margin-bottom: 1em;
}
input[type=text], input[type=password], select, textarea {
    padding: 3px;
	margin: 2px;
}
input[type=text].error, textarea.error, select.error {
	background-color: #ffd0d0;
}

input[type=submit], button { padding: 3px; margin: 0px 5px; }

label.error {
    display: block;
    font-size: 11px;
    font-family: Arial;
    color: #f00;
    -webkit-user-select: none;
}

label.small-text {
    font-size: 11px;
    display: block;
}
/* ---- END GLOBAL CLASS ---- */

/* ---- CONTENT ----- */
#content h1.page-title {
    background-color: #000088;
    border-radius: 5px;
    padding: 10px 5px 10px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

#nivo-slider {
    border: 1px solid #008;
    height: 300px;
    width: 600px;
    margin: auto;
}

#content table {
    margin: 5px auto 10px auto;
}

#content table caption {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    padding: 10px 3px;
    border-top: 1px solid #969BA5;
    border-left: 1px solid #969BA5;
    border-right: 1px solid #969BA5;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content table tr th {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: #000088;
    padding: 10px 5px;
    border: 1px solid #969BA5;
}

#content table tr td {
    font-size: 13px;
    border-left: 1px solid #969BA5;
    border-right: 1px solid #969BA5;
    border-bottom: 1px solid #969BA5;
    padding: 8px;
}

#content table tr.alternate td {
    background-color: #ddddff;
}

#content table tr:hover td {
    /** background-color: #efefef; **/
}
/* ---- END CONTENT ----- */