* {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma;
}
.wrap-box {
    width: 660px;
    height: 348px;
    position:absolute;
    left:52%;
    top:50%;
    margin:-174px 0 0 -330px;
   background-image: url('/img/regmaba/login.jpg');
}
.wrap-box2 {
    width: 660px;
    height: 348px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-174px 0 0 -330px;
    background-image: url('/img/regmaba/login.jpg');
}
.login-box {
    position: absolute;
    width: auto;
    height: auto;
    left: 280px;
    top: 130px;
}

.login-box table tr td {
    vertical-align: middle;
    padding: 5px;
    font-size: 12px;
}

.login-box2 {
    position:  relative;
    width: auto;
    height: auto;
    left: 290px;
    top: 150px;
} 
.login-box2 table tr td {
    vertical-align: middle;
    padding: 5px;
    font-size: 12px;
}

.right-align {
    text-align: right;
}
.center-align {
    text-align: center;
}
