<form action="cari-pin.php" method="get">
    <label for="no_voucher">No Voucher</label>
    <input type="input" name="no_voucher" id="no_voucher"/>
    <input type="submit" value="Cari"/>
</form>
{if isset($data)}
    <span id="pin" style="padding: 10px;background-color: #dfc;margin-top: 30px;border: #00cc99 1px solid;">{if $data['no_reference']!=''}{$data['no_reference']}{else}data tidak ada{/if}</span>
{/if}

