<div class="center_title_bar">Konfirmasi Ambil Jaket Mahasiswa</div>
<table>
    <tr>
        <td>
            <label>Nomer Ujian :</label>
        </td>
        <td>
            <form action="du-jaket.php" method="get">
                <input type="search" name="no_ujian" {if isset($smarty.get.no_ujian)}value="{$smarty.get.no_ujian}"{/if} />
                <input type="submit" value="Cari..." />
            </form>
        </td>
    </tr>
</table>
{if isset($data_calon_mahasiswa)}
{if $data_calon_mahasiswa>8}
<form action="du-jaket.php" method="post">
    <table>
        <tr>
            <td><input type="checkbox" name="jaket" {if $data_calon_mahasiswa['STATUS']=='10'}checked="true"{/if} value="{$data_calon_mahasiswa['NO_UJIAN']}"/>Sudah Ambil</td>
            <td><input type="submit" name="simpan" value="Proses"/></td>
        </tr>
    </table>
</form>
{else}
<table>
    <tr>
        <td>Masih Belum Lulus Tahap Sebelumnya</td>
    </tr>
</table>
{/if}
{/if}