<style>
    td{font-size: 30px;}
    h1{font-size: 60px;}
</style>
<table cellpadding="6" width="100%" border="0">
    <tr><td colspan="2" align="center"><h1>Jadwal Test Calon Mahasiswa</h1></td></tr>
    <tr>
        <td colspan="2"></td>  
    </tr>
    <tr>
        <td></td>
        <td width="35%">Nama</td>
        <td width="65%">: {nama}</td>
    </tr>
    <tr>
        <td>Program Studi</td>
        <td>: {program_studi}</td>
    </tr>
    <tr>
        <td colspan="2"></td>  
    </tr>
    <tr>
        <td>Tempat Test ELPT</td>
        <td>: PINLABS, Kampus B - Universitas Airlangga</td>
    </tr>
    <tr>
        <td>Jadwal Test ELPT</td>
        <td>: {jadwal_toefl}</td>
    </tr>
    <tr>
        <td>Ruang Test ELPT</td>
        <td>: {ruang_toefl}</td>
    </tr>
    <tr>
        <td>Waktu Test ELPT</td>
        <td>: {waktu_toefl}</td>
    </tr>
    <tr>
        <td colspan="2"></td>  
    </tr>
    <tr>
        <td>Tempat Test Kesehatan</td>
        <td>: Rumah Sakit Universitas Airlangga, Kampus C UNAIR,Surabaya</td>
    </tr>
    <tr>
        <td>Jadwal Test Kesehatan</td>
        <td>: {jadwal_kesehatan}</td>
    </tr>
    <tr>
        <td>Kelompok Test Kesehatan</td>
        <td>: {kelompok_jam}</td>
    </tr>
    <tr>
        <td>Waktu Test Kesehatan</td>
        <td>: {waktu_kesehatan}</td>
    </tr>
    <tr>
        <td colspan="2"></td>  
    </tr>
    <tr>
        <td><strong>NB :</strong> untuk tes kesehatan</td>
        <td>
            <ul>
                <li>Harap membawa kartu tanda peserta dan kartu tanda pengenal</li>
                <li>Harap membawa kacamata bagi yang berkaca mata</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>  
    </tr>
    <tr>
        <td></td>
        <td border="1">
            <table>
                <tr>
                    <td colspan="3" align="center"><strong>
                            BUKTI DAFTAR ULANG / PENGAMBILAN KTM<br/>
                            MAHASISWA BARU UNAIR 2011 / 2012</strong>
                    </td>
                </tr>
                <tr><td colspan="3"></td></tr>
                <tr>
                    <td>Nama</td>
                    <td colspan="2">: {nama}</td>
                </tr>
                <tr>
                    <td>No Ujian</td>
                    <td colspan="2">: {no_ujian}</td>
                </tr>
                <tr>
                    <td>Program Studi</td>
                    <td colspan="2">: {program_studi}</td>
                </tr>
                <tr><td colspan="3"></td></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Surabaya,<br/>Petugas Registrasi<br/><br/><br/><br/><br/>_______________</td>
                </tr>
            </table>
        </td>
    </tr>
</table>