<div class="center_title_bar">Master Status Mahasiswa</div>

<table>
    <tr>
        <th>No</th>
        <th>Nama Status</th>
        <th>Aktif</th>
        <!--<th></th>-->
    </tr>
    {$i=1}
    {foreach $status_pengguna_set as $status_pengguna}
    <tr>
        <td>{$i++}</td>
        <td>{$status_pengguna.NM_STATUS_PENGGUNA}</td>
        <td>{if $status_pengguna.AKTIF_STATUS_PENGGUNA==1}Aktif{else}Tidak Aktif{/if}</td>
        <!--<td>
            <a href="perkuliahan-status.php?mode=edit&id_status_pengguna={$status_pengguna.ID_STATUS_PENGGUNA}">Edit</a>
            <a href="perkuliahan-status.php?mode=delete&id_status_pengguna={$status_pengguna.ID_STATUS_PENGGUNA}">Delete</a>
        </td>-->
    </tr>
    {/foreach}
    <!--<tr>
        <td class="center" colspan="5"><A href="perkuliahan-status.php?mode=add">Tambah</A></td>
    </tr>-->
</table>