html, body { padding: 0; margin: 0; }
.full-width-hack { padding-right: 15px; }
textarea {
    border: 1px solid #eaeaea; width: 100%; padding:5px;
    font: 14px/18px 'Helvetica', 'Arial', 'sans-serif';
}