

<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<script type="text/javascript" src="jquery-1.2.1.pack.js"></script>
{literal}
<script type="text/javascript">

function lookup(inputString) {
if(inputString.length == 0) {
// Hide the suggestion box.
$('#suggestions').hide();
} else {
$.post("gp.php", {queryString: ""+inputString+""}, function(data){
if(data.length >0) {
$('#suggestions').show();
$('#autoSuggestionsList').html(data);
}
});
}
} // lookup

function fill(thisValue) {
$('#inputString1').val(thisValue);
setTimeout("$('#suggestions').hide();", 200);
}
function fill2(thisValue) {
$('#inputString2').val(thisValue);
setTimeout("$('#suggestions').hide();", 200);
}
</script>
{/literal}


<div>
<form action="gp.php?action=procesar_busqueda" method="post">
<input id="scriptBox" type="text" onkeypress="return runScript(event)" />
<div>
Buscar Artista/Banda:
<br /><input type="submit" value="Buscar!" style="height:20px;">
<input type="text" name="buscar" size="30" AUTOCOMPLETE=OFF value="" id="inputString1" onKeyUp="lookup(this.value);" />
<input type="text" name="buscar" size="30" AUTOCOMPLETE=OFF value="" id="inputString2" onKeyUp="lookup(this.value);" />
</div>

<div>
</div>
<div class="suggestionsBox" id="suggestions" style="display: none;">
<img src="upArrow.png" style="position: relative; top: -12px; left: 30px;" alt="upArrow" />
<div class="suggestionList" id="autoSuggestionsList">
&nbsp;
</div>
</div>
</form>
</div>
 

