
	<div class="center_title_bar">Master Peminatan (Program Studi)</div>

	<div id="tabs">
		<div id="tab1" class="tab_sel" align="center" onclick="javascript: displayPanel('1');">Rincian</div>
		<div id="tab2" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('2');">Input</div>
		<div id="tab3" class="tab" style="margin-left:1px;" align="center" onclick="javascript: displayPanel('3');">Update</div>

   	</div>
	
    <div class="tab_bdr"></div>
<div class="panel" id="panel1" style="display: {$disp1}">    
   <table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr class="left_menu">
    <td width="7%" bgcolor="#333333"><font color="#FFFFFF">No </font><font color="#FFFFFF">kurikulum</font></td>
	<td width="25%" bgcolor="#333333"><font color="#FFFFFF">Nama Prodi Minat</font></td>
	<td width="25%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font></td>
  </tr>
  {foreach name=kur item="list" from=$T_KUR}
  <tr>
    <td >{$smarty.foreach.kur.iteration}</td>
    <td >{$list.NM_PRODI_MINAT}</td>
    <td ><a href="minat-prodi.php?action=tampil&id_prodi_minat={$list.ID_PRODI_MINAT}" onclick="displayPanel('3')">Update</a> | <a href="minat-prodi.php?action=del&id_prodi_minat={$list.ID_PRODI_MINAT}">Delete</a></td>
  </tr>
  
     {foreachelse}
        <tr><td colspan="3"><em>Data tidak ditemukan</em></td></tr>
        {/foreach}
</table>
<br>
</div>
		
    <div class="panel" id="panel2" style="display:{$disp2} ">
	  			 <form action="minat-prodi.php" method="post" >
				  <input type="hidden" name="action" value="add" >
				  <table class="tb_frame" width="80%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="20%">Nama Peminatan</td>
					  <td width="2%">:</td>
					  <td width="78%"><input type="text" name="peminatan" id="peminatan" size="40" /></td>
					</tr>
                    
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="ttambah" value="Simpan" id="ttambah"></td>
					</tr>
		  		  </table>
			</form>	
</div>
	      <div class="panel" id="panel3" style="display: {$disp3} ">
		  <form action="minat-prodi.php" method="post" >
		  		  <input type="hidden" name="action" value="update" >
				  <input type="hidden" name="id_prodi_minat" value="{$id_prodi_minat}" >
				  <table class="tb_frame" width="80%" border="0" cellspacing="0" cellpadding="0">
				  {foreach item="datakur" from=$T_KUR}
					<tr>
					  <td width="20%">Nama Peminatan</td>
					  <td width="2%">:</td>
					  <td width="78%"><input type="text" name="peminatan" class="required" value="{$datakur.NM_PRODI_MINAT}" size="40" /></td>
					</tr>
					{/foreach}
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					 <td><input type="submit" name="tambah" value="Update"></td>
					</tr>
				  </table>
	    </form>			
</div>	
<script>$('form').validate();</script>
	  		
   