<script>
	$(document).ready(function(){
		{for $i=0 to $jml_dosen-1}
			$("#btnEditDPL{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});
			$("#btnEditDPL{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});

			//
			$("#btnEditKorkab{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});
			$("#btnEditKorkab{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});

			//
			$("#btnEditKorbing{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});
			$("#btnEditKorbing{$i}").mouseover(function(){
			  $(this).css('cursor', 'pointer');
			  $(this).css('text-decoration', 'underline');
			}).mouseleave(function(){
			  $(this).css('cursor', 'none');
			  $(this).css('text-decoration', 'none');
			});

			//
			$("#btnEditKorkab{$i}").click(function(){
				var id = $('#id{$id[$i]}').val();
				var i = $('#i{$id[$i]}').val();
				$('#get-status-korkab{$id[$i]}').hide();
				$('#get-provinsi-korkab{$id[$i]}').show();
				$('#get-kabupaten-korkab{$id[$i]}').show();
				$('#get-kabupaten-korkab{$id[$i]}').load('get-kabupaten-korkab.php?id_dosen='+id+'&i='+i+'&id_prov=0');
				$('#get-provinsi-korkab{$id[$i]}').load('get-provinsi.php?id_dosen='+id+'&i='+i);
			});

			//
			$("#btnEditKorbing{$i}").click(function(){
				var id = $('#id{$id[$i]}').val();
				var i = $('#i{$id[$i]}').val();
				$('#get-status-korbing{$id[$i]}').hide();
				$('#get-provinsi-korbing{$id[$i]}').show();
				$('#get-kabupaten-korbing{$id[$i]}').show();
				$('#get-kecamatan-korbing{$id[$i]}').show();
				//$('#get-kelurahan-korbing{$id[$i]}').show();

				$('#get-provinsi-korbing{$id[$i]}').load('KorbingController.php?id_dosen='+id+'&i='+i+'&act=prov');
				$('#get-kabupaten-korbing{$id[$i]}').load('KorbingController.php?id_dosen='+id+'&i='+i+'&id_prov=0&act=kab');
				$('#get-kecamatan-korbing{$id[$i]}').load('KorbingController.php?id_dosen='+id+'&i='+i+'&id_kab=0'+'&act=kec');
				//$('#get-kelurahan-korbing{$id[$i]}').load('KorbingController.php?id_dosen='+id+'&i='+i+'&id_kec=0'+'&act=kel');
			});

			//
			$("#btnEditDPL{$i}").click(function(){
				var id = $('#id{$id[$i]}').val();
				var i = $('#i{$id[$i]}').val();
				$('#get-status-dpl{$id[$i]}').hide();
				$('#get-provinsi-dpl{$id[$i]}').show();
				$('#get-kabupaten-dpl{$id[$i]}').show();
				$('#get-kecamatan-dpl{$id[$i]}').show();
				$('#get-kelompok-dpl{$id[$i]}').show();

				$('#get-provinsi-dpl{$id[$i]}').load('DplController.php?id_dosen='+id+'&i='+i+'&act=prov');
				$('#get-kabupaten-dpl{$id[$i]}').load('DplController.php?id_dosen='+id+'&i='+i+'&id_prov=0&act=kab');
				$('#get-kecamatan-dpl{$id[$i]}').load('DplController.php?id_dosen='+id+'&i='+i+'&id_kab=0'+'&act=kec');
				$('#get-kelompok-dpl{$id[$i]}').load('DplController.php?id_dosen='+id+'&i='+i+'&id_kec=0'+'&act=kel');
			});

		{/for}
	});

</script>
{for $i=0 to ($jml_dosen-1)}
<form>
	<div style="width:760px;">
		
		<div style="float:left; width:60px;">
		{* <img src="{$foto[$i]}" style="width:40px; height:50px;" /> *}
		</div>
		<div style="float:left; width:700px;">
			<div style="width:700px;border-color:#CCC;border-left-width:1px;border-left-style:dotted;padding-left:10px;">
				<div>{$nama[$i]}</div>
				<div style="float:left;width:32%;border-color:#CCC;border-right-width:1px;border-right-style:dotted;margin-right:5px;">
					<div style="border-color:#eaeaea;border-bottom-width:1px;border-bottom-style:solid;margin-right:5px;margin-bottom:5px;">
						<div style="float:left;">Koordinator Kabupaten</div>
						<div id="btnEditKorkab{$i}" style="float:right;color:blue;">Edit</div>
						<div style="clear:both;">
						</div>
					</div>
					<form id="frmGetKabupatenKorkab" name="frmGetKabupatenKorkab" method="POST">
					<div id="korkab-area{$id[$i]}">
						<input type="hidden" id="id{$id[$i]}" name="id" value="{$id[$i]}">
						<input type="hidden" id="i{$id[$i]}" name="i" value="{$i}">
						<div id="get-provinsi-korkab{$id[$i]}">
						</div>
						<div id="get-kabupaten-korkab{$id[$i]}">
						</div>
						<div id="get-status-korkab{$id[$i]}">
						<script>
							$("#get-status-korkab{$id[$i]}").load('KorkabController.php?act=status&id_dosen='+'{$id[$i]}');
						</script>
						</div>
					</div>
					</form>
				</div>
				<div style="float:left;width:32%;border-color:#CCC;border-right-width:1px;border-right-style:dotted;margin-right:5px;">
					<div style="border-color:#eaeaea;border-bottom-width:1px;border-bottom-style:solid;margin-right:5px;margin-bottom:5px;">
						<div style="float:left;">Koordinator Pembimbing</div>
						<div id="btnEditKorbing{$i}" style="float:right;color:blue;">Tambah</div>
						<div style="clear:both;">
						</div>
					</div>
					<form id="frmGetKelurahanKorbing{$id[$i]}" name="frmGetKelurahanKorbing{$id[$i]}" method="POST">
					<div id="korbing-area{$id[$i]}">
						<input type="hidden" id="id{$id[$i]}" name="id" value="{$id[$i]}">
						<input type="hidden" id="i{$id[$i]}" name="i" value="{$i}">
						<div id="get-provinsi-korbing{$id[$i]}">
						</div>
						<div id="get-kabupaten-korbing{$id[$i]}">
						</div>
						<div id="get-kecamatan-korbing{$id[$i]}">
						</div>
						<!--
						<div id="get-kelurahan-korbing{$id[$i]}">
						</div>
						-->
						<div id="get-status-korbing{$id[$i]}">
						<script>
							$("#get-status-korbing{$id[$i]}").load('KorbingController.php?act=status&id_dosen='+'{$id[$i]}');
						</script>
						</div>
						<div style="font-style:italic;font-size:11px;">
							Note: Korbing max 2 kecamatan untuk masing - masing dosen
						</div>
					</div>
					</form>
				</div>
				<div style="float:left;width:33%;">
					<div style="border-color:#eaeaea;border-bottom-width:1px;border-bottom-style:solid;margin-bottom:5px;">
						<div style="float:left;">Dosen Pembimbing Lapangan</div>
						<div id="btnEditDPL{$i}" style="float:right;color:blue;">Tambah</div>
						<div style="clear:both;">
						</div>
					</div>
					<form id="frmGetKelurahanDpl{$id[$i]}" name="frmGetKelurahanDpl{$id[$i]}" method="POST">
					<div id="dpl-area{$id[$i]}">
						<input type="hidden" id="id{$id[$i]}" name="id" value="{$id[$i]}">
						<input type="hidden" id="i{$id[$i]}" name="i" value="{$i}">
						<div id="get-provinsi-dpl{$id[$i]}">
						</div>
						<div id="get-kabupaten-dpl{$id[$i]}">
						</div>
						<div id="get-kecamatan-dpl{$id[$i]}">
						</div>
						<div id="get-kelompok-dpl{$id[$i]}">
						</div>
						<div id="get-status-dpl{$id[$i]}">
						<script>
							$("#get-status-dpl{$id[$i]}").load('DplController.php?act=status&id_dosen='+'{$id[$i]}');
						</script>
						</div>
						<div style="font-style:italic;font-size:11px;">
							
						</div>
					</div>
					</form>
				</div>
				<div style="clear:both;">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
	
	<div style="clear:both;">
	</div>
	<br /><br />
	<div style="border-color:#EAEAEA;border-bottom-width:1px;border-bottom-style:solid;">
	</div>
	<br /><br />
</form>
{/for}