<script>
	$(document).ready(function(){
			$("#prov-korbing{$id_dosen}{$i}").change(function(){
				var id_prov = $('#prov-korbing{$id_dosen}{$i}').val();
				$('#get-kabupaten-korbing{$id_dosen}').load('KorbingController.php?id_dosen='+'{$id_dosen}'+'&i='+'{$i}'+'&id_prov='+id_prov+'&act=kab');
			});
	});

</script>

<div style="box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset;background:#ededed;padding-bottom:10px; padding-top:10px; padding-left:5px; padding-right:5px; margin-right:5px; border-color:#ccc;border-bottom-width:1px;border-bottom-style:solid;">
	<span style="float:left; ">Provinsi :</span> 
	<select id="prov-korbing{$id_dosen}{$i}" style="float:right; width:140px;">
		{for $a = 0 to $jml_provinsi-1}
		<option value="{$id_provinsi[$a]}">{$nm_provinsi[$a]}</option>
		{/for}
	</select>
	<div style="clear:both;">
	</div>
</div>