<script>
	$(document).ready(function(){
		$('#kec-dpl{$id_dosen}{$i}').change(function(){
			var id_kec = $('#kec-dpl{$id_dosen}{$i}').val();
			$('#get-kelompok-dpl{$id_dosen}').load('DplController.php?id_dosen='+'{$id_dosen}'+'&i='+'{$i}'+'&id_kec='+id_kec+'&act=kel');
		});
	});
</script>

<div style="box-shadow: 0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset;background:#ededed;padding-bottom:10px; padding-left:5px; padding-right:5px; padding-top:10px; margin-right:5px;  border-color:#ccc;border-bottom-width:1px;border-bottom-style:solid;">
	<span style="float:left;">Kecamatan :</span> 
	<input type="hidden" value="{$id_dosen}" name="id_dosen" id="id_dosen" />
	<select id="kec-dpl{$id_dosen}{$i}" name="id_kecamatan" style="float:right; width:100px;">
		<option value="0">Pilih Kecamatan</option>
		{for $a = 0 to $jml_kecamatan-1}
		<option value="{$id_kecamatan[$a]}">{$nm_kecamatan[$a]}</option>
		{/for}
	</select>
	<div style="clear:both;">
	</div>
</div>