<script>
	$(document).ready(function() {
		$( "#btn-add" ).button({
			text: true,
			icons: {
				primary: "ui-icon-plus"
			}
		});
		
		$( "#btn-cancel" ).button({
			text: true,
			icons: {
				primary: "ui-icon-arrowreturnthick-1-s"
			}
		});
		
		$( "#btn-display" ).button({
			text: true,
			icons: {
				primary: "ui-icon-check"
			}
		});
		
		$('#btn-save').click(function(){	
			$('#frmSimpanKKN').submit();
		})
		
		$('#prodi').change(function(){	
			var prodi = document.getElementById('prodi').value;
			$('#display-area').load('lppm-add-dpl.php?prodi='+prodi);
		})
	});
</script>
		
<form>
	<select id="prodi" name="prodi" style="width:100%;">
		<option selected>--PROGRAM STUDI--</option>
		{for $i=0 to $jml_prodi-1}
		<option value="{$id_prodi[$i]}">[ {$jenjang[$i]} ] {$nm_prodi[$i]}</option>
		{/for}
	</select>
	<!--
	<button id="btn-add">tambah</button> 
	<button id="btn-display">tampilkan</button>
	-->
</form>
