<div class="center_title_bar">
	peserta kkn manual
</div>

<div id="form-area">
	<form id="formInput" name="formInput" method="get" action="kkn-peserta-manual.php">
		<table>
			<tr>
			<td>
			NIM
			</td>
			<td>
			<input type="text" name="nim" id="nim" />
			</td>
			<td>
			<input type="submit" value="OK" />
			</td>
			<tr>
		</table>
	</form>
</div>


<div id="result-area">

	{if $getnim == '1'}
	
		<form id="form-update" name="form-update" action="kkn-peserta-manual.php" method="post" >
		{foreach $calonmhs as $data}
		
		<input type="hidden" name="id_mhs" value="{$data.ID_MHS}" />
		<table>
			<tr>
				<td>NIM</td>
				<td>{$data.NIM_MHS}</td>
			</tr>
			<tr>
				<td>NAMA</td>
				<td>
					{$data.NM_PENGGUNA}
				</td>
			</tr>
			<tr>
				<td>
					FOTO
				</td>
				<td>
					<img style="width:100px;height:120px;" src="{$base_url}foto_mhs/{$data.NIM_MHS}.JPG" />
				</td>
			</tr>
			<tr>
				<td>
					PRODI
				</td>
				<td>
					{$data.NM_JENJANG} {$data.NM_PROGRAM_STUDI}
				</td>
			</tr>
			<tr>
				<td>
					TETAPKAN SEBAGAI CALON PESERTA KKN
				</td>
				<td>
					<input type="submit" value="Update" />
				</td>
			</tr>
		</table>
		{/foreach}
		</form>
	{/if}
</div>

<script>
	$(document).ready(function(){
			/*
			$('#form-update').submit(function() {
						$.ajax({
							type: 'POST',
							url: $(this).attr('action'),
							data: $(this).serialize(),
							success: function(data) {
							
							}
						})
						return false;
			});
			*/
	});
</script>