<script>
	$(document).ready(function(){
		{for $i=0 to $jml_kelompok-1}
			$( "#btn-del{$id[$i]}" ).button({
				text: false,
				icons: {
					primary: "ui-icon-close"
				}
			});
			
			$('#btn-del{$id[$i]}').click(function(){
				//var id_kkn_dpl = document.getElementById('id_kkn_dpl{$i}').value;
				//var kelompok = document.getElementById('kelompok{$i}').value;
				//var dosen = document.getElementById('id_dosen{$i}').value;
				//$('#div_kelompok{$i}').load('lppm-dpl-kelompok-insert.php?kelompok='+kelompok+'&id_kkn_dpl='+id_kkn_dpl);
				var id = $("#id_kelompok_dpl{$id[$i]}").val();
				//alert("" + id + "");
				$("#nama_kelompok{$id[$i]}").load('lppm-dpl-kelompok-delete.php?id='+id);
				$("#nama_kelompok{$id[$i]}").remove();
			})
		
		{/for}
	});
</script>

<table style="width:100%;">
{for $i=0 to $jml_kelompok-1}
	<input type="hidden" value="{$id[$i]}" name="id_kelompok_dpl" id="id_kelompok_dpl{$id[$i]}" />
	<tr id="nama_kelompok{$id[$i]}">
		<td class="ui-state-highlight">{$nama_kelompok[$i]}&nbsp;</td><td style="width:30px;"><div id="btn-del{$id[$i]}" style="width:30px; height:20px;">Hapus</div></td>
	</tr>
{/for}
</table>