<script>
	$(document).ready(function() {
		$('#controller').load('get-propinsi.php');
	});
</script>

<div id="page">
	<div class="center_title_bar">
		TAMBAH KELURAHAN KKN
	</div>
	
	<div id="controller">
	</div>
	
	<div id="display">
	</div>
</div>