<div class="center_title_bar">APPROVE KRS</div>

{if $result}
    	<h3>Berhasil melakukan APPROVE KRS {$jumlah_mhs} Mahasiswa untuk {$jumlah_kelas} kelas kuliah</h3>
{else}
    <h3>Gagal melakukan APPROVE KRS</h3>
{/if}