<form name="form_delete" id="form_delete" method="post" action="organisasi.php">
	Apakah anda yakin untuk menghapus item ini?<br/><br/>
	<p class="center">
		<input type="hidden" name="id_organisasi" value="{$data_organisasi.ID_DOSEN_ORGANISASI}"/>
		<input type="hidden" name="mode" value="delete"/>
		<a id="save" style="cursor: pointer;padding:3px;" class="ui-button ui-state-default ui-corner-all">Delete</a>
		<span style="cursor: pointer;padding:3px;" class="ui-button ui-state-default ui-corner-all" onclick="$('#dialog_delete_organisasi').dialog('close')">Batal</span>
	</p>
</form>
{literal}
<script type="text/javascript">
$('#save').click(function(){
    $('#form_delete').submit();
	$('#dialog_delete_organisasi').dialog('close')
}); 
</script>
{/literal}<p class="center">