<table class="ui-widget" width="500px">
		<tr class="ui-widget-header">
			<th colspan="2" class="header-coloumn"><h2>Detail Training</h2></th>
		</tr>
		<tr class="ui-widget-content">
			<td width="10%"><span>Nama Training</span></td>
			<td width="90%">: {$data_training.NM_DOS_TRAINING}</td>
		</tr>
		<tr class="ui-widget-content">
			<td><span>Jenis Trainng	 </span></td>
			<td>: {$data_training.JENIS_DOS_TRAINING}</td>
		</tr>
		<tr class="ui-widget-content">
			<td><span>Tahun</span></td>
			<td>: {$data_training.THN_DOS_TRAINING}</td>
		</tr>
		<tr class="ui-widget-content">
			<td><span>Instansi</span></td>
			<td>: {$data_training.INSTANSI_DOS_TRAINING}</td>
		</tr>
		
</table>
