<div class="center_title_bar">{$title}</div>
<div id="biodata_info_dosen" class="ui-widget"  >
    <div id="dialog" style="display: none;">Success Save Data</div>
    <div id="alert" style="display: none;">Please Enable Edit Mode !</div>
    <form name="info_dosen" id="form_info_dosen" action="info_dosen.php" method="post">
        <table class="none" style="width: 90%;">
            <tr class="ui-widget-header">
                <th colspan="4" class="header-coloumn"><h2>INFORMASI DATA PEGAWAI</h2></th>
            </tr>
            <tr>
                <td><span class="field">Fak/Unit</span></td>
                <td><span>{$data_info_dosen[0]['FAKULTAS']|upper}</span></td>
                <td><span class="field">Jur/bag/lab</span></td>
                <td><span>{$data_info_dosen[0]['PRODI']|upper}</span></td>
            </tr>
            <tr>
                <td><span class="field">Jenis Peg</span></td>
                <td><span>{$data_info_dosen[0]['JENIS_PEGAWAI']|upper}</span></td>
                <td><span class="field">Status</span></td>
                <td><span>AKTIF</span></td>
            </tr>
            <tr class="ui-widget-header">
                <th colspan="4" class="header-coloumn"><h3>A.IDENTITAS PRIBADI</h3></th>
            </tr>
            <tr>
                <td><span class="field">Nama  </span></td>
                <td><span>{$data_info_dosen[0]['NAMA']|upper}</span></td>
                <td><span class="field">NIP </span></td>
                <td><span>{$data_info_dosen[0]['USERNAME']}</span></td>
            </tr>
            <tr>
                <td><span class="field">Tempat Lahir</span></td>
                <td><span>{$data_info_dosen[0]['TEMPAT_LAHIR']|upper}</span></td>
                <td><span class="field">Email  </span></td>
                <td>
                    <input type="hidden" value="{$data_info_dosen[0]['EMAIL']}" name="email" disabled="true"/><br/><br/>
                    <label for="email" class="error" style="display: none;">Format Email tidak benar</label>
                </td>
            </tr>
            <tr>
                <td><span class="field">Jenis Kelamin  </span></td>
                <td>
                    {if $data_info_dosen[0]['KELAMIN'] == 2}
                    <span>PEREMPUAN</span>
                    {else}
                    <span>LAKI-LAKI</span>
                    {/if}
                </td>
                <td><span class="field">Contact Person  </span></td>
                <td>
                    <input type="text"value="{$data_info_dosen[0]['TELP']}" name="telp" disabled="true"/><br/><br/>
                    <label for="telp" class="error" style="display: none;">Format Telp Salah</label>
                </td>
            </tr>
            <tr>
                <td><span class="field">Tanggal Lahir  </span></td>
                <td><span>{$data_info_dosen[0]['TGL_LAHIR']}</span></td>
                <td><span class="field">Agama</span></td>
                <td><span>{$data_info_dosen[0]['AGAMA']|upper}</span></td>
            </tr>
            <tr>
                <td><span class="field">Alamat Praktek</span></td>
                <td>
                    <textarea rows="3" cols="15" name="alamat_kantor" disabled="true">{$data_info_dosen[0]['ALAMAT_KANTOR']|upper}</textarea><br/><br/>
                    <label for="alamat_kantor" class="error" style="display: none;">tidak boleh kosong</label>
                </td>
                <td><span class="field">Alamat  </span></td>
                <td>
                    <textarea rows="3" cols="15" name="alamat_rumah" disabled="true">{$data_info_dosen[0]['ALAMAT_RUMAH']|upper}</textarea><br/><br/>
                    <label for="alamat_rumah" class="error" style="display: none;">tidak boleh kosong</label>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <a class="save">&nbsp;</a>
                    <a class="edit" onclick="enabled_textbox();$('.cancel').show();">&nbsp;</a>
                    <a class="cancel" style="display: none;" onclick="$('#center_content').load('info_dosen.php')">&nbsp;</a>
                    <input type="hidden" name="update"/>
                </td>
            </tr>
            <tr class="ui-widget-header">
                <th colspan="4" class="header-coloumn"><h3>B.PROFIL STUDI</h3></th>
            </tr>
            <tr>
                <td><span class="field">Pend.Akhir</span></td>
                <td><span></span></td>
                <td><span class="field">Lulus</span></td>
                <td><span>{$data_info_dosen[0]['TAHUN_LULUS']|upper}</span></td>
            </tr>
            <tr>
                <td><span class="field">Bidang Ahli</span></td>
                <td><span></span></td>
            </tr>

            <tr class="ui-widget-header">
                <th colspan="4" class="header-coloumn"><h3>C.PROFILE KEPEGAWAIAN</h3></th>
            </tr>
            <tr>
                <td><span class="field">Pangkat/GOl</span></td>
                <td><span>{$data_info_dosen[0]['NM_GOLONGAN']|upper}</span></td>
                <td><span class="field">Tmt Pangkat</span></td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><span class="field">Jab.Fungs</span></td>
                <td><a href="#"></a></td>
                <td><span class="field">Tmt Fungs</span></td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><span class="field">Jab.Struktural</span></td>
                <td><span>{$data_info_dosen[0]['NM_JABATAN_PEGAWAI']|upper}</span></td>
                <td><span class="field">Tmt Struk</span></td>
                <td><span></span></td>
            </tr>
            <tr>
                <td><span class="field">Lat.Jabatan</span></td>
                <td><span></span></td>
                <td><span class="field">Tmt Pensiun</span></td>
                <td><span></span></td>
            </tr>
        </table>
    </form>
</div>
{literal}
<script type="text/javascript" >
$('.save').click(function(){
    if($(':disabled').size()=='4'){
        $('#alert').dialog('open')
    }else{
        $('#form_info_dosen').submit();
    }
});
$('#form_info_dosen').validate({
    rules :{
        telp :{
            required :true,
            number : true
        },
        email : {
            required :true,
            email :true
        },
        alamat_rumah:{
            required :true
        },
        alamat_kantor:{
            required :true
        }
    }
});
$('#form_info_dosen').ajaxForm({
    type : 'post',
    url : $(this).attr('action'),
    data : $(this).serialize(),
    success : function(data){
        $('#center_content').html(data);
        $("#dialog").dialog("open")
    }
});

function enabled_textbox(){
    document.info_dosen.alamat_rumah.disabled=false;
    document.info_dosen.alamat_kantor.disabled=false;
    document.info_dosen.email.disabled=false;
    document.info_dosen.telp.disabled=false;
}
function disabled_textbox(){
    document.info_dosen.alamat_rumah.disabled=true;
    document.info_dosen.alamat_kantor.disabled=true;
    document.info_dosen.email.disabled=true;
    document.info_dosen.telp.disabled=true;
}
$("#dialog").dialog({
    autoOpen:false,
    position:"middle",
    dragable:false,
    modal:true,
    resizable:false,
    title:"Confirmation Message",
    buttons: {
        Ok: function() {
            $( this ).dialog( "close" );
        }
    }
});
$("#alert").dialog({
    autoOpen:false,
    position:"middle",
    dragable:false,
    modal:true,
    resizable:false,
    title:"Alert Message",
    buttons: {
        Ok: function() {
            $( this ).dialog( "close" );
        }
    }
});
</script>
{/literal}
