body
{
    padding:0px;
    font-family:arial;
    margin:0px;
    background-color: #cccccc;
}
/* header */
#header-bg{
    background:url(img/new_bg_top_header.png) repeat-x #CCCCCC top ;
    height: 141px;
    width: 100%;
}
#header{
    width:1024px;
    height:141px;
    margin : 0px auto 0px;
    background:url(img/new_header.png) no-repeat center;
}
/* main content */
#map-title{
    font-family: TrebuchetMS;
    font-size: 30px;
    text-align: center;
    color: #005161;
    margin: 5px 0px 5px;
}
#map-sebaran{
    background-color: #ffffff;
    width: 1024px;
    margin : 10px auto 10px;
    padding: 20px;
    -moz-border-radius: 20px;
    border-radius:20px;
}

table td{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#AEAEAE;

}


/* footer */
.footer{
    width:100%;
    clear:both;
    height:65px;
    margin-top:20px;
    border-top:solid 1px #666;
    background:url(img/footer_bg.gif) repeat-x top;

}
.left_footer{
    float:left;
    width:300px;
    padding:10px 0px 0px 10px;
}

.center_footer{
    width: 500px;
    height: 40px;
    font-size: 15px;
    text-align:center;
    color:#888888;
    margin: 0px auto 0px;
    margin-top: 10px;
}