            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="yui3-u-1" id="footer-layout">
            <div id="footer-content">
                
            </div>
        </div>
    </div>
</body>
</html>