<div class="center_title_bar">Master Kota</div>

<form action="kota.php" method="post">
<input type="hidden" name="mode" value="add" />
<table>
	<tr>
		<th colspan="2">Detail Kota</th>
	</tr>
	<tr>
		<td>Provinsi</td>
		<td>
			<select name="id_provinsi">
			{foreach $provinsi_set as $p}
				<option value="{$p.ID_PROVINSI}">{$p.NM_PROVINSI}</option>
			{/foreach}
			</select>
		</td>
	</tr>
	<tr>
		<td>Nama Kota</td>
		<td><input type="text" name="nm_kota" size="30" /></td>
	</tr>
	<tr>
		<td class="center" colspan="2">
		<a href="kota.php">Kembali</a>
		<input type="submit" value="Simpan" />
		</td>
	</tr>
</table>
</form>