{* Yudi Sulistya, 29/03/2012 *}
<div class="center_title_bar">Ganti Password</div>
<p><font color="red"><strong> {$display} </strong></font></p>
<form action="ganti-pwd.php" method="post">
<table class="tb_frame" border="1" cellspacing="0" cellpadding="0" id="tableText">
	<tr>
		<th colspan="2">Form Ganti Password</th>
	</tr>
	<tr>
		<td width="149">Password Lama</td>
		<td width="754"><input name="pwdlama" type="password" /></td>
	</tr>
	<tr>
		<td width="149">Password Baru</td>
		<td><input name="pwdbaru" type="password" /></td>
	</tr>
	<tr>
		<td width="149">Password Baru (ulangi)</td>
		<td><input name="pwdbaru2" type="password" /></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" name="Submit" value="Ganti"></td>
	</tr>
</table>
</form>