   <div class="center_title_bar">Informasi Dosen </div>  
     <table width="100%" border="0" cellpadding="0" cellspacing="0">
       <tr>
       <td><table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td width="135">Prodi</td>
               <td width="10">:</td>
               <td width="239"><select name="select">
                 <option>Teknik Komunikasi</option>
                              </select></td>
             </tr>
             <tr>
               <td>Tahun Ajaran </td>
               <td>:</td>
               <td><select name="select">
                   <option>2010/2011</option>
               </select> 
                </td>
             </tr>
             <tr>
               <td>Semester</td>
               <td>:</td>
               <td><select name="select">
                   <option>Gasal</option>
                   <option>Genap</option>
               </select></td>
             </tr>
           </table>
           <p>
               <input type="submit" name="Submit" value="Preview">
             </p></td>
         </tr>
       </table>       
         <br>
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr class="left_menu">
             <td width="22%" bgcolor="#333333"><font color="#FFFFFF">Kode Dosen </font></td>
             <td width="26%" bgcolor="#333333"><font color="#FFFFFF">Nama Dosen </font></td>
             <td width="23%" bgcolor="#333333"><font color="#FFFFFF">Mata Kuliah </font></td>
             <td width="22%" bgcolor="#333333"><font color="#FFFFFF">Hari / Jam </font></td>
             <td width="7%" bgcolor="#333333"><font color="#FFFFFF">Ruang</font></td>
           </tr>
           <tr>
             <td >23456 123456 1 123 </td>
             <td >Ir. Suprapdi, M.Si.</td>
             <td >Jaringan</td>
             <td >Selasa / 07:00 - 08:50 </td>
             <td >R-201</td>
           </tr>
           <tr>
             <td >123456 123456 1 222</td>
             <td >Drs. Toni Sudirman, M.Sos.</td>
             <td >Analisa Pasar Keuangan </td>
             <td >Rabu / 08:00 - 10:30 </td>
             <td >R-221</td>
           </tr>
         </table>
         <p>           <input type="submit" name="Submit" value="Cetak">
 </p>
         <p>&nbsp;</p></td>
       </tr>
</table>

		<div class="panel" id="panel2" style="display: none">
				  <table class="tb_frame" width="46%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="213">Kode Mahasiswa</td>
					  <td width="10">:</td>
					  <td width="274">080911911</td>
					</tr>
					<tr>
					  <td>Nama Mahasiswa </td>
					  <td>:</td>
					  <td>Ismail Bisri</td>
					</tr>
					<tr>
					  <td>Edit Status </td>
					  <td>&nbsp;</td>
					  <td><select name="select">
					    <option>Tidak Aktif</option>
				      </select></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
		</div>