   <div class="center_title_bar">Histori Dosen </div>  
     <table width="80%" border="0" cellpadding="0" cellspacing="0">
       <tr>
       <td><table width="70%" border="1">
         <tr>
           <td><table class="tb_frame" width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td>Prodi</td>
               <td>:</td>
               <td><select name="select">
                 <option>Teknik Kelautan</option>
                </select></td>
             </tr>
             <tr>
               <td width="135">Kode Dosen </td>
               <td width="10">:</td>
               <td width="239"><input name="textfield" type="text" value="123456 123456 1 123"></td>
             </tr>
           </table>
           <p>
               <input type="submit" name="Submit" value="Preview">
             </p></td>
         </tr>
       </table>       
         <table class="tb_dosen" width="70%" border="0" cellpadding="0" cellspacing="0">
           <tr>
             <td width="134" class="tb_frame">Kode Dosen </td>
             <td width="10" class="tb_frame">:</td>
             <td width="294" class="tb_frame">123456 12345678 1 234</td>
           </tr>
           <tr>
             <td class="tb_frame">Nama Dosen </td>
             <td class="tb_frame">:</td>
             <td class="tb_frame">Prof. Dr. Siti Romlah</td>
           </tr>
         </table>
         <br>
         Mata Kuliah yang pernah diajarkan :         <br>
         <table width="100%" border="1" cellpadding="0" cellspacing="0">
           <tr>
             <td>Tahun Ajaran : <span class="tb_frame">2009/2010</span><br>
Semester : <span class="tb_frame">Gasal</span>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="left_menu">
    <td width="6%" bgcolor="#333333"><font color="#FFFFFF">No.</font></td>
    <td width="25%" bgcolor="#333333"><font color="#FFFFFF">Kode Mata Kuliah</font></td>
    <td width="69%" bgcolor="#333333"><font color="#FFFFFF">Nama Mata Kuliah </font> </td>
  </tr>
  <tr>
    <td >1</td>
    <td >MK-0012</td>
    <td >Jaringan</td>
  </tr>
  <tr>
    <td >2</td>
    <td >MK-0034</td>
    <td >Analisa Pasar Keuangan </td>
  </tr>
</table></td>
           </tr>
         </table>
         <table width="100%" border="1" cellpadding="0" cellspacing="0">
           <tr>
             <td>Tahun Ajaran : <span class="tb_frame">2009/2010</span><br>
      Semester : <span class="tb_frame">Genap</span>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="left_menu">
          <td width="6%" bgcolor="#333333"><font color="#FFFFFF">No.</font></td>
          <td width="25%" bgcolor="#333333"><font color="#FFFFFF">Kode Mata Kuliah</font></td>
          <td width="69%" bgcolor="#333333"><font color="#FFFFFF">Nama Mata Kuliah </font> </td>
        </tr>
        <tr>
          <td >1</td>
          <td >MK-0056</td>
          <td >Konsep Kesehatan </td>
        </tr>
      </table></td>
           </tr>
         </table>
         <br>
         <p></p>
         <p>           
           <input type="submit" name="Submit" value="Cetak">
         </p>
         <p>&nbsp;</p></td>
       </tr>
</table>

		<div class="panel" id="panel2" style="display: none">
				  <table class="tb_frame" width="46%" border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="213">Kode Mahasiswa</td>
					  <td width="10">:</td>
					  <td width="274">080911911</td>
					</tr>
					<tr>
					  <td>Nama Mahasiswa </td>
					  <td>:</td>
					  <td>Ismail Bisri</td>
					</tr>
					<tr>
					  <td>Edit Status </td>
					  <td>&nbsp;</td>
					  <td><select name="select">
					    <option>Tidak Aktif</option>
				      </select></td>
				    </tr>
					<tr>
					  <td>&nbsp;</td>
					  <td>&nbsp;</td>
					  <td><input type="submit" name="Submit" value="Simpan"></td>
					</tr>
				  </table>
		</div>