   		<div class="center_title_bar">Jadwal Kegiatan Akademik </div>  
		 <br>
		 <table class="tb_frame" width="80%" border="0" cellpadding="0" cellspacing="0">
           <tbody><tr>
             <td>Tahun Ajaran : 
               <select name="select">
                 <option>Thn Ajaran</option>
                 <option>2009/2010</option>
                 <option>2010/2011</option>
                 </select> 
               Semester : 
               <select name="select">
                 <option>Semester</option>
                 <option>Gasal</option>
                 <option>Genap</option>
                              </select></td>
           </tr>
         </tbody></table>
		 <div id="tabs">
        <div id="tab1" class="tab_sel" onclick="javascript: displayPanel('1');" align="center">Rincian</div>
        <div id="tab2" class="tab" style="margin-left:1px;" onclick="javascript: displayPanel('2');" align="center">Input</div>
    	</div>
        <div class="tab_bdr"></div>
        <div class="panel" id="panel1" style="display: block;">    
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			   <tbody><tr bgcolor="#000">
			     <td width="4%"><font color="#FFFFFF">No</font></td>
				 <td width="10%"><font color="#FFFFFF">Kegiatan</font></td>
				 <td width="40%"><font color="#FFFFFF">Tanggal mulai </font></td>
				 <td width="35%"><font color="#FFFFFF">Tanggal Selesai </font></td>
				 <td width="8%"><font color="#FFFFFF">Aksi</font></td>
			  </tr>
			   <tr>
			     <td>1</td>
				 <td>Daftar ulang </td>
				 <td><select name="select">
				   <option>Tgl</option>
				   <option>1</option>
				   <option>2</option>
				   <option>3</option>
				   <option>...</option>
			     </select>
				   <select name="select">
				     <option>Bln</option>
				     <option>Januari</option>
				     <option>Februari</option>
				     <option>Maret</option>
				     <option>...</option>
		           </select>
				   <select name="select">
				     <option>Thn</option>
				     <option>2009</option>
				     <option>2010</option>
				     <option>2011</option>
				     <option>...</option>
		           </select></td>
				 <td><select name="select">
                     <option>Tgl</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>...</option>
                   </select>
                     <select name="select">
                       <option>Bln</option>
                       <option>Januari</option>
                       <option>Februari</option>
                       <option>Maret</option>
                       <option>...</option>
                     </select>
                     <select name="select">
                       <option>Thn</option>
                       <option>2009</option>
                       <option>2010</option>
                       <option>2011</option>
                       <option>...</option>
                   </select></td>
				 <td><a href="#">Update</a></td>
			   </tr>
			   <tr>
			     <td>2</td>
				 <td> KRS </td>
				 <td><select name="select">
                   <option>Tgl</option>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>...</option>
                 </select>
                   <select name="select">
                     <option>Bln</option>
                     <option>Januari</option>
                     <option>Februari</option>
                     <option>Maret</option>
                     <option>...</option>
                   </select>
                   <select name="select">
                     <option>Thn</option>
                     <option>2009</option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>...</option>
                   </select></td>
				 <td><select name="select">
                     <option>Tgl</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>...</option>
                   </select>
                     <select name="select">
                       <option>Bln</option>
                       <option>Januari</option>
                       <option>Februari</option>
                       <option>Maret</option>
                       <option>...</option>
                     </select>
                     <select name="select">
                       <option>Thn</option>
                       <option>2009</option>
                       <option>2010</option>
                       <option>2011</option>
                       <option>...</option>
                   </select></td>
				 <td><a href="#">Update</a></td>
			   </tr>
			   <tr>
			     <td>3</td>
			     <td>KPRS</td>
			     <td><select name="select">
                   <option>Tgl</option>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>...</option>
                 </select>
                   <select name="select">
                     <option>Bln</option>
                     <option>Januari</option>
                     <option>Februari</option>
                     <option>Maret</option>
                     <option>...</option>
                   </select>
                   <select name="select">
                     <option>Thn</option>
                     <option>2009</option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>...</option>
                   </select></td>
			     <td><select name="select">
                     <option>Tgl</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>...</option>
                   </select>
                     <select name="select">
                       <option>Bln</option>
                       <option>Januari</option>
                       <option>Februari</option>
                       <option>Maret</option>
                       <option>...</option>
                     </select>
                     <select name="select">
                       <option>Thn</option>
                       <option>2009</option>
                       <option>2010</option>
                       <option>2011</option>
                       <option>...</option>
                   </select></td>
			     <td><a href="#">Update</a></td>
		      </tr>
			   <tr>
			     <td>4</td>
			     <td>UAS</td>
			     <td><select name="select">
                   <option>Tgl</option>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>...</option>
                 </select>
                   <select name="select">
                     <option>Bln</option>
                     <option>Januari</option>
                     <option>Februari</option>
                     <option>Maret</option>
                     <option>...</option>
                   </select>
                   <select name="select">
                     <option>Thn</option>
                     <option>2009</option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>...</option>
                   </select></td>
			     <td><select name="select">
                     <option>Tgl</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>...</option>
                   </select>
                     <select name="select">
                       <option>Bln</option>
                       <option>Januari</option>
                       <option>Februari</option>
                       <option>Maret</option>
                       <option>...</option>
                     </select>
                     <select name="select">
                       <option>Thn</option>
                       <option>2009</option>
                       <option>2010</option>
                       <option>2011</option>
                       <option>...</option>
                   </select></td>
			     <td><a href="#">Update</a></td>
		      </tr>
			   <tr>
			     <td>5</td>
			     <td>UTS</td>
			     <td><select name="select">
                   <option>Tgl</option>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>...</option>
                 </select>
                   <select name="select">
                     <option>Bln</option>
                     <option>Januari</option>
                     <option>Februari</option>
                     <option>Maret</option>
                     <option>...</option>
                   </select>
                   <select name="select">
                     <option>Thn</option>
                     <option>2009</option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>...</option>
                   </select></td>
			     <td><select name="select">
                     <option>Tgl</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>...</option>
                   </select>
                     <select name="select">
                       <option>Bln</option>
                       <option>Januari</option>
                       <option>Februari</option>
                       <option>Maret</option>
                       <option>...</option>
                     </select>
                     <select name="select">
                       <option>Thn</option>
                       <option>2009</option>
                       <option>2010</option>
                       <option>2011</option>
                       <option>...</option>
                   </select></td>
			     <td><a href="#">Update</a></td>
		      </tr>
			   <tr>
			     <td>6</td>
			     <td>Ujian</td>
				 <td><select name="select">
                   <option>Tgl</option>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>...</option>
                 </select>
                   <select name="select">
                     <option>Bln</option>
                     <option>Januari</option>
                     <option>Februari</option>
                     <option>Maret</option>
                     <option>...</option>
                   </select>
                   <select name="select">
                     <option>Thn</option>
                     <option>2009</option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>...</option>
                   </select></td>
				 <td><select name="select">
                     <option>Tgl</option>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>...</option>
                   </select>
                     <select name="select">
                       <option>Bln</option>
                       <option>Januari</option>
                       <option>Februari</option>
                       <option>Maret</option>
                       <option>...</option>
                     </select>
                     <select name="select">
                       <option>Thn</option>
                       <option>2009</option>
                       <option>2010</option>
                       <option>2011</option>
                       <option>...</option>
                   </select></td>
				 <td><a href="#">Update</a></td>
			   </tr>
			</tbody></table>		 
			<div></div>
			<br><br>
	</div>
		
        <div class="panel" id="panel2" style="display: none;">		
	      <table width="80%" border="1">
            <tbody><tr>
              <td><table class="tb_frame" width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td>Kegiatan</td>
                    <td>:</td>
                    <td><select name="select">
                      <option>Nama Kegiatan</option>
                      <option>UTS</option>
                      <option>UAS</option>
                      <option>Daftar ulang</option>
                      <option>...</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td>Tanggal Mulai </td>
                    <td>&nbsp;</td>
                    <td><select name="select">
                      <option>Tgl</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>...</option>
                    </select>
                      <select name="select">
                        <option>Bln</option>
                        <option>Januari</option>
                        <option>Februari</option>
                        <option>Maret</option>
                        <option>...</option>
                      </select>
                      <select name="select">
                        <option>Thn</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>...</option>
                      </select></td>
                  </tr>
                  <tr>
                    <td width="135">Tanggal Selesai </td>
                    <td width="10">:</td>
                    <td width="239"><select name="select">
                      <option>Tgl</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>...</option>
                    </select>
                      <select name="select">
                        <option>Bln</option>
                        <option>Januari</option>
                        <option>Februari</option>
                        <option>Maret</option>
                        <option>...</option>
                      </select>
                      <select name="select">
                        <option>Thn</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>...</option>
                      </select></td>
                  </tr>
                </tbody></table>
                  <p>
                    <input name="Submit" value="Tambah" type="submit">
                </p></td>
            </tr>
          </tbody></table>
	      <table width="90%" border="1">
            <tbody><tr>
              <td>Jadwal Akademik <br>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr class="left_menu">
                      <td width="4%" bgcolor="#333333"><font color="#FFFFFF">No</font></td>
                      <td width="25%" bgcolor="#333333"><font color="#FFFFFF">Nama Kegiatan</font></td>
                      <td width="32%" bgcolor="#333333"><font color="#FFFFFF">Tgl Mulai </font></td>
                      <td width="26%" bgcolor="#333333"><font color="#FFFFFF">Tgl Selesai</font> </td>
                      <td width="13%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font> </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Daftar Ulang </td>
                      <td>10 Agustus 2009 </td>
                      <td>20 Agustus 2009 </td>
                      <td><a href="#">Hapus</a> </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>UTS</td>
                      <td>08 Nopember 2009 </td>
                      <td>22 Nopember 2009</td>
                      <td><a href="#">Hapus</a></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>UAS</td>
                      <td>10 Februari 2010</td>
                      <td>10 Februari 2010</td>
                      <td><a href="#">Hapus</a></td>
                    </tr>
                  </tbody></table>
                  <br>
                  <input name="Submit" value="Simpan" type="submit"></td>
            </tr>
          </tbody></table>  
	      <br>
        </div>   
