<div class="center_title_bar">Nama Kegiatan</div>
<table class="tb_frame" width="60%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
  <td width="160">Kode Kegiatan</td>
  <td width="10">:</td>
  <td width="186"><input name="textfield" type="text"></td>
</tr>
<tr>
  <td>Nama Kegiatan</td>
  <td>:</td>
  <td><input name="textfield" type="text"></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><input name="Submit" value="Tambah" type="submit"></td>
</tr>
</tbody></table>
<br>
<table width="70%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr class="left_menu">
  <td width="21%" bgcolor="#333333"><font color="#FFFFFF">Kode Kegiatan</font></td>
  <td width="58%" bgcolor="#333333"><font color="#FFFFFF">Nama Kegiatan</font></td>
  <td width="21%" bgcolor="#333333"><font color="#FFFFFF">Aksi</font> </td>
</tr>
<tr>
  <td>2
  </td>
  <td>UAS</td>
  <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
</tr>
<tr>
  <td>3</td>
  <td>UTS</td>
  <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
</tr>
</tbody></table>
<input name="Submit" value="Simpan" type="submit">
<br>
	  
