Navigation :
<a rel="{$TAB_ID}" href="{$TAB_PAGE}">{if isset($TAB_TITLE)}{$TAB_TITLE}{/if}</a>
{if isset($MENU_ID)}/ <a rel="{$TAB_ID}-{$MENU_ID}" href="{$MENU_PAGE}">{$MENU_TITLE}</a>{/if}&nbsp;
{if isset($action)}/ <span>{$action}</span>{/if}