<div class="center_title_bar">Jumlah Mahasiswa Registrasi</div>
<table style="width: 50%">
    <tr>
        <th>Fakultas</th>
        <th>Jumlah</th>
    </tr>
    <tr>
        <td>Kedokteran</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Keperawatan</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Ekonomi dan Bisnis</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Sain dan Teknologi</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Kesehatan Masyarakat</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Kedokteran Gigi</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Hukum</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Hewan</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Perikanan dan Kelautan</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Farmasi</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Ilmu Sosial dan Ilmu Politik</td>
        <td>100</td>
    </tr>
    <tr>
        <td><strong>Total</strong></td>
        <td><strong>1200</strong></td>
    </tr>
</table>