<div class="center_title_bar">Daftar Mata Kuliah</div>
<table>
    <tr>
        <td>Fakultas</td>
        <td>{html_options name="fakultas" options=$fakultas}<button>Tampilkan</button></td>
    </tr>
</table>
<table style="width: 692px" id="">
    <tr>
        <th style="width: 50px">Tanggal</th>
        <th>Fakultas</th>
        <th>Prodi</th>
        <th style="width: 50px">Action</th>
    </tr>
    <tr>
        <td>15/03/2011</td>
        <td>Sains dan Teknologi</td>
        <td>Matematika</td>
        <td><a href="perkuliahan-daftarmk.php?mode=view">View</a></td>
    </tr>
    <tr>
        <td>16/03/2011</td>
        <td>Kesehatan Masyarakat</td>
        <td>Kesehatan Masyarakat</td>
        <td><a href="perkuliahan-daftarmk.php?mode=view">View</a></td>
    </tr>
    <tr>
        <td>17/03/2011</td>
        <td>Ilmu Sosial dan Politik</td>
        <td>Sejarah</td>
        <td><a href="perkuliahan-daftarmk.php?mode=view">View</a></td>
    </tr>
</table>

