<div class="center_title_bar">Beban SKS Maksimum</div>

<table>
    <tbody>
        <tr><td>Fakultas :</td><td>Sains dan Teknologi</td></tr>
    </tbody>
</table>

<table width="70%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr class="left_menu">
 <td width="38%" bgcolor="#333333"><font color="#FFFFFF">IP Semester Maksimum</font></td>
 <td width="62%" bgcolor="#333333"><font color="#FFFFFF">Beban SKS Maksimum</font> </td>
 <td width="62%" bgcolor="#333333"><font color="#FFFFFF">Approval</font> </td>
</tr>
<tr>
 <td>2</td>
 <td>18</td>
 <td><input type="checkbox" /></td>
</tr>
<tr>
 <td>3</td>
 <td>24</td>
 <td><input type="checkbox" /></td>
</tr>			   
</tbody>
<tfoot>
    <tr><td colspan="6"><a href="perkuliahan-bebansks.php">Submit</a></td></tr>
</tfoot>
</table>
<a href="perkuliahan-bebansks.php">Kembali</a>