<div class="center_title_bar">Jadwal Akademik</div>
<table style="width: 692px">
    <tr>
        <th style="width: 50px">Tanggal</th>
        <th>Fakultas</th>
        <th style="width: 50px">Action</th>
    </tr>
    <tr>
        <td>15/03/2011</td>
        <td>Sains dan Teknologi</td>
        <td><a href="perkuliahan-jadwalakademik.php?mode=view">View</a></td>
    </tr>
    <tr>
        <td>16/03/2011</td>
        <td>Kesehatan Masyarakat</td>
        <td><a href="perkuliahan-jadwalakademik.php?mode=view">View</a></td>
    </tr>
    <tr>
        <td>17/03/2011</td>
        <td>Ilmu Sosial dan Politik</td>
        <td><a href="perkuliahan-jadwalakademik.php?mode=view">View</a></td>
    </tr>
</table>