   <div class="center_title_bar">Reset KTM</div>  
   <form name="update" action="reset-ktm.php" method="get">
 <table width="100%" border="0" cellpadding="0" cellspacing="0">

  <tr>
  	<td>No Ujian : </td>
	<td><input type="text" name="no_ujian" /></td>
  	<td><input type="submit" name="update" value="Update" /></td>
  </tr>

</table>
</form>

<form name="berkas" action="reset-ktm.php" method="get">
 <table width="100%" border="0" cellpadding="0" cellspacing="0">

<tr><th colspan="2" align="center">BERKAS</th></tr>
<tr>
  	<td>NO UJIAN : </td>
	<td><input type="text" name="no" /></td>
</tr>
<tr>
  <td>IJAZAH : </td>
  <td><input name="ijasah" type="checkbox" value="1" /></td>
</tr>
<tr>
  <td>SKHUN : </td>
  <td><input name="skhun" type="checkbox" value="1" /></td>
</tr>
<tr>
  <td>SKCK : </td>
  <td><input name="skck" type="checkbox" value="1" /></td>
</tr>
<tr>
  <td>KESEHATAN : </td>
  <td><input name="kesehatan" type="checkbox" value="1" /></td>
</tr>
<tr>
  <td>TRANSKRIP : </td>
  <td><input name="transkrip" type="checkbox" value="1" /></td>
</tr>
<tr>
  <td>lain : </td>
  <td><input name="lain" type="checkbox" value="1" /></td>
</tr>
<tr>
	<td></td>
	<td><input type="submit" name="simpan" value="Simpan" /></td>
</tr>

</table>
</form>

{if $ok <> ''}
ok
{/if}
