<form name="update" action="update-ktm.php" method="get">
  no ujian : <input type="text" name="no_ujian" /><br />
  <input type="submit" name="update" value="Update" />
</form>


<form name="berkas" action="update-ktm.php" method="get">
no ujian : <input type="text" name="no" />
  ijasah : <input name="ijasah" type="checkbox" value="1" />
  skhun : <input name="skhun" type="checkbox" value="1" />
  lain : <input name="lain" type="checkbox" value="1" />
 <br />
<input type="submit" name="simpan" value="Simpan" />
</form>

{if $ok <> ''}
ok
{/if}
