<div class="center_title_bar">Rekapitulasi Report</div>
{if $result}<h2>{$result}</h2>{/if}
<form action="report-utility.php" method="post">
    <input name="refresh-peminat" type="hidden" />
    <input type="submit" value="REFRESH REKAPITULASI PEMINAT" />
</form>
<br/>
<form action="report-utility.php" method="post">
    <input name="refresh-provinsi" type="hidden" />
    <input type="submit" value="REFRESH REKAPITULASI PROVINSI" />
</form>
<br/>
<form action="report-utility.php" method="post">
    <input name="refresh-gender" type="hidden" />
    <input type="submit" value="REFRESH REKAPITULASI JENIS KELAMIN" />
</form>
<br/>
<form action="report-utility.php" method="post">
    <input name="refresh-penghasilan" type="hidden" />
    <input type="submit" value="REFRESH REKAPITULASI PENGHASILAN ORANG TUA" />
</form>
<br/>
<form action="report-utility.php" method="post">
    <input name="refresh-pendidikan" type="hidden" />
    <input type="submit" value="REFRESH REKAPITULASI PENDIDIKAN ORANG TUA" />
</form>
<br/>
<form action="report-utility.php" method="post">
    <input name="refresh-pekerjaan" type="hidden" />
    <input type="submit" value="REFRESH REKAPITULASI PEKERJAAN ORANG TUA" />
</form>