<html>
<body>
<table border="1" id="rounded-corner">
    <tr>
		<th style="text-align:center; width: 100px">
        	Kode Sekolah		
		</th>
        <th style="text-align:center">
        	Nama Sekolah		
		</th>
        <th style="text-align:center">
			2009
		</th>
		<th style="text-align:center">
			2010
		</th>
		<th style="text-align:center">
			2011
		</th>
    </tr>
	{foreach $data_set as $d}
	<tr>
		<td style="padding: 1px; text-align:center">{$d.KODE_SEKOLAH}</td>
		<td style="padding: 1px 1px 1px 5px;">{$d.NM_SEKOLAH}</td>
		<td style="padding: 1px; text-align:center">{$d.T2009}</td>
		<td style="padding: 1px; text-align:center">{$d.T2010}</td>
		<td style="padding: 1px; text-align:center">{$d.T2011}</td>
	</tr>
	{/foreach}
</table>
</body>
</html>