<div class="center_title_bar">utility kelurahan</div>

{$nav}
<br />
{$direction}
<br /><br />

<form action="utility_kelurahan.php" method="get">
	<input type="hidden" name="kecamatan" value="{$id_kecamatan}" />
	Jumlah Tambah Kelurahan : <input type="text" value="" name="jmlKelurahan" /><input type="submit" value="OK" name="submit"/>
</form>
<br />
<table class="ui-widget" style="width:100%">
<tr class="ui-widget-header">
	<td width="20px">
		NO.
	</td>
	<td>
		NAMA KELURAHAN
	</td>
</tr>
{for $i=0 to $Jml_Data-1}
<tr class="ui-widget-content">
	<td>
		{$i+1}
	</td>
	<td>
		{$Nm_Kelurahan[$i]}
	</td>
</tr>
{/for}
</table>