<div class="center_title_bar">DAFTAR CEKAL MAHASISWA</div>
<table>
<tr>
	<th>NO</th>
    <th>NIM</th>
    <th>STATUS CEKAL</th>
    <th>PENGUBAH</th>
    <th>TGL UBAH</th>
    <th>KETERANGAN</th>
</tr>
{$nim = ''}
{$no = 1}
{foreach $mhs as $data}
	
	<tr {if $nim == $data.NIM_MHS} bgcolor="#CCFF66" {/if}>
    	<td>{$no++}</td>
        <td>{$data.NIM_MHS}</td>
        <td>{$data.CEKAL}</td>
        <td>{$data.NM_PENGGUNA}</td>
        <td>{$data.TGL_UBAH}</td>
        <td>{$data.KETERANGAN}</td>
    </tr>
    {$nim = $data.NIM_MHS}
{/foreach}
</table>