<div class="center_title_bar">Pesan Masuk</div> 
{for $i=0 to $jml_data_contact-1}
<table class="ui-widget" width="100%">
<thead class="center_title_bar">
	<tr>
		<td>SUBJECT</td><td>:</td><td>{$subject[$i]}</td>
	</tr>
</thead>
<tbody class="ui-widget-content">
	<tr>
		<td>NAMA</td><td>:</td><td>{$nama[$i]}</td>
	</tr>
	<tr>
		<td>ALAMAT</td><td>:</td><td>{$alamat[$i]}</td>
	</tr>
	<tr>
		<td>TELPON</td><td>:</td><td>{$telpon[$i]}</td>
	</tr>
	<tr>
		<td>EMAIL</td><td>:</td><td>{$email[$i]}</td>
	</tr>
	<tr>
		<td>TANGGAL</td><td>:</td><td>{$tgl[$i]}</td>
	</tr>
	<tr>
		<td>ISI</td><td>:</td><td><p style="text-align:justify;">{$isi[$i]}</p></td>
	</tr>
</tbody>
</table>
{/for}