<script>
	$(function() {
		$( "#tabs" ).tabs({
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo." );
				}
			}
		});
	});
</script>
	
	<script>
		$(function() {
		
			{for $foo=0 to $jml_data_article-1}
				$( "#submit{$id_article[$foo]}").buttonset();
				$("#btnDelete{$id_article[$foo]}").button({
					icons: {
						primary: "ui-icon-trash",
					},
					text: true
				});
				
				$('#btnDelete{$id_article[$foo]}').click(function(){		
					$('#link_judul{$id_article[$foo]}').hide();
					$('#isi_article{$id_article[$foo]}').hide();
					
					$('#judul{$id_article[$foo]}').show();
					$('#isi{$id_article[$foo]}').show();
					$('#btnEdit{$id_article[$foo]}').hide();
					//$('#submit{$id_article[$foo]}').show();
					
					$('#MyFormDelete{$id_article[$foo]}').submit();
				});
				
				$('#MyFormDelete{$id_article[$foo]}').submit(function() {
					$.ajax({
						type: 'POST',
						url: $(this).attr('action'),
						data: $(this).serialize(),
						success: function(data) {
							/*
						
							$('#link_judul{$id_article[$foo]}').show();
							$('#isi_article{$id_article[$foo]}').show();
							
							$('#judul{$id_article[$foo]}').hide();
							$('#isi{$id_article[$foo]}').hide();
							$('#btnEdit{$id_article[$foo]}').show();
							$('#submit{$id_article[$foo]}').hide();
							
							var link_judul = document.getElementById('link_judul{$id_article[$foo]}');
							var isi_article = document.getElementById('isi_article{$id_article[$foo]}');
							
							link_judul.innerHTML = document.getElementById('judul{$id_article[$foo]}').value;
							isi_article.innerHTML = document.getElementById('isi{$id_article[$foo]}').value;
							*/
							alert('Berhasil Menghapus article');
							window.location.href = "{$base_url}modul/aucc/#portal-article!portal-delete-article.php";

						}
					})
					return false;
				});
				
			{/for}
		
		});
	</script>

<div id='tabs'>
			Pages : <a href="#portal-article!portal-article.php">ALL article</a>
			<br /><br />
			<div class="column-article">	
				<div class="portlet-article">
					<section>

					<div id="article-content" class="portlet-content-article ui-widget-content" style="background:#fff;">
						<div style="margin:20px;">
							{for $foo=0 to $jml_data_article-1}
									{if $is_approve[$foo]=='1'}
									<form id="MyFormDelete{$id_article[$foo]}" name="MyForm{$id_article[$foo]}" method="post" action="portal-del-article.php">
										{if $id!=""}
											<div id="btnDelete{$id_article[$foo]}" name="btnDelete{$id_article[$foo]}" style="height:30px; width:80px;" title="Delete article">
												Delete
											</div>
											<div id="submit{$id_article[$foo]}" name="submit{$id_article[$foo]}" style="display:none;">
												<input type="submit" name="btn_submit" id="btn_submit" value="Submit"  />
											</div>
										{/if}
										<article id="article{$foo}">
										<input style="display:none;" type="text" name="id_article" value="{$id_article[$foo]}" >
										<div>
											&nbsp;
										</div>
										<div class="title">
											
											Judul : <a class="disable-ajax" id="judul_article_div{$id_article[$foo]}" href="#portal-article!portal-delete-article.php?id={$id_article[$foo]}&view=all">{$judul_article[$foo]}</a>
											<textarea style="width:700px; height:30px;display:none;" COLS=30 ROWS=3   id="judul_article{$id_article[$foo]}" name="judul_article{$id_article[$foo]}" >{$judul_article[$foo]}</textarea>
										</div>
										<div class="date">
											Oleh : &nbsp; {$pengguna[$foo]}
											<br />
											Tanggal : &nbsp; {$tgl_article[$foo]}
										</div>
										<div class="content_article">
											{if $view == "all"}
												
												<legend>Image Link</legend>
												<div style="width:700px;" id="image_link_article_div{$id_article[$foo]}"><img style="width:100px; height:100px;" src="{$img_link[$foo]}"/></div><br />
												<TEXTAREA id="image_link_article{$id_article[$foo]}" style="width:700px; height:30px;display:none;" NAME="image_link_article{$id_article[$foo]}" COLS=30 ROWS=6>{$img_link[$foo]}</TEXTAREA>
												
												<legend>Resume</legend>
												<div style="width:700px;" id="resume_article_div{$id_article[$foo]}">{$resume_article[$foo]}</div><br />
												<TEXTAREA id="resume_article{$id_article[$foo]}" style="display:none; width:700px; min-height:150px;" NAME="resume_article{$id_article[$foo]}" COLS=30 ROWS=6>{$resume_article[$foo]}</TEXTAREA>
												
												<legend>Isi</legend>
												<div style="width:700px;" id="isi_article_div{$id_article[$foo]}">{$isi_article[$foo]}</div><br />
												<TEXTAREA id="isi_article{$id_article[$foo]}" style="display:none; width:700px; min-height:700px;" NAME="isi_article{$id_article[$foo]}" COLS=30 ROWS=6>{$isi_article[$foo]}</TEXTAREA>
											{else}
												{$resume_article[$foo]}
											{/if}
										</div>
										</article>
										
									</form>
									{/if}
								
							{/for}
						</div>
					</div>
					</section>
				</div>
			</div>
</div>
	

