<div class="center_title_bar">Ubah Biaya Calon Mahasiswa</div>
<form action="ubah-biaya-calon.php" method="get">
    <input type="hidden" name="mode" value="search" />
    <table>
        <tr>
            <td>No Ujian</td>
            <td><input type="text" name="no_ujian" />
                <input type="submit" value="CARI" />
            </td>
        </tr>
    </table>
</form>

{if isset($cm)}
    <form action="ubah-biaya-calon.php?{$smarty.server.QUERY_STRING}" method="post">
    <table>
        <tr>
            <th>No</th>
            <th>Rincian</th>
            <th>Besar Biaya</th>
            <th>Aksi</th>
        </tr>
    </table>
    </form>
{/if}