<div class="center_title_bar">Master Jalur &gt; Tambah Jalur</div>

<form action="penerimaan-jalur.php" method="post">
	<input type="hidden" name="mode" value="add" />
	<table>
		<tr>
			<th colspan="2">Master Jalur</th>
		</tr>
		<tr>
			<td>Nama Jalur</td>
			<td>
				<input type="text" name="nm_jalur" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<a href="penerimaan-jalur.php">Batal</a>
				<input type="submit" value="Simpan" />
			</td>
		</tr>
	</table>
</form>