<div class="center_title_bar">Jadwal Tes PPMB - Menonaktifkan Jadwal</div>

<form action="verifikasi-ruang.php?mode=view&id_penerimaan={$smarty.get.id_penerimaan}" method="post">
    <input type="hidden" name="mode" value="non-aktifkan" />
    <input type="hidden" name="id_jadwal_ppmb" value="{$jp.ID_JADWAL_PPMB}" />
<table>
    <tr>
        <th colspan="2">Detail Ruang Tes</th>
    </tr>
    <tr>
        <td>Nomer</td>
        <td>{$jp.NOMER_AWAL} - {$jp.NOMER_AKHIR}</td>
    </tr>
    <tr>
        <td>Lokasi</td>
        <td>{$jp.LOKASI}</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>{$jp.ALAMAT}</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Non-Aktifkan"/> <a href="verifikasi-ruang.php?mode=view&id_penerimaan={$smarty.get.id_penerimaan}">Kembali</a>
        </td>
    </tr>
</table>
</form>