html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
	background: #349f42;
	border-color: #2e8c3a;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
	color: #349f42;
}

html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
	background: #349f42;
	box-shadow: 0px 0px 1px #349f42;
}

.switch.switch-primary .ios-switch .on-background {
	background: #349f42;
}

.progress-bar {
	background-color: #349f42;
}

.progress .progress-bar-primary {
	background-color: #349f42;
}

.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
	background: #349f42;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
	background-image: linear-gradient(to left, #44c255 0, #349f42 50%, #277932 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
	background-image: linear-gradient(to right, #44c255 0, #349f42 50%, #277932 100%);
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td span:hover {
	background: #349f42;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover {
	background: #349f42;
}

.datepicker table tbody tr td.day:hover {
	background: #349f42;
}

.datepicker table tbody tr td.day.active {
	background: #277932;
}

html:not(.sidebar-light) .datepicker.datepicker-dark {
	background: transparent;
}

html:not(.sidebar-light) .datepicker.datepicker-dark table tbody tr td.day:hover {
	background: #349f42;
}

html:not(.sidebar-light) .datepicker.datepicker-dark table tbody tr td.day.active {
	background: #277932;
}

.datepicker.datepicker-primary table thead tr:first-child {
	background-color: #349f42;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
	background-color: #277932;
}

.datepicker.datepicker-primary table thead tr:last-child {
	background-color: #3ab24a;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
	background-color: #349f42;
}

.select2-container-multi .select2-choices .select2-search-choice {
	background: #349f42;
}

.wizard-steps > li.active .badge {
	background-color: #349f42;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
	border-top-color: #349f42;
}

.wizard-tabs ul > li.active .badge {
	background-color: #349f42;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
	background: #349f42;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
	border-color: #349f42;
	background: #349f42;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
	color: #349f42;
	border-color: #349f42;
}

.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
	background-color: #349f42 !important;
}

.dataTables_processing {
	background-color: #349f42;
}

.liquid-meter-wrapper .liquid-meter-selector a.active {
	color: #349f42;
}

.multiselect-container > .active > a,
.multiselect-container > .active > a:hover,
.multiselect-container > .active > a:focus {
	background-color: #349f42;
}
