body {
    margin: 0px auto 0 auto;
    font-family: Arial, Helvetica;
    font-size: small;
    background-color: #eee;
    background-image: url(data:image/gif;base64,R0lGODlhCAAIAJEAAMzMzP///////wAAACH5BAEHAAIALAAAAAAIAAgAAAINhG4nudroGJBRsYcxKAA7);
}


* {
    font-family: 'Open Sans', sans-serif;
}
/* -------------- LAYOUT ------------------- */
#wrap-layout {
    margin: auto;
    width: 960px;  /* Width dibuat statis */
    background-color: #fff;
}
#header-layout {
    padding: 5px;
    border: 1px solid #000088;
    background-image: url('http://pendaftaran.unair.ac.id/img/header.jpg');
}
#header-content {
    height: 105px
}
#nav-layout {
    min-height: 20px;
    border: 1px solid #000088;
    background-color: #000088;
    padding: 5px;
}
#nav-content {
    color: #fff;
}

#nav-content .nav-item {
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#nav-content .nav-item:hover {
    background-color: #eee;
    color: #000088;
}

#content-layout {
    border-left: 1px solid #000088;
    border-right: 1px solid #000088;
    padding: 10px;
}

#left-content {
    display: inline-block;
    margin-left: -200px;
    width: 195px;
    float: left;
    font-size: 12px;
}

#footer-layout {
    background-color: #000088;
    color: white;
    border-left: 1px solid #000088;
    border-right: 1px solid #000088;
    border-bottom: 1px solid #000088;
    padding: 5px;
}
/* -------------- END LAYOUT ------------------- */


/* -------------- TABS CONTENT ------------------- */
#tabs {
    overflow: hidden;
    width: 100%;
    margin: 20px 0px 0px 0px;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 -15px 0 0;
}

#tabs a {
    cursor: pointer;
    float: left;
    position: relative;
    padding: 0 40px;
    height: 0;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;      
    border-right: 30px solid transparent;
    border-bottom: 30px solid #008;
    border-bottom-color: #777\9;
    opacity: .3;
    filter: alpha(opacity=30);      
}

#tabs a:hover,
#tabs a:focus {
    border-bottom-color: #3399ff;
    opacity: 1;
    filter: alpha(opacity=100);
}

#tabs a:focus {
    outline: 0;
}

#tabs #current {
    z-index: 3;
    border-bottom-color: #000088;
    opacity: 1;
    filter: alpha(opacity=100);      
}

/* ----------- */
#content {
    background: #fff;
    border-top: 2px solid #ddddff;
    padding: 2em;
    min-height: 330px;
}

#content h2,
#content h3,
#content p {
    margin: 0 0 15px 0;
}  
/* -------------- END LEFT CONTENT ------------------- */

/* ---- GLOBAL CLASS ---- */
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}
h1,h2,h3,h4,h5,h6,strong {
    font-weight:bold; 
}
em {
    font-style: italic;
}
p,fieldset,table,pre {
    margin-bottom: 1em;
}
input[type=text], input[type=password], select, textarea {
    padding: 3px;
    margin: 2px;
}
input[type=text].error, textarea.error, select.error {
    background-color: #ffd0d0;
}

input[type=submit], button {  margin: 0px 5px; }

label.error {
    display: block;
    font-size: 11px;
    font-family: Arial;
    color: #f00;
    -webkit-user-select: none;
}

label.small-text {
    font-size: 11px;
    display: block;
}
/* ---- END GLOBAL CLASS ---- */

/* ---- CONTENT ----- */
#content h1.page-title {
    background-color: #000088;
    border-radius: 5px;
    padding: 10px 5px 10px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

#nivo-slider {
    border: 1px solid #008;
    height: 300px;
    width: 600px;
    margin: auto;
}

#content table {
    margin: 5px auto 10px auto;
    border-collapse: collapse;
}

#content table#table-formulir {
    min-width: 95%
}

#content table caption {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    padding: 10px 3px;
    border-top: 1px solid #969BA5;
    border-left: 1px solid #969BA5;
    border-right: 1px solid #969BA5;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content table tr th {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: #000088;
    padding: 10px 5px;
    border: 1px solid #969BA5;
}

#content table tr td {
    font-size: 13px;
    border-left: 1px solid #969BA5;
    border-right: 1px solid #969BA5;
    border-bottom: 1px solid #969BA5;
    padding: 8px;
}

#content table tr.alternate td {
    background-color: #ddddff;
}

#content table tr:hover td {
    /** background-color: #efefef; **/
}
/* ---- END CONTENT ----- */

/* --- BUTTON GENERATOR*/

.button {

    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #044c8a));
    background:-moz-linear-gradient(top, #007dc1 5%, #044c8a 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #044c8a 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #044c8a 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #044c8a 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #044c8a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#044c8a',GradientType=0);

    background-color:#007dc1;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    border:1px solid #124d77;

    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:6px 10px;
    text-decoration:none;

    text-shadow:0px 1px 0px #154682;

}
.button:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #044c8a), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #044c8a 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #044c8a 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #044c8a 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #044c8a 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #044c8a 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#044c8a', endColorstr='#007dc1',GradientType=0);

    background-color:#044c8a;
}
.button:active {
    position:relative;
    top:1px;
}




/* --- END OF BUTTON*/