<title>Universitas Maarif Hasyim Latif</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="js/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--static chart-->
<script src="js/Chart.min.js"></script>
<!--//charts-->
<!-- geo chart -->
    <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script>window.modernizr || document.write('<script src="lib/modernizr/modernizr-custom.js"><\/script>')</script>
    <!--<script src="lib/html5shiv/html5shiv.js"></script>-->
     <!-- Chartinator  -->
    <script src="js/chartinator.js" ></script>

<div style = "background-color: #00FFFF; color: white; padding: 25px;">
<H1 style="text-align:center;color:black "> DASBOARD SISTEM LANGITAN <br>
 UNIVERSITAS MAARIF HASYIM LATIF</H1>
 </div>
 <hr>
 <hr>



 <div style = "background-color: green; color: white; padding: 25px;">
 <h3 style="text-align:center;"> DATA ASAL SEKOLAH MAHASISWA </h3>
 </div>


<div class="page-container">
<center><canvas id="bar" height="300" width="400" style="width: 200px; height: 200px;"></canvas>
                        <script>
                            var barChartData = {
                            labels : ["SMK YPMI 1","SMK YPM 2","SMK YPM 3","SMA Lainnya"],
                            datasets : [
                                {
                                    
                                    
                                    data : [65,59,90,81],
                                    fillColor : "#FC8213"
                                }
                                
                                	
                            ]

                        };
                            new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
                            </script>
                            </center>
                            <br>



        <div class="copyrights">
	 <p>© 2016. All Rights Reserved </p>
			</div>


<script >
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>

    <script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>