table.tablesorter th{text-align:left;padding:5px;background-color:#261831;}
table.tablesorter td{border:1px solid #261831;color:#000;padding:5px;vertical-align:middle;}
table.tablesorter tr.row:hover{background:#C6B3CF;}
table.tablesorter tbody tr.odd td{background-color:#C6B3CF;}
table.tablesorter .header{background-image:url(bg.png);background-repeat:no-repeat;border:1px solid #261831;padding-left:30px;padding-top:8px;height:auto;color:#FFF;cursor:pointer;}
table.tablesorter .noheader{background-image:url(bg-no.png);background-repeat:no-repeat;border:1px solid #261831;padding-left:30px;padding-top:8px;height:auto;color:#FFF;}
table.tablesorter .headerSortUp{background-image:url(asc.png);background-repeat:no-repeat;}
table.tablesorter .headerSortDown{background-image:url(desc.png);background-repeat:no-repeat;}
table.tablesorter tbody tr.edit td{border-collapse:collapse;padding:0;vertical-align:middle;}
table.tablesorter td.collapse{border:0;color:#000;padding-left:30px;padding-right:30px;background-color:#C6B3CF;}
table.tablesorter td.labelrow{border:0;color:#000;background-color:#C6B3CF;text-align:right;}
table.tablesorter td.inputrow{border:0;color:#000;background-color:#C6B3CF;text-align:left;}
table.tablesorter td.link{border:1px solid #261831;color:#000;padding:5px;vertical-align:middle;text-align:center;}
table.tablesorter td.link:hover{background-color:#261831;cursor:pointer;color:#FFF;font-weight:bold;}
table.tableabout th{text-align:center;font-weight:bold;padding:5px;background-color:#E3E542;color:#000;}
table.tableabout td{border:1px solid #261831;color:#000;padding:5px;vertical-align:middle;}
table.tableabout tbody tr.odd td{background-color:#C6B3CF;}