<div class="center_title_bar">Master Kelompok Aspek - Tambah</div>

<form action="kuisioner-evalnilai.php" method="post" id="prod">
    <input type="hidden" name="mode" value="add" />
    <table>
	<tr>
            <td>Nama Keterangan Nilai Aspek</td>
            <td><input name="KET_NILAI_ASPEK" type="text" class="required" size="80" /></td>
        </tr>
	    <tr>
            <td>Nama Kelompok Nilai </td>
            <td>
            	<select name="ID_KELOMPOK_NILAI" class="required">
                	<option value="">-- Pilih Kelompok Nilai --</option>
                	{foreach $evaluasi_kelompok_nilai_set as $data}
            		<option value="{$data.ID_KELOMPOK_NILAI}">{$data.NM_KELOMPOK}</option>
                    {/foreach}
                </select>         </td>
        </tr>
		<tr>
            <td>Urutan</td>
            <td>
            	<input type="radio" value="1" name="URUTAN" />
				1
            	<input type="radio" value="2" name="URUTAN" />
            	2    
				<input type="radio" value="3" name="URUTAN" />
				3
            	<input type="radio" value="4" name="URUTAN" />
            	4 
				<input type="radio" value="5" name="URUTAN" />
            	5
				</td>
        </tr>
		<tr>
            <td>Nilai Aspek</td>
            <td>
            	<input type="radio" value="0" name="NILAI_ASPEK" />
				0
            	<input type="radio" value="1" name="NILAI_ASPEK" />
            	1
				<input type="radio" value="2" name="NILAI_ASPEK" />
				2
            	<input type="radio" value="3" name="NILAI_ASPEK" />
            	3
				<input type="radio" value="4" name="NILAI_ASPEK" />
            	4
        
        <tr>
            <td height="36" colspan="2" class="center">
            	<input type="button" onclick="javascript:history.back(1)" value="Batal" />
          <input type="submit" value="Simpan" />            </td>
        </tr>
    </table>
</form>
