<div class="center_title_bar">Account Tanpa Role</div>

<table>
    <tr>
        <th>No</th>
        <th>Username</th>
        <th>Nama</th>
    </tr>
    {foreach $pengguna_set as $p}
    <tr {if $p@index is not div by 2}class="row1"{/if}>
        <td class="center">{$p@index + 1}</td>
        <td>{$p.USERNAME}</td>
        <td>{$p.NM_PENGGUNA}</td>
    </tr>
    {/foreach}
</table>