<div class="center_title_bar">Reset Password Pengguna Aplikasi Pendidikan</div>
<form action="account-reset-pass.php" method="post">
    <table>
        <tr>
            <td>NIP</td>
            <td><input type="text" name="username" size="30"/></td>
            <td><input type="submit" value="Cari"/></td>
        </tr>
    </table>
</form>
{if isset($detail_pengguna)}
    <form action="account-reset-pass.php" method="post">
        <table>
            <tr>
                <th colspan="2">DETAIL PENGGUNA</th>
            </tr>
            <tr>
                <td>Username</td>
                <td>{$detail_pengguna.USERNAME}</td>
            </tr>
            <tr>
                <td>Nama</td>
                <td>{$detail_pengguna.NM_PENGGUNA}</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>{$detail_pengguna.NM_ROLE}</td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <input type="hidden" name="mode" value="ubah"/>
                    <input type="hidden" name="username" value="{$detail_pengguna.USERNAME}"/>
                    <input type="submit" value="Reset Password"/>
                </td>
            </tr>
        </table>
    </form>
{/if}