<div class="ui-widget-header sui-widget-header">Pengisi Tracer Study</div>
			
			<div class="ui-widget-content sui-widget-content">
				<ul>
				{foreach $tracer as $data}
					<li id="tracer-content">{$data.NM_FAKULTAS} : {$data.PENGISI}</li>
				{/foreach}
				</ul>
			</div>