<div class="ui-widget-header sui-widget-header">
	Login Page
</div>
<div class="ui-widget-content sui-widget-content">
 
    <form action="#">
 
        <input type="text" name="username" placeholder="NIM">
 
        <input type="password" name="password" placeholder="password">
 
        <input type="submit" value="login">
 
    </form>
</div>