			<div class="ui-widget-header sui-widget-header">Web Links</div>
	
			<div class="ui-widget-content sui-widget-content">
				<ul>
					{foreach $link as $data}
					<li id="link-content"><a href="{$data.LINK}" target="_blank">{$data.LABEL}</a></li>
					{/foreach}
				</ul>
			</div>