<script>
	$(document).ready(function() {
			$('#submitSms').click(function(){	

				$('#formSmsSend').submit();
				$("#smsArea").hide();
				$('#resultSms').html("SMS berhasil dikirim");
				
			});
			
			$('#formSmsSend').submit(function() {
				$.ajax({
					type: 'GET',
					url: $(this).attr('action'),
					data: $(this).serialize(),
					success: function(data) {	
					}
				})
				return false;
			});
			
			$("#sms").attr('maxlength','120');
	});
</script>


<div class="center_title_bar">Broadcast SMS Per Alumni</div>

<form name="formCariAlumni" id="formCariAlumni" action="broadcast-sms.php" method="get">
<table>
	<tr>
		<td>
			Input NIM/NAMA : 
		</td>
		<td>
			<input type="hidden" name="id" id="id" value="1" />
			<input type="text" name="user" id="user" />
		</td>
		<td>
			
			<input type="submit" name="submit" id="submit" value="CARI"/>
		</td>
	</tr>
</table>
</form>

<div id="resultSms">
	&nbsp;
</div>

<div id="smsArea">
{if $user!=""}
	<form method="get" name="formSmsSend" id="formSmsSend" action="broadcast-sms-per-alumni-send.php">
	<table>
		<tr>
			<td>
				USERNAME
			</td>
			<td>
				NAMA
			</td>
			<td>
				FOTO
			</td>
		</tr>

		<tr>
			<td>
				{$username}
			</td>
			<td>
				{$nama}
			</td>
			<td>
				<img src="{$foto}" style="width:60px;height:70px;"/>
			</td>
		</tr>
	</table>
	Pesan : <br />
	<textarea style="width:400px;height:100px;" id="sms" name="sms">
	</textarea>
	<input type="hidden" name="smsTo" value="{$mobile}" />
	<br />
	<input type="button" value="submit" name="submitSms" id="submitSms" />
	</form>

{/if}
</div>


