<script>
	$(document).ready(function() {
			$('#submitMail').click(function(){	

				//alert("Sementara Fitur Belum Aktif");
				$('#formMailSend').submit();
				$("#emaiArea").hide();
				$('#resultMail').html("Email telah dikirim");
				
			});
			
			$('#angkatan').change(function(){
				var angkatan = $("#angkatan").val();
				$("#emailList").load('getEmail.php?src=angkatan&id='+angkatan);
			});
			
			
			/*
			$("#submitMail").click(function(){
				//var getData =  $('#formMailSend').serialize();
				//window.location = ("http://cpanel.unair.ac.id/mail.php?"+getData);
			});
			
			*/

			$('#formMailSend').submit(function() {
				
				//jQuery.support.cors = true;
				var getData =  'url=http://cpanel.unair.ac.id/~tracer/mail.php?' + $(this).serialize();
				//getData = 'data=' + $.md5(getData);
				//window.location = ("http://cpanel.unair.ac.id/mail.php?"+getData);
				
				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					crossDomain: true,
					data: getData,
					success: function(data) {
						
					}
				})
				return false;
				
			});
			
			$("#sms").attr('maxlength','120');
	});
</script>

<div class="center_title_bar">BROADCAST EMAIL PER ANGAKTAN ALUMNI</div>


<div id="emailArea">
	<form method="POST" name="formMailSend" id="formMailSend" action="mailSend.php">
	

	
	PILIH ANGKATAN : 
	<select name="angkatan" id="angkatan">
		<option value="0" selected>::PILIH ANGKATAN::</option>
		{for $i=0 to $jml_angkatan-1}
		<option value="{$angkatan[$i]}">
			{$nama_angkatan[$i]}
		</option>
		{/for}
	</select>
	<br />
	<div id="emailList">
	</div>
	<div style="width:100%">
		<span style="float:left;">Subject &nbsp;&nbsp;</span><input type="text" name="judul" id="judul" style="width:93%" />
	</div>
	<textarea style="width:100%;height:100px;" id="contentEmail" name="contentEmail">
	</textarea>
	
	<br />
	<input type="button" value="submit" name="submitMail" id="submitMail" />
	</form>
</div>

<div id="resultMail">
	&nbsp;
</div>