<script>
	$(document).ready(function() {
			$('#submitSms').click(function(){	

				alert("Sementara Fitur Belum Aktif");
				//$('#formSmsSend').submit();
				//$("#smsArea").hide();
				//$('#resultSms').html("SMS berhasil dikirim");
				
			});
			
			$('#formSmsSend').submit(function() {
				$.ajax({
					type: 'GET',
					url: $(this).attr('action'),
					data: $(this).serialize(),
					success: function(data) {	
					}
				})
				return false;
			});
			
			$("#sms").attr('maxlength','120');
	});
</script>

<div class="center_title_bar">BROADCAST SMS PER PERIODE LULUS</div>



<div id="smsArea">
	<form method="get" name="formSmsSend" id="formSmsSend" action="broadcast-sms-alumni-per-periode-lulus-send.php">
	PILIH PERIODE LULUS : 
	<select name="periode" id="periode">
		{for $i=0 to $jml_periode-1}
		<option value="{$periode[$i]}">
			{$nama_periode[$i]}
		</option>
		{/for}
	</select>
	<br /><br />
	<textarea style="width:400px;height:100px;" id="sms" name="sms">
	</textarea>
	<br />
	<input type="button" value="submit" name="submitSms" id="submitSms" />
	</form>
</div>

<div id="resultSms">
	&nbsp;
</div>