<script>
	$(document).ready(function() {
			$('#submitMail').click(function(){	

				$('#formMailSend').submit();
				$("#mailArea").hide();
				$('#resultMail').html("Email berhasil dikirim");
				
			});
			
			$('#formMailSend').submit(function() {
				var getData =  'url=http://cpanel.unair.ac.id/~tracer/mail.php?' + $(this).serialize();
				
				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					crossDomain: true,
					data: getData,
					success: function(data) {
						
					}
				})

				return false;
			});
	});
</script>


<div class="center_title_bar">Broadcast Email Per Alumni</div>

<form name="formCariAlumni" id="formCariAlumni" action="broadcast-mail.php" method="get">
<table>
	<tr>
		<td>
			Input NIM/NAMA : 
		</td>
		<td>
			<input type="hidden" name="id" id="id" value="1" />
			<input type="text" name="user" id="user" />
		</td>
		<td>
			
			<input type="submit" name="submit" id="submit" value="CARI"/>
		</td>
	</tr>
</table>
</form>

<div id="resultMail">
	&nbsp;
</div>

<div id="mailArea">
{if $user!=""}
	<form method="POST" name="formMailSend" id="formMailSend" action="mailSend.php">
	<table>
		<tr>
			<td>
				USERNAME
			</td>
			<td>
				NAMA
			</td>
			<td>
				FOTO
			</td>
		</tr>

		<tr>
			<td>
				<a class="disable-ajax" href="#utility!utility-cari-data.php?id=1&user={$username}">
					{$username}
				</a>
			</td>
			<td>
				{$nama}
			</td>
			<td>
				<img src="{$foto}" style="width:60px;height:70px;"/>
			</td>
		</tr>
	</table>

	<select multiple="multiple" name="email[]" id="email" style="width:100%;">
	<option value="{$email}" selected>{$email}
	</option>
	</select>

	<div style="width:100%">
		<span style="float:left;">Subject &nbsp;&nbsp;</span><input type="text" name="judul" id="judul" style="width:93%" />
	</div>
	Pesan : <br />
	<textarea style="width:100%;height:100px;" id="contentEmail" name="contentEmail">
	</textarea>

	<br />
	<input type="button" value="submit" name="submitMail" id="submitMail" />
	</form>

{/if}
</div>


