<div class="center_title_bar">Broadcast SMS</div>

<ul>
	<li>
		<a href="broadcast-sms.php?id=1">Broadcast Per-Alumni</a>
	</li>
	<li>
		<a href="broadcast-sms.php?id=2">Broadcast Semua Alumni</a>
	</li>
	<li>
		<a href="broadcast-sms.php?id=3">Broadcast Per-Angkatan Alumni</a>
	</li>
	<li>
		<a href="broadcast-sms.php?id=4">Broadcast Per-Periode Lulus</a>
	</li>
</ul>