<script>
	$(document).ready(function() {
			$('#submitMail').click(function(){	

				//alert("Sementara Fitur Belum Aktif");
				$('#formMailSend').submit();
				$("#emaiArea").hide();
				$('#resultMail').html("Email telah dikirim");
				
			});
			
			$('#periode').change(function(){
				var periode = $("#periode").val();
				$("#emailList").load('getEmail.php?src=periode&id='+periode);
			});
			

			$('#formMailSend').submit(function() {
				
				//jQuery.support.cors = true;
				var getData =  'url=http://cpanel.unair.ac.id/~tracer/mail.php?' + $(this).serialize();
				
				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					crossDomain: true,
					data: getData,
					success: function(data) {
						
					}
				})

				return false;
				
			});
			
			$("#sms").attr('maxlength','120');
	});
</script>

<div class="center_title_bar">BROADCAST EMAIL PER ANGAKTAN ALUMNI</div>


<div id="emailArea">
	<form method="POST" name="formMailSend" id="formMailSend" action="mailSend.php">
	
	PILIH PERIODE LULUS : 
	<select name="periode" id="periode">
		{for $i=0 to $jml_periode-1}
		<option value="{$periode[$i]}">
			{$nama_periode[$i]}
		</option>
		{/for}
	</select>
	<br /><br />
	<div id="emailList">
	</div>
	<div style="width:100%">
		<span style="float:left;">Subject &nbsp;&nbsp;</span><input type="text" name="judul" id="judul" style="width:93%" />
	</div>
	<textarea style="width:100%;height:100px;" id="contentEmail" name="contentEmail">
	</textarea>
	
	<br />
	<input type="button" value="submit" name="submitMail" id="submitMail" />
	</form>
</div>

<div id="resultMail">
	&nbsp;
</div>