<script type="text/javascript" src="../../js/jquery-1.5.1.js"></script>
<div class="ui-widget-content sui-widget-content">
	{foreach $news as $data}
	<div id="news_title">
		<span>
			<strong>
				<a href="portal-news-edit.php?id={$data.ID_NEWS}">{$data.JUDUL}</a>
				&nbsp;|&nbsp;
				<a href="portal-news-edit.php?id={$data.ID_NEWS}&mode=edit">Edit</a>
			</strong>
		</span>
	<div>
	{if $id==''}
	<div id="news_content">
		{$data.RESUME}
	</div>
	{else}
	<div id="news_content">
		{if $mode!==''}
			<iframe id="sslider" src="/modul/ppkk/portal-news-edit.php?id=52&mode=edit" scrolling="no">
			</iframe>
		{else}
			{$data.ISI}
		{/if}
		
	</div>
	{/if}	
	<br />
	{/foreach}
</div>

<script>
$(function()
{
	var config = {
		skin:'v2'
	};

	//$('.ckeditor').ckeditor(config);
});
</script>