<script type="text/javascript" src="../../api/plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="../../api/plugins/ckeditor/adapters/jquery.js"></script>
{foreach $news as $data}
<form action="#portal!portal-news-edit.php?id={$data.ID_NEWS}&mode=edit" method="post" style="height:500px;">
	<input type="hidden" id="id_news" name="id_news" value="{$data.ID_NEWS}" />
	<textarea cols="80" class="ckeditor" id="news_content{$data.ID_NEWS}" name="news_content" rows="10">{$data.ISI}</textarea>
	<br />
	<input type="submit" name="submit" id="submit" value="Update" />
</form>
{/foreach}
			