<div class="center_title_bar">Detail Report Statistik</div>
<span style="font-size:18px;">Detail Report Statistik Lulusan {$ket}</span>
<hr>
<table>
	<tr class="center_title_bar">
		<td>
			Username
		</td>
		<td>
			Nama
		</td>
		<td>
			Foto
		</td>
	</tr>
	
	{for $i=0 to $data-1}
	<tr>
		<td>
			{$username[$i]}
		</td>
		<td>
			{$nama[$i]}
		</td>
		<td>
			<img style="width:40px;height:40px;" src="{$foto[$i]}" />
		</td>
	</tr>
	{/for}
</table>