<div class="center_title_bar">Master Ruang ELPT - Edit</div>

<form action="toefl-ruang.php" method="post">
<input type="hidden" name="mode" value="edit" />
<input type="hidden" name="id_ruang_toefl" value="{$ruang_toefl->ID_RUANG_TOEFL}" />
<table>
    <tr>
        <td>Nama Ruang</td>
        <td><input type="text" name="nm_ruang" size="30" value="{$ruang_toefl->NM_RUANG}" /></td>
    </tr>
    <tr>
        <td>Kapasitas</td>
        <td><input type="text" name="kapasitas" size="2" maxlength="2" value="{$ruang_toefl->KAPASITAS}" /></td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <button href="toefl-ruang.php">Batal</button><input type="submit" value="Simpan" />
        </td>
    </tr>
</table>
</form>