
{if isset($mhs)}
<div class="center_title_bar">Kuisioner Registrasi </div> 
{if isset($tampil)}
{literal}
<script type="text/javascript">
			$("#cek_all").click(function()				
			{
				var checked_status = this.checked;
				$(".cek").each(function()
				{
					this.checked = checked_status;
				});
			});				
		
</script>
{/literal}

<form name="f3" action="kuisioner-registrasi.php" method="post" id='f3'>
<table  class="ui-widget" style="width: 100%">
<tr>
	<th>NO</th>
    <th >Nama Aspek</th>
    <th colspan="7">Skala Nilai</th>
</tr>
	
        <tr>      	</tr>


	{$tampil}
	<tr>
	<th colspan="19"></th>
	<tr>            
	{foreach $inputan as $data}

	<td height="25">&nbsp;</td>
    <td class="required"><input type='hidden' value='{$data.ID_EVAL_ASPEK}' name='id_eval_aspek' />
	<input type='hidden' value='{$data.ID_EVAL_INSTRUMEN}' name='id_eval_instrumen' />
		<input type='hidden' value='{$data.ID_EVAL_KELOMPOK_ASPEK}' name='id_eval_kelompok_aspek' />

	{$data.EVALUASI_ASPEK}</td>
    <td class="required" colspan="8"><textarea name="keterangan" id="keterangan" class="required" cols='40' rows='3'/></td>
	
    
    {/foreach}
	

</tr>	
	
    <tr>
   	  <td colspan="25" style="text-align:center">
        	<input type="submit" value="Simpan" name="simpan" /></td>
    </tr>
</table>
</form>

{/if}
{/if}

{literal}
<script language="javascript">
$('#f3').validate();
</script>
{/literal}