<div class="center_title_bar">Master Tingkat</div>
<table style="width: 70%">
    <thead>
        <tr>
            <th>Tingkat Kegiatan</th>
            <th style="width: 70px">Aksi</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row1">
            <td>Internasional</td>
            <td><a href="master-tingkat.php?mode=edit">Edit</a> | <a href="master-tingkat.php?mode=delete">Hapus</a></td>
        </tr>
        <tr class="row2">
            <td>Nasional</td>
            <td><a href="master-tingkat.php?mode=edit">Edit</a> | <a href="master-tingkat.php?mode=delete">Hapus</a></td>
        </tr>
        <tr class="row1">
            <td>Universitas</td>
            <td><a href="master-tingkat.php?mode=edit">Edit</a> | <a href="master-tingkat.php?mode=delete">Hapus</a></td>
        </tr>
        <tr class="row2">
            <td>Fakultas</td>
            <td><a href="master-tingkat.php?mode=edit">Edit</a> | <a href="master-tingkat.php?mode=delete">Hapus</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><a href="master-tingkat.php?mode=add">Tambah</a></td>
        </tr>
    </tfoot>
</table>