<div class="center_title_bar">Master Kegiatan - Hapus</div>

<table>
    <tbody>
        <tr>
            <td>Nama Kegiatan :</td>
            <td><input type="text" size="30" readonly="readonly" value="Kegiatan Bidang Organisasi dan Kepemimpinan" /></td>
        </tr>
    </tbody>
</table>

<p>Apakah data akan dihapus ? <a href="master-kegiatan.php">Ya</a> <a href="master-kegiatan.php">Kembali</a></p>