<div class="center_title_bar">Master Partisipasi - Hapus</div>

<table>
    <tbody>
        <tr>
            <td>Partisipasi :</td>
            <td><input type="text" size="30" readonly="readonly" value="Ketua" /></td>
        </tr>
    </tbody>
</table>

<p>Apakah data akan dihapus ? <a href="master-partisipasi.php">Ya</a> <a href="master-partisipasi.php">Kembali</a></p>