<div class="center_title_bar">Master Satuan Kredit Prestasi</div>
<h2>Master Kegiatan</h2>
<p>Untuk menentukan data-data inputan kegiatan yang akan digunakan oleh sistem SKP</p>
<h2>Master Tingkat</h2>
<p>Untuk menentukan data-data tingkat kegiatan yang dikutkan dalam sistem SKP</p>
<h2>Master Partisipasi</h2>
<p>Untuk menentukan data-data partisipasi / jabatan / prestasi yang pernah di ikuti</p>