<div class="center_title_bar">Master Kegiatan - Edit</div>
<table>
    <tbody>
        <tr>
            <td>Nama Kegiatan :</td>
            <td><input type="text" size="30" value="Kegiatan Bidang Organisasi dan Kepemimpinan" /></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><a href="master-kegiatan.php">Simpan</a></td>
        </tr>
    </tfoot>
</table>
<a href="master-kegiatan.php">Kembali</a>