<div class="center_title_bar">Master Tingkat - Hapus</div>

<table>
    <tbody>
        <tr>
            <td>Nama Tingkat Kegiatan :</td>
            <td><input type="text" size="30" readonly="readonly" value="Internasional" /></td>
        </tr>
    </tbody>
</table>

<p>Apakah data akan dihapus ? <a href="master-tingkat.php">Ya</a> <a href="master-tingkat.php">Kembali</a></p>