<div class="center_title_bar">Isi SKP</div>
<table>
    <tbody>
        <tr>
            <td><strong>NIM :</strong></td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td><strong>Nama Kegiatan :</strong></td>
            <td><input type="text" size="50" /></td>
        </tr>
        <tr>
            <td><strong>Kegiatan :</strong></td>
            <td>{html_options name="bidang" options=$bidang}</td>
        </tr>
        <tr>
            <td><strong>Kegiatan :</strong></td>
            <td>{html_options name="kegiatan" options=$kegiatan}</td>
        </tr>
        <tr>
            <td><strong>Tingkat :</strong></td>
            <td>{html_options name="tingkat" options=$tingkat}</td>
        </tr>
        <tr>
            <td><strong>Jabatan :</strong></td>
            <td>{html_options name="jabatan" options=$jabatan}</td>
        </tr>
        <tr>
            <td><strong>Dasar Penilaian :</strong></td>
            <td>{html_options name="penilaian" options=$penilaian}</td>
        </tr>
        <tr>
            <td><strong>Bobot SKP :</strong></td>
            <td><input type="text" size="2" maxlength="2"/></td>
        </tr>
        <tr>
            <td><strong>File Upload :</strong></td>
            <td><input type="file" size="50" /></td>
        </tr>
        <tr>
            <td><strong>File Upload :</strong></td>
            <td><input type="file" size="50" /></td>
        </tr>
        <tr>
            <td><strong>File Upload :</strong></td>
            <td><input type="file" size="50" /></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <a href="skp-isi.php?mode=preview">Submit</a>
            </td>
        </tr>
    </tfoot>
</table>