<div class="center_title_bar">080916062 - Mokhammad Fathoni Rokhman</div>
<a href="skp-approval.php">Kembali</a>
<table>
    <tbody>
        <tr>
            <td><strong>Nama</strong></td>
            <td>: Mokhammad Fathoni Rokhman</td>
        </tr>
        <tr>
            <td><strong>Kegiatan </strong></td>
            <td>: Bidang Organisasi dan Kepemimpinan</td>
        </tr>
        <tr>
            <td><strong>Nama Kegiatan</strong></td>
            <td>: Olimpiade Matematika 2011</td>
        </tr>
        <tr>
            <td><strong>Tingkat</strong></td>
            <td>: Internasional</td>
        </tr>
        <tr>
            <td><strong>Jabatan</strong></td>
            <td>: Wakil Ketua</td>
        </tr>
        <tr>
            <td><strong>Dasar Penilaian</strong></td>
            <td>: Surat Keputusan</td>
        </tr>
    </tbody>
</table>

<h3>File Upload</h3>
<ul>
    <li><a href="../../img/kemahasiswaan/upload/080916062_01.jpg">080916062_01.jpg</a></li>
</ul>