<div class="center_title_bar">Riwayat Bayar dan Status Mahasiswa</div>

<table>
    <tr>
        <td>NIM</td>
        <td><form action="evaluasi-bayar-status.php" method="get" id="fcari">
            	<input name="nim" type="text" value="" size="30" class="required" />
                <input type="hidden" value="cari" name="mode" />
          		<input type="submit" value="Cari" />
            </form>
        </td>
    </tr>
</table>
<h3 style="color:#F00">{$error}</h2>
