<div class="center_title_bar">Tambah Kelompok Kegiatan</div>

{if $edited}<script type="text/javascript">alert('{$edited}');</script>{/if}

<form action="kegiatan-kelompok.php?{$smarty.server.QUERY_STRING}" method="post">
<input type="hidden" name="mode" value="add" />
<!--<input type="hidden" name="id_role" value="{$smarty.get.id_role}" />
<input type="hidden" name="id_join_table" value="{$pengguna.JOIN_TABLE}" /> -->
<table>
    <tr>
        <th colspan="2">Detail Kelompok Kegiatan</th>
    </tr>
    <tr>
        <td>Nama Kelompok Kegiatan</td>
        <td><input class="form-control" id="nm_kelompok_kegiatan" type="text" name="nm_kelompok_kegiatan" value="" size="75" />
        </td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <input type="submit" value="Simpan" />
        </td>
    </tr>
</table>
</form>

<a href="kegiatan-kelompok.php">Kembali</a>