<div class="center_title_bar">ID Kelompok Kegiatan : {$kelompok_kegiatan.ID_KELOMPOK_KEGIATAN}</div>

{if $edited}<script type="text/javascript">alert('{$edited}');</script>{/if}

<form action="kegiatan-kelompok.php" method="post">
<input type="hidden" name="mode" value="delete" />
<input type="hidden" name="id_kelompok_kegiatan" value="{$kelompok_kegiatan.ID_KELOMPOK_KEGIATAN}" />
<!--<input type="hidden" name="id_join_table" value="{$pengguna.JOIN_TABLE}" /> -->
<table>
    <tr>
        <th colspan="2">Detail Kelompok Kegiatan</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>{$kelompok_kegiatan.ID_KELOMPOK_KEGIATAN}</td>
    </tr>
    <tr>
        <td>Nama Kelompok Kegiatan</td>
        <td><input class="form-control" id="nm_kelompok_kegiatan" type="text" name="nm_kelompok_kegiatan" value="{$kelompok_kegiatan.NM_KELOMPOK_KEGIATAN}" size="75" disabled />
        </td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <input type="submit" value="Hapus" />
        </td>
    </tr>
</table>
</form>

<a href="kegiatan-kelompok.php">Kembali</a>