<div class="center_title_bar">RENUM LIHAT NILAI</div>

<form name="form2" method="post" action="renum_lihat_nilai.php">
		Bulan : <select name="bulan">
			<option value="0">-----</option>
			<option value="01" {if $smarty.request.bulan=='01'} selected="selected"{/if}>Januari</option>
			<option value="02" {if $smarty.request.bulan=='02'} selected="selected"{/if}>Februari</option>
			<option value="03" {if $smarty.request.bulan=='03'} selected="selected"{/if}>Maret</option>
			<option value="04" {if $smarty.request.bulan=='04'} selected="selected"{/if}>April</option>
			<option value="05" {if $smarty.request.bulan=='05'} selected="selected"{/if}>Mei</option>
			<option value="06" {if $smarty.request.bulan=='06'} selected="selected"{/if}>Juni</option>
			<option value="07" {if $smarty.request.bulan=='07'} selected="selected"{/if}>Juli</option>
			<option value="08" {if $smarty.request.bulan=='08'} selected="selected"{/if}>Agustus</option>
			<option value="09" {if $smarty.request.bulan=='09'} selected="selected"{/if}>September</option>
			<option value="10" {if $smarty.request.bulan=='10'} selected="selected"{/if}>Oktober</option>
			<option value="11" {if $smarty.request.bulan=='11'} selected="selected"{/if}>November</option>
			<option value="12" {if $smarty.request.bulan=='12'} selected="selected"{/if}>Desember</option>
		</select>
        <input type="submit" name="tampil" value="Tampil">
</form>

{$isi}