<div class="center_title_bar">RENUM SETTING JABATAN</div>


{if isset($smarty.request.mode) and $smarty.request.mode == 'tambah'}


	{$isi}

{else}
<form method="get" action="renum_setting_jabatan.php">
<input type="hidden" value="tambah" name="mode" />
<input type="submit" name="tambah" value="Tambah">
</form>

<table id="myTable" class="tablesorter" cellspacing="1" cellpadding="0" border="0">
<thead>
			<tr>
				<th><b>No</b></th>
				<th><b>Jabatan Penilai</b></th>
				<th><b>Jabatan Dinilai</b></th>
				<th>&nbsp;</th>
			</tr>
       </thead>     
       {$isi}
</table>
{/if}