<div class="center_title_bar">Editor FAQ</div>

<form action="editor-faq.php" method="post">
<input type="hidden" name="mode" value="add" />
<table>
	<tr>
		<th colspan="2">Detail FAQ : Tambah</th>
	</tr>
	<tr>
		<td>Pertanyaan</td>
		<td>
			<textarea name="pertanyaan" cols="100" rows="5" style="font-family: 'Trebuchet MS'; font-size: 13px"></textarea>
		</td>
	</tr>
	<tr>
		<td>Jawaban</td>
		<td>
			<textarea name="jawaban" cols="100" rows="10" style="font-family: 'Trebuchet MS'; font-size: 13px"></textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="center">
			<a href="editor-faq.php">Kembali</a>
			<input type="submit" value="Simpan"/>
		</td>
	</tr>
</table>
</form>