body{background:#CCC;height:100%;}
.main-width{width:1000px;}
body table{background:#FFF;width:100%;}
.clear-margin-bottom{margin-bottom:0px;}
#header{width:1079px;height:96px;background:url('images/header-center.png') top center no-repeat;margin:auto;color:#E3E542;}
.floatingStyle{position:relative;top:0px;}
.header-center{background:url('images/header-center.png') top center no-repeat;width:1079px;height:96px;background-position:0px 0px;margin:auto;color:#E3E542;}
.header-left, .header-right{background:url('images/header-background.png') top left repeat-x;height:96px;}
.tab-center, .tab-left, .tab-right{background:url('images/tab.png') top left repeat-x;height:45px;}
.tab-center ul li{display:inline-block;float:left;margin:0px;padding:0px;}
.tab-center ul li.divider{background:url('images/tab-divider.png');display:inline-block;float:left;height:45px;width:1px;}
.tab-center ul li a{color:#FFF;display:inline-block;font-size:12px;padding:15px 15px 0px 15px;text-decoration:none;height:30px;}
.tab-center ul li a:hover{text-decoration:none;font-weight:bold;cursor:pointer;color:#E3E542;}
.body-left, .body-right{background:#CCC;}
.menu{height:600px;padding:5px;width:200px;}
.menu ul{list-style:none;margin-bottom:0px;margin-left:15px;}
.menu ul li{margin-left:0px;}
.menu ul li a{background:url('images/icon.png') 5px 5px no-repeat;border-bottom:1px dashed #CCC;color:#000;display:block;height:22px;margin:5px 0px 5px 0px;padding:5px 0px 0px 25px;text-decoration:none;}
.menu ul li a:hover{background:url('images/icon-hover.png') 5px 5px no-repeat;text-decoration:none;font-weight:bold;cursor:pointer;color:#FFF;background-color:#261831;border-bottom:none;border-radius:5px;}
.foot-left, .foot-right{background:#FFF;padding-left:25px;}
.foot-center{background:url('images/footer-background.png') top center repeat-x;color:#666;height:61px;background-color:#FFF;}
.footer-nav{display:block;font-size:12px;padding:2px 10px 2px 10px;text-align:right;}
.footer-nav a{color:#666;text-decoration:none;}
.footer{background:url('images/cyber-campus.png') 5px 0px no-repeat;display:block;height:37px;margin-top:-10px;text-align:center;}
.footer a{color:#666;text-decoration:none;}
.footer-bottom {position:fixed;bottom:0;width:100%;height:61px;z-index:999;}
.footer-bottom  table{border-top:1px solid #261831;}
.content-table{margin-bottom:0px;}
.content{padding:10px;font-size:13px;}
.content .center_title_bar{background-color:#261831;border-radius:5px;color:#FFF;font-size:14px;font-weight:bold;margin:0px -5px 10px -5px;padding:10px;text-transform:uppercase;}
.content h1{font-size:20px;}
.content h2{font-size:18px;}
.content h3{font-size:16px;}
.content h4{font-size:14px;}
.content table{width:auto;}
.content table tr th{background:#261831;border:1px solid #261831;color:#FFF;font-weight:bold;padding:5px;}
.content button{cursor:pointer;}
.content a{cursor:pointer;color:#261831;font-weight:bold;text-decoration:none;}
.content a:hover{color:#000;font-weight:bold;text-decoration:none;cursor:pointer;}
.content a:active{color:#261831;font-weight:bold;}
.content pre{font-size:11px;}
.content input[type=submit], .radio{cursor:pointer;}
.center{text-align:center;}
.middle{vertical-align:middle;}
.loading {display:block;height:auto;text-align:center;vertical-align:middle;position:absolute;left:50%;top:50%;}
table.collapse{width:100%;margin-bottom:0;}
table.collapse tbody tr{border-collapse:collapse;}
table.collapse td{border:0;padding:5px;}