<div class="center_title_bar">Master Bank</div>
<!--
<a class="ui-widget ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;margin-left:15px;" href="bank.php?mode=add">Tambah</a>
-->
<table class="ui-widget" style="width: 40%">
    <tr class="ui-widget-header">
        <th colspan="5" class="header-coloumn" style="text-align: center;">Master Bank</th>
    </tr>
    <tr class="ui-widget-header">
        <th>No</th>
        <th>Nama Bank</th>
        <th>Operasi</th>
    </tr>
    {foreach $data_bank as $data}
        <tr class="ui-widget-content">
            <td>{$data@index+1}</td>
            <td>{$data.NM_BANK}</td>
            <td><!--<a class="ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;" href="bank.php?mode=edit&id_bank={$data.ID_BANK}">Edit</a>--></td>
        </tr>
    {/foreach}
</table>	

