<div class="center_title_bar">Master Status Pembayaran</div>
<!--
<a class="ui-widget ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;margin-left:15px;" href="status-pembayaran.php?mode=add">Tambah</a>
-->
<table class="ui-widget" style="width: 40%">
    <tr class="ui-widget-header">
        <th colspan="4" class="header-coloumn" style="text-align: center;">Master Status Pembayaran</th>
    </tr>
    <tr class="ui-widget-header">
        <th>No</th>
        <th>Nama Status</th>
        <th>Keterangan</th>
        <th>Operasi</th>
    </tr>
    {foreach $data_status as $data}
        <tr class="ui-widget-content">
            <td>{$data@index+1}</td>
            <td>{$data.NAMA_STATUS}</td>
            <td>{$data.KETERANGAN}</td>
            <td><!--<a class="ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;" href="status-pembayaran.php?mode=edit&id_status={$data.ID_STATUS_PEMBAYARAN}">Edit</a>--></td>
        </tr>
    {/foreach}
</table>	

