<div class="center_title_bar">Master Bank Via</div>
<!--
<a class="ui-widget ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;margin-left:15px;" href="bank-via.php?mode=add">Tambah</a>
-->
<table class="ui-widget" style="width: 40%">
    <tr class="ui-widget-header">
        <th colspan="5" class="header-coloumn" style="text-align: center;">Master Bank Via</th>
    </tr>
    <tr class="ui-widget-header">
        <th>No</th>
        <th>Kode Bank Via</th>
        <th>Nama Bank Via</th>
        <th>Operasi</th>
    </tr>
    {foreach $data_bank_via as $data}
        <tr class="ui-widget-content">
            <td>{$data@index+1}</td>
            <td>{$data.KODE_BANK_VIA}</td>
            <td>{$data.NAMA_BANK_VIA}</td>
            <td><!--<a class="ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;" href="bank-via.php?mode=edit&id_bank_via={$data.ID_BANK_VIA}">Edit</a>--></td>
        </tr>
    {/foreach}
</table>	




