{extends file='home_layout.tpl'}
{block name='body-content'}
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h2>Selamat datang, {ucwords(strtolower($pengguna->NM_PENGGUNA))}</h2>
			</div>
		</div>
	</div>
{/block}