{extends file='front_layout.tpl'}
{block name='body-content'}
	<div class="row">
		<div class="col-md-12">

			<div class="page-header">
				<h2>Petunjuk Pendaftaran</h2>
			</div>

		</div>
	</div>
{/block}