{extends file="../index.tpl"}

{block name="content"}
	
	<div class="hero-unit">
		<h1>Rekapitulasi Data PPMB</h1>
		<p>Data peminatan, asal provinsi, penghasilan orang tua, pendidikan orang tua, pekerjaan orang tua.</p>
	</div>
	
{/block}