<div class="center_title_bar">Rekap PM</div>

<table>
    <tr>
        <th>No</th>
        <th>No Ujian</th>
        <th>Nama</th>
        <!--<th>Skor PM</th>-->
        <th>Nama Ortu</th>
        <th>Sponsor</th>
        <th>Keterangan</th>
        <th>Status Anak</th>
        <!--
        <th>Urutan Sebelum PM</th>
        <th>Urutan Setelah PM</th> -->
        <th>Prodi</th>
    {foreach $cmb_set as $cmb}
    <tr>
        <td class="center">{$cmb@index + 1}</td>
        <td><a href="snmptn-pm.php?no_ujian={$cmb.NO_UJIAN}">{$cmb.NO_UJIAN}</a></td>
        <td>{$cmb.NM_C_MHS}</td>
        <!--<td class="center">{$cmb.NILAI_PM}</td>-->
        <td>{$cmb.NM_ORTU}</td>
        <td>{$cmb.NM_SPONSOR}</td>
        <td>{$cmb.KETERANGAN}</td>
        <td>{$cmb.STATUS_ANAK}</td>
        <!--
        <td class="center">
            {if $cmb.URUTAN > $cmb.KUOTA}<span style="font-weight: bold; color: #f00">{$cmb.URUTAN}</span>{else}<span style="color: #00f">{$cmb.URUTAN}</span>{/if}
        </td>
        <td class="center">
            {if $cmb.URUTAN2 > $cmb.KUOTA}<span style="font-weight: bold; color: #f00">{$cmb.URUTAN2}</span>{else}<span style="color: #00f">{$cmb.URUTAN2}</span>{/if}
        </td>-->
        <td>{$cmb.NM_PROGRAM_STUDI}</td>
    </tr>
    {/foreach}
</table>