<html>
<body>
<form action="snmptn-iterasi.php?mode=upload" enctype="multipart/form-data" method="post">
    <input type="hidden" name="mode" value="upload1" />
    <table border="1" width="100%">
        <tr>
            <td>File Hasil (Hasilfinal.txt)</td>
            <td>
                <input type="file" name="file_hasil"  />
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table>
</form>
    
<form action="snmptn-iterasi.php?mode=upload" enctype="multipart/form-data" method="post">
    <input type="hidden" name="mode" value="upload2" />
    <table border="1" width="100%">
        <tr>
            <td>File Pindah (dataHasilSiswa.txt)</td>
            <td>
                <input type="file" name="file_hasil"  />
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>