<div class="center_title_bar">Upload Iterasi</div>

<iframe src="snmptn-iterasi.php?mode=upload" style="border: 1px solid #000; width: 100%; height: 130px"></iframe>
<br/>
<a href="snmptn-iterasi.php?mode=download-all" class="disable-ajax">Download All Peserta</a><br/>
<a href="snmptn-iterasi.php?mode=download-prodi" class="disable-ajax">Downlad Keketatan Prodi</a><br/>
<a href="snmptn-iterasi.php?mode=download-sma" class="disable-ajax">Downlad Keketatan SMA</a>