body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
}
#header{
    background-color: #104090;
}
.header-center {
    background: url('../../../img/header/spi.png') top center no-repeat;
    height: 96px;
}
/* --- Foot Style --- */
.foot-left, .foot-right { background: #ccc; }
.foot-center {
    background: url('../../../img/ppmb/footer-background.png') top center repeat-x;
    color: #666666;
    height: 61px;
}
.footer-nav {
    display: block;
    font-size: 12px;
    padding: 2px 10px 2px 2px;
    text-align: right;
}
.footer-nav a {
    color: #666666;
}
.footer {
    background: url('../../../img/ppmb/cyber-campus.png') 5px 0px no-repeat;
    display: block;
    height: 37px;
    margin-top: -10px;
    text-align: center;
}

/* --- Content Style --- */
.content { font-size: 13px; }

.content .center_title_bar {
    background: #2438C9;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px -5px 20px -5px;
    padding: 10px;
    text-transform: uppercase;
}
.content h1 { font-size: 20px; }
.content h2 { font-size: 18px; }
.content h3 { font-size: 16px; }
.content h4 { font-size: 14px; }

.content table {
    width: auto;
}

.content table caption { 
    padding: 2px; 
    font-size: 14px;
    font-weight: bold;
}

.content table tr.row1 { background-color: #eee; }
.content table tr.row2 { background-color: #fff; }
.content table tr.row3 { }

.content table tr th {
    background: #1d2836;
    border: 1px solid #969BA5;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-transform :uppercase;
}

.content table tr td {
    border: 1px solid #969BA5;
    padding: 8px;
    vertical-align: middle;
}
.content tr.even td 
{
    background-color:#f0f0f0;
}

.content input[type=text],textarea{
    border-bottom: 1px solid #0c366c;
    border-top:none;
    border-right:none;
    border-left:none;
    padding:3px;
}

.content fieldset{
    padding:12px;
    border:1px solid #c0c0c0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.content legend{
    color:#0c366c;
    font-size:14px;
    padding:2px;
    font-weight:bold;
    text-transform:uppercase;
}
.content div.field_form{
    margin-bottom: 15px;
    padding: 8px;
    display: block; 
}
.content div.bottom_field_form{
    clear: both;
    padding-top: 20px;
    text-align: center;
}
.content div.field_form  label:not(.error){
    float:left;
    width:10%;
    color:grey;
    font-weight:bold;
    text-align:right;
    margin:0px 15px 0 0;
}
.content input[type=text]:focus,textarea:focus{
    background: #ededed;
}

.content select, input[type=text]{
    vertical-align: top;
}

.content table tr td.title {
    background: #c3cbd4;
    padding: 8px;
}

.content a.button, input.button , button.button{
    margin:9px 1px;  
    padding:8px;
    background-color:#2438C9;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 7px;
    text-decoration:none;
    border: none;
    font-size:13px;
    display:inline-block;
}
.content a.button,input.button{
    padding:8px;
}
.content a.button:hover, input.button:hover ,button.button:hover{
    color: #cee3ff;
}

.small { font-size: 80%; }
.center {
    text-align: center;
}
.middle {
    vertical-align: middle;
}
.cursor-pointer {
    cursor: pointer;
}

.content button {
    cursor: pointer;
}
.content a {
    color: #008000;
}
.content a:hover {
    color: #00aa00;
}
.content a:active {
    color: #00bb00;
}
.content pre {
    font-size: 11px;
}
.anchor-span {
    color: #008000;
    cursor: pointer;
    text-decoration: underline;
}
.anchor-span:hover {
    color: #00aa00;
}

.anchor-black {
    color: #000 !important;
    text-decoration: none;
}
.anchor-black:hover {
    color: #000 !important;
    text-decoration: underline;
}

/* FORM CONTENT */
.content input[type=submit], .radio {
    cursor: pointer;
}
label.error {
    color: #c00;
    font-size: 12px;
    display:block;
}
input[type=text].error,textarea.error{
    border-bottom:1px solid red;
    background:#ffeaed;
}

.data-kosong{
    color:red;
    text-align:center;
}
.total{
    background-color:#c9f797;
    font-weight:bold;
}
