{literal}
    <style>
        .span_button{
            padding: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: #009933;
            color: #ffffff;
            cursor: pointer;
        }
    </style>
{/literal} 
<div class="center_title_bar">Cari Mahasiswa</div>
<div id="alert" class="ui-widget" style="display:none;margin-left:15px;">
    <div class="ui-state-error ui-corner-all" style="padding: 5px;width:20%;"> 
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
            Data Harus Diisi.</p>
    </div>
</div>
<form id="form" action="cari-mahasiswa.php" method="get">
    <table class="ui-widget">
        <tr class="ui-widget-header">
            <th colspan="3" class="header-coloumn">Input Form</th>
        </tr>
        <tr class="ui-widget-content">
            <td>NAMA / NIM MAHASISWA / NOMER UJIAN</td>
            <td><input id="nim" type="search" value="{$smarty.get.x}" name="x"/></td>
            <td><input type="submit" value="Cari" class="ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;"/>
        </tr>
    </table>
</form>

{if isset($data_mahasiswa)}
    <div id="hasil" class="ui-widget" style="margin-left:15px;">
        <div class="ui-state-highlight ui-corner-all" style="padding: 5px;width:40%;"> 
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: 10px;"></span> 
                {count($data_mahasiswa)} Data Ditemukan Yang mengandung Kata Kunci : '{$smarty.get.x}'</p>
        </div>
    </div>
    <table class="ui-wdget" style="width: 70%">
        <tr class="ui-widget-header">
            <th>NO</th>
            <th>NAMA</th>
            <th>NIM</th>
            <th>NO UJIAN</th>
            <th>FAKULTAS</th>
            <th>PROGRAM STUDI</th>
            <th>DETAIL</th>
        </tr>
        {if $data_mahasiswa==null}
            <tr class="ui-widget-content">
                <td colspan="7" class="center">Hasil Pencarian Tidak Ditemukan</td>
            </tr>
        {else}
            {foreach $data_mahasiswa as $data}
                <tr class="ui-widget-content">
                    <td>{$data@index+1}</td>
                    <td>{$data.NM_PENGGUNA}</td>
                    <td>{$data.NIM_MHS}</td>
                    <td>{$data.NO_UJIAN}</td>
                    <td>{$data.NM_FAKULTAS|upper}</td>
                    <td>({$data.NM_JENJANG}) {$data.NM_PROGRAM_STUDI}</td>
                    <td><a  class="ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;" href="history-bayar.php?cari={$data.NIM_MHS}">Detail</a></td>
                </tr>
            {/foreach}
        {/if}
    </table>
    <a class="ui-button ui-corner-all ui-state-hover" style="padding:5px;cursor:pointer;" href="cari-mahasiswa.php">Kembali</a>

{/if}
{literal}
    <script>
            $('#form').submit(function() {
                    if($('#nim').val()==''){
                            $('#alert').fadeIn();
                    return false;
                    }  
            });
    </script>
{/literal}