body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	font-stretch:narrower;
	font-family: Arial;
	font-effect:emboss;
	font-smooth:always;
}
body a.more{
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
}

body a.title{
	color:green;
}

body a:hover{
	color:red;
}

#news_content{
	border-bottom-style:dotted;
	border-bottom-color:#DEE1E3;
	border-bottom-width:1px;	
}

#link-content{
	min-height:25px;
	border-bottom-style:solid;
	border-bottom-color:#C0C0C0;
	border-bottom-width:1px;
	text-align:left;
	padding:5px;
}
#link-content a{
	text-decoration:none;
	font-weight:bold;
}

#tracer-content{
	min-height:25px;
	border-bottom-style:solid;
	border-bottom-color:#C0C0C0;
	border-bottom-width:1px;
	text-align:left;
	padding:5px;
	font-size:12px;
	color:#006663;
	font-weight:bold;
}



ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#page
{
	margin-top:0px;
	margin-bottom: 5px;
	background: white;
	width:980px;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	/*border-top: 3px solid #C9E0ED;*/
	height:122px;
	background:url(../images/bg-header-red.png);
}

#login
{
	width:980px;
	margin:auto;
	
}

#login form
{
	position:absolute;
	top:50px;
	right:200px;
}

#login form label
{
	color:#ffffff;
	font-weight:bold;
}

#content
{
    padding-top: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#footer .left{
	float:left;
}

#footer .center{
	float:left;
	padding-left:175px;
}

#footer .right{
	float:right;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	background:url(../images/header-portal.jpg);
	width:940px;
	margin:0 auto;
	height:75px;
}

#left-content{
	padding-top:20px;
}

#right-content{
	padding-top:20px;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
	background:#cc0000;
	width:980px;
	margin:0 auto;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

.sui-widget-header
{
	padding:3px;
}

.sui-widget-content
{
	padding:3px;
	height:auto;
}

.button
{
	/*height:25px;*/
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}