<div class="center_title_bar">Update/Upload Pembayaran Mahasiswa</div> 

<span class="ui-button ui-corner-all ui-state-hover" onclick="window.open('upload_pembayaran.php','_blank')"  style="padding:5px;cursor:pointer;">Update Pembayaran Upload </span>
<span class="ui-button ui-corner-all ui-state-hover" onclick="window.open('upload_pembayaran_tambah.php','_blank')"  style="padding:5px;cursor:pointer;">Tambah Pembayaran Upload </span>
<br>
<br>

<!-- 13 Juli 2017 -->

<div class="center_title_bar">Impor Format Pembayaran</div> 
<span class="ui-button ui-corner-all ui-state-hover" onclick="window.open('upload_pembayaran_tambah.php','_blank')"  style="padding:5px;cursor:pointer;">Impor format Pembayaran</span>