<form action="kuisioner-registrasi.php" method="post">
    <input type="hidden" name="mode" value="add" />
    <table width="997">
        <tr>
            <td width="275"><strong>Dari di Fakultas : </strong></td>
          <td width="710"><input type="text" name="NAMA_EVAL_INSTRUMEN" class="required"  /></td>
        </tr>
<tr>
            <td width="275"><strong>Beri tanda pada kotak yang sesuai.</strong></td>
            <td>&nbsp;</td>
</tr>

		<tr>
            <td></td>
            <td>&nbsp;</td>
		</tr>

        <tr>
            <td>&nbsp;</td>
            <td> {$i=1}
    {foreach $evaluasi_aspek as $data}
    <tr>
        <td>{$i++}</td>
        <td>{$data.NAMA_EVAL_INSTRUMEN}</td>
        <td>{$data.KET_EVAL_INSTRUMEN}</td>

    </tr>
    {/foreach}</td>
        </tr>
        <tr>
            <td class="center" colspan="2">
                <button href="kuisioner-evalinstrumen.php">Batal</button>
                <input type="submit" value="Simpan" />
            </td>
        </tr>
  </table>
</form>