<div class="center_title_bar">Penelitian - Tambah</div>

<table>
    <tr>
        <th>Informasi</th>
    </tr>
    <tr>
        <td>
            <h1>Penelitian gagal ditambahkan.</h1>
            <p><a href="penelitian-proposal.php">Kembali ke daftar penelitian</a></p>
        </td>
    </tr>
</table>