<html>
    <head>
        <style>
        body { font-size: 13px; margin: 0px; }
        </style>
    </head>
    <body>
        {if $result}
            {$result}
        {else}
        <form name="upload" action="penelitian-proposal.php?{$smarty.server.QUERY_STRING}" enctype="multipart/form-data" method="post">
            <input type="hidden" name="mode" value="add-upload" />
            <input type="hidden" name="md5" value="{$smarty.get.md5}" />
            <input type="file" name="proposal" accept="application/pdf" onchange="document.upload.submit(); return false;"/>
        </form>
        {/if}
    </body>
</html>