<div class="center_title_bar">MONITORING MKWU</div>
<form method="post" action="laporan-mkwu.php">
<table>
<tr>
	<td>Semester</td>
	<td>
	<select name="semester">
					<option value="">Pilih Semester</option>
					{foreach $semester as $data}
					<option value="{$data.ID_SEMESTER}" {if $smarty.post.semester == $data.ID_SEMESTER} selected="selected"{/if}>{$data.THN_AKADEMIK_SEMESTER} - {$data.NM_SEMESTER}</option>
					{/foreach}
				</select>
	</td>
	<td><input type="submit" value="Tampil"></td>
</tr>

</table>
</form>
{$tampil}