<div class="center_title_bar">{$TITLE}</div> 
    <table class="daftarmember">
    <tr><th colspan="2" align="center"><h2>Daftar Member</h2></th></tr>
    <tr><td><span>Username</span></td><td> : <input type="text"/></td></tr>
    <tr><td><span>Password</span></td><td> : <input type="text"/></td></tr>
    <tr><td><span>Ulangi Password</span></td><td> : <input type="text"/></td></tr>
    <tr><td><span>Email</span></td><td> : <input type="text"/></td></tr>
    <tr><td colspan="2"><input type="submit" class="submit" value="Register" /></td></tr>
    </table>
