<div class="center_title_bar">{$TITLE}</div> 
<h2 class="title">List Direktori Ebooks</h2>
<span class="batas"></span>
<ul>
<li class="listbook" ><a href="#">Agricultural</a>  (14)</li>
<li class="listbook"><a href="#">Biografi</a>  (146)</li>
<li class="listbook"><a href="#">Cultures Studies</a>  (633)</li>
<li class="listbook"><a href="#">Dentistry</a>  (84)</li>
<li class="listbook"><a href="#">Economics (Management, Accounting, Econometrics)</a>  (273)</li>
<li class="listbook"><a href="#">Economy</a>  (118)</li>
<li class="listbook"><a href="#">Gardening</a>  (161)</li>

</ul>
