<div class="center_title_bar">{$TITLE}</div> 
    <div class="forum">
    <h2>Forum Pustaka</h2>
    <table>
        <tr><th><strong>Thread/Thread Starter</strong></th><th><strong>Last Post</strong></th><th><strong>Replies</strong></th><th><strong>View</strong></th></tr>
        <tr><td><span>[ASK] RMA Hard Disk Eksternal WD My Passport</span><br /><strong>By : Abi</strong></td><td><span>Today 01:53 AM</span></td><td>231</td><td>17</td></tr>
        <tr><td><span>Untuk List pemrograman dimana ya </span><br /><strong>By : Nia</strong></td><td><span>Today 12:53 AM</span></td><td>234</td><td>16</td></tr>
        <tr><td><span>Tolong,, diperiksa ada link yang rusak</span><br /><strong>By : Sisi</strong></td><td><span>Today 7:53 AM</span></td><td>65</td><td>16</td></tr>
        <tr><td><span>Tampilan udah bagus gan</span><br /><strong>By : Dimas</strong></td><td><span>Today 08:53 AM</span></td><td>98</td><td>13</td></tr>
    </table>    
    </div>
