<div class="center_title_bar">{$TITLE}</div> 
    <h2>History Peminjaman</h2>
    <table>
        <tr><th><strong>ID Buku</strong></th><th><strong>Judul Buku</strong></th><th><strong>Kategori Buku</strong></th><th><strong>Pengarang</strong></th><th><strong>Tanggal Pinjam</strong></th><th><strong>Tanggal Kembali</strong></th></tr>
        <tr><td>aja977</td><td>Ajax Implementation</td><td>Pemrograman</td><td>Abdul Kadir</td><td>23 Maret 2010</td><td>4 april 2010</td></tr>
        <tr><td>jav876</td><td>Pemrograman JavaME</td><td>Pemrograman</td><td>Abdul Kadir</td><td>2 Maret 2010</td><td>4 maret 2010</td></tr>
        <tr><td>kip937</td><td>Komunikasi Antar Personal</td><td>Sosial</td><td>Sri Tanjung</td><td>2 januari 2010</td><td>4 februari 2010</td></tr>
    
    </table>
