<div class="center_title_bar">Draft Ijasah</div>
{$info}
<br />
<a class="disable-ajax ui-button ui-corner-all ui-state-default" onclick="window.open('akademik-draft-ijazah-cetak.php?nim={$mhs.NIM_MHS}');" style="padding: 5px;cursor: pointer">Draft Ijazah</a>