<h2>INDIKATOR KINERJA PRODI S1 BIOLOGI</h2>
<table border="1" cellspacing="0" cellpadding="0" width="762">
<thead>
<tr>
<td rowspan="2" width="137"><strong>Indikator</strong></td>
<td rowspan="2" width="57"><strong>Baseline (2010)</strong></td>
<td colspan="2" width="113"><strong>Tahun 2011</strong></td>
<td colspan="4" width="191"><strong>Target</strong></td>
<td rowspan="2" width="263"><strong>Cara Pengukuran</strong></td>
</tr>
<tr>
<td width="52"><strong>Target</strong></td>
<td width="61"><strong>Capaian</strong></td>
<td width="47"><strong>2012</strong></td>
<td width="48"><strong>2013</strong></td>
<td width="47"><strong>2014</strong></td>
<td width="49"><strong>2015</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td width="137" valign="top">Proporsi Guru Besar  (%)</td>
<td width="57" valign="top">6,4</td>
<td width="52" valign="top">6,4</td>
<td width="61" valign="top">6,4</td>
<td width="47" valign="top">9,67</td>
<td width="48" valign="top">9,67</td>
<td width="47" valign="top">12,90</td>
<td width="49" valign="top">12,90</td>
<td width="263" valign="top">Proporsi jumlah guru besar (termasuk guru besar emeritus dan guru   besar universitas) dibanding jumlah total dosen tetap pada tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi dosen dengan kualifikasi S3 (%)</td>
<td width="57" valign="top">38</td>
<td width="52" valign="top">40</td>
<td width="61" valign="top">42</td>
<td width="47" valign="top">48</td>
<td width="48" valign="top">51</td>
<td width="47" valign="top">54</td>
<td width="49" valign="top">58</td>
<td width="263" valign="top">Proporsi jumlah dosen tetap dengan pendidikan S3 (tidak termasuk   Sp2) dibanding jumlah total dosen tetap pada tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi dosen yang tersertifikasi (%)</td>
<td width="57" valign="top">48</td>
<td width="52" valign="top">70</td>
<td width="61" valign="top">77,4</td>
<td width="47" valign="top">93</td>
<td width="48" valign="top">100</td>
<td width="47" valign="top">100</td>
<td width="49" valign="top">100</td>
<td width="263" valign="top">Proporsi jumlah dosen tetap yang telah mendapat sertifikat   pendidik (serdos) dibanding jumlah total dosen tetap pada tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Beban riil dosen per semester (sks)</td>
<td width="57" valign="top">15,65</td>
<td width="52" valign="top">15</td>
<td width="61" valign="top">13,4</td>
<td width="47" valign="top">13</td>
<td width="48" valign="top">13</td>
<td width="47" valign="top">13</td>
<td width="49" valign="top">13</td>
<td width="263" valign="top">Rerata beban dosen per semester dihitung dari beban riil   kegiatan tridharma dan manajemen. Untuk pendidikan dihitung untuk seluruh   prodi pada seluruh jenjang (bukan S1 saja)</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi lulusan  tepat   waktu (%)</td>
<td width="57" valign="top">84,59</td>
<td width="52" valign="top">84</td>
<td width="61" valign="top">82,16</td>
<td width="47" valign="top">84</td>
<td width="48" valign="top">84</td>
<td width="47" valign="top">84</td>
<td width="49" valign="top">85</td>
<td width="263" valign="top">Rerata   proporsi masa studi lulusan  = 4,5   tahun dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi lulusan  dengan   IPK =3 (%)</td>
<td width="57" valign="top">64,65</td>
<td width="52" valign="top">60</td>
<td width="61" valign="top">56,2</td>
<td width="47" valign="top">60</td>
<td width="48" valign="top">60</td>
<td width="47" valign="top">64</td>
<td width="49" valign="top">70</td>
<td width="263" valign="top">Rerata   proporsi lulusan  dengan IPK = 3 dalam   tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi penyelesaian skripsi tepat waktu (%)</td>
<td width="57">93,31</td>
<td width="52">93</td>
<td width="61" valign="top">

91,21</td>
<td width="47" valign="top">

93</td>
<td width="48" valign="top">

94</td>
<td width="47" valign="top">

94</td>
<td width="49" valign="top">

95</td>
<td width="263" valign="top">Rerata masa penyelesaian skripsi = 1 semester dalam tiga tahun   terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi lulusan dengan masa tunggu =6 bulan (%)</td>
<td width="57">92,11</td>
<td width="52">92</td>
<td width="61" valign="top">90,14</td>
<td width="47" valign="top">93</td>
<td width="48" valign="top">93</td>
<td width="47" valign="top">94</td>
<td width="49" valign="top">94</td>
<td width="263" valign="top">Rerata   proporsi lulusan  dengan masa tunggu =   6 bulan dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi lulusan dengan masa tunggu =3 bulan (%)</td>
<td width="57">81,58</td>
<td width="52">80</td>
<td width="61" valign="top">73,67</td>
<td width="47" valign="top">80</td>
<td width="48" valign="top">83</td>
<td width="47" valign="top">84</td>
<td width="49" valign="top">85</td>
<td width="263" valign="top">Rerata   proporsi lulusan  dengan masa tunggu =   3 bulan dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi lulusan dengan ELPT=450 (%)</td>
<td width="57">55,22</td>
<td width="52">60</td>
<td width="61" valign="top">77,78</td>
<td width="47" valign="top">100</td>
<td width="48" valign="top">100</td>
<td width="47" valign="top">100</td>
<td width="49" valign="top">100</td>
<td width="263" valign="top">Rerata   proporsi lulusan  dengan nilai

ELPT =   450 dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi lulusan yang bekerja pada <em>multinational enterprises</em> (%)</td>
<td width="57" valign="top">0</td>
<td width="52" valign="top">30</td>
<td width="61" valign="top">30</td>
<td width="47" valign="top">40</td>
<td width="48" valign="top">50</td>
<td width="47" valign="top">60</td>
<td width="49" valign="top">60</td>
<td width="263" valign="top">Rerata   proporsi lulusan  yang bekerja pada <em>multinational   enterprises</em> dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Akreditasi Prodi</td>
<td width="57" valign="top">A</td>
<td width="52" valign="top">A</td>
<td width="61" valign="top">A</td>
<td width="47" valign="top">A</td>
<td width="48" valign="top">A</td>
<td width="47" valign="top">A</td>
<td width="49" valign="top">A</td>
<td width="263" valign="top">Akreditasi   prodi menurut SK BAN-PT pada tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Indeks kepuasan kinerja dosen</td>
<td width="57" valign="top">81,06</td>
<td width="52" valign="top">81</td>
<td width="61" valign="top">81,9</td>
<td width="47" valign="top">82</td>
<td width="48" valign="top">82</td>
<td width="47" valign="top">83</td>
<td width="49" valign="top">83</td>
<td width="263" valign="top">Rerata indeks kepuasan mahasiswa terhadap kinerja dosen (pada   kuliah dan praktikum) yang diukur dengan menggunakan instrumen standar dari   PPM dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Indeks kepuasan kinerja layanan akademik</td>
<td width="57" valign="top">71,87</td>
<td width="52" valign="top">75</td>
<td width="61" valign="top">79,7</td>
<td width="47" valign="top">80</td>
<td width="48" valign="top">80</td>
<td width="47" valign="top">82</td>
<td width="49" valign="top">82</td>
<td width="263" valign="top">Rerata   Indeks kepuasan mahasiswa terhadap layanan akademik yang diukur dengan   menggunakan instrumen standar dari PPM dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">AEE (%)</td>
<td width="57" valign="top">22,80</td>
<td width="52" valign="top">23</td>
<td width="61" valign="top">17,62</td>
<td width="47" valign="top">23</td>
<td width="48" valign="top">24</td>
<td width="47" valign="top">25</td>
<td width="49" valign="top">25</td>
<td width="263" valign="top">Rerata   jumlah mahasiswa yang lulus dibanding jumlah <em>student body</em> dalam tiga   tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Keketatan mahasiswa baru (%)</td>
<td width="57" valign="top">11,52</td>
<td width="52" valign="top">15</td>
<td width="61" valign="top">17,53</td>
<td width="47" valign="top">15</td>
<td width="48" valign="top">14</td>
<td width="47" valign="top">14</td>
<td width="49" valign="top">13</td>
<td width="263" valign="top">Rerata   jumlah mahasiswa baru yang diterima dibanding jumlah pendaftar dalam tiga   tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Proporsi mahasiswa penerima beasiswa (%)</td>
<td width="57" valign="top">35,57</td>
<td width="52" valign="top">35</td>
<td width="61" valign="top">34,60</td>
<td width="47" valign="top">37</td>
<td width="48" valign="top">37</td>
<td width="47" valign="top">40</td>
<td width="49" valign="top">50</td>
<td width="263" valign="top">Rerata   proporsi mahasiswa aktif yang memperoleh beasiswa dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Jumlah mahasiswa yang terlibat dalam pengabdian kepada   masyarakat dosen (mahasiswa/tahun)</td>
<td width="57" valign="top">11,67</td>
<td width="52" valign="top">15</td>
<td width="61" valign="top">18,67</td>
<td width="47" valign="top">20</td>
<td width="48" valign="top">20</td>
<td width="47" valign="top">25</td>
<td width="49" valign="top">30</td>
<td width="263" valign="top">Rerata jumlah mahasiswa yang terlibat dalam kegiatan pengabdian   kepada masyarakat yang dilakukan dosen dalam tiga tahun terakhir</td>
</tr>
<tr>
<td width="137" valign="top">Jumlah mahasiswa yang terlibat dalam pengabdian kepada   masyarakat dosen (mahasiswa/tahun)</td>
<td width="57" valign="top">11,67</td>
<td width="52" valign="top">14</td>
<td width="61" valign="top">18,67</td>
<td width="47" valign="top">20</td>
<td width="48" valign="top">25</td>
<td width="47" valign="top">25</td>
<td width="49" valign="top">30</td>
<td width="263" valign="top">Rerata   jumlah mahasiswa yang terlibat dalam kegiatan pengabdian kepada masyarakat   yang dilakukan dosen dalam tiga tahun terakhir</td>
</tr>
</tbody>
</table>
<h2></h2>