{include file="header.tpl"}

<table>
    <tr>
        <th class="center-align">Pengumuman</th>
    </tr>
    <tr>
        <td class="center-align">Pengisian formulir pendaftaran online Program Alih Jenis<br/>
            mulai bisa dilakukan pada 15 Mei 2012 pukul 10.00 WIB.<br/><br/>
            Catatan : Voucher akan tetap bisa dipakai sampai pada akhir pendaftaran online penerimaan.
        </td>
    </tr>
</table>

{include file="footer.tpl"}