{include file="header.tpl"}

<form action="form.php" method="post">
<input type="hidden" name="id_c_mhs" value="{$cmb.ID_C_MHS}" />
<table id="table-formulir" style="display: none">
    <caption>Formulir Pendaftaran Program Profesi (Pr) Universitas Airlangga</caption>
    {if $cmb.NM_C_MHS != '' and $cmb.ID_PILIHAN_1 != ''} {* PERTANDA SUDAH NGISI *}
        <tr>
            <td class="center-align" colspan="2"><a href="print.php" target="_blank">Cetak</a></td>
        </tr>
    {/if}
    <tr>
        <th colspan="2">Formulir</th>
    </tr>
    <tr>
        <td>Kode Voucher</td>
        <td><strong>{$cmb.KODE_VOUCHER}</strong></td>
    </tr>
    <tr>
        <td>Jenis Formulir</td>
        <td><strong>{if $cmb.KODE_JURUSAN == '01'}Reguler{else if $cmb.KODE_JURUSAN == '02'}IPS{else if $cmb.KODE_JURUSAN == '03'}IPC{/if}</strong></td>
    </tr>
    <tr>
        <th colspan="2">Data Diri</th>
    </tr>
    <tr>
        <td>Nama</td>
        <td>
            <input type="text" name="nm_c_mhs" maxlength="64" size="64" value="{$cmb.NM_C_MHS}"/>
        </td>
    </tr>
    <tr>
        <td>Gelar</td>
        <td><input type="text" name="gelar" maxlength="20" size="6" value="{$cmb.GELAR}" /></td>
    </tr>
    <tr>
        <td>Tempat Lahir</td>
        <td>
            <input type="hidden" name="id_kota_lahir" id="id-kota-lahir" value="{$cmb.ID_KOTA_LAHIR}" />
            <input type="text" name="nm_kota_lahir" id="nama-kota-lahir" size="50" value="{$cmb.NM_KOTA_LAHIR}" readonly="readonly"/>
            <button id="button-kota-lahir">Edit</button>
        </td>
    </tr>
    <tr>
        <td>Tanggal Lahir</td>
        <td>{html_select_date prefix="tgl_lahir_" time=$cmb.TGL_LAHIR day_empty="" month_empty="" year_empty="" field_order="DMY" start_year=-80 end_year=-10}</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>
            <input type="text" name="alamat" size="65" maxlength="250" value="{$cmb.ALAMAT}" />
        </td>
    </tr>
    <tr>
        <td>Kota</td>
        <td>
            <input type="hidden" name="id_kota" id="id-kota" value="{$cmb.ID_KOTA}" />
            <input type="text" name="nm_kota" id="nama-kota" size="50" value="{$cmb.NM_KOTA}" readonly="readonly"/>
            <button id="button-kota">Edit</button>
        </td>
    </tr>
    <tr>
        <td>No Telp</td>
        <td><input type="text" name="telp"  maxlength="32" value="{$cmb.TELP}"/></td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>
            <select name="jenis_kelamin">
            {foreach $jenis_kelamin_set as $jk}
                <option value="{$jk.JENIS_KELAMIN}" {if $cmb.JENIS_KELAMIN == $jk.JENIS_KELAMIN}selected="selected"{/if}>{$jk.NM_JENIS_KELAMIN}</option>
            {/foreach}
            </select>
		</td>
    </tr>
    <tr>
        <td>Kewarganegaraan</td>
        <td>
			<select name="kewarganegaraan">
			{foreach $kewarganegaraan_set as $kw}
				<option value="{$kw.ID_KEWARGANEGARAAN}" {if $cmb.KEWARGANEGARAAN == $kw.ID_KEWARGANEGARAAN}selected="selected"{/if}>{$kw.NM_KEWARGANEGARAAN}</option>
			{/foreach}
			</select>
        </td>
    </tr>
    <tr>
        <td>Agama</td>
        <td>
			<select name="id_agama">
			{foreach $agama_set as $a}
				<option value="{$a.ID_AGAMA}" {if $cmb.ID_AGAMA == $a.ID_AGAMA}selected="selected"{/if}>{$a.NM_AGAMA}</option>
			{/foreach}
			</select>
		</td>
    </tr>
    <tr>
        <td>Sumber Biaya</td>
        <td>
			<select name="sumber_biaya">
			{foreach $sumber_biaya_set as $sb}
				<option value="{$sb.ID_SUMBER_BIAYA}" {if $cmb.SUMBER_BIAYA == $sb.ID_SUMBER_BIAYA}selected="selected"{/if}>{$sb.NM_SUMBER_BIAYA}</option>
			{/foreach}
			</select>
		</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>
            <input type="text" name="email" size="30" maxlength="64" value="{$cmb.EMAIL}" />
        </td>
    </tr>
    <tr>
        <th colspan="2">Data Pekerjaan</th>
    </tr>
    <tr>
        <td>Pekerjaan</td>
        <td><input type="text" name="pekerjaan" size="30" maxlength="30" value="{$cmb.PEKERJAAN}" /></td>
    </tr>
    <tr>
        <td>Asal Instansi</td>
        <td><input type="text" name="asal_instansi" size="30" maxlength="50" value="{$cmb.ASAL_INSTANSI}" /></td>
    </tr>
    <tr>
        <td>Alamat Instansi</td>
        <td><input type="text" name="alamat_instansi" size="65" maxlength="250" value="{$cmb.ALAMAT_INSTANSI}" /></td>
    </tr>
    <tr>
        <td>Telp Instansi</td>
        <td><input type="text" name="telp_instansi" size="30" maxlength="30" value="{$cmb.TELP_INSTANSI}" /></td>
    </tr>
    <tr>
        <td>NIP / NIS / NRP</td>
        <td><input type="text" name="nrp" size="20" maxlength="50" value="{$cmb.NRP}" /></td>
    </tr>
    <tr>
        <td>Karpeg</td>
        <td><input type="text" name="karpeg" size="30" maxlength="30" value="{$cmb.KARPEG}" /></td>
    </tr>
    <tr>
        <td>Pangkat</td>
        <td><input type="text" name="pangkat" size="20" maxlength="20" value="{$cmb.PANGKAT}" /></td>
    </tr>
    <tr>
        <th colspan="2">Data Pendidikan (S1)</th>
    </tr>
    <tr>
        <td>Perguruan Tinggi</td>
        <td><input type="text" name="ptn_s1" size="30" maxlength="30" value="{$cmb.PTN_S1}" /></td>
    </tr>
    <tr>
        <td>Status Perguruan Tinggi</td>
        <td>
            <select name="status_ptn_s1">
            {foreach $status_ptn_set as $sp}
                <option value="{$sp.STATUS_PTN}" {if $cmb.STATUS_PTN_S1 == $sp.STATUS_PTN}selected="selected"{/if}>{$sp.NM_STATUS_PTN}</option>
            {/foreach}
            </select>
        </td>
    </tr>
    <tr>
        <td>Program Studi</td>
        <td><input type="text" name="prodi_s1" size="30" maxlength="30" value="{$cmb.PRODI_S1}" /></td>
    </tr>
    <tr>
        <td>Tanggal Masuk</td>
        <td>{html_select_date prefix="tgl_masuk_s1_" time=$cmb.TGL_MASUK_S1 day_empty="" month_empty="" year_empty="" field_order="DMY" start_year=-75}</td>
    </tr>
    <tr>
        <td>Tanggal Lulus</td>
        <td>{html_select_date prefix="tgl_lulus_s1_" time=$cmb.TGL_LULUS_S1 day_empty="" month_empty="" year_empty="" field_order="DMY" start_year=-75}</td>
    </tr>
    <tr>
        <td>Lama Studi</td>
        <td><input type="text" name="lama_studi_s1" size="4" maxlength="4" value="{$cmb.LAMA_STUDI_S1}" /></td>
    </tr>
    <tr>
        <td>Index Prestasi</td>
        <td><input type="text" name="ip_s1" size="4" maxlength="4" value="{$cmb.IP_S1}" /></td>
    </tr>
    <tr>
        <td>Jumlah Karya Ilmiah</td>
        <td><input type="text" name="jumlah_karya_ilmiah" size="4" maxlength="4" value="{$cmb.JUMLAH_KARYA_ILMIAH}" /></td>
    </tr>
	<tr>
		<td>NIM<br/><span style="font-size: 10px">(khusus lulusan Universitas Airlangga)</span></td>
		<td><input type="text" name="nim_lama_s1" size="20" maxlength="20" value="{$cmb.NIM_LAMA_S1}" /></td>
	</tr>
    <tr>
        <th colspan="2">Program Studi Pilihan</th>
    </tr>
    <tr>
        <td colspan="2" class="center-align"><font style="color: #f00;">Mohon diperhatikan, prodi yang sudah dipilih tidak akan bisa dirubah lagi</font></td>
    </tr>
    {if $jumlah_pilihan >= 1}
    <tr>
        <td>Pilihan 1</td>
        <td>
            {if $cmb.ID_PILIHAN_1}
                <input type="hidden" name="id_pilihan_1" value="{$cmb.ID_PILIHAN_1}" />
                {$cmb.NM_PILIHAN_1}
            {else}
                <select name="id_pilihan_1">
                {foreach $program_studi_set as $ps}
                    <option value="{$ps.ID_PROGRAM_STUDI}">{$ps.NM_PROGRAM_STUDI}</option>
                {/foreach}
                </select>
            {/if}
        </td>
    </tr>
    <tr>
        <td>Minat Studi</td>
        <td>
            {if $cmb.ID_PRODI_MINAT}
                <input type="hidden" name="id_prodi_minat" value="{$cmb.ID_PRODIN_MINAT}" />
                {$cmb.NM_PRODI_MINAT}
            {else}
                <select name="id_prodi_minat"></select>
            {/if}
        </td>
    </tr>
    {/if}
    {if $jumlah_pilihan >= 2}
	<tr>
        <td>Pilihan 2</td>
        <td>
            {if $cmb.ID_PILIHAN_2}
                <input type="hidden" name="id_pilihan_2" value="{$cmb.ID_PILIHAN_2}" />
                {$cmb.NM_PILIHAN_2}
            {else}
                <select name="id_pilihan_2">
                {if $cmb.ID_PILIHAN_2}
                    {foreach $program_studi_set as $ps}
                        <option value="{$ps.ID_PROGRAM_STUDI}">{$ps.NM_PROGRAM_STUDI}</option>
                    {/foreach}
                {/if}
                </select>
            {/if}
        </td>
    </tr>
    {/if}
    {if $jumlah_pilihan >= 3}
	<tr>
        <td>Pilihan 3</td>
        <td>
            {if $cmb.ID_PILIHAN_3}
                <input type="hidden" name="id_pilihan_3" value="{$cmb.ID_PILIHAN_3}" />
                {$cmb.NM_PILIHAN_3}
            {else}
                <select name="id_pilihan_3">
                {if $cmb.ID_PILIHAN_3}
                    {foreach $program_studi_set as $ps}
                        <option value="{$ps.ID_PROGRAM_STUDI}">{$ps.NM_PROGRAM_STUDI}</option>
                    {/foreach}
                {/if}
                </select>
            {/if}
        </td>
    </tr>
    {/if}
    {if $jumlah_pilihan >= 4}
	<tr>
        <td>Pilihan 4</td>
        <td>
            {if $cmb.ID_PILIHAN_4}
                <input type="hidden" name="id_pilihan_4" value="{$cmb.ID_PILIHAN_4}" />
                {$cmb.NM_PILIHAN_4}
            {else}
                <select name="id_pilihan_4">
                {if $cmb.ID_PILIHAN_4}
                    {foreach $program_studi_set as $ps}
                        <option value="{$ps.ID_PROGRAM_STUDI}">{$ps.NM_PROGRAM_STUDI}</option>
                    {/foreach}
                {/if}
                </select>
            {/if}
        </td>
    </tr>
    {/if}
    <tr>
        <td colspan="2" class="center-align">
            <input type="submit" value="Submit" />
        </td>
    </tr>
</table>
</form>

<div id="dialog-kota"></div><div id="dialog-sekolah"></div>
<script type="text/javascript">$(document).ready(function() { $.getScript('gui/form/pr.js'); });</script>

{include file="footer.tpl"}