<div class="center_title_bar">Insert / Update Email</div>

{if $smarty.server.REQUEST_METHOD == 'POST'}
	{if !empty($message)}<h2>{$message}</h2>{/if}
{/if}

{if $smarty.server.REQUEST_METHOD == 'GET'}
<form action="informasi-iemail.php" method="post">
	<input type="hidden" name="mode" value="email-jabatan" />
	<table>
		<tr>
			<th colspan="2">Insert Email Jabatan / Update Password Email Jabatan</th>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" value="" size="50"/></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="text" name="password" value="" size="30"/></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Simpan" /></td>
		</tr>
	</table>
</form>

<form action="informasi-iemail.php" method="post">
	<input type="hidden" name="mode" value="email-pengguna" />
	<table>
		<tr>
			<th colspan="2">Update Email Pengguna</th>
		</tr>
		<tr>
			<td>Username (NIP / NIM)</td>
			<td><input type="text" name="username" value="" size="20"/></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" value="" size="50"/></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Simpan" /></td>
		</tr>
	</table>
</form>

<form action="informasi-iemail.php" method="post">
	<input type="hidden" name="mode" value="email-pengguna-buatbaru" />
	<table>
		<tr>
			<th colspan="2">Buat Baru Email Pengguna</th>
		</tr>
		<tr>
			<td>Username (NIP / NIM)</td>
			<td><input type="text" name="username" value="" size="20"/></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" value="" size="50"/></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Simpan" /></td>
		</tr>
	</table>
</form>
{/if}