<div class="center_title_bar"> Fitur Menu Ujian </div>
<table width="660" border="0" cellspacing="1" cellpadding="1">
  <tr>
    <td width="38" bgcolor="#FFCC33"><div align="center">No</div></td>
    <td width="178" bgcolor="#FFCC33"><div align="center">Modul</div></td>
    <td width="434" bgcolor="#FFCC33"><div align="center">Uraian</div></td>
  </tr>
  <tr>
    <td><center>1</center></td>
    <td>Ujian UTS/UAS</td>
    <td>Difungsikan untuk memonitoring kegiatan ujian UTS/UAS </td>
  </tr>
  <tr>
    <td><center>2</center></td>
    <td>Ujian Thesis</td>
    <td>Difungsikan untuk memonitoring kegiatan ujian Thesis</td>
  </tr>
  <tr>
    <td><center>3</center></td>
    <td>Ujian Skripsi</td>
    <td>Difungsikan untuk memonitoring kegiatan ujian Skripsi</td>
  </tr>
  <tr>
    <td><center>4</center></td>
    <td>Ujian Magang</td>
    <td>Difungsikan untuk memonitoring kegiatan ujian Magang</td>
  </tr>
</table>