/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	border-style: solid;
    border-color: #E3E3E3;
    border-collapse: collapse;
	width:98%;
	font-size:0.97em;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 1px solid #E3E3E3;
	background-color: #dfedf8;
	padding: 5px 15px;
}
table.tablesorter thead th.header-coloumn {
	border: 1px solid #4297d7;
	background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
	color: #fff;
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #A0E0F2;
}
