<div class="center_title_bar">utility kecamatan</div>

{$nav}
<br />
{$direction}
<br /><br />
<form action="utility_kecamatan.php?kota={$id_kota}" method="post">
<table class="ui-widget" style="width:400px;">
	<tr class="ui-widget-header">
		<td width="20px">
			NO.
		</td>
		<td>
			NAMA KECAMATAN
		</td>
	</tr>
	{for $i=0 to $jmlKecamatan-1}
	<tr>
		<td>
			{$i+1}
		</td>
		<td>
			<input type="text" name="kecamatan[]" style="width:100%;text-transform: uppercase" maxlength="64" />
		</td>
	</tr>
	{/for}
<tr>
	<td>
	</td>
	<td>
		<input type="submit" name="submit" value="Tambah"/>
	</td>
</tr>
</table>
</form>

<script>
	$(document).ready(function(){
		$('input:text').keyup(function(){
			this.value = this.value.toUpperCase();
		});
	});
</script>