<div class="center_title_bar">utility kecamatan</div>


<form action="utility_kecamatan.php" method="get">
Pilih Negara : &nbsp;
<select name="negara">
	{for $i=0 to $Jml_Data-1}
	<option value="{$Id_Negara[$i]}">
		{$Nm_Negara[$i]}
	</option>
	{/for}
</select>
<input type="submit" name="submit" value="Next"/>
</form>