<div class="center_title_bar">utility kecamatan</div>

{$nav}
<br />
{$direction}
<br /><br />

<form action="utility_kecamatan.php" method="get">
	<input type="hidden" name="kota" value="{$id_kota}" />
	Jumlah Tambah Kecamatan : <input type="text" value="" name="jmlKecamatan" /><input type="submit" value="OK" name="submit"/>
</form>
<br />
<table class="ui-widget" style="width:100%">
<tr class="ui-widget-header">
	<td width="20px">
		NO.
	</td>
	<td>
		NAMA KECAMATAN
	</td>
</tr>
{for $i=0 to $Jml_Data-1}
<tr class="ui-widget-content">
	<td>
		{$i+1}
	</td>
	<td>
		{$Nm_Kecamatan[$i]}
	</td>
</tr>
{/for}
</table>