<div class="center_title_bar">utility kecamatan</div>


<form action="utility_kecamatan.php" method="get">
{$nav} 
Pilih Kota : &nbsp;
<select name="kota">
	{for $i=0 to $Jml_Data-1}
	<option value="{$Id_Kota[$i]}">
		{$Nm_Kota[$i]}
	</option>
	{/for}
</select>
<input type="submit" name="submit" value="Next"/>
</form>