<script>
	
$(document).ready(function() {

	$('.editor').ckeditor(function(e){
			delete CKEDITOR.instances[$(e).attr('name')];
		},{
			toolbar:
				[
					['Bold','Italic', 'JustifyLeft','JustifyCenter','JustifyRight', 'JustifyBlock', 'Underline','Strike','-','NumberedList','BulletedList', 'Outdent','Indent','-','Link']
				],
			skin: 'office2003'
		}
	); 
	
});
</script>
<div class="center_title_bar">PORTAL NEWS</div>

<div class="ui-widget-content sui-widget-content">

	<form action="portal-news.php" method="post">
	Title : <input type="text" id="news_title" name="news_title" value="" style="width:500px;" />
	<textarea class="editor" id="news_add" name="news_add" align="justify" style="font-size:1em;">
	</textarea>
	<input type="submit" value="Tambah" />
	
	</form>
</div>

