<div class="center_title_bar">Tambah Progress Tugas Programmer</div>


<form name="formAddProgress" id="formAddProgress" action="task.php?mode=progress&id_task={$id}" method="post">
	<table>
		<tr>
			<th>
				Progress
			</th>
			<th>
				Keterangan
			</th>
			<th>
				Aksi
			</th>
		</tr>
		<tr>
			<td>
				<textarea id="progress" name="progress"  cols="24" rows="1">
				</textarea>
			</td>
			<td>
				<textarea id="keterangan" name="keterangan"  cols="24" rows="1">
				</textarea>
			</td>
			<td>
				<input type="submit" name="submit" id="submit" value="tambah" />
			</td>
		</tr>
	</table>
</form>

<script>
	$(function(){
		$('textarea').autosize();
	});
</script>