<table class="ui-widget">
		<tr style="background:navy;color:#fff;padding:5px;">
			<td colspan="4">
			<div class="center_title_bar">Detail Status Akademik Mahasiswa </div>
			</td>
		</tr>
</table>

<table width="100%" border="1" class="ui-widget">
  <tr class="ui-widget-header">
	<td width="5%"><strong><center>No</center></strong></td>
    <td width="10%"><strong><center>Nim</center></strong></td>
    <td width="20%"><strong><center>Nama</center></strong></td>
    <td width="15%"><strong><center>Prodi</center></strong></td>
	<td width="10%"><strong><center>STATUS</center></strong></td>
	<td width="40%"><strong><center>Keterangan</center></strong></td>
  </tr>
  
  {foreach name=test item="data" from=$detail}
	<tr>
	<td>{$smarty.foreach.test.iteration}</td>
    <td><strong><left>{$data.NIM_MHS}</left></strong></td>
    <td><strong><left>{$data.NM_PENGGUNA}</left></strong></td>
    <td><strong><left>{$data.PRODI}</left></strong></td>
	<td><strong><left>{$data.STATUS_AKADEMIK_MHS}</left></strong></td>
	<td><strong><left>{$data.SEMESTER}</left></strong></td>
	</tr>
  {/foreach}
</table>
