<table class="ui-widget">
		<tr style="background:navy;color:#fff;padding:5px;">
			<td colspan="4">
			<div class="center_title_bar">Proses Data Lulusan (Semua Tabel 3) </div>
			</td>
		</tr>
</table>

<table width="100%" border="1" class="ui-widget">
  <tr class="ui-widget-header">
    <td width="50%"><strong><center>Uraian</center></strong></td>
    <td width="30%"><strong><center>Tgl Update</center></strong></td>
    <td width="20%"><strong><center>Aksi</center></strong></td>
  </tr>
  
  {foreach $histori as $data}
  <tr>
    <td><strong><left>{$data.NAMA_WH}</left></strong></td>
    <td><strong><center>{$data.TGL}</center></strong></td>
    <td height="0" align="center"><input name="Button" type="button" class="button" onClick="location.href='#se!se-data_3.php?action={$data.KODE}';disableButtons()";return true" value="Proses" /> </td>  
  </tr>
  {/foreach}
</table>
