{if $download==''}
<div class="center_title_bar">Profil Mahasiwa Asing Pada Prodi S1 Berdasarkan Tahun Akademik</div>
<em style="color:navy">&rarr; DOWNLOAD : KEMAHASISWAAN TABEL 56 - {$n} </em><a class="disable-ajax" style="text-decoration:none" href="se-kemahasiswaan-56.php?f={$f}&p={$p}&n={$n}&download=1" > [ Excel &darr;</a>]
<div class="ui-widget-header" style="padding:10px;">{$title}</div>
{/if}
{if $download!=''}
	<table class="ui-widget">
		<tr style="background:navy;color:#fff;padding:5px;">
			<td colspan="5"><div class="center_title_bar">Profil Mahasiwa Asing Pada Prodi S1 Berdasarkan Tahun Akademik</div></td>
		</tr>
		<tr class="ui-widget-header" style="padding:5px;">
			<td colspan="5"><div style="padding:10px;">{$title}</div></td>
		</tr>
	</table>
{/if}

<table class="ui-widget" style="width:100%">
  <tr class="ui-widget-header">
    <td rowspan="2"><strong>NO.</strong></td>
    <td rowspan="2"><strong>Negara Asal Mahasiswa Asing</strong></td>
    <td colspan="3"><strong>Tahun Angkatan</strong></td>
  </tr>
  <tr class="ui-widget-header">
	{for $i=0 to $jml_data-2}
    <td><strong>2009/2010</strong></td>
	{/for}
  </tr>
  <tr class="ui-widget-header">
    <td><strong>1</strong></td>
    <td><strong>2</strong></td>
    <td><strong>3</strong></td>
    <td><strong>4</strong></td>
    <td><strong>5</strong></td>
  </tr>
  {for $i=0 to $jml_data-1}
  <tr class="ui-widget-content">
    <td><center>{$i+1}</center></td>
    <td><center>{$provinsi[$i]}</center></td>
    <td><center>{$jml_maba_A[$i]}</center></td>
    <td><center>{$jml_maba_B[$i]}</center></td>
    <td><center>{$jml_maba_C[$i]}</center></td>
  </tr>
  {/for}
  <tr>
    <td>&nbsp;</td>
    <td><center><strong>Jumlah</strong></center></td>
    <td><center>{$tot_A}</center></td>
    <td><center>{$tot_B}</center></td>
    <td><center>{$tot_C}</center></td>
  </tr>
</table>