<div class="center_title_bar">Mahasiswa Baru Reguler (Jalur SNMPTN) Berdasarkan Tahun Masuk</div>
<div class="ui-widget-header" style="padding:10px;">{$title}</div>
<table class="ui-widget" style="width:100%">
	<tr class="ui-widget-header">
		<td><center>Tahun Akademik</center></td>
		<td><center>Peminat</center></td>
		<td><center>Diterima</center></td>
		<td><center>% Keketatan persaingan</center></td>
		<td><center>Mendaftar Kembali</center></td>
		<td><center>Rerata Nilai SNMPTN</center></td>
		<td><center>Rerata Nilai UN</center></td>
	</tr>
	<tr class="ui-widget-header">
		<td><center>1</center></td>
		<td><center>2</center></td>
		<td><center>3</center></td>
		<td><center>4</center></td>
		<td><center>5</center></td>
		<td><center>6</center></td>
		<td><center>7</center></td>
	</tr>
	<tr class="ui-widget-content">
		<td>2009/2010</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="ui-widget-content">
		<td>2010/2011</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="ui-widget-content">
		<td>2011/2012</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="ui-widget-content">
		<td>Jumlah</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td style="background:#000;">&nbsp;</td>
		<td>&nbsp;</td>
		<td style="background:#000;">&nbsp;</td>
		<td style="background:#000;">&nbsp;</td>
	</tr>
	<tr class="ui-widget-content">
		<td>Rerata</td>
		<td style="background:#000;">&nbsp;</td>
		<td style="background:#000;">&nbsp;</td>
		<td>&nbsp;</td>
		<td style="background:#000;">&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>