{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Profil Golongan Kepangkatan dan Jabatan Dosen Prodi dalam Departemen/Fakultas yang telah Mengikuti Pelatihan AA, Pekerti, serta Sertifikasi Pendidik (Serdos){if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
