{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Profil dan Beban Kerja Dosen Prodi dari Luar Departemen/Fakultas dalam Universitas dalam Bidang Pendidikan{if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
