{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Profil Dosen Prodi dari luar Departemen/Fakultas dalam Universitas Airlangga berdasarkan Umur, Tingkat Pendidikan dan Jabatan Fungsional{if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
