{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Daftar Dosen Prodi dalam Departemen yang Mengikuti Pendidikan Tidak Bergelar (Magang, Pelatihan, Pencangkokan, dsb) di Dalam Negeri pada Tahun Akademik {$KUR}{if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
