{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Profil Tenaga Kependidikan yang Sedang Melanjutkan Studi Berdasarkan Jenjang Studi dan Lama Studi{if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
