{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Pengalaman Dosen Prodi sebagai Pakar/Konsultan/Staf Ahli/Nara Sumber/Dosen Tamu di Tingkat Lokal/Nasional/Internasional{if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
