{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Daftar Dosen Prodi dalam Departemen yang Mengajar di Perguruan Tinggi Dalam Negeri selain Universitas Airlangga (Tidak termasuk dosen tamu){if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
