{* Yudi Sulistya, 29-04-2012 *}
<div class="center_title_bar">Pengalaman Keanggotaan Dosen Prodi pada Organisasi Keilmuan/Asosiasi Profesi Ilmiah di Tingkat Nasional/Internasional{if $smarty.get.id == '%'}<li>UNIVERSITAS AIRLANGGA</li>{else}{foreach item="list" from=$FAK}<li>{$list.FAKULTAS}</li>{/foreach}{/if}</div>
