<div class="center_title_bar">NIM YANG TIDAK DI GENERATE</div>
<form action="pendaftaran-tidak-generate.php" method="post">
    <table>
        <tr>
            <td>No Ujian</td>
            <td><input type="text" name="no_ujian"/></td>
            <td><input type="submit" value="Cari"/></td>
        </tr>
    </table>
</form>

{if isset($cmb)}
<form action="pendaftaran-tidak-generate.php" method="post" name="a">
<table>
	<tr>
    	<td>NO Ujian</td>
        <td>{$cmb.NO_UJIAN}</td>
    </tr>
    <tr>
    	<td>Nama</td>
        <td>{$cmb.NM_C_MHS}</td>
    </tr>
    <tr>
    	<td>Generate NIM</td>
        <td><input type="checkbox" value="1" name="tidak_generate" {if $cmb.TIDAK_GENERATE_NIM == 1} checked="checked"{/if} />
        	 {if $cmb.TIDAK_GENERATE_NIM == 1}Tidak Bisa Digenerate NIM {else}Bisa Generate NIM{/if}
        </td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2"><input type="submit" value="Simpan" />
       		<input type="hidden" name="no_ujian" value="{$cmb.NO_UJIAN}"  />
            <input type="hidden" name="mode" value="ok"  />
        </td>
    </tr>
</table>
</form>
{/if}