Navigation : 
<a class="section" href="#{$modul.NM_MODUL}!{$modul.PAGE}">{$modul.TITLE}</a> {if $menu}
<i class="right arrow icon divider"></i>
<a href="#{$modul.NM_MODUL}-{$menu.NM_MENU}!{$menu.PAGE}">{$menu.TITLE}</a>{/if}