<div class="center_title_bar">Master Jam Kuliah</div>

<table style="width: 400px;">
    <tr>
        <th>No</th>
        <th>Nama Fakultas</th>
    </tr>
    {$i=1}
    {foreach $fakultas_set as $data}
    <tr>
        <td class="center" style="width: 10%;">{$i++}</td>
        <td><a href="perkuliahan-jam.php?mode=jadwal&id_fakultas={$data.ID_FAKULTAS}">{$data.NM_FAKULTAS}</a></td>
    </tr>
    {/foreach}
</table>