<div class="center_title_bar">Cek Akhir</div>

<form action="verifikasi-akhir.php" method="get">
<table>
    <tr>
        <td>No Ujian</td>
        <td><input type="text" name="no_ujian" value="{$smarty.get.no_ujian}" /><input type="submit" value="Cari" /></td>
    </tr>
</table>
</form>
    
{if !empty($cmb)}
<table>
    <tr>
        <th colspan="2">Info Peserta</th>
    </tr>
    <tr>
        <td>No Peserta</td>
        <td>{$cmb.NO_UJIAN}</td>
    </tr>
    <tr>
        <td>Nama Peserta</td>
        <td>{$cmb.NM_C_MHS}</td>
    </tr>
    <tr>
        <td>Lokasi Ujian</td>
        <td>{$cmb.LOKASI}</td>
    </tr>
    <tr>
        <td>Tanggal Ujian</td>
        <td>{$cmb.TGL_TEST|date_format:"%d %B %Y"}</td>
    </tr>
    <tr>
        <td>Materi Ujian</td>
        <td>{$cmb.MATERI}</td>
    </tr>
	{*
    <tr>
        <th colspan="2">Isian SP3</th>
    </tr>
    <tr>
        <td>Prodi : {$cmb.NM_PILIHAN_1}</td>
        <td>Rp {number_format($cmb.SP3_1,0,',','.')}</td>
    </tr>
    {if ($cmb.NM_PILIHAN_2 != '')}
    <tr>
        <td>Prodi : {$cmb.NM_PILIHAN_2}</td>
        <td>Rp {number_format($cmb.SP3_2,0,',','.')}</td>
    </tr>
    {/if}
    {if ($cmb.NM_PILIHAN_3 != '')}
    <tr>
        <td>Prodi : {$cmb.NM_PILIHAN_3}</td>
        <td>Rp {number_format($cmb.SP3_3,0,',','.')}</td>
    </tr>
    {/if}
    {if ($cmb.NM_PILIHAN_4 != '')}
    <tr>
        <td>Prodi : {$cmb.NM_PILIHAN_4}</td>
        <td>Rp {number_format($cmb.SP3_4,0,',','.')}</td>
    </tr>
    {/if}
	*}
</table>
{/if}