<div class="center_title_bar">Pindah Penerimaan</div>

<table>
	<tr>
		<td>
			<label>No Ujian :</label>
		</td>
		<td>
			<form action="peserta-ppen.php" method="get">
			<input type="search" name="no_ujian" {if !empty($smarty.get.no_ujian)}value="{$smarty.get.no_ujian}"{/if} />
			<input type="submit" value="Cari..." />
			</form>
		</td>
	</tr>
</table>