<div class="center_title_bar">Delete -  Jenis Surat Keputusan</div>
<form action="sk-jenis.php" method="post" id="edit_group">
    <table class="ui-widget-content" style="width: 70%">
        <tr class="ui-widget-header">
            <th colspan="2" class="header-coloumn">Delete Jenis Surat Keputusan</th>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{$data_jenis.NM_SK_JENIS}</td>
        </tr>
        <tr>
            <td class="center" colspan="2">
                <input type="hidden" name="mode" value="delete"/>
                <input type="hidden" name="id" value="{$data_jenis.ID_SK_JENIS}"/>
                Apakah anda yakin menghapus item ini?<br/>
                <a class="disable-ajax button" onclick="history.back(-1)">Kembali</a>
                <input type="submit" class="button" onclick="" value="Hapus"/>
            </td>
        </tr>
    </table>
</form>