<div class="center_title_bar">Master Perkuliahan</div>

<table style="width: 100%">
    <tr>
        <td>
            <ul>
                <li>LOGIN: abc</li>
                <li>PWD : abc</li>
				<li>LOGIN: akademik</li>
                <li>PWD : akademik</li>
            </ul>
        </td>
    </tr>
</table>


