<html>
    <head>
        <title>Rekap Penerimaan</title>
        <link rel="stylesheet" type="text/css" href="/css/text.css" />
        <link rel="stylesheet" type="text/css" href="/css/ppmb.css" />
    </head>
    <body>
        <form action="index.php?mode=login" method="post">
            <table>
                <tr>
                    <td>
                        Password : <input type="password" name="password" />
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>