<div class="center_title_bar">Ganti SP3</div>

<table>
    <tr>
        <td>
            <label>Kode Voucher :</label>
        </td>
        <td>
            <form action="verifikasi-sp3.php" method="get">
            <input type="search" name="kode_voucher" {if isset($smarty.get.kode_voucher)}value="{$smarty.get.kode_voucher}"{/if} />
            <input type="submit" value="Cari..." />
            </form>
        </td>
    </tr>
</table>
            
{if $result}<h2>{$result}</h2>{/if}
            
{if !empty($cmb)}
<form action="verifikasi-sp3.php?{$smarty.server.QUERY_STRING}" method="post">
<input type="hidden" name="id_c_mhs" value="{$cmb.ID_C_MHS}" />
<table>
    <tr>
        <th colspan="2">Detail</th>
    </tr>
    <tr>
        <td>Nama</td>
        <td>{$cmb.NM_C_MHS}</td>
    </tr>
    <tr>
        <td>SP3</td>
        <td><input type="text" name="sp3_1" value="{$cmb.SP3_1}" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Simpan" />
        </td>
    </tr>
</table>
</form>
{/if}