<div class="center_title_bar">Verifikasi Foto KTM Mahasiswa</div>

<table>
    <tr>
        <td>
            <label>No Ujian/ NIM :</label>
        </td>
        <td>
            <form action="pendaftaran-foto.php" method="get">
            <input type="search" name="nim_mhs" {if isset($smarty.get.nim_mhs)}value="{$smarty.get.nim_mhs}"{/if} />
            <input type="submit" value="Cari" />
            </form>
        </td>
    </tr>
</table>
            
{if isset($smarty.get.nim_mhs)}
    
		<iframe src="pendaftaran-foto-frame.php?nim_mhs={$smarty.get.nim_mhs}" width="100%" height="300" name="myframename"  id="iframe">
       	</iframe>
{/if}