<div class="center_title_bar">Tambah Kategori Arsip</div>

{if $edited}<script type="text/javascript">alert('{$edited}');</script>{/if}

<form action="master-kategori.php?{$smarty.server.QUERY_STRING}" method="post">
<input type="hidden" name="mode" value="add" />
<!--<input type="hidden" name="id_role" value="{$smarty.get.id_role}" />
<input type="hidden" name="id_join_table" value="{$pengguna.JOIN_TABLE}" /> -->
<table>
    <tr>
        <th colspan="2">Detail Kategori Arsip</th>
    </tr>
    <tr>
        <td>Nama Kategori Arsip</td>
        <td><input class="form-control" id="nm_arsip_kategori" type="text" name="nm_arsip_kategori" value="" />
        </td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <input type="submit" value="Simpan" />
        </td>
    </tr>
</table>
</form>

<a href="master-kategori.php">Kembali</a>