<div class="center_title_bar">ID Kategori Arsip : {$arsip_kategori.ID_ARSIP_KATEGORI}</div>

{if $edited}<script type="text/javascript">alert('{$edited}');</script>{/if}

<form action="master-kategori.php" method="post">
<input type="hidden" name="mode" value="delete" />
<input type="hidden" name="id_arsip_kategori" value="{$arsip_kategori.ID_ARSIP_KATEGORI}" />
<!--<input type="hidden" name="id_join_table" value="{$pengguna.JOIN_TABLE}" /> -->
<table>
    <tr>
        <th colspan="2">Detail Kategori Arsip</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>{$arsip_kategori.ID_ARSIP_KATEGORI}</td>
    </tr>
    <tr>
        <td>Nama Kategori Arsip</td>
        <td>{$arsip_kategori.NM_ARSIP_KATEGORI}</td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <a href="master-kategori.php">Kembali</a>
            <input type="submit" value="Hapus" />
        </td>
    </tr>
</table>
</form>