{include file="header.tpl"}

<table>
    <tr>
        <th class="center-align">Informasi</th>
    </tr>
    <tr>
        <td class="center-align">
            <h2>Nomer {$cmb.NO_UJIAN} bisa mengisi form registrasi mahasiswa baru pukul 18.00 WIB.</h2>
        </td>
    </tr>
</table>

{include file="footer.tpl"}