{include file="header.tpl"}

<h2>Data registrasi formulir gagal simpan.</h2>

{if !empty($error_message)}<p>{$error_message}</p>{/if}

{if !empty($debug_message)}<p style="font-family: monospace">{$debug_message}</p>{/if}

<p><a href="form.php">Klik untuk Kembali</a></p>

{include file="footer.tpl"}