{include file="header.tpl"}

<table>
    <tr>
        <th class="center-align">Informasi</th>
    </tr>
    <tr>
        <td class="center-align">
            <h2>Data isian formulir registrasi telah berhasil di simpan.</h2>
            <p><a href="form.php">Klik untuk Kembali</a></p>
        </td>
    </tr>
</table>

{include file="footer.tpl"}