{if isset($smarty.request.id_kewarganegaraan) and $smarty.request.id_kewarganegaraan == 2}		
        <td>Asal Negara</td>
        <td>
            <select id="id_kebangsaan" name="id_kebangsaan">
                <option value=""></option>
            {foreach $negara_asing_set as $n}
                <option value="{$n.ID_NEGARA}">{$n.NM_NEGARA}</option>
            {/foreach}
        </td>
{else}
		<td>Asal Negara</td>
        <td>
            <select id="id_kebangsaan" name="id_kebangsaan">
            {foreach $negara_indo_set as $n}
                <option value="{$n.ID_NEGARA}">{$n.NM_NEGARA}</option>
            {/foreach}
        </td>
{/if}        


