<div class="center_title_bar">Data Sharing Universitas Airlangga</div>
{if $status==''}
    <iframe src="download-link.php" width="80%" height="800px" frameborder="0">
    </iframe>
{else}
    {$status}
{/if}