<div class="center_title_bar">MAHASISWA DO</div> 
<div style="float:left; width:100%; background-color:#FFF;">   
    <table border="0">
    	<tr>
        	<td id="idchart">{$tes}</td>
        </tr>
        <tr>
        	<td style="text-align:center">Total Mahasiswa DO : <b>{$total}</b></td>
        </tr>
    </table>
   
</div>

        
