<div class="center_title_bar">REGISTRASI MAHASISWA</div> 
<div style="float:left; width:100%; background-color:#FFF;">   
    <table border="1" width="100%">
    	<tr>
        	<td id="idchart">{$chart}</td>
        </tr>
    </table>
   
</div>

        
