<div class="center_title_bar">Master Kuisioner : Tambah</div>

<form action="penerimaan-kuisioner.php" method="post">
	<input type="hidden" name="mode" value="add" />
	
	<table>
		<thead>
			<tr>
				<th colspan="2">Form Kuisioner</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Nama Form Kuisioner</td>
				<td><input type="text" name="nm_form" value="" style="width: 200px" /></td>
			</tr>
			<tr>
				<td colspan="2" class="center">
					<a href="penerimaan-kuisioner.php">Kembali</a>
					<input type="submit" value="Simpan" />
				</td>
			</tr>
		</tbody>
	</table>
</form>