<script>
	$(document).ready(function(){
		$('#status-kkn').load('akademik-kkn.php?view=status');
		
		{if $category !=""}
		$('#report').load('akademik-kkn.php?view=report&cat='+'{$category}');
		{/if}
		
		$("#jenis-kkn").change(function(){
		
			var cat = $("#jenis-kkn").val();
	
			
			
			$("#form-jenis-kkn").submit();
			

			
		});
		
	});

</script>


<div class="center_title_bar">Pemilihan Kelompok KKN</div>

<div id="info-area">
</div>

<div id="display-area">
	<div id="nav-kkn">
		<form id="form-jenis-kkn" name="form-jenis-kkn" method="get" action="akademik-kkn.php">
			<input type="hidden" name="view" id="view" value="index" />
			
			<b>KATEGORI KKN &nbsp;: </b> 
			<select id="jenis-kkn" name="cat">
				<option value="0" selected>
					:: PILIH
				</option>		
				<option value="1">
					REGULER
				</option>
				<option value="2">
					TEMATIK
				</option>
			</select>
		</form>
	</div>
	<div id="status-kkn">
	</div>
	
	<div id="response">
	</div>
	
	<div id="report">
	</div>
</div>