<style>
	.isi{border:1px solid; border-collapse:collapse;}
</style>
<p align="center">
	<b><u>INVOICE</u></b><br />
	No: {no}/H3.1/KU/2011
</p>
<table width="100%" border="1" cellpadding="5px" class="isi">
  <tr>
    <td colspan="3">Kepada Yth.<br />
      Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<br />
      No. Test &nbsp;:</td>
  </tr>
  <tr>
    <td colspan="3">Harap dibayarkan kepada rekening rektor melalui bank persepsi biaya pendidikan kategori {kategori} sesuai SK Rektor No. {no}</td>
  </tr>
  <tr>
    <td width="6%" align="center"><strong>No.</strong></td>
    <td width="55%" align="center"><strong>Biaya Pendidikan</strong></td>
    <td width="39%" align="center"><strong>Jumlah</strong></td>
  </tr>
  <tr>
    <td>1.</td>
    <td>SOP</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>SP3</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>Wisuda</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>KKN</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>5.</td>
    <td>Registrasi</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><strong>Total Tagihan :</strong></td>
  </tr>
  <tr>
    <td colspan="3"><strong>Terbilang : {terbilang}</strong></td>
  </tr>
  <tr>
    <td colspan="3">Pembayaran paling lambat tanggal 6 Juli 2011, pembayaran di luar sistem akan di anggap belum bayar.</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%">
  <tr>
    <td width="52%">Mengetahui, <br />
Ketua,<font size="6px"><br />
</font> <br />
<br />
<br /> 
<u>Heru Tjaraka, Drs. Ak, BKP, M.Si</u>
<br />
NIP. 196709271993031003</td>
    <td width="48%"> Surabaya, <br />
      Verivikator,<font size="6px"><br />
      </font> <br />
      <br />
      <br />
      ( ........................................ )<br />
      NIP.</td>
  </tr>
</table>
