html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #FFF;
}

#page {
	width: 100%;
	margin: 0;
}
.ticker {
	width: 99.6%;
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #291746;
}

.ticker  li.odd{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background-color: #000;
}

.ticker  li.even{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background-color: #660404;
	color: #FCFF00;
}

.ticker  li.oddeven{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background-color: #F39C13;
	color: #000;
}

.tickernext  li.nextodd{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background-color: #F39C13;
	color: #000;
}

.tickernext  li.nexteven{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background-color: #000;
}

.tickernext  li.nextoddeven{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	list-style: none;
	background-color: #291746;
	color: #FCFF00;
}

.tickernext{
	width: 99.6%;
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #660404;
}

#ticker_body {
	height: 440px;
}
