/* font */
@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('font/League_Gothic-webfont.eot');
	src: local('☺'), url('font/League_Gothic-webfont.woff') format('woff'), url('font/League_Gothic-webfont.ttf') format('truetype'), url('font/League_Gothic-webfont.svg#webfontpm5EArBj') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; outline: 0; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

/* Site styling */ 
html {
	/* always force a scrollbar in non-IE */
	overflow-y: scroll;
	/*background-image: url('../images/main-red-bg.gif');*/
	background-color: #000;
}
body {
	margin: 0 auto;
	padding: 10px;
	font-family: arial;
	font-size: 1em;
	width: 1600px;
}
h1 {
	margin: 0px 0px 0px 20px;	
	padding: 20px 0px 0px 0px;
	color: #a81213;
	font-family: 'LeagueGothicRegular', arial, san-serif;
	font-size: 4.5em;	
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}
h2, h3 {
	padding-top: 10px;
	font-family: 'LeagueGothicRegular', arial, san-serif;	
	font-size: 2.25em;
	font-weight: normal;
	color: #a81213;
	text-shadow: 1px 1px 2px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1); 
}
#content a {
	color: #a81213; 
	text-shadow: 1px 1px 2px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1); 
}
#content a:hover {
	text-decoration: none;
}
#release-history {
	font-size: 0.7em;
	overflow: hidden;
}
#release-history p strong {
	margin-right: 5px;
	font-family: 'LeagueGothicRegular', arial, san-serif;	
	font-size: 1.6em;	
	font-weight: normal;
	display: block;
	float: left;
}
p {
	margin-top: 10px;
	color: #f8f0db;
	line-height: 1.5em;
}
p.copy {
	margin: 0px 0px 10px;
	text-align: center;
}
pre {
	margin: 20px 0px 0px;
	padding: 22px 40px;
	background-color: #f8f0db;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre code span.red {
	color: #a81213;
}
pre code span.grey {
	color: #7b7976;
}
dl {
	/*margin: 10px 10px 10px 20px;*/
	color: #f8f0db;
}
dt {
	margin-top: 10px;
	font-weight: bold;
}
dd {
	margin: 5px 0px 10px 20px;
}
div#content {
	/*padding: 10px 5px 0px 0px;*/
}
.content-box {
	/*padding: 0px 0px 30px;*/
}
.divider-top {
	padding-top: 20px;
	border-top: 1px solid #70342d;
}
.divider-bottom {
	padding-bottom: 30px;
	border-bottom: 1px solid #1e0a09;
}
#download {
 	margin: 20px 0px 30px 300px;
 	padding: 2px;
	background-color: #f8f0db;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: block;
	width: 216px;
	height: 96px;
	-webkit-box-shadow: 5px 5px 15px black;
	-moz-box-shadow: 5px 5px 15px black;
	box-shadow: 5px 5px 15px black; 
}
#download a {
 	font-family: 'LeagueGothicRegular', arial, san-serif;	
 	font-size: 1.875em;
 	background-color: #a81213;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: block;
	width: 100%;
	height: 100%;
	color: #f8f0db;
	text-decoration: none;
	text-transform: uppercase;
}
#download a:hover {
	background-color: #000000;
}
#download a img {
	margin: 0px 20px 0px 20px;
	float: left;
}
#download a span.dl {
	margin-top: 19px;
	float: left;
	display: block;
}
#download a span.sub {
	display: block;
	float: left;
	font-size: 0.7em;
	color: #e0ac9e;
}
#github img {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;	
}
#paypal {
	margin: 20px 0px 0px 0px;	
	padding: 22px 40px 22px 330px;
	/*width: 100%;*/
	background-color: #f8f0db;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
::-moz-selection {
    background-color: #a81213;	
	color: #f8f0db;
}
::selection {
	background-color: #a81213;
	color: #f8f0db;		
}