<div class="center_title_bar">MASTER URUTAN WISUDAWAN</div>
<form action="wisuda-master-urutan.php" method="post">

	<table>
    	<tr>
        	<td>Nama</td>
            <td><input type="text" name="nama" value="{$no_urut_edit['NM_URUTAN_WISUDAWAN']}" /></td>
            <td>No Urut</td>
            <td>            	
            		<select name="no_urut">
            	{for $i=1; $i<=10;$i++}
						<option value="{$i}" {if $i == $no_urut_edit['NO_URUTAN_WISUDAWAN']} selected="selected"{/if}>{$i}</option>
                {/for}
                	</select>
            </td>
            <td>
            	<input type="hidden" value="{$smarty.get.id}" name="id" />
            	<input type="submit" value="Simpan" /></td>
        </tr>
    </table>

</form>

<table>
	
    <tr>
    	<th>Nama</th>
        <th>No Urut</th>
        <th></th>
    </tr>
	
    {foreach $no_urut as $data}
    <tr>
    	<td>{$data.NM_URUTAN_WISUDAWAN}</td>
        <td>{$data.NO_URUTAN_WISUDAWAN}</td>
        <td><a href="wisuda-master-urutan.php?id={$data.ID_URUTAN_WISUDAWAN}">Edit</a></td>
    </tr>
    {/foreach}
    
</table>