<div class="center_title_bar">Master Ruang Kesehatan - Edit</div>
<form action="kesehatan-ruang.php" method="post">
<input type="hidden" name="mode" value="edit" />
<input type="hidden" name="id_ruang" value="{$data_ruang_kesehatan['ID_RUANG_KESEHATAN']}" />
<table>
    <tr>
        <td>Nama Ruang</td>
        <td><input type="text" name="nm_ruang" size="30" value="{$data_ruang_kesehatan['NM_RUANG']}" /></td>
    </tr>
    <tr>
        <td>Kapasitas</td>
        <td><input type="text" name="kapasitas" size="2" maxlength="2" value="{$data_ruang_kesehatan['KAPASITAS']}" /></td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <button href="kesehatan-ruang.php">Batal</button><input type="submit" value="Simpan" />
        </td>
    </tr>
</table>
</form>