<div class="center_title_bar">Reset Verifikasi Peserta</div>

<h4>Menu ini dinonaktifkan sejak 2014 D3 + AJ Gelombang 1</h4>

<!--
<table>
    <tr>
        <td>
            <label>Kode Voucher :</label>
        </td>
        <td>
            <form action="verifikasi-rpeserta.php" method="get">
            <input type="search" name="kode_voucher" {if isset($smarty.get.kode_voucher)}value="{$smarty.get.kode_voucher}"{/if} />
            <input type="submit" value="Cari..." />
            </form>
        </td>
    </tr>
</table>
            
{if !empty($cmb)}
            
<form action="verifikasi-rpeserta.php{if isset($smarty.get.kode_voucher)}?kode_voucher={$smarty.get.kode_voucher}{/if}" method="post">
<input type="hidden" name="id_c_mhs" value="{$cmb.ID_C_MHS}" />
<table>
    <tr>
        <th colspan="2">Info Peserta</th>
    </tr>
    <tr>
        <td>Nama Peserta</td>
        <td>{$cmb.NM_C_MHS}</td>
    </tr>
    <tr>
        <td>Nomer Ujian</td>
        <td>{$cmb.NO_UJIAN}</td>
    </tr>
    <tr>
        <td colspan="2" class="center">
            <a href="verifikasi-rpeserta.php">Batal</a>
            <input type="submit" value="Reset" />
        </td>
    </tr>
</table>
</form>
{/if}
-->