<div class="center_title_bar"> Fitur Menu Report </div>
<table width="660" border="0" cellspacing="1" cellpadding="1">
  <tr>
    <td width="38" bgcolor="#FFCC33"><div align="center">No</div></td>
    <td width="178" bgcolor="#FFCC33"><div align="center">Modul</div></td>
    <td width="434" bgcolor="#FFCC33"><div align="center">Uraian</div></td>
  </tr>
  <tr>
    <td><center>1</center></td>
    <td>KHS</td>
    <td>Difungsikan untuk melihat dan mencetak Kartu Hasil Studi Mahasiswa per semester</td>
  </tr>
  <tr>
    <td><center>2</center></td>
    <td>Rekap Nilai</td>
    <td>Difungsikan untuk rekapitulasi nilai Mahasiswa Aktif (transkrip sementara)</td>
  </tr>
  <tr>
    <td><center>3</center></td>
    <td>Transkrip</td>
    <td>Difungsikan untuk melihat dan mencetak Transkrip Nilai Mahasiswa yang telah dinyatakan lulus</td>
  </tr>
</table>