<div class="center_title_bar"> Fitur Menu UP dan SP</div>
<table width="660" border="0" cellspacing="1" cellpadding="1">
  <tr>
    <td width="38" bgcolor="#FFCC33"><div align="center">No</div></td>
    <td width="178" bgcolor="#FFCC33"><div align="center">Modul</div></td>
    <td width="434" bgcolor="#FFCC33"><div align="center">Uraian</div></td>
  </tr>
  <tr>
    <td><center>1</center></td>
    <td>Penawaran UP</td>
    <td>Difungsikan untuk memilih Mata Ajar yang akan diTawarkan dalam UP</td>
  </tr>
  <tr>
    <td><center>2</center></td>
    <td>Setup UP</td>
    <td>Difungsikan untuk setting Kelas, Ploting Hari dan Pengajar </td>
  </tr>
  <tr>
    <td><center>3</center></td>
    <td>Penawaran KRS UP</td>
    <td>Difungsikan untuk menawarkan Mata Ajaran UP yang akan diikuti oleh Prodi sesuai dgn Kurikulum </td>
  </tr>
  
</table>