<div class="center_title_bar">Master Evaluasi Kelompok Nilai - Tambah</div>

<form action="kuisioner-evalkelompoknilai.php" method="post">
    <input type="hidden" name="mode" value="add" />
    <table>
        <tr>
            <td>Nama Kelompok Nilai</td>
            <td><input type="text" name="NM_KELOMPOK" class="required" /></td>
        </tr>

        <tr>
            <td class="center" colspan="2">
                <button href="kuisioner-evalkelompoknilai.php">Batal</button>
                <input type="submit" value="Simpan" />
            </td>
        </tr>
    </table>
</form>