
<script src="ckeditor/ckeditor.js"></script>

<div class="center_title_bar">Master Informasi</div>

<form action="penerimaan-informasi.php" method="post">
	<input type="hidden" name="mode" value="add" />
	<table>
		<tr>
			<th>
				<textarea name="editor1" id="editor1" rows="10" cols="80">{$isi_informasi}</textarea>
			    <script>
			        CKEDITOR.replace( 'editor1' );
			    </script>
		    </th>
	    </tr>
	    <tr>
	    	<td class="center">
                <input type="submit" value="Simpan" />
            </td>
	    </tr>

    </table>
</form>

{* if{$message != ''} *}
	<!-- <p>{$message}</p> -->
{* {/if} *}